design/adapters/VoucherManagementProxyService/src/main/resources/VoucherManagementService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp200409="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp200607="http://www.w3.org/2006/07/ws-policy" xmlns:ns0="http://integration.sprint.com/eai/services/VoucherManagementService/v1/VoucherManagementService.wsdl" targetNamespace="http://integration.sprint.com/eai/services/VoucherManagementService/v1/VoucherManagementService.wsdl">
<wsdl:types xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:schema>
<xsd:import schemaLocation="VoucherManagementService.xsd5.xsd" namespace="http://integration.sprint.com/common/ErrorDetailsV2.xsd"/>
<xsd:import schemaLocation="VoucherManagementService.xsd4.xsd" namespace="http://integration.sprint.com/common/header/WSMessageHeader/v2"/>
<xsd:import schemaLocation="VoucherManagementService.xsd3.xsd" namespace="http://integration.sprint.com/interfaces/manageIncommPin/v1/manageIncommPin.xsd"/>
<xsd:import schemaLocation="VoucherManagementService.xsd2.xsd" namespace="http://integration.sprint.com/interfaces/manageVoucher/v1/manageVoucher.xsd"/></xsd:schema></wsdl:types>
<wsdl:message name="manageIncommPinRequest">
<wsdl:part name="manageIncommPinRequest" element="xsns:manageIncommPin" xmlns:xsns="http://integration.sprint.com/interfaces/manageIncommPin/v1/manageIncommPin.xsd"/></wsdl:message>
<wsdl:message name="manageIncommPinResponse">
<wsdl:part name="manageIncommPinResponse" element="xsns:manageIncommPinResponse" xmlns:xsns="http://integration.sprint.com/interfaces/manageIncommPin/v1/manageIncommPin.xsd"/></wsdl:message>
<wsdl:message name="manageVoucherRequest">
<wsdl:part name="manageVoucherRequest" element="xsns:manageVoucher" xmlns:xsns="http://integration.sprint.com/interfaces/manageVoucher/v1/manageVoucher.xsd"/></wsdl:message>
<wsdl:message name="manageVoucherResponse">
<wsdl:part name="manageVoucherResponse" element="xsns:manageVoucherResponse" xmlns:xsns="http://integration.sprint.com/interfaces/manageVoucher/v1/manageVoucher.xsd"/></wsdl:message>
<wsdl:message name="soapFault">
<wsdl:part name="fault" element="xsns:errorDetailItem" xmlns:xsns="http://integration.sprint.com/common/ErrorDetailsV2.xsd"/></wsdl:message>
<wsdl:message name="wsMessageHeader">
<wsdl:part name="head" element="xsns:wsMessageHeader" xmlns:xsns="http://integration.sprint.com/common/header/WSMessageHeader/v2"/></wsdl:message>
<wsdl:portType name="VoucherManagementServicePortType">
<wsdl:operation name="ManageIncommPin">
<wsdl:input name="ManageIncommPinRequest" message="ns0:manageIncommPinRequest"/>
<wsdl:output name="ManageIncommPinResponse" message="ns0:manageIncommPinResponse"/>
<wsdl:fault name="fault" message="ns0:soapFault"/></wsdl:operation>
<wsdl:operation name="ManageVoucher">
<wsdl:input name="ManageVoucherRequest" message="ns0:manageVoucherRequest"/>
<wsdl:output name="ManageVoucherResponse" message="ns0:manageVoucherResponse"/>
<wsdl:fault name="fault" message="ns0:soapFault"/></wsdl:operation></wsdl:portType>
<wsdl:binding name="VoucherManagementServiceSOAPBinding" type="ns0:VoucherManagementServicePortType">
<soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<wsdl:operation name="ManageIncommPin">
<soap11:operation soapAction="ManageIncommPin" style="document"/>
<wsdl:input name="ManageIncommPinRequest">
<soap11:body use="literal"/>
<soap11:header message="ns0:wsMessageHeader" part="head" use="literal"/></wsdl:input>
<wsdl:output name="ManageIncommPinResponse">
<soap11:body use="literal"/>
<soap11:header message="ns0:wsMessageHeader" part="head" use="literal"/></wsdl:output>
<wsdl:fault name="fault">
<soap11:fault name="fault" use="literal"/></wsdl:fault></wsdl:operation>
<wsdl:operation name="ManageVoucher">
<soap11:operation soapAction="ManageVoucher" style="document"/>
<wsdl:input name="ManageVoucherRequest">
<soap11:body use="literal"/>
<soap11:header message="ns0:wsMessageHeader" part="head" use="literal"/></wsdl:input>
<wsdl:output name="ManageVoucherResponse">
<soap11:body use="literal"/>
<soap11:header message="ns0:wsMessageHeader" part="head" use="literal"/></wsdl:output>
<wsdl:fault name="fault">
<soap11:fault name="fault" use="literal"/></wsdl:fault></wsdl:operation></wsdl:binding>
<wsdl:service name="VoucherManagementService">
<wsdl:port name="VoucherManagementServicePortType" binding="ns0:VoucherManagementServiceSOAPBinding">
<soap11:address location="http://144.226.135.45:80/services/VoucherManagementService"/></wsdl:port></wsdl:service></wsdl:definitions>