design/adapters/QueryPrepaidSubscriberProxyService/src/main/resources/queryPrepaidAllowance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Sprint Employee (SPRINT) -->
<xs:schema xmlns:tns="http://integration.sprint.com/interfaces/queryPrepaidAllowance/v1/queryPrepaidAllowance.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://integration.sprint.com/interfaces/queryPrepaidAllowance/v1/queryPrepaidAllowance.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<!-- Date              Author                             Version     	Change                   Rel                            SR# -->
	<!--7/02/2012       Mitali Handoo                  Initial                     1.0                        GBL12.3         		 PJ007251-->
	<!--7/05/2012   Steve Heichelheim      1.0   Added MVM standards and simple types   GBL12.3     PJ007251-->
	<!--8/30/2012       Mitali Handoo      1.1   updated applicationCallingInfo as required    1.1       GBL12.3         		 PJ007251-->
	<!--11/29/2012       Mitali Handoo      1.2   removed enumerations for UsagePeriodLevelType   1.2       GBL12.3         		 PJ007251-->
	<xs:element name="queryPrepaidAllowance" type="tns:QueryPrepaidAllowanceRequestType"/>
	<xs:element name="queryPrepaidAllowanceResponse" type="tns:QueryPrepaidAllowanceResponseType"/>
	<xs:complexType name="QueryPrepaidAllowanceRequestType">
		<xs:sequence>
			<xs:element name="subscriberInfo" type="tns:SearchCriteriaType">
				<xs:annotation>
					<xs:documentation>Subscriber Info</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="applicationCallingInfo" type="tns:ApplicationCallingInfoType">
				<xs:annotation>
					<xs:documentation>This structure contains calling application information</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QueryPrepaidAllowanceResponseType">
		<xs:sequence>
			<xs:element name="allowanceResponseInfoList" type="tns:AllowanceResponseListType">
				<xs:annotation>
					<xs:documentation>List of allowances</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AllowanceResponseInfoType">
		<xs:sequence>
			<xs:element name="socCode" type="tns:ServiceOrderCodeType">
				<xs:annotation>
					<xs:documentation>The SOC code from CSM </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="socDesc" type="tns:ServiceOrderDescriptionType">
				<xs:annotation>
					<xs:documentation>SOC_DESCRIPTION from CSM </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="serviceType" type="tns:ServiceOrderCodeTypeCodeType">
				<xs:annotation>
					<xs:documentation>PP/SOC type from CSM. Valid values are : 
‘P’- Price plan 
’O’- Optional SOC 
’R’- Regular SOC. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="period" type="tns:UsagePeriodLevelType">
				<xs:annotation>
					<xs:documentation>Period name (Peak, Off-Peak, Anytime, etc.).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="includedUnits" type="tns:UnitOfMeasureValueStringType">
				<xs:annotation>
					<xs:documentation>Amount of total</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="usedUnits" type="tns:UnitOfMeasureValueType">
				<xs:annotation>
					<xs:documentation>Amount of used</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="leftUnits" type="tns:UnitOfMeasureValueType">
				<xs:annotation>
					<xs:documentation>Amount of left</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="unitOfMeasurement" type="tns:UnitOfMeasureCodeType">
				<xs:annotation>
					<xs:documentation>The units the records where measured.
Minutes – M
Seconds – S
Kbytes – K
Mbytes – H
Gbytes – G
Bytes – B
Charge – E
Occurrence – O
Space – 	</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="allowanceExpDate" type="tns:ExpirationDateTimeType">
				<xs:annotation>
					<xs:documentation>The allowance expiration date 
(Format: YYYY-MM-DDThh:mm:ss)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AllowanceResponseListType">
		<xs:sequence>
			<xs:element name="allowanceResponseInfo" type="tns:AllowanceResponseInfoType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Allowance Detail Structure</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ApplicationCallingInfoType">
		<xs:sequence>
			<xs:element name="accessId" type="tns:ApplicationIdentifierType">
				<xs:annotation>
					<xs:documentation>Calling application Id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="agentId" type="tns:UserIdentifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Calling application User Id </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchCriteriaType">
		<xs:choice>
			<xs:element name="subscriberId" type="tns:SubscriptionIdentifierType">
				<xs:annotation>
					<xs:documentation>Subscription Identifier uniquely identifies an instance of SUBSCRIPTION</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mdn" type="tns:MobileDirectoryNumberStringType">
				<xs:annotation>
					<xs:documentation>'Mobile Directory Number (MDN) is the actual phone number one would dial to reach a specific mobile phone.
Prior to Wireless Number Portability, MDN was the same number as the Mobile Identification Number (MIN) for many mobile phones. But now that MDNs can be ported (moved) to other carriers, MDN and MIN will be different for ported numbers.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="equipmentId" type="tns:EquipmentSerialNumberStringType">
				<xs:annotation>
					<xs:documentation>Equipment Serial Number holds the identifier used by the device to communicate (broadcast) its identity to the wireless mobile network.  
Network Device Identifier will contain one of the following:
Electronic Serial Number (ESN);
Mobile Equipment IDentifier (MEID);
International Mobile Equipment Identfier (IMEI);
Subscriber Identify Module (SIM).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ufmi" type="tns:UrbanFleetMemberIdentifierStringType">
				<xs:annotation>
					<xs:documentation>Urban Fleet Member Identifier (UFMI) is the combinaiton of the Urban Area Id, Fleet Id, and Member Id representing an address in a format recognized within iDEN Push-To-Talk (PTT) or Direct Connect. For example, a UFMI number of 500•600•700, translates to 500 is the Urban Area ID, 600 is the Fleet, and 700 is the Member.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ipAddress" type="tns:InternetProtocolAddressStringType">
				<xs:annotation>
					<xs:documentation>An Internet Protocol Address is the numerical address by which a location in the Internet is identified. Computers on the Internet use IP addresses to route traffic and establish connections among themselves.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="imsi" type="tns:InternationalMobileSubscriberIdentityStringType">
				<xs:annotation>
					<xs:documentation>International Mobile Subscriber Identity (IMSI) is a unique number associated with all GSM and Universal Mobile Telecommunications System (UMTS) network mobile phone users. It is stored in the Subscriber Identity Module (SIM) inside the phone and is sent by the phone to the network. It is also used to acquire other details of the mobile in the Home Location Register (HLR) or as locally copied in the Visitor Location Register. In order to avoid the subscriber being identified and tracked by eavesdroppers on the radio interface, the IMSI is sent as rarely as possible and a randomly generated TMSI is sent instead.
The IMSI is used in any mobile network that interconnects with other networks, in particular CDMA and EVDO networks as well as GSM nets. This number is provisioned in the phone directly or in the R-UIM card (a CDMA analogue equivalent to a SIM card in GSM)
An IMSI is usually 15 digits long, but can be shorter (for example MTN South Africa's IMSIs are 14 digits). The first 3 digits are the Mobile Country Code (MCC), and is followed by the Mobile Network Code (MNC), either 2 digits (European standard) or 3 digits (North American standard). The remaining digits are the Mobile Subscriber Identification Number (MSIN) within the network's customer base.
The IMSI conforms to the International Telecommunication Union (ITU) E.212 numbering standard</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nai" type="tns:NetworkAccessIdentifierStringType">
				<xs:annotation>
					<xs:documentation>Network Access Identifier (NAI) is a standard way of identifying users who request access to a network. 

The standard syntax is"user@realm". </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="additionalImsi" type="tns:InternationalMobileSubscriberIdentityStringType">
				<xs:annotation>
					<xs:documentation>Additional IMSI of the subscriber to be updated.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hppttId" type="tns:HighPerformancePushToTalkIdentifierStringType">
				<xs:annotation>
					<xs:documentation>The subscriber's HPPTT ID. The ID will be constructed from username@domain, where the username will be a PTN or UFMI-based number.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<!---->
	<!--MVM/Shared Simple Types-->
	<xs:simpleType name="ApplicationIdentifierType">
		<xs:annotation>
			<xs:documentation>Application Identifier uniquely identifies an Application</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BinaryExpressionType">
		<xs:annotation>
			<xs:documentation>Binary Expression is a type of an expression with two possible states,"true"and"false".</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="EquipmentSerialNumberStringType">
		<xs:annotation>
			<xs:documentation>Equipment Serial Number holds the identifier used by the device to communicate (broadcast) its identity to the wireless mobile network.  &#13;
&#13;
Network Device Identifier will contain one of the following: &#13;
Electronic Serial Number (ESN); &#13;
Mobile Equipment IDentifier (MEID);&#13;
International Mobile Equipment Identfie (IMEI);&#13;
Subscriber Identify Module (SIM).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExpirationDateTimeType">
		<xs:annotation>
			<xs:documentation>Expiration Date Time holds the last calendar Date and Time of day an object, relationship, privilege, etc. is valid or in force.  After this date the object is no longervalid or in force.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="HighPerformancePushToTalkIdentifierStringType">
		<xs:annotation>
			<xs:documentation>High Performance Push To Talk Identifier (HPPTTID) is the identifier of a Subscription utilizing the QChat  Push-To-Talk techniology. HPPTTID is constructed in the username@domain URI format.  The username will be a MDN or UFMI based number.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InternationalMobileSubscriberIdentityStringType">
		<xs:annotation>
			<xs:documentation>International Mobile Subscriber Identity (IMSI) holds a unique identifier allocated to each mobile subscriber in a GSM and UMTS network. It consists of a MCC (Mobile Country Code), a MNC (Mobile Network Code) and a MSIN (Mobile Station Identification Number).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InternetProtocolAddressStringType">
		<xs:annotation>
			<xs:documentation>Electronic Address represents the character string of the electronic address.</xs:documentation>
			<xs:documentation>An Internet Protocol Address is the numerical address by which a location in the Internet is identified. Computers on the Internet use IP addresses to route traffic and establish connections among themselves.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="5"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MobileDirectoryNumberStringType">
		<xs:annotation>
			<xs:documentation>The method of identifying telephone trunks in the public network of North America, called World Numbering Zone 1 by the ITU-T. the Plan has 3 ways of identifying phone numbers in North America -- a 3-digit area code, a 3-digit exchange or central office code, and 4-digit subscriber code.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NetworkAccessIdentifierStringType">
		<xs:annotation>
			<xs:documentation>Network Access Identifier holds the concatenation of the a user name and realm.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceOrderCodeType">
		<xs:annotation>
			<xs:documentation>Service Order Code - Ensemble</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceOrderCodeTypeCodeType">
		<xs:annotation>
			<xs:documentation>Service Order Code Type Code identifies the various types of Service Order Codes.  Valid values include (not exclusive list):
B - Buy One Get One SOC
I - 
P - Price Plan
M - Reduced Price Plan
S - Reduced SOC
R - Regular SOC
O - Optional SOC</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceOrderDescriptionType">
		<xs:annotation>
			<xs:documentation>Service Order Description.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SubscriptionIdentifierType">
		<xs:annotation>
			<xs:documentation>Subscription Identifier Ensemble uniquely identifies an instance of SUBSCRIPTION in the Ensemble system.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UnitOfMeasureCodeType">
		<xs:annotation>
			<xs:documentation>Unit Of Measurement Code represents the set of characters that represents a kind of unit (as of length, surface, volume, dry measure, liquid measure, money, weight, time, etc.), used as a standard of comparison for others of the same kind, in assigning to them numerical values, as 1 foot, 1 yard, 1 mile, 1 square foot, 1 square yard, 1 cubic foot, 1 peck, 1 bushel, 1 gallon, 1 cent, 1 ounce, 1 pound, 1 hour, and the like.</xs:documentation>
			<xs:documentation>Unit Of Measurement Code represents the set of characters that represents a kind of unit (as of length, surface, volume, dry measure, liquid measure, money, weight, time, etc.), used as a standard of comparison for others of the same kind, in assigning to them numerical values, as 1 foot, 1 yard, 1 mile, 1 square foot, 1 square yard, 1 cubic foot, 1 peck, 1 bushel, 1 gallon, 1 cent, 1 ounce, 1 pound, 1 hour, and the like.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UnitOfMeasureValueStringType">
		<xs:annotation>
			<xs:documentation>Unit Of Measure Value contains the numeric value of the actual item or instance as specified by the unit of measure code.  For example, if the unit of measure code contains 'Volume', then the unit of measure value would contain the value '16' that represents the volume of a specified item or instance, etc.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UnitOfMeasureValueType">
		<xs:annotation>
			<xs:documentation>Unit Of Measure Value contains the numeric value of the actual item or instance as specified by the unit of measure code.  For example, if the unit of measure code contains 'Volume', then the unit of measure value would contain the value '16' that represents the volume of a specified item or instance, etc.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="UrbanFleetMemberIdentifierStringType">
		<xs:annotation>
			<xs:documentation>Urban Fleet Member Identifier String contains the concatenation of the Urban Identifier,'*' Fleet Identifier, '*' and Member IDentifier used to identify the Direct Connect Subscriber in the iDen network. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UsagePeriodLevelType">
		<xs:annotation>
			<xs:documentation>Usage Period Level identifies whether the usage occurred during Peak, Off-Peak, Anytime, etc.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UserIdentifierType">
		<xs:annotation>
			<xs:documentation>User Identifier represents an identifier of a PARTY used in logging into a computerized system.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<!---->
</xs:schema>
