design/adapters/QueryPrepaidSubscriberProxyService/src/main/resources/QueryPrepaidSubscriberService.xsd3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:tns="http://integration.sprint.com/interfaces/queryBalanceAndCharges/v2/queryBalanceAndChargesV2.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://integration.sprint.com/interfaces/queryBalanceAndCharges/v2/queryBalanceAndChargesV2.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1">
	
<!-- Change Log
	2008/10/24 - SC #71985881; CS #296350
		+ Removed enumerations from TaxTypeIdentifier type
		+ Corrected delimiter from '|' to '^' for TaxString type annotation
-->
	
<xs:annotation>
		
<xs:documentation>Generated by Contivo Builder on March 24, 2008 at 2:50:38 PM CDT</xs:documentation>
		
<xs:documentation>from the queryBalanceAndCharges package with namespace http://integration.sprint.com/interfaces/queryBalanceAndCharges/v2/queryBalanceAndChargesV2.xsd</xs:documentation>
	</xs:annotation>
	
<!--Date               Author                           Version  Change description                                                                                                       Rel.	         SR#-->
	
<!--07/02/2012    Steve Heichelheim          1.0          added paidAdvancePaymentInd field       GBL12.3       PJ006805-->
	
<!--08/25/2012    Jocelen Silva                  1.1          Added MVM standards and simple types                 GBL12.3       PJ007262-->
	
<xs:element name="queryBalanceAndChargesV2" type="tns:QueryBalanceAndChargesV2RequestType"/>
	
<xs:element name="queryBalanceAndChargesV2Response" type="tns:QueryBalanceAndChargesV2ResponseType"/>
	
<xs:complexType name="QueryBalanceAndChargesV2RequestType">
		
<xs:sequence>
			
<xs:element name="subscriberInformation" type="tns:SubscriberInformationType">
				
<xs:annotation>
					
<xs:documentation>Structure to identify the subscriber for the data retrieval</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="nextAnniversaryDateInd" type="tns:NextAnniversaryDateFlagType">
				
<xs:annotation>
					
<xs:documentation>If ‘true’, the next payment amounts returned will be based on the next MRC date; if set to ‘false’, payment information is based on current date.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="QueryBalanceAndChargesV2ResponseType">
		
<xs:sequence>
			
<xs:element name="networkInd" type="tns:NetworkTypeCodeType">
				
<xs:annotation>
					
<xs:documentation>The network type code identifies which network the subscriber is associated to;
Possible values:
C – CDMA and
I - IDEN</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="premiumInd" type="tns:PremiumTypeCodeType">
				
<xs:annotation>
					
<xs:documentation>Premium Type Code indicates the type of premium price plan.  Valid values are:
'Y' - iDEN BPP (Boost Premium Plan) and CDMA UbB (Unlimited By Boost)
'M' - iDEN Monthly-Bucket Plan (MBP).   
'N' - All others - but primarily iDEN PAYGO (Pay as You Go)</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="subscriberStatus" type="tns:SubscriberStatusCodeType">
				
<xs:annotation>
					
<xs:documentation>Subscriber status code is a single character code that represents the status of a subscriber.
Possible values:
A – Active
S – Suspended
C – Canceled
R - Reserved</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="currentBalance" type="tns:BalanceAmountType">
				
<xs:annotation>
					
<xs:documentation>Subscriber’s current balance
Balance Amount is the dollar value associated to an account at a point in time.
(Length 12 max to left of decimal point and 2 max to the right – total of 14 digs)</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="responseDateChoice" type="tns:ResponseDateChoiceType">
				
<xs:annotation>
					
<xs:documentation>Will return either nextAnniversaryPaymentDate or balanceExpirationDate</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="totalRecurringAmount" type="tns:MonthlyRecurringChargeType">
				
<xs:annotation>
					
<xs:documentation>Recurring charge amount excluding taxes
(Length 12 max to left of decimal point and 2 max to the right – total of 14 digs)</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="totalTaxAmount" type="tns:TaxChargeType">
				
<xs:annotation>
					
<xs:documentation>Tax Charge is the amount of taxes collected as required for a related charge.
(Length 12 max to left of decimal point and 2 max to the right – total of 14 digs)</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="totalAmount" type="tns:TotalChargeType">
				
<xs:annotation>
					
<xs:documentation>totalRecurringAmount + totalTaxAmount
(Length 12 max to left of decimal point and 2 max to the right – total of 14 digs)</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="totalAddOnsAmount" type="tns:TotalChargeType">
				
<xs:annotation>
					
<xs:documentation>Total add-ons Anniversary recurring amount
(Length 12 max to left of decimal point and 2 max to the right – total of 14 digs)</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="paymentMethod" type="tns:PaymentMethodTypeCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Subscriber’s payment method:
Payment Method:
CB – Cash
CC – Credit Card
VS – Visa
AM – American Express
MC – MasterCard
MB – Mable
SC – Tmp Credit Card 
OS – One Stop Shop
DC – Diners Club
JM – Joint Marketing
DI – Discover Card
SD – 16-digit debit card
EC – Electronic Checks
Note: If the tag is not returned it denotes no payment method exists for this subscriber.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="socTaxDetailInfoList" type="tns:SocTaxDetailListType">
				
<xs:annotation>
					
<xs:documentation>Detailed tax information by SOC</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="paidAdvancePaymentInd" type="tns:BinaryExpressionType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>true - advanced payment taken
false - advanced payment not taken
Empty – subscriber’s Price Plan does not support advanced payment
Map ‘Y’ to True, ‘N’ to False. If empty then tag will not be returned.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="ResponseDateChoiceType">
		
<xs:choice>
			
<xs:element name="nextAnniversaryPaymentDate" type="tns:PaymentDateType">
				
<xs:annotation>
					
<xs:documentation>The date for the next MRC payment; premium plans only
The Payment Date is the date on which a payment was received
Format: YYYY-MM-DD</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="balanceExpirationDate" type="tns:ExpirationDateType">
				
<xs:annotation>
					
<xs:documentation>Balance expiration date for PAYGO plan.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	
<xs:complexType name="SocTaxDetailInfoType">
		
<xs:sequence>
			
<xs:element name="socCode" type="tns:ServiceOrderCodeType">
				
<xs:annotation>
					
<xs:documentation>SOC value</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="socDescription" type="tns:ServiceOrderDescriptionType">
				
<xs:annotation>
					
<xs:documentation>Abstract description of the SOC</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="serviceType" type="tns:ServiceTypeCodeType">
				
<xs:annotation>
					
<xs:documentation>SOC Service Type
B – BOGO
O – Optional
P – PP
M – Reduced PP
S – Reduced SOC
R – Regular SOC</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="activationDate" type="tns:EffectiveFromDateType">
				
<xs:annotation>
					
<xs:documentation>Activation Date</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="recurringChargeAmount" type="tns:MonthlyRecurringChargeType">
				
<xs:annotation>
					
<xs:documentation>Recurring charge
(Length 12 max to left of decimal point and 2 max to the right – total of 14 digs)</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="taxAmount" type="tns:TaxChargeType">
				
<xs:annotation>
					
<xs:documentation>Tax of activiation amount
(Length 12 max to left of decimal point and 2 max to the right – total of 14 digs)</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="totalAmount" type="tns:TotalChargeType">
				
<xs:annotation>
					
<xs:documentation>recurringChargeAmount + taxAmount
(Length 12 max to left of decimal point and 2 max to the right – total of 14 digs)</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="federalExemptionInd" type="tns:ExemptionTypeCodeType">
				
<xs:annotation>
					
<xs:documentation>0 – if the value does not exist
B – BAN exemption
C – Subscriber exemption
J – Jurisdiction exemption
N – Not exempt
T – Not taxable
P – PLMN exemption</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="roamExemptionInd" type="tns:ExemptionTypeCodeType">
				
<xs:annotation>
					
<xs:documentation>0 – if the value does not exist
B – BAN exemption
C – Subscriber exemption
J – Jurisdiction exemption
N – Not exempt
T – Not taxable
P – PLMN exemption</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="stateExemptionInd" type="tns:ExemptionTypeCodeType">
				
<xs:annotation>
					
<xs:documentation>0 – if the value does not exist
B – BAN exemption
C – Subscriber exemption
J – Jurisdiction exemption
N – Not exempt
T – Not taxable
P – PLMN exemption</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="countryExemptionInd" type="tns:ExemptionTypeCodeType">
				
<xs:annotation>
					
<xs:documentation>0 – if the value does not exist
B – BAN exemption
C – Subscriber exemption
J – Jurisdiction exemption
N – Not exempt
T – Not taxable
P – PLMN exemption</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="cityExemptionInd" type="tns:ExemptionTypeCodeType">
				
<xs:annotation>
					
<xs:documentation>0 – if the value does not exist
B – BAN exemption
C – Subscriber exemption
J – Jurisdiction exemption
N – Not exempt
T – Not taxable
P – PLMN exemption</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="misc1ExemptionInd" type="tns:ExemptionTypeCodeType">
				
<xs:annotation>
					
<xs:documentation>0 – if the value does not exist
B – BAN exemption
C – Subscriber exemption
J – Jurisdiction exemption
N – Not exempt
T – Not taxable
P – PLMN exemption</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="misc2ExemptionInd" type="tns:ExemptionTypeCodeType">
				
<xs:annotation>
					
<xs:documentation>0 – if the value does not exist
B – BAN exemption
C – Subscriber exemption
J – Jurisdiction exemption
N – Not exempt
T – Not taxable
P – PLMN exemption</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="taxString" type="tns:TaxStringType">
				
<xs:annotation>
					
<xs:documentation>The string contains the following attributes separated by a '^':
Vertex Geocode
Counter – A counter of the chargeable taxes of the given SOC/PP. This is a number between 1 and 20.
Up to 20 groups of tax type, tax authority and tax amounExample of the string:
For tax type 3 and tax type 51:
“220250100^2^03^1^0.08^51^2^2.12”
If there are no taxes, the string is empty.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="taxTypeInfoList" type="tns:TaxTypeListType">
				
<xs:annotation>
					
<xs:documentation>Details for the specific tax types</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="SocTaxDetailListType">
		
<xs:sequence>
			
<xs:element name="socTaxDetailInfo" type="tns:SocTaxDetailInfoType" minOccurs="0" maxOccurs="unbounded">
				
<xs:annotation>
					
<xs:documentation>Single occurrence for detailed SOC information including tax information</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="SubscriberInformationType">
		
<xs:choice>
			
<xs:element name="subscriptionId" type="tns:SubscriptionIdentifierType">
				
<xs:annotation>
					
<xs:documentation>SubscriptionIdentifier uniquely identifies an instance of SUBSCRIPTION .</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="mobileDirectoryNumber" type="tns:MobileDirectoryNumberStringType">
				
<xs:annotation>
					
<xs:documentation>Phone number of any subscriber under the BAN</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="urbanFleetMemberId" type="tns:UrbanFleetMemberIdType">
				
<xs:annotation>
					
<xs:documentation>Urban Fleet Member ID is an address in a format recognized within iDEN Push-To-Talk (PTT) or Direct Connect. For example, a UFMI number of 500*600*700, translates to 500 is the Urban Area ID, 600 is the Fleet, and 700 is the Member.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="deviceSerialNumber" type="tns:DeviceSerialNumberType">
				
<xs:annotation>
					
<xs:documentation>Subscriber Device Serial Number is the Equipment Id – IMEI or Simcard Id or MSN or ESN of any subscriber under the BAN.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="internetProtocolAddressString" type="tns:InternetProtocolAddressStringType">
				
<xs:annotation>
					
<xs:documentation>IP address of any subscriber under the BAN
(An Internet Protocol Address is the numerical address by which a location in the Internet is identified. Computers on the Internet use IP addresses to route traffic and establish connections among themselves.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="internationalMobileSubscriberIdentityString" type="tns:InternationalMobileSubscriberIdentityStringType">
				
<xs:annotation>
					
<xs:documentation>IMSI of any subscriber under the BAN
(International Mobile Subscriber Identity (IMSI) holds a unique identifier allocated to each mobile subscriber in a GSM and UMTS network. It consists of a MCC (Mobile Country Code), a MNC (Mobile Network Code) and a MSIN (Mobile Station Identification Number).)</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="networkAccessIdentifierString" type="tns:NetworkAccessIdentifierType">
				
<xs:annotation>
					
<xs:documentation>NAI address for any subscriber under the BAN</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="additionalImsi" type="tns:InternationalMobileSubscriberIdentityStringType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Additional IMSI for any subscriber under the BAN</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="highPerformancePusthToTalkIdString" type="tns:HighPerformancePushToTalkIdentifierStringType">
				
<xs:annotation>
					
<xs:documentation>High Performance Push To Talk Identifier (HPPTTID) is the identifier of a Subscription utilizing the QChat  Push-To-Talk techniology. HPPTTID is constructed in the username@domain URI format.  The username will be a MDN or UFMI based number.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	
<xs:complexType name="TaxTypeInfoType">
		
<xs:sequence>
			
<xs:element name="taxType" type="tns:TaxTypeIdentiferType">
				
<xs:annotation>
					
<xs:documentation>Tax Type
0-Denotes empty tax bucket
1 - UTILITY-USERS
2 - BQ
3 - 911-TAX
4 - PUC-04
5 - TELEPHONE-SALES
6 - STATUTORY-RECEIPTS
7 - UTIL-USE-BUSNESS
8 - LICENSE
9 - SERVICE
10 - DISTRICT
11 - 911-BUSNESS
30 - ALL-TYPES
40 - USF-SURCHGE
41 - TRS-SURCHGE
42 - DEAF-SURCHGE
43 - HIGH-COST
44 - POISON-CONTROL
45 - LIFELINE
46 - PICC
50 - EXCISE
51 - SPECIAL
52 - SURCHARGE
59 - LICENSE-TAX-2
60 - UTIL-USE-BUS-2
61 - UTIL-USE-2
62 - BQ-2
63 - 911-TAX-2
64 - GROSS-2
65 - USF-SURCHGE-2
66 - TRS-SURCHGE-2
67 - DEAF-SURCHGE-2
68 - HIGH-COST-2
69 - POISON-CONTROL-2
70 - FEDERAL
71 - EUCL
90 - ROAM-EXMP
99 – SALES</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="taxAuth" type="tns:TaxingAuthorityIdentifierType">
				
<xs:annotation>
					
<xs:documentation>Tax authority
0 – federal
1 – State
2 – Country
3 – City
4 – Secondary country
5 – Secondary city
9 – All</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="taxAuthAmount" type="tns:TaxRateType">
				
<xs:annotation>
					
<xs:documentation>Tax rate</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="taxCustAmount" type="tns:TaxChargeType">
				
<xs:annotation>
					
<xs:documentation>Tax amount
(Length 12 max to left of decimal point and 2 max to the right – total of 14 digs)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="TaxTypeListType">
		
<xs:sequence>
			
<xs:element name="taxTypeInfo" type="tns:TaxTypeInfoType" minOccurs="20" maxOccurs="20">
				
<xs:annotation>
					
<xs:documentation>Single occurrence for a specific tax type</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="UrbanFleetMemberIdType">
		
<xs:annotation>
			
<xs:documentation>Urban Fleet Member ID is an address in a format recognized within iDEN Push-To-Talk (PTT) or Direct Connect. For example, a UFMI number of 500*600*700, translates to 500 is the Urban Area ID, 600 is the Fleet, and 700 is the Member.</xs:documentation>
		</xs:annotation>
		
<xs:sequence>
			
<xs:element name="urbanAreaId" type="tns:UrbanAreaIdentifierType">
				
<xs:annotation>
					
<xs:documentation>Urban Area ID identifies an urban area in the UFMI.  It is the first element of the DirectConnect UFMI number. The format of the UFMI number is: Urban Area Id * Fleet Id * Member Id. Example 164*100*3441.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="fleetId" type="tns:FleetIdentifierType">
				
<xs:annotation>
					
<xs:documentation>Fleet Id is the second element of the DirectConnect UFMI number. The format of the UFMI number is: Urban User Id * Fleet Id * Member Id. Example 164*100*3441.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="memberId" type="tns:MemberIdentifierType">
				
<xs:annotation>
					
<xs:documentation>Member Id is the third element of the DirectConnect UFMI number. The format of the UFMI number is: Urban User Id * Fleet Id * Member Id. Example 164*100*3441.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<!---->
	
<!--MVM/Shared Simple Types-->
	
<xs:simpleType name="BalanceAmountType">
		
<xs:annotation>
			
<xs:documentation>Balance Amount is a the dollar value associated to an account at a point in time.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:decimal">
			
<xs:totalDigits value="14"/>
			
<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="BinaryExpressionType">
		
<xs:annotation>
			
<xs:documentation>Binary Expression is a type of an expression with two possible states,"true"and"false".</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	
<xs:simpleType name="DeviceSerialNumberType">
		
<xs:annotation>
			
<xs:documentation>Device Serial Number a unique number that is embedded electronically by the manufacturer into a wireless communication device that identifies that individual unit.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:minLength value="8"/>
			
<xs:maxLength value="18"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="EffectiveFromDateType">
		
<xs:annotation>
			
<xs:documentation>Effective From Date Type holds the first calendar day  a Role, preference, assignment, etc. the PARTY's preference went into effect.

Elements declared to be of type date must follow this form:  
CCYY-MM-DD
range for CC is: 00-99
range for YY is: 00-99
range for MM is: 01-12
range for DD is: 
01-28 if month is 2
01-29 if month is 2 and the gYear is a leap gYear
01-30 if month is 4, 6, 9, or 11
01-31 if month is 1, 3, 5, 7, 8, 10, or 12

Example: 1999-05-31 represents May 31, 1999</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:date"/>
	</xs:simpleType>
	
<xs:simpleType name="ExemptionTypeCodeType">
		
<xs:annotation>
			
<xs:documentation>Exemption Type Code is an identifier of a category of exemption.
Values:
B - BAN Exemption
C - Subscriber Exemption
J - Jurisdiction Exemption
N - Not Exempt
T - Not Taxable
P - PLMN Exemption</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:enumeration value="0"/>
			
<xs:enumeration value="B"/>
			
<xs:enumeration value="C"/>
			
<xs:enumeration value="J"/>
			
<xs:enumeration value="N"/>
			
<xs:enumeration value="T"/>
			
<xs:enumeration value="P"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="ExpirationDateType">
		
<xs:annotation>
			
<xs:documentation>Expiration Date holds the last calendar Date an object, relationship, privilege, etc. is valid or in force.  After this date the object is no longervalid or in force. </xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:date"/>
	</xs:simpleType>
	
<xs:simpleType name="FleetIdentifierType">
		
<xs:annotation>
			
<xs:documentation>Fleet Identifier is the second element of the DirectConnect UFMI number. The format of the UFMI number is: Urban User Id * Fleet Id * Member Id. Example 164*100*3441.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="7"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="HighPerformancePushToTalkIdentifierStringType">
		
<xs:annotation>
			
<xs:documentation>High Performance Push To Talk Identifier (HPPTTID) is the identifier of a Subscription utilizing the QChat  Push-To-Talk techniology. HPPTTID is constructed in the username@domain URI format.  The username will be a MDN or UFMI based number.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="InternationalMobileSubscriberIdentityStringType">
		
<xs:annotation>
			
<xs:documentation>International Mobile Subscriber Identity (IMSI) holds a unique identifier allocated to each mobile subscriber in a GSM and UMTS network. It consists of a MCC (Mobile Country Code), a MNC (Mobile Network Code) and a MSIN (Mobile Station Identification Number).</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="InternetProtocolAddressStringType">
		
<xs:annotation>
			
<xs:documentation>Internet Protocol Address is the numerical address by which a location in the Internet is identified. Computers on the Internet use IP addresses to route traffic and establish connections among themselves.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="MemberIdentifierType">
		
<xs:annotation>
			
<xs:documentation>Member Identifier is the third element of the DirectConnect UFMI number. The format of the UFMI number is: Urban User Id * Fleet Id * Member Id. Example 164*100*3441.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="7"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="MobileDirectoryNumberStringType">
		
<xs:annotation>
			
<xs:documentation>Mobile Directory Number (MDN) is the actual phone number one would dial to reach a specific mobile phone.



Prior to Wireless Number Portability, MDN was the same number as the Mobile Identification Number (MIN) for many mobile phones. But now that MDNs can be ported (moved) to other carriers, MDN and MIN will be different for ported numbers.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="20"/>
			
<xs:minLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="MonthlyRecurringChargeType">
		
<xs:annotation>
			
<xs:documentation>Monthly Recurring Charge holds the base dollar amount billed to the Customer every month for a service.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:decimal">
			
<xs:totalDigits value="14"/>
			
<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="NetworkAccessIdentifierType">
		
<xs:annotation>
			
<xs:documentation>Network Access Identifier holds the concatenation of the a user name and domain.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="64"/>
			
<xs:pattern value=".+@.+\..+"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="NetworkTypeCodeType">
		
<xs:annotation>
			
<xs:documentation>Network Type Code identifies which network the subscriber is associated to.
Possible values:
C - CDMA
I - IDEN</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:enumeration value="C"/>
			
<xs:enumeration value="I"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="NextAnniversaryDateFlagType">
		
<xs:annotation>
			
<xs:documentation>The Next Anneversary Date Flag indicateds whether relevant data will be retrieved according to the Next Anniversary Date. </xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	
<xs:simpleType name="PaymentDateType">
		
<xs:annotation>
			
<xs:documentation>The Payment Date is the date on which a payment was recieved.

</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:date"/>
	</xs:simpleType>
	
<xs:simpleType name="PaymentMethodTypeCodeType">
		
<xs:annotation>
			
<xs:documentation>Payment Method Type Code is a 2 character code that designates the method used to make a payment.

Possible values:
CB – Cash
CC – Credit Card
VS – Visa
AM – American Express
MC – MasterCard
MB – Mable
SC – Tmp Credit Card 
OS – One Stop Shop
DC – Diners Club
JM – Joint Marketing
DI – Discover Card
SD – 16-digit debit card
EC – Electronic Checks</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:enumeration value="CB"/>
			
<xs:enumeration value="CC"/>
			
<xs:enumeration value="VS"/>
			
<xs:enumeration value="AM"/>
			
<xs:enumeration value="MC"/>
			
<xs:enumeration value="MB"/>
			
<xs:enumeration value="SC"/>
			
<xs:enumeration value="OS"/>
			
<xs:enumeration value="DC"/>
			
<xs:enumeration value="JM"/>
			
<xs:enumeration value="DI"/>
			
<xs:enumeration value="SD"/>
			
<xs:enumeration value="EC"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="PremiumTypeCodeType">
		
<xs:annotation>
			
<xs:documentation>Premium Type Code indicates the type of premium price plan.  Valid values are:

'Y' - iDEN BPP (Boost Premium Plan) and CDMA UbB (Unlimited By Boost)
'M' - iDEN Multi-Bucket Plan (MBP).   
'N' - All others - but primarily iDEN PAYGO (Pay as You Go)</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="ServiceOrderCodeType">
		
<xs:annotation>
			
<xs:documentation>Service Order Code - ensemble</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="ServiceOrderDescriptionType">
		
<xs:annotation>
			
<xs:documentation>Service Order Description.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="ServiceTypeCodeType">
		
<xs:annotation>
			
<xs:documentation>Service Type Code indicates the type of service being offered. 
Example Values are:
C - Cellular 
D - Dispatch Private
G - Dispatch Group, 
S - SMS, 
P - Packet Data, 
M - M2M, 
T - Toll </xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="SubscriberStatusCodeType">
		
<xs:annotation>
			
<xs:documentation>Subscriber status code is a single character code that represents the status of a subsciber.

Possible values
A - Active
S - Suspended
C - Canceled
R - Reserved</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:enumeration value="A"/>
			
<xs:enumeration value="S"/>
			
<xs:enumeration value="C"/>
			
<xs:enumeration value="R"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="SubscriptionIdentifierType">
		
<xs:annotation>
			
<xs:documentation>Subscription Identifier uniquely identifies an instance of SUBSCRIPTION</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="20"/>
			
<xs:minLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="TaxChargeType">
		
<xs:annotation>
			
<xs:documentation>Tax Charge is the amount of taxes collected as required for a related charge.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:decimal">
			
<xs:totalDigits value="14"/>
			
<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="TaxingAuthorityIdentifierType">
		
<xs:annotation>
			
<xs:documentation>Taxing Authority Identifier designates which level of taxing authority the tax is collected on behalf of.
Possible Values:
0 – federal
1 – State
2 – Country
3 – City
4 – Secondary country
5 – Secondary city
9 – All</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:short">
			
<xs:enumeration value="0"/>
			
<xs:enumeration value="1"/>
			
<xs:enumeration value="2"/>
			
<xs:enumeration value="3"/>
			
<xs:enumeration value="4"/>
			
<xs:enumeration value="5"/>
			
<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="TaxRateType">
		
<xs:annotation>
			
<xs:documentation>The Tax Rate is a rate expressed in decimal format and is applied to a charge to determine the amount of tax to be collected from the customer.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	
<xs:simpleType name="TaxStringType">
		
<xs:annotation>
			
<xs:documentation>The string contains the following attributes separated by a '^':

Vertex Geocode

Counter – A counter of the chargeable taxes of the given SOC/PP. This is a number between 1 and 20.

Up to 20 groups of tax type, tax authority and tax amount.

Example of the string:
For tax type 3 and tax type 51:
"220250100^2^03^1^0.08^51^2^2.12"
If there are no taxes, the string is empty.
</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="512"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="TaxTypeIdentiferType">
		
<xs:annotation>
			
<xs:documentation>Tax Type Identifier designates a specific type of tax.
Valid Values Include:
01 - UTILITY-USERS,
02 - BQ,
03 - 911-TAX,
04 - PUC-04,
05 - TELEPHONE-SALES,
06 - STATUTORY-RECEIPTS,
07 - UTIL-USE-BUSNESS,
08 - LICENSE,
09 - SERVICE,
10 - DISTRICT,
11 - 911-BUSNESS,
30 - ALL-TYPES,
40 - USF-SURCHGE,
41 - TRS-SURCHGE,
42 - DEAF-SURCHGE,
43 - HIGH-COST,
44 - POISON-CONTROL,
45 - LIFELINE,
46 - PICC,
50 - EXCISE,
51 - SPECIAL,
52 - SURCHARGE,
59 - LICENSE-TAX-2,
60 - UTIL-USE-BUS-2,
61 - UTIL-USE-2,
62 - BQ-2,
63 - 911-TAX-2,
64 - GROSS-2,
65 - USF-SURCHGE-2,
66 - TRS-SURCHGE-2,
67 - DEAF-SURCHGE-2,
68 - HIGH-COST-2,

69 - POISON-CONTROL-2,

70 - FEDERAL,

71 - EUCL,
90 - ROAM-EXMP,
99 - SALES.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:short"/>
	</xs:simpleType>
	
<xs:simpleType name="TotalChargeType">
		
<xs:annotation>
			
<xs:documentation>The Total Charge is the sum of charges for a particular service, including monthly recurring charge, tax charge, non-recurring charge.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:decimal">
			
<xs:totalDigits value="14"/>
			
<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="UrbanAreaIdentifierType">
		
<xs:annotation>
			
<xs:documentation>Urban Area Identifier identifies an urban area in the UFMI.  It is the first element of the DirectConnect UFMI number. The format of the UFMI number is: Urban Area Id * Fleet Id * Member Id. Example 164*100*3441.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="7"/>
		</xs:restriction>
	</xs:simpleType>
	
<!---->
</xs:schema>