design/adapters/QueryPrepaidSubscriberProxyService/src/main/resources/queryBalanceAndCharges.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by David Fultz (SPRINT PCS) -->
<xsd:schema xmlns="http://integration.sprint.com/interfaces/queryBalanceAndCharges/v1/queryBalanceAndCharges.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://integration.sprint.com/interfaces/queryBalanceAndCharges/v1/queryBalanceAndCharges.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- Change Log
	2008/10/24 - SC #71985881; CS #296345
		+ Removed enumerations from TaxTypeIdentifier type
		+ Corrected delimiter from '|' to '^' for TaxString type annotation
-->
	<xsd:annotation>
		<xsd:documentation>Generated by Contivo Builder on March 24, 2008 at 2:50:38 PM CDT</xsd:documentation>
		<xsd:documentation>from the queryBalanceAndCharges package with namespace http://integration.sprint.com/interfaces/queryBalanceAndCharges/v1/queryBalanceAndCharges.xsd</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="queryBalanceAndCharges" type="QueryBalanceAndCharges"/>
	<xsd:element name="queryBalanceAndChargesResponse" type="QueryBalanceAndChargesResponse"/>
	<xsd:complexType name="QueryBalanceAndCharges">
		<xsd:sequence>
			<xsd:element name="subscriberInformation" type="SubscriberInformation"/>
			<xsd:element name="nextAnniversaryDateInd" type="NextAnniversaryDateFlag"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="QueryBalanceAndChargesResponse">
		<xsd:sequence>
			<xsd:element name="networkInd" type="NetworkTypeCode"/>
			<xsd:element name="premiumInd" type="PremiumFlag"/>
			<xsd:element name="subscriberStatus" type="SubscriberStatusCode"/>
			<xsd:element name="currentBalance" type="BalanceAmount"/>
			<xsd:element name="responseDateChoice" type="ResponseDateChoice"/>
			<xsd:element name="totalRecurringAmount" type="MonthlyRecurringCharge"/>
			<xsd:element name="totalTaxAmount" type="TaxCharge"/>
			<xsd:element name="totalAmount" type="TotalCharge"/>
			<xsd:element name="totalAddOnsAmount" type="TotalCharge"/>
			<xsd:element name="paymentMethod" type="PaymentMethodTypeCode" minOccurs="0"/>
			<xsd:element name="socTaxDetailInfoList" type="SocTaxDetailInfoList"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ResponseDateChoice">
		<xsd:choice>
			<xsd:element name="nextAnniversaryPaymentDate" type="PaymentDate"/>
			<xsd:element name="balanceExpirationDate" type="ExpirationDate"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="SocTaxDetailInfo">
		<xsd:sequence>
			<xsd:element name="socCode" type="ServiceOrderCode"/>
			<xsd:element name="socDescription" type="ServiceOrderDescription"/>
			<xsd:element name="serviceType" type="ServiceTypeCode"/>
			<xsd:element name="activationDate" type="EffectiveFromDate"/>
			<xsd:element name="recurringChargeAmount" type="MonthlyRecurringCharge"/>
			<xsd:element name="taxAmount" type="TaxCharge"/>
			<xsd:element name="totalAmount" type="TotalCharge"/>
			<xsd:element name="federalExemptionInd" type="ExemptionTypeCode"/>
			<xsd:element name="roamExemptionInd" type="ExemptionTypeCode"/>
			<xsd:element name="stateExemptionInd" type="ExemptionTypeCode"/>
			<xsd:element name="countryExemptionInd" type="ExemptionTypeCode"/>
			<xsd:element name="cityExemptionInd" type="ExemptionTypeCode"/>
			<xsd:element name="misc1ExemptionInd" type="ExemptionTypeCode"/>
			<xsd:element name="misc2ExemptionInd" type="ExemptionTypeCode"/>
			<xsd:element name="taxString" type="TaxString"/>
			<xsd:element name="taxTypeInfoList" type="taxTypeInfoList"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SocTaxDetailInfoList">
		<xsd:sequence>
			<xsd:element name="socTaxDetailInfo" type="SocTaxDetailInfo" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SubscriberInformation">
		<xsd:choice>
			<xsd:element name="subscriptionId" type="SubscriptionIdentifierEns">
				<xsd:annotation>
					<xsd:documentation>SubscriptionIdentifier uniquely identifies an instance of SUBSCRIPTION .</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mobileDirectoryNumber" type="MobileDirectoryNumberString"/>
			<xsd:element name="urbanFleetMemberId" type="UrbanFleetMemberId"/>
			<xsd:element name="deviceSerialNumber" type="SubscriberDeviceSerialNumber"/>
			<xsd:element name="internetProtocolAddressString" type="InternetProtocolAddressString"/>
			<xsd:element name="internationalMobileSubscriberIdentityString" type="InternationalMobileSubscriberIdentityString"/>
			<xsd:element name="networkAccessIdentifierString" type="SubscriberNetworkAccessIdentifier"/>
			<xsd:element name="additionalImsi" type="InternationalMobileSubscriberIdentityString" minOccurs="0"/>
			<xsd:element name="highPerformancePusthToTalkIdString" type="HighPerformancePushToTalkIDString"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="UrbanFleetMemberId">
		<xsd:annotation>
			<xsd:documentation>Urban Fleet Member ID is an address in a format recognized within iDEN Push-To-Talk (PTT) or Direct Connect. For example, a UFMI number of 500*600*700, translates to 500 is the Urban Area ID, 600 is the Fleet, and 700 is the Member.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="urbanAreaId" type="UrbanAreaID">
				<xsd:annotation>
					<xsd:documentation>Urban Area ID identifies an urban area in the UFMI.  It is the first element of the DirectConnect UFMI number. The format of the UFMI number is: Urban Area Id * Fleet Id * Member Id. Example 164*100*3441.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fleetId" type="FleetID">
				<xsd:annotation>
					<xsd:documentation>Fleet Id is the second element of the DirectConnect UFMI number. The format of the UFMI number is: Urban User Id * Fleet Id * Member Id. Example 164*100*3441.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="memberId" type="MemberID">
				<xsd:annotation>
					<xsd:documentation>Member Id is the third element of the DirectConnect UFMI number. The format of the UFMI number is: Urban User Id * Fleet Id * Member Id. Example 164*100*3441.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="taxTypeInfo">
		<xsd:sequence>
			<xsd:element name="taxType" type="TaxTypeIdentifer"/>
			<xsd:element name="taxAuth" type="TaxingAuthorityIdentifier"/>
			<xsd:element name="taxAuthAmount" type="TaxRate"/>
			<xsd:element name="taxCustAmount" type="TaxCharge"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="taxTypeInfoList">
		<xsd:sequence>
			<xsd:element name="taxTypeInfo" type="taxTypeInfo" minOccurs="20" maxOccurs="20"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="BalanceAmount">
		<xsd:annotation>
			<xsd:documentation>Balance Amount is a the dollar value associated to an account at a point in time.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Charge">
		<xsd:annotation>
			<xsd:documentation>Charge represents a dollar amount billed to the Customer for a GOOD or SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="Description">
		<xsd:annotation>
			<xsd:documentation>Description is the base type for various string objects holding a brief description of an Object instance.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="DeviceSerialNbr">
		<xsd:annotation>
			<xsd:documentation>Device Serial Number a unique number that is embedded electronically by the manufacturer into a wireless communication device that identifies that individual unit.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="8"/>
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EffectiveFromDate">
		<xsd:annotation>
			<xsd:documentation>Effective From Date Type holds the first calendar day  a Role, preference, assignment, etc. the PARTY's preference went into effect.

Elements declared to be of type date must follow this form:  
CCYY-MM-DD
range for CC is: 00-99
range for YY is: 00-99
range for MM is: 01-12
range for DD is: 
01-28 if month is 2
01-29 if month is 2 and the gYear is a leap gYear
01-30 if month is 4, 6, 9, or 11
01-31 if month is 1, 3, 5, 7, 8, 10, or 12

Example: 1999-05-31 represents May 31, 1999</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="ElectronicAddressString">
		<xsd:annotation>
			<xsd:documentation>ElectronicAddressString represents the character string of the electronic address.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ExemptionTypeCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="B"/>
			<xsd:enumeration value="C"/>
			<xsd:enumeration value="J"/>
			<xsd:enumeration value="N"/>
			<xsd:enumeration value="T"/>
			<xsd:enumeration value="P"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ExpirationDate">
		<xsd:annotation>
			<xsd:documentation>Expiration Date holds the last calendar Date an object, relationship, privilege, etc. is valid or in force.  After this date the object is no longervalid or in force. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="FleetID">
		<xsd:annotation>
			<xsd:documentation>Fleet Identifier is the second element of the DirectConnect UFMI number. The format of the UFMI number is: Urban User Id * Fleet Id * Member Id. Example 164*100*3441.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="IdentifierString">
			<xsd:maxLength value="7"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HighPerformancePushToTalkIDString">
		<xsd:annotation>
			<xsd:documentation>High Performance Push To Talk Identifier (HPPTTID) is the identifier of a Subscription utilizing the QChat  Push-To-Talk techniology. HPPTTID is constructed in the username@domain URI format.  The username will be a MDN or UFMI based number.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="IdentifierString">
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IdentifierShort">
		<xsd:restriction base="xsd:short"/>
	</xsd:simpleType>
	<xsd:simpleType name="IdentifierString">
		<xsd:annotation>
			<xsd:documentation>Identifier String  holds a String value that uniquely identifies an instance of an object.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="InternationalMobileSubscriberIdentityString">
		<xsd:annotation>
			<xsd:documentation>International Mobile Subscriber Identity (IMSI) holds a unique identifier allocated to each mobile subscriber in a GSM and UMTS network. It consists of a MCC (Mobile Country Code), a MNC (Mobile Network Code) and a MSIN (Mobile Station Identification Number).</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="16"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="InternetProtocolAddressString">
		<xsd:annotation>
			<xsd:documentation>An Internet Protocol Address is the numerical address by which a location in the Internet is identified. Computers on the Internet use IP addresses to route traffic and establish connections among themselves.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ElectronicAddressString">
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MemberID">
		<xsd:annotation>
			<xsd:documentation>Member Identifier is the third element of the DirectConnect UFMI number. The format of the UFMI number is: Urban User Id * Fleet Id * Member Id. Example 164*100*3441.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="IdentifierString">
			<xsd:maxLength value="7"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MobileDirectoryNumberString">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20"/>
			<xsd:minLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MonthlyRecurringCharge">
		<xsd:annotation>
			<xsd:documentation>Monthly Recurring Charge holds the base dollar amount billed to the Customer every month for a service.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="Charge">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NetworkAccessActivationFromDate">
		<xsd:annotation>
			<xsd:documentation>Network Access Activiated From Date holds the first calendar day the set of implemented components were active on the network.&#13;
&#13;
Elements declared to be of type date must follow this form:  &#13;
CCYY-MM-DD&#13;
range for CC is: 00-99&#13;
range for YY is: 00-99&#13;
range for MM is: 01-12&#13;
range for DD is: &#13;
01-28 if month is 2&#13;
01-29 if month is 2 and the gYear is a leap gYear&#13;
01-30 if month is 4, 6, 9, or 11&#13;
01-31 if month is 1, 3, 5, 7, 8, 10, or 12&#13;
&#13;
Example: 1999-05-31 represents May 31, 1999</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="EffectiveFromDate"/>
	</xsd:simpleType>
	<xsd:simpleType name="NetworkAccessIdentifier">
		<xsd:annotation>
			<xsd:documentation>Network Access Identifier holds the concatenation of the a user name and domain.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".+@.+\..+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NetworkTypeCode">
		<xsd:annotation>
			<xsd:documentation>The network type code identifies which network the subscriber is associated to.&#13;
Possible values:&#13;
C - CDMA&#13;
I - IDEN</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="WirelessDeviceModeCode">
			<xsd:enumeration value="C"/>
			<xsd:enumeration value="I"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NextAnniversaryDateFlag">
		<xsd:annotation>
			<xsd:documentation>The Next Anneversary Date Flag indicateds whether relevant data will be retrieved according to the Next Anniversary Date. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="NoteText">
		<xsd:annotation>
			<xsd:documentation>Note Text is the body of the text in the NOTE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PaymentDate">
		<xsd:annotation>
			<xsd:documentation>The Payment Date is the date on which a payment was recieved.&#13;
&#13;
</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="PaymentMethodTypeCode">
		<xsd:annotation>
			<xsd:documentation>The Payment Method Type Code is a 2 character code that designates the method used to make a payment.&#13;
&#13;
Possible values:&#13;
CB – Cash&#13;
CC – Credit Card&#13;
VS – Visa&#13;
AM – American Express&#13;
MC – MasterCard&#13;
MB – Mable&#13;
SC – Tmp Credit Card &#13;
OS – One Stop Shop&#13;
DC – Diners Club&#13;
JM – Joint Marketing&#13;
DI – Discover Card&#13;
SD – 16-digit debit card&#13;
EC – Electronic Checks</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CB"/>
			<xsd:enumeration value="CC"/>
			<xsd:enumeration value="VS"/>
			<xsd:enumeration value="AM"/>
			<xsd:enumeration value="MC"/>
			<xsd:enumeration value="MB"/>
			<xsd:enumeration value="SC"/>
			<xsd:enumeration value="OS"/>
			<xsd:enumeration value="DC"/>
			<xsd:enumeration value="JM"/>
			<xsd:enumeration value="DI"/>
			<xsd:enumeration value="SD"/>
			<xsd:enumeration value="EC"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PremiumFlag">
		<xsd:annotation>
			<xsd:documentation>The Premium Flag is a boolean flag that identifies a premium price plan.&#13;
Values: true, false</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="ProductId">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ServiceOrderCode">
		<xsd:annotation>
			<xsd:documentation>Service Order Code - ensemble</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ProductId">
			<xsd:maxLength value="9"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ServiceOrderDescription">
		<xsd:restriction base="Description">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ServiceTypeCode">
		<xsd:restriction base="TypeCode">
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SubscriberDeviceSerialNumber">
		<xsd:annotation>
			<xsd:documentation>Subscriber Device Serial Number is the Equipment Id – IMEI or Simcard Id or MSN or ESN of any subscriber under the BAN.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="DeviceSerialNbr">
			<xsd:maxLength value="18"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SubscriberNetworkAccessIdentifier">
		<xsd:restriction base="NetworkAccessIdentifier">
			<xsd:maxLength value="64"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SubscriberStatusCode">
		<xsd:annotation>
			<xsd:documentation>Subscriber status code is a single character code that represents the status of a subsciber.&#13;
&#13;
Possible values&#13;
A - Active&#13;
S - Suspended&#13;
C - Canceled&#13;
R - Reserved</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="A"/>
			<xsd:enumeration value="S"/>
			<xsd:enumeration value="C"/>
			<xsd:enumeration value="R"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SubscriptionIdentifier">
		<xsd:restriction base="IdentifierString">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SubscriptionIdentifierEns">
		<xsd:annotation>
			<xsd:documentation>Subscription Identifier Ensemble uniquely identifies an instance of SUBSCRIPTION in the Ensemble system.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SubscriptionIdentifier">
			<xsd:minLength value="8"/>
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TaxCharge">
		<xsd:annotation>
			<xsd:documentation>Tax Charge is the amount of taxes collected as required for a related charge.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="Charge">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TaxRate">
		<xsd:annotation>
			<xsd:documentation>The Tax Rate is a rate expressed in decimal format and is applied to a charge to determine the amount of tax to be collected from the customer.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="TaxString">
		<xsd:annotation>
			<xsd:documentation>The string contains the following attributes separated by a '^':&#13;
&#13;
Vertex Geocode&#13;
&#13;
Counter – A counter of the chargeable taxes of the given SOC/PP. This is a number between 1 and 20.&#13;
&#13;
Up to 20 groups of tax type, tax authority and tax amount.&#13;
&#13;
Example of the string:&#13;
For tax type 3 and tax type 51:&#13;
"220250100^2^03^1^0.08^51^2^2.12"&#13;
If there are no taxes, the string is empty.&#13;
</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="NoteText">
			<xsd:maxLength value="512"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TaxTypeIdentifer">
		<xsd:annotation>
			<xsd:documentation>See interface documentation for possible values</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:short"/>
	</xsd:simpleType>
	<xsd:simpleType name="TaxingAuthorityIdentifier">
		<xsd:annotation>
			<xsd:documentation>The Taxing Authority Identifier designates which level of taxing authority the tax is collected on behalf of.&#13;
Possible Values:&#13;
0 – federal&#13;
1 – State&#13;
2 – Country&#13;
3 – City&#13;
4 – Secondary country&#13;
5 – Secondary city&#13;
9 – All</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="IdentifierShort">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="4"/>
			<xsd:enumeration value="5"/>
			<xsd:enumeration value="9"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TotalCharge">
		<xsd:annotation>
			<xsd:documentation>The Total Charge is the sum of charges for a particular service, including monthly recurring charge, tax charge, non-recurring charge.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="Charge">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypeCode">
		<xsd:annotation>
			<xsd:documentation>Type Code differentiates the various  categories or subtypes of an Object.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="UrbanAreaID">
		<xsd:annotation>
			<xsd:documentation>Urban Area Identifier identifies an urban area in the UFMI.  It is the first element of the DirectConnect UFMI number. The format of the UFMI number is: Urban Area Id * Fleet Id * Member Id. Example 164*100*3441.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="IdentifierString">
			<xsd:maxLength value="7"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="WirelessDeviceModeCode">
		<xsd:annotation>
			<xsd:documentation>Wireless Device Mode Code is a Sprint defined code used to identify the wireless network technology used by the device.&#13;
&#13;
Possible values:&#13;
"A" - Advanced Mobile Phone Service (AMPS)&#13;
"C" - Code Division Multiple Access (CDMA)&#13;
"D" - CDMA and AMPS&#13;
"T" - Time Division Multiple Access (TDMA)&#13;
"I" - Integrated Digital Enhanced Network (IDEN)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
</xsd:schema>
