design/adapters/AddressManagementProxyService/src/main/resources/AddressManagementService.xsd5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:tns="http://integration.sprint.com/interfaces/validateCoverageDetails/v1/validateCoverageDetails.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://integration.sprint.com/interfaces/validateCoverageDetails/v1/validateCoverageDetails.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	
<!--Date               Author                  Version           Change                                                                                                   Rel                    SR#-->
	
<!--5/29/2013     Amber Peppers         1.0                  Initial Version                                                                                    GBL13.3               PJ008373-->
	
<!--5/29/2013   Steve Heichelheim   1.0                 Added MVM standards and simple types.                                            GBL13.3               PJ008373-->
	
<xs:element name="validateCoverageDetails" type="tns:ValidateCoverageDetailsRequestType"/>
	
<xs:element name="validateCoverageDetailsResponse" type="tns:ValidateCoverageDetailsResponseType"/>
	
<xs:complexType name="ValidateCoverageDetailsRequestType">
		
<xs:sequence>
			
<xs:element name="validAddressInd" type="tns:VaildAddressFlagType">
				
<xs:annotation>
					
<xs:documentation>Indicator determining if address is valid and does not need to be validated again</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="addressInfo" type="tns:AddressInfoType">
				
<xs:annotation>
					
<xs:documentation>Structure containing address information</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="ValidateCoverageDetailsResponseType">
		
<xs:sequence>
			
<xs:element name="validatedAddressInfo" type="tns:ValidatedAddressInfoType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Structure containing  validated address information</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="addressCoverageInfo" type="tns:AddressCoverageInfoType">
				
<xs:annotation>
					
<xs:documentation>Structure containing address coverage information</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="AddressCoverageInfoType">
		
<xs:sequence>
			
<xs:element name="addressInCoverageInd" type="tns:AddressCoverageFlagType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Indicates whether input address is within Sprint CDMA coverage</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="longitude" type="tns:LongitudeFloatType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Longitude of searched address</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="latitude" type="tns:LatitudeFloatType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Latitude of searched address</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="uncertaintyRadius" type="tns:UncertaintyRadiusMetersType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Indicates certainty of hotspot location, in meters</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="marketNumber" type="tns:GeographicMarketIdentifierType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Market number</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="switchNumber" type="tns:CentralOfficeIdentifierType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Switch number</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="sectorNumber" type="tns:SectorIdentifierType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Sector number</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="cellNumber" type="tns:CellTowerIdentifierType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Cell number</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="timeToLive" type="tns:DaysToLiveQuantityType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Indicates how long (in days) to cache response data in client</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="AddressInfoType">
		
<xs:sequence>
			
<xs:element name="addressLine1" type="tns:PostalAddressLine1Type">
				
<xs:annotation>
					
<xs:documentation>Address line 1</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="addressLine2" type="tns:PostalAddressLine2Type" minOccurs="0"/>
			
<xs:element name="city" type="tns:CityNameType">
				
<xs:annotation>
					
<xs:documentation>Address city</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="state" type="tns:UspsStateAbbreviationType">
				
<xs:annotation>
					
<xs:documentation>Address state</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="zipCode" type="tns:UspsPostalCodeType">
				
<xs:annotation>
					
<xs:documentation>Address zip code</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="country" type="tns:CountryCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>country code in ISO format</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="ValidatedAddressInfoType">
		
<xs:sequence>
			
<xs:element name="addressLine1" type="tns:PostalAddressLine2Type">
				
<xs:annotation>
					
<xs:documentation>Address line 1</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="city" type="tns:CityNameType">
				
<xs:annotation>
					
<xs:documentation>Address city</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="state" type="tns:UspsStateAbbreviationType">
				
<xs:annotation>
					
<xs:documentation>Address state</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="zipCode" type="tns:UspsPostalCodeType">
				
<xs:annotation>
					
<xs:documentation>Address zip code</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="addressNotFoundInCode1Ind" type="tns:AddressDatabaseMismatchFlagType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Indicates whether CODE1 is able validate the address or not (i.e. whether address is found in CODE1 Address DB or not). If Address is not found in DB, then input address will be formatted and returned.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<!---->
	
<!--MVM/Shared Simple Types-->
	
<xs:simpleType name="AddressCoverageFlagType">
		
<xs:annotation>
			
<xs:documentation>Address Coverage Flag Indicates whether input address is within wireless coverage area.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	
<xs:simpleType name="AddressDatabaseMismatchFlagType">
		
<xs:annotation>
			
<xs:documentation>Address Database Mismatch Flag is a boolean indicator of whether an Address Database lookup failed or not.
true - the corresponding address was not found in the Address Database
false - the corresponding address was found in the Address Database</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	
<xs:simpleType name="CellTowerIdentifierType">
		
<xs:annotation>
			
<xs:documentation>Cell Tower Identifier is a unique way to distinguish one tower from another tower.  A Cell tower is where antennas and electronic communications equipment are placed to create a cell in a mobile phone network (cellular network). A cell tower is generally an elevated structure for mounting antennas, and one or more sets of transmitter/receivers transceivers, digital signal processors, control electronics, a GPS receiver for timing (for CDMA2000 or IS-95 systems), regular and backup electrical power sources, and sheltering. </xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	
<xs:simpleType name="CentralOfficeIdentifierType">
		
<xs:annotation>
			
<xs:documentation>Central Office Identifier designates an area served by a particular switch. It is typically known as a wire center in the US telecommunications industry.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	
<xs:simpleType name="CityNameType">
		
<xs:annotation>
			
<xs:documentation>City Name holds the textual string identifying a City.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="CountryCodeType">
		
<xs:annotation>
			
<xs:documentation>ISO 2 letter country code</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="DaysToLiveQuantityType">
		
<xs:annotation>
			
<xs:documentation>Days To Live Quantity specifies how long in days this message is relevant after the message timestamp. The calling application can time-out after 'timeToLive' days.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	
<xs:simpleType name="GeographicMarketIdentifierType">
		
<xs:annotation>
			
<xs:documentation>Geographic Market Identifier is used to define markets within the United States and is based on NPA/NXX to identify the market in which the subscriber is related to. </xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	
<xs:simpleType name="LatitudeFloatType">
		
<xs:annotation>
			
<xs:documentation>Latitude, usually denoted symbolically by the Greek letter phi, , gives the location of a place on Earth north or south of the equator. Lines of Latitude are the horizontal lines shown running east-to-west on maps. Technically, Latitude is an angular measurement in degrees (marked with °) ranging from 0° at the Equator (low latitude) to 90° at the poles (90° N for the North Pole or 90° S for the South Pole; high latitude). The complementary angle of a latitude is called the colatitude.

All locations of a given latitude are collectively referred to as a circle of latitude or line of latitude or parallel, because they are coplanar, and all such planes are parallel to the equator. Lines of latitude other than the Equator are approximately small circles on the surface of the Earth; they are not geodesics since the shortest route between two points at the same latitude involves moving farther away from, then towards, the equator (see great circle).

Sign in northern Vermont.A specific latitude may then be combined with a specific longitude to give a precise position on the Earth's surface (see satellite navigation system).

Besides the equator, four other lines of latitude are named because of the role they play in the geometrical relationship with the Earth and the Sun:

Arctic Circle — 66° 33′ 39″ N 
Tropic of Cancer — 23° 26′ 21″ N 
Tropic of Capricorn — 23° 26′ 21″ S 
Antarctic Circle — 66° 33′ 39″ S 
Cape of Good Hope-45º, 44' 64" S</xs:documentation>
			
<xs:documentation>Latitude Floating Point Number is expressed as a floating point number in the range -90.0000 to +90.0000, using decimal degrees (as opposed to minutes and seconds).  Positive values indicate locations north of and on the equator.  Negative values indicate locations south of the equator.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:float">
			
<xs:minInclusive value="-90.0000"/>
			
<xs:maxInclusive value="90.0000"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="LongitudeFloatType">
		
<xs:annotation>
			
<xs:documentation>Longitude is the east-west geographic coordinate measurement most commonly utilized in cartography and global navigation.

Longitude describes the location of a place on Earth east or west of a north-south line called the Prime Meridian. Longitude is given as an angular measurement ranging from 0° at the Prime Meridian to +180° eastward and −180° westward. Unlike latitude, which has the equator as a natural starting position, there is no natural starting position for longitude. Therefore, a reference meridian had to be chosen. While British cartographers had long used the Greenwich meridian in London, other references were used elsewhere, including: El Hierro, Rome, Copenhagen, Jerusalem, Saint Petersburg, Pisa, Paris, Philadelphia and Washington. In 1884, the International Meridian Conference adopted the Greenwich meridian as the universal prime meridian or zero point of longitude. Each degree of longitude is further sub-divided into 60 minutes, each of which divided into 60 seconds. A longitude is thus specified in sexagesimal notation as 23° 27′ 30" E. For higher precision, the seconds are specified with a decimal fraction. An alternative representation uses degrees and minutes, where parts of a minute are expressed in decimal notation with a fraction, thus: 23° 27.500′ E. Degrees may also be expressed as a decimal fraction: 23.45833° E. For calculations, the angular measure usually must be converted to radians, so longitude may also be expressed in this manner as a signed fraction of π (pi), or an unsigned fraction of 2π.

For calculations, the West/East suffix is replaced by a negative sign in the western hemisphere. Confusingly, the convention of negative for East is also sometimes seen. The preferred convention -- that East be positive -- is consistent with a right-handed Cartesian coordinate system with the North Pole up. A specific longitude may then be combined with a specific latitude (usually positive in the northern hemisphere) to give a precise position on the Earth's surface.

As opposed to a degree of latitude, which is always around sixty nautical miles or about 111 km (69 Mile#Statute_miless, each of 5280 feet) (exactly 111.1334 - 0.5594 cos (2φ) + 0.0012 cos (4φ) [3]), a degree of longitude varies from 0 to 111 km: it is 111 km times the cosine of the latitude, when the distance is laid out on a circle of constant latitude. More precisely, one degree of longitude = (111.320 + 0.373sin²φ)cosφ km, where φ is latitude).[4]

Longitude at a point may be determined by calculating the time difference between that at its location and Coordinated Universal Time (UTC). Since there are 24 hours in a day and 360 degrees in a circle, the sun moves across the sky at a rate of 15 degrees per hour (360°/24 hours = 15° per hour). So if the time zone a person is in is three hours ahead of UTC then that person is near 45° longitude (3 hours × 15° per hour = 45°). The word near was used because the point might not be at the center of the time zone; also the time zones are defined politically, so their centers and boundaries often do not lie on meridians at multiples of 15°. In order to perform this calculation, however, a person needs to have a chronometer (watch) set to UTC and needs to determine local time by solar observation or astronomical observation. The details are more complex than described here: see the articles on Universal Time and on the Equation of time for more details.

A line of constant longitude is a meridian, and half of a great circle.</xs:documentation>
			
<xs:documentation>Longitude Number is expressed as a floating point number in the range -180.0000 to +180.0000, using decimal degrees (as opposed to minutes and seconds).  Positive values indicate locations east of and on the prime meridian (Greenwich).  Negative values indicate locations west of the prime meridian.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:float">
			
<xs:minInclusive value="-180.0000"/>
			
<xs:maxInclusive value="180.0000"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="PostalAddressLine1Type">
		
<xs:annotation>
			
<xs:documentation>Postal Address Line 2  is the second instance of the Postal Address Line is used in the creation of the Postal Address label. The Postal Address label is usually composed of three lines; 1. addresses, 2. street number and street name, 3. City, State, and Zipcode. In the case where PO Box is used the recipient may choose to insert their physical (aka street) address as line two, expanding the complete address to four lines. Providing both allows a sender to ship via the USPS or via a private carrier. </xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="PostalAddressLine2Type">
		
<xs:annotation>
			
<xs:documentation>Postal Address Line 2  is the second instance of the Postal Address Line is used in the creation of the Postal Address label. The Postal Address label is usually composed of three lines; 1. addresses, 2. street number and street name, 3. City, State, and Zipcode. In the case where PO Box is used the recipient may choose to insert their physical (aka street) address as line two, expanding the complete address to four lines. Providing both allows a sender to ship via the USPS or via a private carrier. </xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="SectorIdentifierType">
		
<xs:annotation>
			
<xs:documentation>Sector Identifier is the representation of the Sector of the cell site used for the originating or terminating mobile based calls. </xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	
<xs:simpleType name="UncertaintyRadiusMetersType">
		
<xs:annotation>
			
<xs:documentation>Uncertainty Radius Meters is a raidal measurement in meters that indicates the certainty of a hotspot location.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	
<xs:simpleType name="UspsPostalCodeType">
		
<xs:annotation>
			
<xs:documentation>USPS Postal Code contains the first 5 characters of the nine digit USPS Postal Code.</xs:documentation>
			
<xs:documentation>USPS Postal Code contains the first 5 characters of the nine digit USPS Postal Code.</xs:documentation>
			
<xs:documentation>alias: Ensemble: ADDR_DATA.ADR_ZIP</xs:documentation>
			
<xs:documentation>Ensemble: ADDR_DATA.ADR_ZIP

The first 5 characters or digits of the address zip code.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="5"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="UspsStateAbbreviationType">
		
<xs:annotation>
			
<xs:documentation>United States Postal Service (USPS) State Abbreviation Code is the set of characters that are selected from a State or Protectorate name and specified by the USPS to represent the name of a State or US Protectorate for the purpose of mail delivery.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="VaildAddressFlagType">
		
<xs:annotation>
			
<xs:documentation>Valid Address Flag is a boolean indicator of whether the associated address is valid.
Valid Values:
true - the associated address is valid
false - the associated address is NOT valid</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	
<!---->
</xs:schema>