eai-sync/src/main/resources/search-v2.1.wsdl

<?xml version="1.0" encoding="windows-1252" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://ws.drutt.com/msdp/media/search/v2" xmlns:tns="http://ws.drutt.com/msdp/media/search/v2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="search">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://ws.drutt.com/msdp/media/search/v2" schemaLocation="search-v2.1.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="searchAssetsRequest">
    <wsdl:part element="tns:searchAssetsRequest" name="searchAssetsRequest"/>
  </wsdl:message>
  <wsdl:message name="searchAssetsResponse">
    <wsdl:part element="tns:searchAssetsResponse" name="searchAssetsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAssetsByTicketIdRequest">
    <wsdl:part element="tns:getAssetsByTicketIdRequest" name="getAssetsByTicketIdRequest"/>
  </wsdl:message>
  <wsdl:message name="getAssetsByTicketIdResponse">
    <wsdl:part element="tns:getAssetsByTicketIdResponse" name="getAssetsByTicketIdResponse"/>
  </wsdl:message>
  <wsdl:message name="WSException">
    <wsdl:part name="WSException" element="tns:WSException"/>
  </wsdl:message>

  <wsdl:portType name="IndexerSearchApi">
    <wsdl:operation name="searchAssets">
      <wsdl:input message="tns:searchAssetsRequest"/>
      <wsdl:output message="tns:searchAssetsResponse"/>
      <wsdl:fault name="WSException" message="tns:WSException"/>
    </wsdl:operation>
    <wsdl:operation name="getAssetsByTicketId">
      <wsdl:input message="tns:getAssetsByTicketIdRequest"/>
      <wsdl:output message="tns:getAssetsByTicketIdResponse"/>
      <wsdl:fault name="WSException" message="tns:WSException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IndexerSearchBinding" type="tns:IndexerSearchApi">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="searchAssets">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WSException">
        <soap:fault name="WSException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAssetsByTicketId">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WSException">
        <soap:fault name="WSException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="IndexerSearchService">
    <wsdl:port binding="tns:IndexerSearchBinding" name="IndexerSearchApi">
      <soap:address location="http://144.229.209.145:8088/indexer/service/search/v2"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>