design/adapters/OfferManagementProxyService/src/main/resources/OfferManagementService.xsd2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://integration.sprint.com/interfaces/queryTargetedOffers/v1/queryTargetedOffers.xsd" targetNamespace="http://integration.sprint.com/interfaces/queryTargetedOffers/v1/queryTargetedOffers.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	
<!--Date                      Author                 Version                 Change                                                                                                                          Rel                  SR# -->
	
<!--03/01/2011       Steve Whipple            1.0                  Initial Version                                                                                                                  GBL11.3          PJ005472    -->
	
<!--03/22/2011       Steve Heichelheim      1.0                Applied MVM standards and simple types                                                                     GBL11.3          PJ005472    -->
	
<xs:element name="queryTargetedOffers" type="tns:QueryTargetedOffersType"/>
	
<xs:element name="queryTargetedOffersResponse" type="tns:QueryTargetedOffersResponseType"/>
	
<xs:complexType name="QueryTargetedOffersType">
		
<xs:sequence>
			
<xs:element name="info" type="tns:SearchCriteraType">
				
<xs:annotation>
					
<xs:documentation>search criteria structure</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="workGroup" type="tns:WorkgroupIdentifierType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Application specific grouping of users.  Used to identify which offers are available for different groups of users based on offer setup.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="subWorkGroup" type="tns:WorkgroupSubgroupIdentifierType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Application specific subset of workgroups.  Used to identify which offers are available for different groups of users based on offer setup.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="maximumOffers" type="tns:RowCountNumberType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Used to limit the number of offers that will be included in response.  Controled by the requesting application.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="QueryTargetedOffersResponseType">
		
<xs:sequence>
			
<xs:element name="ban" type="tns:BillingAccountNumberType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>billing account number - will not be returned for subscriber level request</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="targetedOfferList" type="tns:TargetedOfferListType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>list of targeted offers will not be returned for a BAN level request if there are no offers for the BAN.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="CollateralInfoType">
		
<xs:sequence>
			
<xs:element name="collateral" type="tns:MarketingMaterialsDescriptionType">
				
<xs:annotation>
					
<xs:documentation>Populated based on collateral that has been setup in sView, and then selected as part of the offer setup.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="MandatoryCollateralListType">
		
<xs:sequence>
			
<xs:element name="mandatoryCollateralInfo" type="tns:CollateralInfoType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="OfferDetailInfoType">
		
<xs:sequence>
			
<xs:element name="programId" type="tns:ProgramIdentifierType">
				
<xs:annotation>
					
<xs:documentation>Unique identifier assign to each program when they are created in Siebel.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="programPriority" type="tns:PriorityLevelType">
				
<xs:annotation>
					
<xs:documentation>Unique numeric value that the business assigns to each program.  Identifies the importance of the program compared to all other programs. The lower the number the higher the importance.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="programOrderCode" type="tns:DisplayOrderSequenceNumberType">
				
<xs:annotation>
					
<xs:documentation>Used to tell the frontend application what order the offers should be displayed in. 1 to 99, 1 being first.  If the two are the same then alphanumeric.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="offerType" type="tns:OfferTypeCodeType">
				
<xs:annotation>
					
<xs:documentation>Identifies whether the program is Service Solutions, Targeted, General, or Retention X|T|G|R</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="program" type="tns:ProgramNameType">
				
<xs:annotation>
					
<xs:documentation>The name assign to a program when it is created in Siebel</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="campaignId" type="tns:CampaignIdentifierType">
				
<xs:annotation>
					
<xs:documentation>Unique identifier assign to each campaign when they are created in Siebel.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="campaignOrderCode" type="tns:DisplayOrderSequenceNumberType">
				
<xs:annotation>
					
<xs:documentation>Used to tell the frontend application what order the campaigns should be displayed in. 1 to 99, 1 being first.  If the two are the same then alphanumeric.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="campaignName" type="tns:CampaignNameType">
				
<xs:annotation>
					
<xs:documentation>Campaign description provided at the time the campaign is created in Siebel</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="campaignStartDate" type="tns:StartDateType">
				
<xs:annotation>
					
<xs:documentation>Date the campaign starts</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="campaignEndDate" type="tns:EndDateType">
				
<xs:annotation>
					
<xs:documentation>Date the campaign will no longer be avaialble</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="declineReasonSet" type="tns:MessageTextType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Used by the business to group dispositions and reasons.  They can then be assigned to specific campaigns to identify to the frontend application which dispositions and reason should be available to the agent.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="outboundCampaign" type="tns:BinaryExpressionType">
				
<xs:annotation>
					
<xs:documentation>Identifies if the campaign is an outbound campaign.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="offerId" type="tns:OfferIdentifierType">
				
<xs:annotation>
					
<xs:documentation>Unique identifier assign to each offer when they are created in Siebel.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="offerPriority" type="tns:PriorityLevelType">
				
<xs:annotation>
					
<xs:documentation>Unique numeric value that the business assigns to each offer.  Identifies the importance of the offer compared to all other offers. The lower the number the higher the importance.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="offerOrderCode" type="tns:DisplayOrderSequenceNumberType">
				
<xs:annotation>
					
<xs:documentation>Used to tell the frontend application what order the offers should be displayed in. 1 to 99, 1 being first.  If the two are the same then alphanumeric.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="offerDescription" type="tns:OfferDescriptionType">
				
<xs:annotation>
					
<xs:documentation>Detail description of the offer</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="offerName" type="tns:OfferShortDescriptionType">
				
<xs:annotation>
					
<xs:documentation>Detail description of the offer</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="offerCategory" type="tns:OfferCategoryCodeType">
				
<xs:annotation>
					
<xs:documentation>Allows the business to group offers into different categories.  Defined by the business in Siebel.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="offerCode" type="tns:OfferCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Free Text field.  Currently used by the dialer process.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="socCode" type="tns:ServiceOrderCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Populated based on API Offer Type as SOC and API Offer Code being populated.  Used by iCare</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="offerMandatory" type="tns:BinaryExpressionType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Identifies that the offer must be disposition before any other offer assigned to the campaign can be presented.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="level" type="tns:OfferLevelCodeType">
				
<xs:annotation>
					
<xs:documentation>Identifies if the offer is BAN or Subscriber Level.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="networkIndicator" type="tns:NetworkTypeCodeType">
				
<xs:annotation>
					
<xs:documentation>Identifies which network(s) the offer can be presented iDEN|CDMA|Both</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="offerValue" type="tns:TotalAmountType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Numeric field used to tell the agent the value of the offer for compensation</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="onlineTreatment" type="tns:TreatmentCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Information needed by the web to identify the flow used for the offer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="autoProvisioningInd" type="tns:BinaryExpressionType">
				
<xs:annotation>
					
<xs:documentation>Identifies if the offer will be provision systematically or manually by the agent.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="provisioningTreatmentDesc" type="tns:TreatmentDescriptionType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Detail regarding the provisioning of the offer if accepted.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="offerOneType" type="tns:OfferProvisioningTypeCode" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Auto-provision option.  Used to identify the request that will be used to provision the offer in the billing system or what information needs to be passed to the requesting application for provisioning.  Accessory|Adjustment|Discount|EQDiscount|PricePlan|SOC</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="offerOneCode" type="tns:OfferCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Code that needs to be applied by Siebel or the requesting application if the offer is accepted.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="offerOneDuration" type="tns:OfferDurationType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Used to determine the end date sent with the provision request for a Discount or SOC that will be applied in the billing system. In month(s).</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="offerTwoType" type="tns:OfferProvisioningTypeCode" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Same as Offer1_ but use by the business as a motivator to provide more favor to the offer for customers that response in a specific time frame. Accessory|Adjustment|Discount|EQDiscount|PricePlan|SOC</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="offerTwoCode" type="tns:OfferCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Code that needs to be applied by Siebel or the requesting application if the offer is accepted.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="offerTwoDuration" type="tns:OfferDurationType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Used to determine the end date sent with the provision request for a Discount or SOC that will be applied in the billing system. In month(s).</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="contractLength" type="tns:NumberOfContractMonthsType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Identifies the length of the new contract if the offer is accepted</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="discountPercentage" type="tns:DiscountPercentType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Percentage that will be taken off the purchase prices of the model or accessory if the offer is accepted</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="flatRate" type="tns:DiscountAmountType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Dollar value that will be removed from the purchase price of a model or accessory if the offer is accepted.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="stackArm" type="tns:BinaryExpressionType">
				
<xs:annotation>
					
<xs:documentation>Identifies if the offer can be accepted in conjunction with an ARM</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="talkingPointOne" type="tns:OfferTalkingPointTextType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Additional information for the offer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="talkingPointTwo" type="tns:OfferTalkingPointTextType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Additional information for the offer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="talkingPointThree" type="tns:OfferTalkingPointTextType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Additional information for the offer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="talkingPointFour" type="tns:OfferTalkingPointTextType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Additional information for the offer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="talkingPointFive" type="tns:OfferTalkingPointTextType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Additional information for the offer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="keyDetailOne" type="tns:OfferAdditionalDescriptionType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Additional information for the offer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="keyDetailTwo" type="tns:OfferAdditionalDescriptionType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Additional information for the offer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="registrationCode" type="tns:PartyIdentifierType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Unique numeric value assigned to a lead when it is loaded to Siebel.  Typically used by the business for mailer campaigns as an identifier for the mail piece.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="targetedEligibleCount" type="tns:SubscriberCountType">
				
<xs:annotation>
					
<xs:documentation>Count of eligible subscribers for the specific BAN/campaign/offer combination</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="mandatoryCollateralList" type="tns:MandatoryCollateralListType" minOccurs="0"/>
			
<xs:element name="optionalCollateralList" type="tns:OptionalCollateralListType" minOccurs="0"/>
			
<xs:element name="skuList" type="tns:SkuListType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="OfferDetailListType">
		
<xs:sequence>
			
<xs:element name="offerDetailInfo" type="tns:OfferDetailInfoType" maxOccurs="unbounded">
				
<xs:annotation>
					
<xs:documentation>offer detail structure</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="OptionalCollateralListType">
		
<xs:sequence>
			
<xs:element name="optionalCollateralInfo" type="tns:CollateralInfoType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="SearchCriteraType">
		
<xs:choice>
			
<xs:element name="ban" type="tns:BillingAccountNumberType">
				
<xs:annotation>
					
<xs:documentation>billing account number</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="subscriberList" type="tns:SubscriberListType">
				
<xs:annotation>
					
<xs:documentation>list of subscribers</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	
<xs:complexType name="SkuInfoType">
		
<xs:sequence>
			
<xs:element name="skuId" type="tns:StockKeepingUnitType">
				
<xs:annotation>
					
<xs:documentation>Unique ID assigned to models and accessory for inventory.  Identifies which models or accessories the offer can be accepted and applied with.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="SkuListType">
		
<xs:sequence>
			
<xs:element name="skuInfo" type="tns:SkuInfoType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="SubscriberInfoType">
		
<xs:sequence>
			
<xs:element name="subscriberId" type="tns:SubscriptionIdentifierType">
				
<xs:annotation>
					
<xs:documentation>Customer unique identifier assigned to each subscriber on an account</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="SubscriberListType">
		
<xs:sequence>
			
<xs:element name="subscriberInfo" type="tns:SubscriberInfoType" maxOccurs="5"/>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="TargetedOfferInfoType">
		
<xs:sequence>
			
<xs:element name="subscriberId" type="tns:SubscriptionIdentifierType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Customer unique identifier assigned to each subscriber on an account</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="offerDetailList" type="tns:OfferDetailListType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>list of offer details</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="TargetedOfferListType">
		
<xs:sequence>
			
<xs:element name="targetedOfferInfo" type="tns:TargetedOfferInfoType" maxOccurs="5">
				
<xs:annotation>
					
<xs:documentation>targeted offer detail structure</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<!---->
	
<!--MVM/Shared Simple Types-->
	
<xs:simpleType name="BillingAccountNumberType">
		
<xs:annotation>
			
<xs:documentation>Billing Account Number uniquely identifies an instance of Billing Account used to accrue charges for invoicing.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:int">
			
<xs:totalDigits value="9"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="BinaryExpressionType">
		
<xs:annotation>
			
<xs:documentation>Binary Expression is a type of an expression with two possible states,"true"and"false".</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	
<xs:simpleType name="DiscountAmountType">
		
<xs:annotation>
			
<xs:documentation>Discount Amount holds the monetary amount by which the the price charged for a GOOD or SERVICE is decreased.  A percent decrease in the price charged may only be applicable to specific Account Types, Promotions, Products, etc.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:int">
			
<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="DiscountPercentType">
		
<xs:annotation>
			
<xs:documentation>Discount Percent is the percentage (between 0 and 100 percent) by which the the price charged for a GOOD or SERVICE is decreased.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:int">
			
<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="DisplayOrderSequenceNumberType">
		
<xs:annotation>
			
<xs:documentation>Display Order Sequence Number designates the order in which the record will be displayed relative to the other records in the set of records.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:int">
			
<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="EndDateType">
		
<xs:annotation>
			
<xs:documentation>End Date holds the calendar date of the cessation of a course of action, pursuit, or activity.

Elements declared to be of type date must follow this form:  
CCYY-MM-DD
range for CC is: 00-99
range for YY is: 00-99
range for MM is: 01-12
range for DD is: 
01-28 if month is 2
01-29 if month is 2 and the gYear is a leap gYear
01-30 if month is 4, 6, 9, or 11
01-31 if month is 1, 3, 5, 7, 8, 10, or 12

Example: 1999-05-31 represents May 31, 1999</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:date"/>
	</xs:simpleType>
	
<xs:simpleType name="MessageTextType">
		
<xs:annotation>
			
<xs:documentation> Message Text represents a natural language communication of information</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="NetworkTypeCodeType">
		
<xs:annotation>
			
<xs:documentation>The network type code identifies which network the subscriber is associated to.
Possible values:
C - CDMA
I - IDEN</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="4"/>
			
<xs:enumeration value="iDEN"/>
			
<xs:enumeration value="CDMA"/>
			
<xs:enumeration value="Both"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="NumberOfContractMonthsType">
		
<xs:annotation>
			
<xs:documentation>Number Of Contract Months is the number of months the Customer must commit to to receive Rate plans, Rebates, Discount, etc. under a contract.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:unsignedByte">
			
<xs:maxInclusive value="24"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="OfferDescriptionType">
		
<xs:annotation>
			
<xs:documentation>Offer Description is a descripton of an offer.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="400"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="OfferIdentifierType">
		
<xs:annotation>
			
<xs:documentation>Offer Identifier designates a specific offer.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:int">
			
<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="OfferTypeCodeType">
		
<xs:annotation>
			
<xs:documentation>Offer Type Code designates a specific type of offer.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="1"/>
			
<xs:enumeration value="X"/>
			
<xs:enumeration value="T"/>
			
<xs:enumeration value="G"/>
			
<xs:enumeration value="R"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="PartyIdentifierType">
		
<xs:annotation>
			
<xs:documentation>Party Identifier contains a value that uniquely identifies an INDIVIDUAL or ORGANIZATION Sprint wishes to track for business reasons as a PARTY.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:int">
			
<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="ProgramIdentifierType">
		
<xs:annotation>
			
<xs:documentation>Program Identifier uiquely identifies a Program (such as a marketing program).</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:int">
			
<xs:totalDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="RowCountNumberType">
		
<xs:annotation>
			
<xs:documentation>Row Count Number is the total number of rows returned or transmitted.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:int">
			
<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="ServiceOrderCodeType">
		
<xs:annotation>
			
<xs:documentation>Service Order Code designates a specific product or service.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="StartDateType">
		
<xs:annotation>
			
<xs:documentation>Start Date holds the calendar day an activity, undertaking or participation begins.</xs:documentation>
			
<xs:documentation>Case Start Date contains the calendar day the CASE began.  For example, in a Collection Case this would be the calendar day the Billing Account was put into Collections.

Elements declared to be of type date must follow this form:  
CCYY-MM-DD
range for CC is: 00-99
range for YY is: 00-99
range for MM is: 01-12
range for DD is: 
01-28 if month is 2
01-29 if month is 2 and the gYear is a leap gYear
01-30 if month is 4, 6, 9, or 11
01-31 if month is 1, 3, 5, 7, 8, 10, or 12

Example: 1999-05-31 represents May 31, 1999</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:date"/>
	</xs:simpleType>
	
<xs:simpleType name="StockKeepingUnitType">
		
<xs:annotation>
			
<xs:documentation>Stock Keeping Unit represents the Sprint Inventory Stock Keeping Unit (SKU).  Stock Keeping Unit identifies a group of PRODUCT instances.  It could identify a handset Model and Model Number, a Kit or an accessory. Previously length = 18.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="SubscriberCountType">
		
<xs:annotation>
			
<xs:documentation>Subscriber Count is the number of subscribers associated to the BAN.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:int">
			
<xs:totalDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="SubscriptionIdentifierType">
		
<xs:annotation>
			
<xs:documentation>Subscription Identifier uniquely identifies an instance of SUBSCRIPTION</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="20"/>
			
<xs:minLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="TotalAmountType">
		
<xs:annotation>
			
<xs:documentation>Total Amount is the sum of associated amounts.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:int">
			
<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="TreatmentCodeType">
		
<xs:annotation>
			
<xs:documentation>Treatment Code indicates the treatment type a call received, such as partial dial, busy or toll denied. The default value in both the CDR logs and the AMA hex dump is 000. This field is captured with a value other than 000, when an unanswered call is routed to a treatment. There are a limited number of treatment codes used by the DMS-MTX.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="TreatmentDescriptionType">
		
<xs:annotation>
			
<xs:documentation>Treatment Description is a common language description of the treatment type a call receive, such as partial dial, busy or toll denied.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	
<!---->
	
<!--New Simple Types-->
	
<xs:simpleType name="CampaignIdentifierType">
		
<xs:annotation>
			
<xs:documentation>Campaign Identifier uiquely identifies a campaign (such as a marketing campaign).</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:int">
			
<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="CampaignNameType">
		
<xs:annotation>
			
<xs:documentation>Campaign Name is a common name for a specific campaign (such as a marketing campaign).</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="MarketingMaterialsDescriptionType">
		
<xs:annotation>
			
<xs:documentation>Marketing Materials Description is a common language description of materials used for marketing such as posters, flyers, brochures...</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="OfferAdditionalDescriptionType">
		
<xs:annotation>
			
<xs:documentation>Offer Additional Description is additional descriptive information about an offer.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="50"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="OfferCategoryCodeType">
		
<xs:annotation>
			
<xs:documentation>Offer Category Code provides a mechanism to separate offers into separate categories.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="OfferCodeType">
		
<xs:annotation>
			
<xs:documentation>Offer Code designates a specific offer.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="OfferDurationType">
		
<xs:annotation>
			
<xs:documentation>Offer Duration is the duration of an offer in months.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:int">
			
<xs:maxInclusive value="24"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="OfferLevelCodeType">
		
<xs:annotation>
			
<xs:documentation>Offer Level Code indicates whether the offer is at at the BAN level or at the Subscriber Level.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="OfferProvisioningTypeCode">
		
<xs:annotation>
			
<xs:documentation>Offer Provisioning Type Code is used to identify the request that will be used to provision the offer in the billing system or what information need to be passed to the requesting application for provisioning.
Valid Values:
Accessory,
Adjustment,
Discount,
EQDiscount,
PricePlan,
SOC</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="10"/>
			
<xs:enumeration value="Accessory"/>
			
<xs:enumeration value="Adjustment"/>
			
<xs:enumeration value="Discount"/>
			
<xs:enumeration value="EQDiscount"/>
			
<xs:enumeration value="PricePlan"/>
			
<xs:enumeration value="SOC"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="OfferShortDescriptionType">
		
<xs:annotation>
			
<xs:documentation>Offer Short Description is a concise descripton of an offer.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="OfferTalkingPointTextType">
		
<xs:annotation>
			
<xs:documentation>Offer Talking Point Text contains a specific talking point related to an offer.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="100"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="ProgramNameType">
		
<xs:annotation>
			
<xs:documentation>Program Name is a common name for a specific Program (such as a marketing program).</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="PriorityLevelType">
		
<xs:annotation>
			
<xs:documentation>Priority Level is a unique number that a party assigns to each item in a list of items to designate the importance of each item compared to all other items in the list. The lower the number the higher the importance.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:int">
			
<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="WorkgroupIdentifierType">
		
<xs:annotation>
			
<xs:documentation>Workgroup Identifier uniquely identifies an application-specific group of users.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="WorkgroupSubgroupIdentifierType">
		
<xs:annotation>
			
<xs:documentation>Workgroup Subgroup Identifier uniquely identifies an application-specific subset of workgroups.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	
<!---->
</xs:schema>