design/adapters/QueryUsageProxyService/src/main/resources/QueryUsageService.xsd11.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:tns="http://integration.sprint.com/interfaces/queryPrepaidBalanceAndThresholdInfo/v1/queryPrepaidBalanceAndThresholdInfo.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://integration.sprint.com/interfaces/queryPrepaidBalanceAndThresholdInfo/v1/queryPrepaidBalanceAndThresholdInfo.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1">
	
<!-- Date              Author                             Version     	Change                   Rel                            SR# -->
	
<!--6/20/2012       Mitali Handoo                  Initial                     1.0                        GBL12.3         		 PJ007251-->
	
<!--11/07/2012  Steve Heichelheim        1.0   Added enumerations for ThrottlePolicyDescriptionType      GBL12.3   PJ007251-->
	
<!--09/18/2012  Priscilla Carvalho          1.1   Added a new attribute "total3G4GHotspotUsage" in dataUsageInfo response structure      GBL14.1   PJ008294-->
	
<xs:element name="queryPrepaidBalanceAndThresholdInfo" type="tns:QueryPrepaidBalanceAndThresholdInfoRequestType"/>
	
<xs:element name="queryPrepaidBalanceAndThresholdInfoResponse" type="tns:QueryPrepaidBalanceAndThresholdInfoResponseType"/>
	
<xs:complexType name="QueryPrepaidBalanceAndThresholdInfoRequestType">
		
<xs:sequence>
			
<xs:element name="subscriberInfo" type="tns:SearchCriteriaType">
				
<xs:annotation>
					
<xs:documentation>Subscriber Info</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="applicationCallingInfo" type="tns:ApplicationCallingInfoType">
				
<xs:annotation>
					
<xs:documentation>This structure contains calling application information</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="fetchThresholdInfoInd" type="tns:BinaryExpressionType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>This indicates if calling application wants the throttle threshold and usage volume information for the 

subscriber.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="fetchUsageInfoInd" type="tns:BinaryExpressionType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>This indicates if calling application wants the balance and usage bucket information for the 

subscriber.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="QueryPrepaidBalanceAndThresholdInfoResponseType">
		
<xs:sequence>
			
<xs:element name="accessId" type="tns:ApplicationIdentifierType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Calling application Id as sent in request.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="volumeThresholdApiInd" type="tns:YesNoIndicatorType">
				
<xs:annotation>
					
<xs:documentation>This indicates if the BCS API- queryVolumeThreshold response  are being returned or not.
Possible Value:
0 : If queryVolumeThreshold API call failed/timeout 
1: If queryVolumeThreshold API call is success. 
na: If calling application did not request queryVolumeThreshold API</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="accountBalanceApiInd" type="tns:YesNoIndicatorType">
				
<xs:annotation>
					
<xs:documentation>This indicates if the BCS API- queryAccountBalance response is being returned or not.
Possible Value:
0 : If queryAccountBalance API call failed/timeout 
1: If queryAccountBalance API call is success.
na: If calling application did not request queryAccountBalance API  </xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="volumeThresholdResponse" type="tns:VolumeThresholdInfoType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Volume Threshold Info</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="accountBalanceResponse" type="tns:AccountBalanceBucket" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Account Balance Info</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="AccountBalanceBucket">
		
<xs:sequence>
			
<xs:element name="messagingUsageInfo" type="tns:MessagingUsageInfoType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Messaging Usage Info</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="dataUsageInfo" type="tns:DataUsageInfoType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Data Usage Info</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="ApplicationCallingInfoType">
		
<xs:sequence>
			
<xs:element name="accessId" type="tns:ApplicationIdentifierType">
				
<xs:annotation>
					
<xs:documentation>Calling application Id</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="agentId" type="tns:UserIdentifierType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Calling application User Id </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="DataBalanceBucketInfoType">
		
<xs:sequence>
			
<xs:element name="bucketType" type="tns:BucketIdentifierType">
				
<xs:annotation>
					
<xs:documentation>A code indicating the type of balance that is stored in this bucket.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="balanceBucketName" type="tns:BucketNameType" nillable="true" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Name that has been configured for this bucket type .</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="balanceBucketDesc" type="tns:BucketDescriptionType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Bucket description that has been configured for this bucket type</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="serviceType" type="tns:BucketServiceTypeCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Identifies if the balance bucket refers to a Plan,  Addon, Bonus, Refund, Credit</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="startDate" type="tns:EffectiveFromDateType">
				
<xs:annotation>
					
<xs:documentation>The date that the balance becomes available for use. Expressed as UTC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="expiryDate" type="tns:ExpirationDateType">
				
<xs:annotation>
					
<xs:documentation>The date that the balance expires. Expressed as UTC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="remainingUnits" type="tns:UnitOfMeasureValueType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>The available balance.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="DataBalanceBucketListType">
		
<xs:sequence>
			
<xs:element name="dataBalanceBucketInfo" type="tns:DataBalanceBucketInfoType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="DataUsageInfoType">
		
<xs:sequence>
			
<xs:element name="total3GBalance" type="tns:RemainingUnitsType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Total 3G balance amount</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="total4GBalance" type="tns:RemainingUnitsType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Total 4G balance amount</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="total3G4GHotspotUsage" type="tns:UnitOfMeasureValueStringType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Total 3G and 4G Hotspot usage amounts</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="dataBalanceBucketList" type="tns:DataBalanceBucketListType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Contains data balance information</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="dataUsageBucketList" type="tns:DataUsageBucketListType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Contains data usage information</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="DataUsageBucketInfoType">
		
<xs:sequence>
			
<xs:element name="usageType" type="tns:BucketIdentifierType">
				
<xs:annotation>
					
<xs:documentation>A code indicating the type of usage counter that is stored in this bucket.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="usageBucketName" type="tns:BucketNameType" nillable="true" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Name that has been configured for this counter type .</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="usageBucketDesc" type="tns:BucketDescriptionType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Bucket description that has been configured for this usage/counter type</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="resetDate" type="tns:ExpirationDateType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>The date that the usage counter will be reset to zero. Expressed as UTC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="usedUnits" type="tns:UnitOfMeasureValueType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>The value of the counter.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="DataUsageBucketListType">
		
<xs:sequence>
			
<xs:element name="dataUsageBucketInfo" type="tns:DataUsageBucketInfoType" minOccurs="0" maxOccurs="unbounded">
				
<xs:annotation>
					
<xs:documentation>Account Usage Buckets</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="MessagingBalanceBucketInfoType">
		
<xs:sequence>
			
<xs:element name="bucketType" type="tns:BucketIdentifierType">
				
<xs:annotation>
					
<xs:documentation>A code indicating the type of balance that is stored in this bucket. Values: 20,30, 80, 90, 

100</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="balanceBucketName" type="tns:BucketNameType" nillable="true" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Name that has been configured for this bucket type .</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="balanceBucketDesc" type="tns:BucketDescriptionType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Bucket description that has been configured for this bucket type</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="serviceType" type="tns:BucketServiceTypeCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Identifies if the balance bucket refers to a Plan,  Addon, Bonus, Refund, Credit</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="startDate" type="tns:EffectiveFromDateType">
				
<xs:annotation>
					
<xs:documentation>The date that the balance becomes available for use. Expressed as UTC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="expiryDate" type="tns:ExpirationDateType">
				
<xs:annotation>
					
<xs:documentation>The date that the balance expires. Expressed as UTC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="remainingUnits" type="tns:UnitOfMeasureValueType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>The available balance.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="MessagingBalanceBucketListType">
		
<xs:sequence>
			
<xs:element name="messagingBalanceBucketInfo" type="tns:MessagingBalanceBucketInfoType" minOccurs="0" maxOccurs="unbounded">
				
<xs:annotation>
					
<xs:documentation>Messaging Balance Bucket Info</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="MessagingUsageBucketInfoType">
		
<xs:sequence>
			
<xs:element name="usageType" type="tns:BucketIdentifierType">
				
<xs:annotation>
					
<xs:documentation>A code indicating the type of usage counter that is stored in this bucket. values: 121, 

122</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="usageBucketName" type="tns:BucketNameType" nillable="true" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Name that has been configured for this counter type .</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="usageBucketDesc" type="tns:BucketDescriptionType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Bucket description that has been configured for this usage/counter type</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="resetDate" type="tns:ExpirationDateType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>The date that the usage counter will be reset to zero. Expressed as UTC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="usedUnits" type="tns:UnitOfMeasureValueType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>The value of the counter.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="MessagingUsageBucketListType">
		
<xs:sequence>
			
<xs:element name="messagingUsageBucketInfo" type="tns:MessagingUsageBucketInfoType" minOccurs="0" maxOccurs="unbounded">
				
<xs:annotation>
					
<xs:documentation>Messaging Usage Bucket Info</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="MessagingUsageInfoType">
		
<xs:sequence>
			
<xs:element name="totalMessagingBalance" type="tns:RemainingUnitsType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Sum total of  balance of all SMS and MMS bucket types</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="messagingBalanceBucketList" type="tns:MessagingBalanceBucketListType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Contains SMS and MMS balance information</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="totalMessagingUsage" type="tns:MessageCountType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Sum total of  usage of all SMS and MMS usage/counter  types</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="messagingUsageBucketList" type="tns:MessagingUsageBucketListType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Contains SMS and MMS usage information</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="SearchCriteriaType">
		
<xs:choice>
			
<xs:element name="subscriberId" type="tns:SubscriptionIdentifierType">
				
<xs:annotation>
					
<xs:documentation>Subscription Identifier uniquely identifies an instance of SUBSCRIPTION</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="mdn" type="tns:MobileDirectoryNumberStringType">
				
<xs:annotation>
					
<xs:documentation>'Mobile Directory Number (MDN) is the actual phone number one would dial to reach a specific mobile phone.
Prior to Wireless Number Portability, MDN was the same number as the Mobile Identification Number (MIN) for many mobile phones. But now that MDNs can be ported (moved) 

to other carriers, MDN and MIN will be different for ported numbers.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="equipmentId" type="tns:EquipmentSerialNumberStringType">
				
<xs:annotation>
					
<xs:documentation>Equipment Serial Number holds the identifier used by the device to communicate (broadcast) its identity to 

the wireless mobile network.  
Network Device Identifier will contain one of the following:
Electronic Serial Number (ESN);
Mobile Equipment IDentifier (MEID);
International Mobile Equipment Identfier (IMEI);
Subscriber Identify Module (SIM).</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="ufmi" type="tns:UrbanFleetMemberIdentifierStringType">
				
<xs:annotation>
					
<xs:documentation>Urban Fleet Member Identifier (UFMI) is the combinaiton of the Urban Area Id, Fleet Id, and Member Id representing an address in a format recognized within iDEN Push-To-Talk (PTT) or Direct Connect. For example, a UFMI number of 500•600•700, translates to 500 is the Urban Area ID, 600 is the Fleet, and 700 is the Member.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="ipAddress" type="tns:InternetProtocolAddressStringType">
				
<xs:annotation>
					
<xs:documentation>An Internet Protocol Address is the numerical address by which a location in the Internet is identified. 

Computers on the Internet use IP addresses to route traffic and establish connections among themselves.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="imsi" type="tns:InternationalMobileSubscriberIdentityStringType">
				
<xs:annotation>
					
<xs:documentation>International Mobile Subscriber Identity (IMSI) is a unique number associated with all GSM and Universal 

Mobile Telecommunications System (UMTS) network mobile phone users. It is stored in the Subscriber Identity Module (SIM) inside the phone and is sent by the phone to 

the network. It is also used to acquire other details of the mobile in the Home Location Register (HLR) or as locally copied in the Visitor Location Register. In order 

to avoid the subscriber being identified and tracked by eavesdroppers on the radio interface, the IMSI is sent as rarely as possible and a randomly generated TMSI is 

sent instead.
The IMSI is used in any mobile network that interconnects with other networks, in particular CDMA and EVDO networks as well as GSM nets. This number is provisioned in 

the phone directly or in the R-UIM card (a CDMA analogue equivalent to a SIM card in GSM)
An IMSI is usually 15 digits long, but can be shorter (for example MTN South Africa's IMSIs are 14 digits). The first 3 digits are the Mobile Country Code (MCC), and 

is followed by the Mobile Network Code (MNC), either 2 digits (European standard) or 3 digits (North American standard). The remaining digits are the Mobile Subscriber 

Identification Number (MSIN) within the network's customer base.
The IMSI conforms to the International Telecommunication Union (ITU) E.212 numbering standard</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="nai" type="tns:NetworkAccessIdentifierStringType">
				
<xs:annotation>
					
<xs:documentation>Network Access Identifier (NAI) is a standard way of identifying users who request access to a network. 

The standard syntax is"user@realm". </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	
<xs:complexType name="VolumeThresholdInfoType">
		
<xs:sequence>
			
<xs:element name="dataPlan" type="tns:ProductIdentifierType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Data Plan code</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="throttleThreshold" type="tns:ThresholdLimitQuantityType">
				
<xs:annotation>
					
<xs:documentation>Configured value of threshold for subscriber's plan</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="monitoredUsage" type="tns:UsageQuantityType">
				
<xs:annotation>
					
<xs:documentation>Current amount in usage bucket associated with plan-specific throttle threshold</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="throttlePolicyState" type="tns:ThrottlePolicyDescriptionType">
				
<xs:annotation>
					
<xs:documentation>Data plan threshold flag (in subscriber record).                  Values:
Unthrottled
Throttled </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<!---->
	
<!--MVM/Shared Simple Types-->
	
<xs:simpleType name="ApplicationIdentifierType">
		
<xs:annotation>
			
<xs:documentation>Application Identifier uniquely identifies an Application</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="BinaryExpressionType">
		
<xs:annotation>
			
<xs:documentation>Binary Expression is a type of an expression with two possible states,"true"and"false".</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	
<xs:simpleType name="BucketDescriptionType">
		
<xs:annotation>
			
<xs:documentation>Bucket Description is a common language description of a specific instance of a Bucket. </xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="BucketNameType">
		
<xs:annotation>
			
<xs:documentation>Bucket Name is a common language Name for a specific instance of a Bucket. </xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="BucketIdentifierType">
		
<xs:annotation>
			
<xs:documentation>Bucket Identifier uniquely identifes a specific instance of a Bucket. </xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:int"/>
	</xs:simpleType>
	
<xs:simpleType name="BucketServiceTypeCodeType">
		
<xs:annotation>
			
<xs:documentation>Bucket Service Type Code desgnates which type of service a bucket is related to.
Valid Values:
P - Plan, 
A - Addon,
B - Bonus,
R - Refund</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="EffectiveFromDateType">
		
<xs:annotation>
			
<xs:documentation>Effective From Date Type holds the first calendar day  a Role, preference, assignment, etc. the PARTY's preference went into 

effect.

Elements declared to be of type date must follow this form:  
CCYY-MM-DD
range for CC is: 00-99
range for YY is: 00-99
range for MM is: 01-12
range for DD is: 
01-28 if month is 2
01-29 if month is 2 and the gYear is a leap gYear
01-30 if month is 4, 6, 9, or 11
01-31 if month is 1, 3, 5, 7, 8, 10, or 12

Example: 1999-05-31 represents May 31, 1999</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:date"/>
	</xs:simpleType>
	
<xs:simpleType name="EquipmentSerialNumberStringType">
		
<xs:annotation>
			
<xs:documentation>Equipment Serial Number holds the identifier used by the device to communicate (broadcast) its identity to the wireless 

mobile network.  

Network Device Identifier will contain one of the following: 
Electronic Serial Number (ESN); 
Mobile Equipment IDentifier (MEID);
International Mobile Equipment Identfie (IMEI);
Subscriber Identify Module (SIM).</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:minLength value="8"/>
			
<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="ExpirationDateType">
		
<xs:annotation>
			
<xs:documentation>Expiration Date holds the last calendar Date an object, relationship, privilege, etc. is valid or in force.  After this date 

the object is no longervalid or in force.</xs:documentation>
			
<xs:documentation>Expiration Date holds the last calendar Date an object, relationship, privilege, etc. is valid or in force.  After this date 

the object is no longervalid or in force.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:date"/>
	</xs:simpleType>
	
<xs:simpleType name="InternationalMobileSubscriberIdentityStringType">
		
<xs:annotation>
			
<xs:documentation>International Mobile Subscriber Identity (IMSI) holds a unique identifier allocated to each mobile subscriber in a GSM and 

UMTS network. It consists of a MCC (Mobile Country Code), a MNC (Mobile Network Code) and a MSIN (Mobile Station Identification Number).</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="InternetProtocolAddressStringType">
		
<xs:annotation>
			
<xs:documentation>Electronic Address represents the character string of the electronic address.</xs:documentation>
			
<xs:documentation>An Internet Protocol Address is the numerical address by which a location in the Internet is identified. Computers on the 

Internet use IP addresses to route traffic and establish connections among themselves.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:minLength value="5"/>
			
<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="MessageCountType">
		
<xs:annotation>
			
<xs:documentation>Message Count is the number of associated messages.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="MobileDirectoryNumberStringType">
		
<xs:annotation>
			
<xs:documentation>The method of identifying telephone trunks in the public network of North America, called World Numbering Zone 1 by the ITU-

T. the Plan has 3 ways of identifying phone numbers in North America -- a 3-digit area code, a 3-digit exchange or central office code, and 4-digit subscriber 

code.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="10"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="NetworkAccessIdentifierStringType">
		
<xs:annotation>
			
<xs:documentation>Network Access Identifier holds the concatenation of the a user name and realm.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="ProductIdentifierType">
		
<xs:annotation>
			
<xs:documentation>Product Identifier is a code that uniquely idenfies and instance or group of items offered for sale to the 

Customer.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:int"/>
	</xs:simpleType>
	
<xs:simpleType name="RemainingUnitsType">
		
<xs:annotation>
			
<xs:documentation>Remaining Units the Included Units within a tier or plan that the subscriber has not yet used.   </xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="SubscriptionIdentifierType">
		
<xs:annotation>
			
<xs:documentation>Subscription Identifier Ensemble uniquely identifies an instance of SUBSCRIPTION in the Ensemble system.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:minLength value="8"/>
			
<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="ThresholdLimitQuantityType">
		
<xs:annotation>
			
<xs:documentation>Threshold Limit Quantity is a predetermined point that must be exceeded to begin producing a given effect or result or to 

elicit a response</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:float"/>
	</xs:simpleType>
	
<xs:simpleType name="ThrottlePolicyDescriptionType">
		
<xs:annotation>
			
<xs:documentation>Throttle Policy Description is the common language description of a throttle policy.
Valid Values:
Unthrottled,
Throttled
</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="50"/>
			
<xs:enumeration value="Unthrottled"/>
			
<xs:enumeration value="Throttled"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="UnitOfMeasureValueStringType">
		
<xs:annotation>
			
<xs:documentation>Unit Of Measure Value contains the numeric value of the actual item or instance as specified by the unit of measure code.  For example, if the unit of measure code contains 'Volume', then the unit of measure value would contain the value '16' that represents the volume of a specified item or instance, etc.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="UnitOfMeasureValueType">
		
<xs:annotation>
			
<xs:documentation>Unit Of Measure Value contains the numeric value of the actual item or instance as specified by the unit of measure code.  

For example, if the unit of measure code contains 'Volume', then the unit of measure value would contain the value '16' that represents the volume of a specified item 

or instance, etc.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:float"/>
	</xs:simpleType>
	
<xs:simpleType name="UrbanFleetMemberIdentifierStringType">
		
<xs:annotation>
			
<xs:documentation>Urban Fleet Member Identifier String contains the concatenation of the Urban Identifier,'*' Fleet Identifier, '*' and Member 

IDentifier used to identify the Direct Connect Subscriber in the iDen network. </xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="UsageQuantityType">
		
<xs:annotation>
			
<xs:documentation>Usage quantity is the number of units of Usage for a specific plan or bucket.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:float"/>
	</xs:simpleType>
	
<xs:simpleType name="UserIdentifierType">
		
<xs:annotation>
			
<xs:documentation>User Identifier represents an identifier of a PARTY used in logging into a computerized system.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="YesNoIndicatorType">
		
<xs:annotation>
			
<xs:documentation>DEPRECATE (Use Binary Expression) </xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="5"/>
			
<xs:enumeration value="0"/>
			
<xs:enumeration value="1"/>
			
<xs:enumeration value="na"/>
		</xs:restriction>
	</xs:simpleType>
	
<!---->
</xs:schema>