design/adapters/PrepaidAccountManagementProxyService/src/main/resources/manageAdvancedPayment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Sprint (SPRINT PCS) -->
<xs:schema xmlns:tns="http://integration.sprint.com/interfaces/manageAdvancedPayment/v1/manageAdvancedPayment.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://integration.sprint.com/interfaces/manageAdvancedPayment/v1/manageAdvancedPayment.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<!--Date	            Author             	          Version  Change description   	                                                                     Rel.	         SR#-->
	<!--05/17/2012        Adriana Fernandes                   1.0         Intial Version                                                                                     GBL12.3       PJ006805-->
	<!--06/28/2012    Steve Heichelheim          1.0         Added MVM Standards and simple types                                                    GBL12.3       PJ006805-->
	<xs:element name="manageAdvancedPayment" type="tns:ManageAdvancedPaymentRequestType"/>
	<xs:element name="manageAdvancedPaymentResponse" type="tns:ManageAdvancedPaymentResponseType"/>
	<xs:complexType name="ManageAdvancedPaymentRequestType">
		<xs:sequence>
			<xs:element name="actionInd" type="tns:TransactionTypeCodeType">
				<xs:annotation>
					<xs:documentation>A – establish advance payment
D – remove existing advance payment</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="subscriberInfo" type="tns:SearchCriteriaType">
				<xs:annotation>
					<xs:documentation>This structure provides the information needed to identify the subscriber to be updated.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ManageAdvancedPaymentResponseType">
		<xs:sequence>
			<xs:element name="message" type="tns:ConfirmMessageTextType">
				<xs:annotation>
					<xs:documentation>Message indicating transaction is completed successfully</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchCriteriaType">
		<xs:choice>
			<xs:element name="subscriberId" type="tns:SubscriberIdentifierType">
				<xs:annotation>
					<xs:documentation>Subscriber Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ptn" type="tns:MobileDirectoryNumberStringType">
				<xs:annotation>
					<xs:documentation>Phone number of the subscriber to be updated</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ufmi" type="tns:UrbanFleetMemberIdentifierStringType">
				<xs:annotation>
					<xs:documentation>Member ID (UrbanId*FleetId*MemberId) of the subscriber to be updated</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="equipmentId" type="tns:DeviceSerialNumberType">
				<xs:annotation>
					<xs:documentation>Equipment ID – IMEI / SIM card ID /MSN/ESN/MAC ID of the subscriber to be updated</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ipAddress" type="tns:InternetProtocolAddressStringType">
				<xs:annotation>
					<xs:documentation>IP address of the subscriber to be updated</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="imsi" type="tns:InternationalMobileSubscriberIdentityStringType">
				<xs:annotation>
					<xs:documentation>IMSI/MSID of the subscriber to be updated</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nai" type="tns:NetworkAccessIdentifierType">
				<xs:annotation>
					<xs:documentation>NAI address of the subscriber to be updated</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="additionalImsi" type="tns:InternationalMobileSubscriberIdentityStringType">
				<xs:annotation>
					<xs:documentation>Additional IMSI of the subscriber to be updated</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hppttId" type="tns:HighPerformancePushToTalkIdentifierStringType">
				<xs:annotation>
					<xs:documentation>The subscriber's HPPTT ID. The ID will be constructed from the username@domain field, where the username will be a PTN or a UFMI-based number.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<!---->
	<!--MVM/Shared Simple Types-->
	<xs:simpleType name="ConfirmMessageTextType">
		<xs:annotation>
			<xs:documentation>Confrim Message Text is a string with a confirmation message returned from the called API.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DeviceSerialNumberType">
		<xs:annotation>
			<xs:documentation>Device Serial Number is a unique number that is embedded electronically by the manufacturer into a wireless communication device that identifies that individual unit.</xs:documentation>
			<xs:documentation>Device Serial Number a unique number that is embedded electronically by the manufacturer into a wireless communication device that identifies that individual unit.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HighPerformancePushToTalkIdentifierStringType">
		<xs:annotation>
			<xs:documentation>High Performance Push To Talk Identifier (HPPTTID) is the identifier of a Subscription utilizing the QChat  Push-To-Talk techniology. HPPTTID is constructed in the username@domain URI format.  The username will be a MDN or UFMI based number.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InternationalMobileSubscriberIdentityStringType">
		<xs:annotation>
			<xs:documentation>International Mobile Subscriber Identity (IMSI) is a unique number associated with all GSM and Universal Mobile Telecommunications System (UMTS) network mobile phone users. It is stored in the Subscriber Identity Module (SIM) inside the phone and is sent by the phone to the network. It is also used to acquire other details of the mobile in the Home Location Register (HLR) or as locally copied in the Visitor Location Register. In order to avoid the subscriber being identified and tracked by eavesdroppers on the radio interface, the IMSI is sent as rarely as possible and a randomly generated TMSI is sent instead.

The IMSI is used in any mobile network that interconnects with other networks, in particular CDMA and EVDO networks as well as GSM nets. This number is provisioned in the phone directly or in the R-UIM card (a CDMA analogue equivalent to a SIM card in GSM)

An IMSI is usually 15 digits long, but can be shorter (for example MTN South Africa's IMSIs are 14 digits). The first 3 digits are the Mobile Country Code (MCC), and is followed by the Mobile Network Code (MNC), either 2 digits (European standard) or 3 digits (North American standard). The remaining digits are the Mobile Subscriber Identification Number (MSIN) within the network's customer base.

The IMSI conforms to the International Telecommunication Union (ITU) E.212 numbering standard.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InternetProtocolAddressStringType">
		<xs:annotation>
			<xs:documentation>Internet Protocol Address is the numerical address by which a location in the Internet is identified. Computers on the Internet use IP addresses to route traffic and establish connections among themselves.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MobileDirectoryNumberStringType">
		<xs:annotation>
			<xs:documentation>Mobile Directory Number (MDN) is the actual phone number one would dial to reach a specific mobile phone.



Prior to Wireless Number Portability, MDN was the same number as the Mobile Identification Number (MIN) for many mobile phones. But now that MDNs can be ported (moved) to other carriers, MDN and MIN will be different for ported numbers.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NetworkAccessIdentifierType">
		<xs:annotation>
			<xs:documentation>Network Access Identifier holds the concatenation of the a user name and domain.</xs:documentation>
			<xs:documentation>alias: URI</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
			<xs:pattern value=".+@.+\..+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SubscriberIdentifierType">
		<xs:annotation>
			<xs:documentation>Subscriber Identifier is a string that uniquely identifies a subscriber.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:minLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TransactionTypeCodeType">
		<xs:annotation>
			<xs:documentation>Transaction Type Code identifies the Create, Read, Update or Delete (CRUD) functionality of the transaction.</xs:documentation>
			<xs:documentation>Type Code differentiates the various  categories or subtypes of an Object.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UrbanFleetMemberIdentifierStringType">
		<xs:annotation>
			<xs:documentation>Urban Fleet Member Identifier String contains the concatenation of the Urban Identifier,'*' Fleet Identifier, '*' and Member IDentifier used to identify the Direct Connect Subscriber in the iDen network.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<!---->
</xs:schema>
