design/adapters/PrepaidAccountManagementProxyService/src/main/resources/reversibleRecharge.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp1 (http://www.altova.com) by LEE VAN AALSBURG (SPRINT) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://integration.sprint.com/interfaces/reversibleRecharge/v1/reversibleRecharge.xsd" targetNamespace="http://integration.sprint.com/interfaces/reversibleRecharge/v1/reversibleRecharge.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.3">
	<!-- Change Log 
       05/19/2009 - David Fultz - Update - SC #7689890 CS TKT: #000000 - v1.3
		- SimpleType, PcnName length changed from 9 to 50.
       02/12/2009 - David Fultz - Created - CS TKT: #308248 - v1.2
		- Most of the enumerations have been removed since they are controlled by reference	tables which would change dynamically based on the needs of the business. At any given point in time, the	reference tables must be the sysem-of-record for current value sets.
       12/19/2008 - David Fultz - Created - SD TKT: #7290299
		- Created as a subflow to queryBalanceAndCharges
			+ Added version attribute
			+ rplTimeStamp annotation: RPL Time Stamp > Replenishment Time Stamp
			+ radTimeStamp annotation: Rad Time Stamp > Replenishment Adapter Time Stamp 
-->
	<xsd:element name="reversibleRecharge" type="ReversibleRechargeRequest"/>
	<xsd:element name="reversibleRechargeResponse" type="ReversibleRechargeResponse"/>
	<xsd:complexType name="ReversibleRechargeRequest">
		<xsd:sequence>
			<xsd:element name="subscriberPrimaryResourceInfo" type="SubscriberPrimaryResourceInfo"/>
			<xsd:element name="channelInfo" type="ChannelInfo"/>
			<xsd:element name="reversibleRechargeMethodInfo" type="ReversibleRechargeMethodInfo"/>
			<xsd:element name="bucketIdentityInfo" type="BucketIdentityInfo" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReversibleRechargeResponse">
		<xsd:sequence>
			<xsd:element name="accumulationAmountsInfo" type="AccumulationAmountsInfo" minOccurs="0"/>
			<xsd:element name="rechargeAmountsInfo" type="RechargeAmountsInfo" minOccurs="0"/>
			<xsd:element name="rechargeBalanceExpirationInfo" type="RechargeBalanceExpirationInfo" minOccurs="0"/>
			<xsd:element name="rechargeBucketInfo" type="RechargeBucketInfo" minOccurs="0"/>
			<xsd:element name="rechargeDatesInfo" type="RechargeDatesInfo" minOccurs="0"/>
			<xsd:element name="rechargeIdentityInfo" type="RechargeIdentityInfo" minOccurs="0"/>
			<xsd:element name="rechargeLogInfo" type="RechargeLogInfo" minOccurs="0"/>
			<xsd:element name="rechargeStatusInfo" type="RechargeStatusInfo" minOccurs="0"/>
			<xsd:element name="rechargeSubscriberInfo" type="RechargeSubscriberInfo" minOccurs="0"/>
			<xsd:element name="rechargeTypeInfo" type="RechargeTypeInfo" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ChannelInfo">
		<xsd:sequence>
			<xsd:element name="referenceId" type="SalesChannelId">
				<xsd:annotation>
					<xsd:documentation>Sales Channel Identifier uniquely identifies a PARTY, internal to Sprint or external, that sells Sprint equipment and services.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="locationCode" type="LocationCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Location Code is used to indicate a type of Location.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="merchantId" type="MerchantIdentifier">
				<xsd:annotation>
					<xsd:documentation>Merchant Identifier holds a value the uniquely indenties an instance of a MERCHANT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="preauthorizationRequestId" type="PreauthorizationId" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Preauthorization Id uniquely identifies a specific instance of a Preauthorization.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="retailerId" type="RetailStoreIdentifier">
				<xsd:annotation>
					<xsd:documentation>Retail Store Identifer is the store ID passed from the retailer to inComm.  These are 4 to 6 characters in length sometimes padded with zeros.  Leading 0s should not be stripped off.

(Examples: 001859, 1165, 0649)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tspTransactionId" type="TransactionIdentifier">
				<xsd:annotation>
					<xsd:documentation>Transaction Identifier uniquely identifies a grouping of  records moving across an interface. In this instance, it is the TSP internal transaction ID.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReversibleRechargeMethodInfo">
		<xsd:sequence>
			<xsd:element name="paymentSourceId" type="PaymentSourceIdentifier" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Payment Source Identifier uniquely identifies the PARTY who submitted the Payment.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="paymentSourceType" type="PaymentSourceTypeCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Payment Source Type Code identifies the type of PARTY that submitted the Payment.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rechargeAmount" type="MonetaryAmountDouble">
				<xsd:annotation>
					<xsd:documentation>Recharge Amount is the monetary amount of this specific Recharge.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="currency" type="CurrencyCode">
				<xsd:annotation>
					<xsd:documentation>Currency Code is the ISO format of currency. Ex: USD - U.S. dollar.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rechargeDate" type="EventDateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Recharge Date is the calendar date on which the Recharge occurred.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="coverDebitInd" type="CoverDebitInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Cover Debit Indicator</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BucketIdentityInfo">
		<xsd:sequence>
			<xsd:element name="bucketId" type="BucketId" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Bucket Id uniquely identifes a specific instance of a Bucket.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SubscriberInfo">
		<xsd:choice>
			<xsd:element name="mdn" type="MobileDirectoryNumberString">
				<xsd:annotation>
					<xsd:documentation>North American Numbering Plan (NANP) Telecom Number, is the 10 digit telephone number comprised of the NPA Number, the NXX Number and the Phone Line Number</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="AccumulationAmountsInfo">
		<xsd:sequence>
			<xsd:element name="additionalBonusAmount" type="MonetaryAmountDouble" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Additional Bonus Amount is the monetary amount of the Additional Bonus.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="createChargeAmount" type="MonetaryAmountDouble" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Create Charge Amount is the monetary amount to Create the Charge.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="debitAmount" type="MonetaryAmountDouble" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Debit Amount is the monetary amount of the Debit.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="installmentAmount" type="MonetaryAmountDouble" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Installment Amount is the monetary  amount of the Installment.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="loanAmount" type="MonetaryAmountDouble" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Loan Amount is the monetary amount of the Loan.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="reduceAmount" type="MonetaryAmountDouble" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reduce Amount is the monetary amount of the Reduction.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="regularBonusAmount" type="MonetaryAmountDouble" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Regular Bonus Amount is the montetary amount of the regular bonus.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RechargeAmountsInfo">
		<xsd:sequence>
			<xsd:element name="inputAmount" type="MonetaryAmountDouble" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Input Amount is the montary amount of the Input.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="inputCurrency" type="CurrencyCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Currency Code is the ISO format of currency. Ex: USD - U.S. dollar.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="olcAmount" type="MonetaryAmountDouble" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>OLC Amount is the monetary amount of the OLC.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="olcBalance" type="MonetaryAmountDouble" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>OLC Balance is the monetary amount of the OLC Balance.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="olcNewBalance" type="MonetaryAmountDouble" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>OLC New Balance is the monetary amount of the new OLC Balance after the recharge occurs.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rechargeChannelAmount" type="MonetaryAmountDouble" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Recharge Channel Amount is the monetary amount of the Recharge Channel.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RechargeBalanceExpirationInfo">
		<xsd:sequence>
			<xsd:element name="balanceExpirationDateCalculated" type="ExpirationDateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Balance Exp Date Calculated contains the calendar date which has been calculated as the date when the Balance will expire.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rechargeNumberOfDays" type="QuantityInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Recharge Number of Days indicates the number of days that the Recharge will be valid.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RechargeBucketInfo">
		<xsd:sequence>
			<xsd:element name="balanceExpirationDate" type="ExpirationDateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Balance Expiration Date contains the calendar date on which this balance expires.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="billingAccountNumber" type="BillingAccountNbrEns" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Billing Account Number uniquely identifies an instance of Billing Account used to accrue charges for invoicing.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="billingArrangement" type="BillingArrangement" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Billing Arrangement</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="bucketId" type="BucketId" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Bucket ID identifies a unique instance of a Bucket.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="crmExternalId" type="CrmExternalId" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>CRM External ID</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="currency" type="CurrencyCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Currency Code is the ISO format of currency. Ex: USD - U.S. dollar.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="customerId" type="CustomerID" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Customer Identifier is a type of Party Identifier.  It uniquely identifies those PARTIES Sprint views as either a current purchaser of equipment and services or a potential purchaser of equipment and services.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="cancellationDate" type="EndDateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Cancellation Date holds the calendar date of the Recharge.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pcn" type="Pcn" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PCN</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pcnName" type="PcnName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PCN Name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RechargeDatesInfo">
		<xsd:sequence>
			<xsd:element name="logicalDate" type="EventDateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Logical Date</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="processDate" type="EventDateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Process Date</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rechargeReferenceDate" type="EventDateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Recharge Reference Date</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rechargeRequestDate" type="EventDateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Recharge Request Date</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RechargeIdentityInfo">
		<xsd:sequence>
			<xsd:element name="bucketKey" type="IdentifierShort" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Bucket Key</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="periodKey" type="IdentifierShort" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Period Key holds a value that uniquely identifies an instance of a Period.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rechargeId" type="RechargeId" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Recharge Id uniquely identifies this specific Recharge.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RechargeLogInfo">
		<xsd:sequence>
			<xsd:element name="cdMainId" type="CdMainId" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Channel Main ID</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="cdUniqueId" type="CdUniqueId" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Channel Unique ID holds a value which uniquely identifies a specific instance of a Channel.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="cdValues" type="CdValues" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Cd Values</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="clientTimeStamp" type="EventDateTimeLong" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Client Time Stamp</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="adjustmentComment" type="RemarkText" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Adjustment Comment contains textual information that relates to the Adjustment.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="csrId" type="CsrId" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>CSR ID uniquely identifies a specific Customer Service Representative.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="merchantId" type="MerchantIdentifier" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Merchant Identifier holds a value the uniquely indenties an instance of a MERCHANT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="paymentCardAcknowledgement" type="PaymentCardAcknowledgementCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>CC Acknowledgement  contains the Paymentech acknowledgement code from the offline credit card settlement response file.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="paymentCardAuthorizationNumber" type="PaymentCardAcknowledgementNumber" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Payment Card Acknnowledgment Number contains a unique authorization number generated by the Paymentech online credit card settlement system.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rechargeToSumInd" type="RechargeToSumIndicator" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Recharge to Summary Indicator</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="retailerId" type="RetailStoreIdentifier" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Retail Store Identifer is the store ID passed from the retailer to inComm.  These are 4 to 6 characters in length sometimes padded with zeros.  Leading 0s should not be stripped off.

(Examples: 001859, 1165, 0649)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tspTransactionId" type="TransactionIdentifier" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Transaction Identifier uniquely identifies a grouping of  records moving across an interface. In this instance it is the identifier assigned by the TSP application.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="alternateTransactionId" type="TransactionIdentifier" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Transaction Identifier uniquely identifies a grouping of  records moving across an interface. In this instance it is the identifier assigned by the VST.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="radTimeStamp" type="EventDateTimeLong" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Replenishment Adapter Time Stamp</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rmdMainId" type="RechargeMethodIdentifier" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Recharge Method Identifer identifies the Recharge Method.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rmdValues" type="RechargeMethodValues" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Recharge Method Values</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rplTimeStamp" type="EventDateTimeLong" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Replenishment Time Stamp</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="subscriberIdValues" type="SubIdValues" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Sub Id Values</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RechargeStatusInfo">
		<xsd:sequence>
			<xsd:element name="cancelRechargeType" type="CancelRechargeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Cancel Recharge Type identifies the type of Recharge. Valid values are:

'F' - Force
'R' - Request</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="channelDetailsCancelRefId" type="ChannelCancelReferenceId" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Channel Cancel Reference ID uniquely identifies an instance of a Channel details cancel.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="lastStatusUpdate" type="EventDateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Last Status Update contains the calendar date and time when the Status was last updated.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rechargeStatus" type="RechargeStatusCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Recharge Status Code identifies the current state of the recharge. Valid values are:

'V' - Valid
'C' - Cancelled
'S' - Suspend
'R' - Restored
'I' - Internal
'P' - Pending</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="releaseRechargeId" type="ReleaseRechargeIdentifier" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Release Recharge Identifer uniquely identifes an instance of a Release Recharge.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="releaseRechargeType" type="ReleaseRechargeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Release Recharge Type identifies the type of release recharge. Valid values are:

'N' - None
'M' - Main Recharge
'P' - Part of Recharge</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RechargeSubscriberInfo">
		<xsd:sequence>
			<xsd:element name="subscriberInfo" type="SubscriberInfo" minOccurs="0"/>
			<xsd:element name="subscriberBrand" type="SubscriberBrandIdentifier" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Subscriber Brand uniquely identifies an instance of Subscriber Brand.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="subscriberNumber" type="SubscriberNumber" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Subscriber Number</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RechargeTypeInfo">
		<xsd:sequence>
			<xsd:element name="channelCode" type="ChannelCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Channel Code. Valid values are:

VP
VB
VR
VI
VS
Ol
CS</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="methodCode" type="RechargeMethodCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Recharge Method Code identifies the method used for the Recharge. Valid values are:

VOT
VRA
VASP
VARC
VMRC
VLBE
PCRC</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="methodGroup" type="MethodGroupIdentifier" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Method Group Identifier uniquely identifes a grouping of Recharge Methods.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="methodType" type="RechargeMethodType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Recharge Method Type</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rechargeType" type="RechargeTypeCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Recharge Type identifes the type of Recharge being performed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="splitRechargeSequence" type="SequenceNumber" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Split Recharge Sequence is used to identify a specific portion of a Recharge when it is divided into multiple parts.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="AccountNumberInt">
		<xsd:restriction base="xsd:int"/>
	</xsd:simpleType>
	<xsd:simpleType name="BillingAccountNbrEns">
		<xsd:annotation>
			<xsd:documentation>Billing Account Number uniquely identifies an instance of Billing Account used to accrue charges for invoicing.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AccountNumberInt"/>
	</xsd:simpleType>
	<xsd:simpleType name="CustomerID">
		<xsd:annotation>
			<xsd:documentation>Customer Identifier is a type of Party Identifier.  It uniquely identifies those PARTIES Sprint views as either a current purchaser of equipment and services or a potential purchaser of equipment and services.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="IdentifierInteger"/>
	</xsd:simpleType>
	<xsd:simpleType name="EndDateTime">
		<xsd:annotation>
			<xsd:documentation>End Date holds the calendar date of the cessation of a course of action, pursuit, or activity.</xsd:documentation>
			<xsd:documentation>End Date holds the calendar date of the cessation of a course of action, pursuit, or activity.

Elements declared to be of type date must follow this form:  
CCYY-MM-DD
range for CC is: 00-99
range for YY is: 00-99
range for MM is: 01-12
range for DD is: 
01-28 if month is 2
01-29 if month is 2 and the gYear is a leap gYear
01-30 if month is 4, 6, 9, or 11
01-31 if month is 1, 3, 5, 7, 8, 10, or 12

Example: 1999-05-31 represents May 31, 1999</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="ExpirationDateTime">
		<xsd:annotation>
			<xsd:documentation>Expiration Date holds the last calendar Date an object, relationship, privilege, etc. is valid or in force.  After this date the object is no longervalid or in force.</xsd:documentation>
			<xsd:documentation>Expiration Date holds the last calendar Date an object, relationship, privilege, etc. is valid or in force.  After this date the object is no longervalid or in force.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="IdentifierInteger">
		<xsd:annotation>
			<xsd:documentation>Identifier holds a value that uniquely identifies an instance of an object within the context of a System, Database or a Model.</xsd:documentation>
			<xsd:documentation>Identifier Integer  holds an Integer value that uniquely identifies an instance of an object.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer"/>
	</xsd:simpleType>
	<xsd:simpleType name="IdentifierString">
		<xsd:annotation>
			<xsd:documentation>Identifier holds a value that uniquely identifies an instance of an object within the context of a System, Database or a Model.</xsd:documentation>
			<xsd:documentation>Identifier String  holds a String value that uniquely identifies an instance of an object.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="MerchantIdentifier">
		<xsd:annotation>
			<xsd:documentation>Merchant Identifier holds a value the uniquely indenties an instance of a MERCHANT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="IdentifierString">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MobileDirectoryNumberString">
		<xsd:annotation>
			<xsd:documentation>North American Numbering Plan (NANP) Telecom Number, is the 10 digit telephone number comprised of the NPA Number, the NXX Number and the Phone Line Number</xsd:documentation>
			<xsd:documentation>The method of identifying telephone trunks in the public network of North America, called World Numbering Zone 1 by the ITU-T. the Plan has 3 ways of identifying phone numbers in North America -- a 3-digit area code, a 3-digit exchange or central office code, and 4-digit subscriber code.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MonetaryAmountDouble">
		<xsd:restriction base="xsd:double"/>
	</xsd:simpleType>
	<xsd:simpleType name="NoteText">
		<xsd:annotation>
			<xsd:documentation>Text of the note.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PartyID">
		<xsd:annotation>
			<xsd:documentation>Party Identifier contains a value that uniquely identifies an INDIVIDUAL or ORGANIZATION Sprint wishes to track for business reasons as a PARTY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="QuantityInteger">
		<xsd:annotation>
			<xsd:documentation>Quantity represents a total amount or number.</xsd:documentation>
			<xsd:documentation>Quantity represents a total amount or number.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer"/>
	</xsd:simpleType>
	<xsd:simpleType name="RemarkText">
		<xsd:annotation>
			<xsd:documentation>Remark Text is a NOTE containing textual comment.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="NoteText">
			<xsd:maxLength value="250"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SalesChannelId">
		<xsd:annotation>
			<xsd:documentation>Sales Channel Identifier uniquely identifies a PARTY, internal to Sprint or external, that sells Sprint equipment and services.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PartyID">
			<xsd:maxLength value="45"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StatusCode">
		<xsd:annotation>
			<xsd:documentation>Status Code</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="SubscriptionIdentifier">
		<xsd:annotation>
			<xsd:documentation>Subscription Identifier uniquely identifies a specific instance of a SUBSCRIBER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SubscriptionIdentifierEns">
		<xsd:annotation>
			<xsd:documentation> Subscription Identifier Ensemble uniquely identifes a specific instance of a SUBSCRIBER within the Ensemble system.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SubscriptionIdentifier">
			<xsd:maxLength value="20"/>
			<xsd:minLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TransactionIdentifier">
		<xsd:annotation>
			<xsd:documentation>Transaction Identifier uniquely identifies a grouping of  records moving across an interface.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypeCode">
		<xsd:annotation>
			<xsd:documentation>Type Code differentiates the various  categories or subtypes of an Object.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="YNIndicator">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Y"/>
			<xsd:enumeration value="N"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--Added simple types not in MVM or Ensemble-->
	<xsd:simpleType name="BillingArrangement">
		<xsd:annotation>
			<xsd:documentation>Billing Arrangement</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer"/>
	</xsd:simpleType>
	<xsd:simpleType name="BucketId">
		<xsd:annotation>
			<xsd:documentation>Bucket Id uniquely identifes a specific instance of a Bucket.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="IdentifierInteger"/>
	</xsd:simpleType>
	<xsd:simpleType name="CancelRechargeType">
		<xsd:annotation>
			<xsd:documentation>Cancel Recharge Type identifies the type of Recharge. Valid values are:

'F' - Force
'R' - Request</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeCode">
			<xsd:length value="1"/>
			<!-- xsd:enumeration value="F"/>
			<xsd:enumeration value="R"/ -->
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CdMainId">
		<xsd:annotation>
			<xsd:documentation>CD Main ID</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="IdentifierString">
			<xsd:maxLength value="45"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CdUniqueId">
		<xsd:annotation>
			<xsd:documentation>CD Unique ID</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="IdentifierString">
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CdValues">
		<xsd:annotation>
			<xsd:documentation>CD Values</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="400"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ChannelCancelReferenceId">
		<xsd:annotation>
			<xsd:documentation>Channel Cancel Reference ID uniquely identifies an instance of a Channel details cancel.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="IdentifierString">
			<xsd:maxLength value="45"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ChannelCode">
		<xsd:annotation>
			<xsd:documentation>Channel Code. Valid values are:

VP
VB
VR
VI
VS
Ol
CS
</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeCode">
			<xsd:length value="2"/>
			<!-- xsd:enumeration value="VP"/>
			<xsd:enumeration value="VB"/>
			<xsd:enumeration value="VR"/>
			<xsd:enumeration value="VI"/>
			<xsd:enumeration value="VS"/>
			<xsd:enumeration value="OL"/>
			<xsd:enumeration value="CS"/ -->
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CoverDebitInd">
		<xsd:annotation>
			<xsd:documentation>Cover Debit Indicator</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CrmExternalId">
		<xsd:annotation>
			<xsd:documentation>CRM External ID</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="IdentifierString">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CsrId">
		<xsd:annotation>
			<xsd:documentation>CSR ID uniquely identifies a specific Customer Service Representative.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="IdentifierInteger"/>
	</xsd:simpleType>
	<xsd:simpleType name="CurrencyCode">
		<xsd:annotation>
			<xsd:documentation>Currency Code is the ISO format of currency. Ex: USD - U.S. dollar.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="IdentifierString">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EventDate">
		<xsd:annotation>
			<xsd:documentation>Event Date is the calendar date on which an event occurred.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="EventDateTime">
		<xsd:annotation>
			<xsd:documentation>Event Date is the calendar date and time on which an event occurred.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="EventDateTimeLong">
		<xsd:annotation>
			<xsd:documentation>Event Date is the calendar date and time on which an event occurred in long format since Epoch</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:long"/>
	</xsd:simpleType>
	<xsd:simpleType name="IdentifierShort">
		<xsd:annotation>
			<xsd:documentation>Identifier holds a value that uniquely identifies an instance of an object within the context of a System, Database or a Model.</xsd:documentation>
			<xsd:documentation>Identifier String  holds a String value that uniquely identifies an instance of an object.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:short"/>
	</xsd:simpleType>
	<xsd:simpleType name="LocationCode">
		<xsd:annotation>
			<xsd:documentation>Location Code is used to indicate a type of Location.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeCode">
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MethodGroupIdentifier">
		<xsd:annotation>
			<xsd:documentation>Method Group Identifier uniquely identifes a grouping of Recharge Methods.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="IdentifierString">
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PaymentCardAcknowledgementCode">
		<xsd:annotation>
			<xsd:documentation>Payment Card Acknowledgement Code contains the Paymentech acknowleldgement code from the offline credit card settlement response file.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeCode">
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PaymentCardAcknowledgementNumber">
		<xsd:annotation>
			<xsd:documentation>Payment Card Acknnowledgment Number contains a unique authorization number generated by the Paymentech online credit card settlement system.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="IdentifierString">
			<xsd:maxLength value="32"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PaymentSourceIdentifier">
		<xsd:annotation>
			<xsd:documentation>Payment Source Identifier uniquely identifies the PARTY who submitted the Payment.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="240"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PaymentSourceTypeCode">
		<xsd:annotation>
			<xsd:documentation>Payment Source Type Code identifies the type of PARTY that submitted the Payment.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Pcn">
		<xsd:annotation>
			<xsd:documentation>PCN</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="IdentifierInteger"/>
	</xsd:simpleType>
	<xsd:simpleType name="PcnName">
		<xsd:annotation>
			<xsd:documentation>PCN Name</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PreauthorizationId">
		<xsd:annotation>
			<xsd:documentation>Preauthorization Id uniquely identifies a specific instance of a Preauthorization.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="IdentifierInteger"/>
	</xsd:simpleType>
	<xsd:simpleType name="PrimaryResourceType">
		<xsd:annotation>
			<xsd:documentation>Primary Resource Type identifies the type of Primary Resource.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeCode"/>
	</xsd:simpleType>
	<xsd:simpleType name="PrimaryResourceValue">
		<xsd:annotation>
			<xsd:documentation>PrimaryResourceValue</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="RechargeId">
		<xsd:annotation>
			<xsd:documentation>Recharge Id uniquely identifies this specific Recharge.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="IdentifierInteger"/>
	</xsd:simpleType>
	<xsd:simpleType name="RechargeMethodCode">
		<xsd:annotation>
			<xsd:documentation>Recharge Method Code identifies the method used for the Recharge. Valid values are:

VOT
VRA
VASP
VARC
VMRC
VLBE
PCRC</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeCode">
			<xsd:maxLength value="4"/>
			<!-- xsd:enumeration value="VOT"/>
			<xsd:enumeration value="VRA"/>
			<xsd:enumeration value="VASP"/>
			<xsd:enumeration value="VARC"/>
			<xsd:enumeration value="VMRC"/>
			<xsd:enumeration value="VLBR"/>
			<xsd:enumeration value="PCRC"/ -->
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RechargeMethodIdentifier">
		<xsd:annotation>
			<xsd:documentation>Recharge Method Identifer identifies the Recharge Method.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="IdentifierString">
			<xsd:maxLength value="45"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RechargeMethodType">
		<xsd:annotation>
			<xsd:documentation>Recharge Method Type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeCode"/>
	</xsd:simpleType>
	<xsd:simpleType name="RechargeMethodValues">
		<xsd:annotation>
			<xsd:documentation>Recharge Method Values</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="400"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RechargeToSumIndicator">
		<xsd:annotation>
			<xsd:documentation>Indicates if the recharge amount was added in RPL9_RCG_ACC_AMT table by the recharge summary job.
</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RechargeStatusCode">
		<xsd:annotation>
			<xsd:documentation>Recharge Status Code identifies the current state of the recharge. Valid values are:

'V' - Valid
'C' - Cancelled
'S' - Suspend
'R' - Restored
'I' - Internal
'P' - Pending</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="StatusCode">
			<xsd:length value="1"/>
			<!-- xsd:enumeration value="V"/>
			<xsd:enumeration value="C"/>
			<xsd:enumeration value="S"/>
			<xsd:enumeration value="R"/>
			<xsd:enumeration value="I"/>
			<xsd:enumeration value="P"/ -->
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RechargeTypeCode">
		<xsd:annotation>
			<xsd:documentation>Recharge Type Code identifies the type of Recharge.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
			<!-- xsd:enumeration value="R"/>
			<xsd:enumeration value="S"/ -->
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ReleaseRechargeIdentifier">
		<xsd:annotation>
			<xsd:documentation>Release Recharge Identifer uniquely identifes an instance of a Release Recharge.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="IdentifierInteger"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReleaseRechargeType">
		<xsd:annotation>
			<xsd:documentation>Release Recharge Type identifies the type of release recharge. Valid values are:

'N' - None
'M' - Main Recharge
'P' - Part of Recharge
</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeCode">
			<xsd:length value="1"/>
			<!-- xsd:enumeration value="N"/>
			<xsd:enumeration value="M"/>
			<xsd:enumeration value="P"/ -->
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RetailStoreIdentifier">
		<xsd:annotation>
			<xsd:documentation>Retail Store Identifer is the store ID passed from the retailer to inComm.  These are 4 to 6 characters in length sometimes padded with zeros.  Leading 0s should not be stripped off.

(Examples: 001859, 1165, 0649)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SequenceNumber">
		<xsd:annotation>
			<xsd:documentation>Sequence Number identifies the numeric value that is given to a file or record as it is sequentially created. The first file or record will start with 0001 and continue incrementing until a specified maximum value is reached (if a maximum is defined). One use of this element is to assist in identifying missing files.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer"/>
	</xsd:simpleType>
	<xsd:simpleType name="SubIdValues">
		<xsd:annotation>
			<xsd:documentation>Sub Id Values</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SubscriberBrandIdentifier">
		<xsd:annotation>
			<xsd:documentation>Subscriber Brand ID uniquely identifers a specific instance of a Subcriber Brand.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="IdentifierString">
			<xsd:maxLength value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SubscriberNumber">
		<xsd:annotation>
			<xsd:documentation>Subscriber Number</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer"/>
	</xsd:simpleType>
	<xsd:simpleType name="PartyOtherIdentifierID">
		<xsd:annotation>
			<xsd:documentation>Party Other Identifier Identifier is a system generated value used in combination with the Party Identifier and Party Identification Type Code to uniquely identify an instance of PARTY IDENTIFICATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="IdentifierString">
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="SubscriberPrimaryResourceInfo">
		<xsd:sequence>
			<xsd:element name="subscriberInfo" type="SubscriberInfo"/>
			<xsd:element name="additionalIdentityInfo" type="PartyOtherIdentifierID" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Contains additional identificaiton details for TSPs.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
