design/adapters/PrepaidAccountManagementProxyService/src/main/resources/setAutoRefillEnrollment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Sprint Employee (SPRINT) -->
<xs:schema xmlns:tns="http://integration.sprint.com/interfaces/setAutoRefillEnrollment/v1/setAutoRefillEnrollment.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://integration.sprint.com/interfaces/setAutoRefillEnrollment/v1/setAutoRefillEnrollment.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<!--Date              Author                         Version     Change                                                                                               Rel                          SR# -->
	<!--1/17/2012     Amber Peppers            1.0            Initial Draft                                                                                           MID 12.1              PJ006243-->
	<!--1/19/2012   Steve Heichelheim         1.0        Added MVM standards and simple types                                               MID12.1    PJ006243-->
	<xs:element name="setAutoRefillEnrollment" type="tns:SetAutoRefillEnrollmentRequestType"/>
	<xs:element name="setAutoRefillEnrollmentResponse" type="tns:SetAutoRefillEnrollmentResponseType"/>
	<xs:complexType name="SetAutoRefillEnrollmentRequestType">
		<xs:sequence>
			<xs:element name="mdn" type="tns:MobileDirectoryNumberStringType">
				<xs:annotation>
					<xs:documentation>Personal Telephone Number – mobile number of the signer on the account</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="defaultPaymentAmount" type="tns:DefaultPaymentAmountType">
				<xs:annotation>
					<xs:documentation>Requested default payment amount in dollars and cents, for example ’48.23’.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="useNewPaymentDevice" type="tns:PaymentActivityMethodCodeType">
				<xs:annotation>
					<xs:documentation>0 – Use the existing RPI for auto refill
1 – Use new payment device as RPI and auto refill. The existing RPI will be removed.
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nameInfo" type="tns:NameInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name information structure</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="addressInfo" type="tns:AddressInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Address information structure</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="billingPhoneNumber" type="tns:PhoneNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Billing phone number of the signer on the account. Required if useNewPaymentDevice is 1.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="creditCardInfo" type="tns:CreditCardInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Credit card information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="retailerId" type="tns:RetailStoreIdentifierType">
				<xs:annotation>
					<xs:documentation>Unique ID for retail store</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SetAutoRefillEnrollmentResponseType">
		<xs:sequence>
			<xs:element name="rpiStatus" type="tns:ReplyCompletionCodeType">
				<xs:annotation>
					<xs:documentation>Register Payment Information status
0 - Registration was not successful
1 - New registration successful</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="autoRefillEnrollmentStatus" type="tns:ReplyCompletionCodeType">
				<xs:annotation>
					<xs:documentation>Auto Refill Enrollment Status
0 - Enrollment was not successful
1 - New enrollment successful</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameInfoType">
		<xs:sequence>
			<xs:element name="firstName" type="tns:FirstNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>First name of the signer on the account                     Required if useNewPaymentDevice is 1.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastName" type="tns:FirstNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Last name of the signer on the account              Required if useNewPaymentDevice is 1.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressInfoType">
		<xs:sequence>
			<xs:element name="line1" type="tns:PostalAddressLine1Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Address line 1 of the signer on the account. Required if useNewPaymentDevice is 1.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="line2" type="tns:PostalAddressLine2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Address line 2 of the signer on the account. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="city" type="tns:CityNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Address city of the signer on the account. Required if useNewPaymentDevice is 1.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="state" type="tns:UspsStateAbbreviationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Abbreviation for the region of the signer on the account. Required if useNewPaymentDevice is 1.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zipCode" type="tns:UspsPostalCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Address zip code of the signer on the account. Required if useNewPaymentDevice is 1.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditCardInfoType">
		<xs:sequence>
			<xs:element name="creditCardNumber" type="tns:PaymentCardNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>MOD-10 Credit Card number of the signer on the account. Required if useNewPaymentDevice is 1.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cvv" type="tns:PaymentCardSecurityCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Card Verification Number for the credit card;
 4-digits if AmericanExpress. Required if useNewPaymentDevice is 1.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="expirationDate" type="tns:PaymentCardExpirationDateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Expiration Date on the credit card in (CCYY-MM format). Required if useNewPaymentDevice is 1.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!---->
	<!--MVM/Shared Simple Types-->
	<xs:simpleType name="CityNameType">
		<xs:annotation>
			<xs:documentation>City Name holds the textual string identifying a City.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DefaultPaymentAmountType">
		<xs:annotation>
			<xs:documentation>Default Payment Amount is the default payment to be deducted from the payment card.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="10"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FirstNameType">
		<xs:annotation>
			<xs:documentation>First Name or "Given Name" is a name which specifies and differentiates between members of a group of individuals, especially a family, all of whose members usually share the same family name.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LastNameType">
		<xs:annotation>
			<xs:documentation>Last Name represents the family name or surname is the part of an INDIVIDUAL PARTY's name that identifies what family the individual belongs to.</xs:documentation>
			<xs:documentation>alias: Surname</xs:documentation>
			<xs:documentation>alias: Family Name</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MobileDirectoryNumberStringType">
		<xs:annotation>
			<xs:documentation>Mobile Directory Number (MDN) is the actual phone number one would dial to reach a specific mobile phone.



Prior to Wireless Number Portability, MDN was the same number as the Mobile Identification Number (MIN) for many mobile phones. But now that MDNs can be ported (moved) to other carriers, MDN and MIN will be different for ported numbers.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PaymentActivityMethodCodeType">
		<xs:annotation>
			<xs:documentation>Payment Activity Method Code designates a method for processing a payment activity.
Valid Values Include:
0 - Use the existing Registered Payment Information (RPI) for auto refill
1 - Use new payment device as RPI and auto refill.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PaymentCardExpirationDateType">
		<xs:annotation>
			<xs:documentation>Payment Card Expiration Date is last calendar date the Credit/Debit Card is valid.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:gYearMonth"/>
	</xs:simpleType>
	<xs:simpleType name="PaymentCardNumberType">
		<xs:annotation>
			<xs:documentation>Payment Card Number is the number issued on the card.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="19"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PaymentCardSecurityCodeType">
		<xs:annotation>
			<xs:documentation>Payment Credit Card Security Code is a 3 -5  digit code issued by the card issuer as a security feature.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
			<xs:minLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PhoneNumberType">
		<xs:annotation>
			<xs:documentation>Phone Number holds the concatenation of the NPA Number, NXX Number and Line Number into a single string.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PostalAddressLine1Type">
		<xs:annotation>
			<xs:documentation>Postal Address Line 1 is the first instance of the Postal Address Line is used in the creation of the Postal Address label. The Postal Address label is usually composed of three lines; 1. addresses, 2. street number and street name, 3. City, State, and Zipcode. In the case where PO Box is used the recipient may choose to insert their physical (aka street) address as line two, expanding the complete address to four lines. Providing both allows a sender to ship via the USPS or via a private carrier. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PostalAddressLine2Type">
		<xs:annotation>
			<xs:documentation>Postal Address Line 2  is the second instance of the Postal Address Line is used in the creation of the Postal Address label. The Postal Address label is usually composed of three lines; 1. addresses, 2. street number and street name, 3. City, State, and Zipcode. In the case where PO Box is used the recipient may choose to insert their physical (aka street) address as line two, expanding the complete address to four lines. Providing both allows a sender to ship via the USPS or via a private carrier. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReplyCompletionCodeType">
		<xs:annotation>
			<xs:documentation>Reply Completion Code holds the the provider’s declaration of the Service's success or failure in processing the submitted request.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RetailStoreIdentifierType">
		<xs:annotation>
			<xs:documentation>Retail Store Identifer is the store ID passed from the retailer to inComm.  These are 4 to 6 characters in length sometimes padded with zeros.  Leading 0s should not be stripped off.&#13;
(Examples: 001859, 1165, 0649)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UspsPostalCodeType">
		<xs:annotation>
			<xs:documentation>USPS Postal Code contains the first 5 characters of the nine digit USPS Postal Code.</xs:documentation>
			<xs:documentation>USPS Postal Code contains the first 5 characters of the nine digit USPS Postal Code.</xs:documentation>
			<xs:documentation>alias: Ensemble: ADDR_DATA.ADR_ZIP</xs:documentation>
			<xs:documentation>Ensemble: ADDR_DATA.ADR_ZIP

The first 5 characters or digits of the address zip code.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UspsStateAbbreviationType">
		<xs:annotation>
			<xs:documentation>A United States Postal Service (USPS) State Abbreviation Code is the set of characters that are selected from a State or Protectorate name and specified by the USPS to represent the name of a State or US Protectorate for the purpose of mail delivery.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<!---->
</xs:schema>
