design/runtime-jars/msdp-suc/src/test/resources/EsbCommandService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EsbCommandServiceService" targetNamespace="http://sprint.com/msdp/commandservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://sprint.com/msdp/commandservice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://sprint.com/msdp/commandservice" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://sprint.com/msdp/commandservice">
    <xs:element name="WSException" nillable="true" type="tns:WSException"/>
    <xs:element name="commandRequest" nillable="true" type="tns:commandRequest"/>
    <xs:element name="commandResponse" nillable="true" type="tns:commandResponse"/>
    <xs:complexType name="commandRequest">
        <xs:sequence>
            <xs:element minOccurs="0" name="command" type="xs:string"/>
            <xs:element maxOccurs="unbounded" name="commandMeta" type="tns:commandMetaWs"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="commandMetaWs">
        <xs:sequence>
            <xs:element minOccurs="0" name="key" type="xs:string"/>
            <xs:element minOccurs="0" name="value" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="commandResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="tns:commandResult"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="commandResult">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="extraAttributes" nillable="true" type="tns:commandMetaWs"/>
            <xs:element name="result" type="xs:boolean"/>
            <xs:element minOccurs="0" name="uri" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="WSException">
        <xs:sequence>
            <xs:element name="errorCode" type="xs:int"/>
            <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="WSExceptionException">
    <wsdl:part name="WSExceptionException" element="tns:WSException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="commandRequestResponse">
    <wsdl:part name="parameters" element="tns:commandResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="commandRequest">
    <wsdl:part name="parameters" element="tns:commandRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EsbCommandService">
    <wsdl:operation name="commandRequest">
      <wsdl:input name="commandRequest" message="tns:commandRequest">
    </wsdl:input>
      <wsdl:output name="commandRequestResponse" message="tns:commandRequestResponse">
    </wsdl:output>
      <wsdl:fault name="WSExceptionException" message="tns:WSExceptionException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EsbCommandServiceServiceSoapBinding" type="tns:EsbCommandService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="commandRequest">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="commandRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="commandRequestResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WSExceptionException">
        <soap:fault name="WSExceptionException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EsbCommandServiceService">
    <wsdl:port name="EsbCommandServicePort" binding="tns:EsbCommandServiceServiceSoapBinding">
      <soap:address location="http://localhost:8081/MockCommandService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
