design/adapters/AccountManagementProxyService/src/main/resources/AccountManagementService.xsd3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://integration.sprint.com/interfaces/createAccount/v1/createAccount.xsd" targetNamespace="http://integration.sprint.com/interfaces/createAccount/v1/createAccount.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.5">
	
<!-- Date              Author                        Change                                                                               															Rel                    SR# -->
	
<!--04/12/2011   Tracy Turner	           1.0 initial version                                                      																  GBL11.2		      PJ004940-->
	
<!--04/21/2011  Steve Heichelheim       1.0 added MVM standards and simple types             																  GBL11.2		      PJ004940-->
	
<!--04/27/2011  Tracy Turner                1.1 added creditEvaluationErrorCode to response for credit eval result retrieval failures         GBL11.2		   	  PJ004940-->
	
<!--04/28/2011  Tracy Turner                1.2 made accountValueObjInfo.accountTypeInfo.serviceZipCode required 					           GBL11.2		   	  PJ004940-->
	
<!--04/28/2011  Tracy Turner                1.3 made dupSsnTaxIdInd a boolean value					           													   GBL11.2		   	  PJ004940-->
	
<!--07/15/2011  Tracy Turner                1.4 Changed minDepositPerUnit field on response from integer type to decimal (9,2)				GBL11.2		   	  PJ004940-->
	
<!--07/29/2011  Tracy Turner                1.5 changed ssn and taxId from integer to numeric string with a length of 9	GBL11.3				GBL11.3 			CS#483224-->
	
<xs:element name="createAccount" type="tns:CreateAccountType"/>
	
<xs:element name="createAccountResponse" type="tns:CreateAccountResponseType"/>
	
<xs:complexType name="CreateAccountType">
		
<xs:sequence>
			
<xs:element name="accountValueObjectInfo" type="tns:AccountValueObjectInfoType">
				
<xs:annotation>
					
<xs:documentation>Contains the information that will be necessary for creating a new billing account.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="CreateAccountResponseType">
		
<xs:sequence>
			
<xs:element name="ban" type="tns:BillingAccountNumberType">
				
<xs:annotation>
					
<xs:documentation>The unique identifier for the new billing account. (BAN)</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="creditEvaluationInfo" type="tns:CreditEvaluationInfoType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>This structure contains the credit evaluation information relating to the account.  Only populated if the credit check application number was sent on the request.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="creditEvaluationErrorCode" type="tns:ErrorMessageIdentifierType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Backend API error code</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<!---->
	
<xs:complexType name="AddressInfoType">
		
<xs:sequence>
			
<xs:element name="applyAddress" type="tns:AddressVerificationSystemOverrideCodeType">
				
<xs:annotation>
					
<xs:documentation>If this flag is set, accept the address even if it cannot be found in the address database.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="addressType" type="tns:AddressTypeCodeType">
				
<xs:annotation>
					
<xs:documentation>Type of Address (Military, Rural, PO, Street, Foreign)</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="line1" type="tns:PrimaryAddressLineType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Line 1 for address type M or F</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="line2" type="tns:SecondaryAddressLineType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Line 2 (may include the Urbanization Name for Puerto Rico addresses)</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="ruralRoute" type="tns:RuralRouteControlNumberType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Rural Route if address type is Rural</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="ruralRouteBoxNumber" type="tns:RuralRouteBoxNumberType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Rural Box number if address type is Rural</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="postofficeBoxNumber" type="tns:PostOfficeBoxNumberType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>PO Box number if address type is P</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="streetNumber" type="tns:StreetNumberType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Street Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="streetName" type="tns:StreetNameType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Street Name or Military Line 1</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="streetDirection" type="tns:StreetDirectionType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Street Direction</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="streetType" type="tns:StreetSuffixType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Type of street (e.g., Cir, Blvd, Rd)</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="apartmentNumber" type="tns:ApartmentNumberType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Apartment Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="apartmentType" type="tns:ApartmentDesignatorType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Apartment type</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="attention" type="tns:AttentionTextType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Attention Line</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="city" type="tns:CityNameType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>City Name</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="state" type="tns:UspsStateAbbreviationType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>State Code</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="country" type="tns:Iso3CharCountryCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Country Code</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="zipCode" type="tns:UspsPostalCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Zip code</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="zipCode4" type="tns:UspsPostalCodeExtensionType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Plus 4 zip code</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="AccountBillInfoType">
		
<xs:sequence>
			
<xs:element name="contractLineItemNumberSuppressionInd" type="tns:BinaryExpressionType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>CLIN Suppression Indicator</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="billFormatType" type="tns:BillFormatTypeCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>The bill format type for the BAN (B - Business, C - Consumer)</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="billLanguage" type="tns:LanguagePreferenceCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>The bill language of the BAN.
Valid values:
ENG – English 
SPA – Spanish
</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="AccountBusinessInfoType">
		
<xs:sequence>
			
<xs:element name="customerCostCenter" type="tns:CustomerCostCenterType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Customer Cost Center</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="businessEstablishDate" type="tns:BusinessEstablishedDateType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Start Date of Business</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="purchaseOrderNumber" type="tns:PurchaseOrderNumberType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Purchase Order Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="standardIndustrialClassification" type="tns:StandardIndustrialClassificationCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>SIC code of Business</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="dataUniversalNumberingSystemNumber" type="tns:DunsNumberType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>DUNS number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="AccountDetailsInfoType">
		
<xs:sequence>
			
<xs:element name="businessEntity" type="tns:BrandCodeType">
				
<xs:annotation>
					
<xs:documentation>Sprint Business Entity</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="homeNumberInfo" type="tns:HomeNumberInfoType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Home phone number</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="workNumberInfo" type="tns:ContactNumberInfoType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Work number</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="otherPhoneType" type="tns:PhoneTypeCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>The type of Other Phone Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="otherNumberInfo" type="tns:ContactNumberInfoType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Other Number for account</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="preferredLanguageInd" type="tns:LanguagePreferenceCodeType">
				
<xs:annotation>
					
<xs:documentation>Code of preferred language</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="otherLanguage" type="tns:LanguagePreferenceNameType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Other preferred language</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="communicationMethod" type="tns:NotificationMethodTypeCodeType">
				
<xs:annotation>
					
<xs:documentation>Method for contacting (Letter, Fax, or Email)</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="communicationMethodValue" type="tns:ContactMethodValueType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>The number for the communication</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="corpId" type="tns:CorporateBillingAccountNumberType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Parent Corporation ID </xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="longDistanceCarrier" type="tns:LongDistanceCarrierCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Long Distance Carrier code</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="ssn" type="tns:SocialSecurityNumberType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>SSN
The field is mandatory for specific account, based on the information in ACCOUNT_TYPE reference table.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="taxId" type="tns:FederalEmployerIdentificationNumberType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Tax ID
The field is mandatory for specific account, based on the information in ACCOUT_TYPE reference table.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="adjustmentBlockDate" type="tns:AdjustmentBlockDateType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>End date for the adjustment blocking time period.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="taxpayerIdentificationNumber" type="tns:TaxIdentificationNumberType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Tax Identification Number.
The field can be set only for Government accounts.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="dupSsnTaxId" type="tns:BinaryExpressionType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>true: BAN creation with an SSN or Tax ID that already exists on another closed BAN or cancelled BAN that has been cancelled for more than 45 days will be allowed
false/empty – the above functionality will not be allowed</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="AccountIndividualInfoType">
		
<xs:sequence>
			
<xs:element name="driverLicenseNumber" type="tns:DriverLicenseNumberType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Driver’s License Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="driverLicenseState" type="tns:UspsStateAbbreviationType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Driver’s License State code</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="driverLicenseExpires" type="tns:DriverLicenseExpirationDateType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Driver’s License Expiry Date</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="dateOfBirth" type="tns:BirthDateType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Date of Birth</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="employer" type="tns:EmployerNameType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Employer of Individual Customer</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="employeePosition" type="tns:JobTitleType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Position at Employment</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="employeeHireDate" type="tns:EmploymentStartDateType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Start date of Employment</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="AccountTypeInfoType">
		
<xs:sequence>
			
<xs:element name="accountType" type="tns:BillingAccountTypeCodeType">
				
<xs:annotation>
					
<xs:documentation>This represents the type of BAN account</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="accountSubType" type="tns:BillingAccountSubTypeCodeType">
				
<xs:annotation>
					
<xs:documentation>Billing Account SubType Code further categorizes the Billing Account within the context of the assigned Billing Account Type Code used primarily for Customer segmentation in General Ledger reporting and collection treatment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="serviceZipCode" type="tns:UspsPostalCodeType">
				
<xs:annotation>
					
<xs:documentation>Service Zip Code</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="equipmentBanInd" type="tns:EquipmentBillingAccountIndicatorType">
				
<xs:annotation>
					
<xs:documentation>Flag that indicates if this account  is an equipment only BAN.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="equipmentBanId" type="tns:BillingAccountNumberType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>This is related equipment billing account number id.  Cannot be populated if the equipmentBanInd is set to ‘true’ (You are not allowed to define a new Ban as an equipment Ban and at the same time to select a related equipment Ban) </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="AccountValueObjectInfoType">
		
<xs:sequence>
			
<xs:element name="accountTypeInfo" type="tns:AccountTypeInfoType">
				
<xs:annotation>
					
<xs:documentation>Contains the account type, account subtype, equipment BAN indicator, and the related account infortmation</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="subMarketInfo" type="tns:SubMarketInfoType">
				
<xs:annotation>
					
<xs:documentation>Contains the submarket information for the account.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="dealerAgentInfo" type="tns:DealerAgentInfoType">
				
<xs:annotation>
					
<xs:documentation>Contains the dealer information for the account.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="accountDetailsInfo" type="tns:AccountDetailsInfoType">
				
<xs:annotation>
					
<xs:documentation>This structure contains the generic attributes and basic information for the account.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="invoiceDetailsInfo" type="tns:InvoiceDetailsInfoType">
				
<xs:annotation>
					
<xs:documentation>This structure contains invoice delivery options for the account.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="billCycleInfo" type="tns:BillCycleInfoType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Bill cycle information</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="extraAccountInfo" type="tns:ExtraBanInfoType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>This structure contains the other attributes and information for the account</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="accountIndividualInfo" type="tns:AccountIndividualInfoType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>This structure contains other information for the individual account.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="accountBusinessInfo" type="tns:AccountBusinessInfoType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>This structure contains other information for the business account</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="billingAddressInfo" type="tns:BillingAddressInfoType">
				
<xs:annotation>
					
<xs:documentation>This structure contains the billing address for the account </xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="shippingAddressInfo" type="tns:AddressInfoType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>This structure contains the shipping address of the account </xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="mailingAddressInfo" type="tns:AddressInfoType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>This structure contains the mailing address of the account. </xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="creditAddressInfo" type="tns:AddressInfoType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>This structure contains the credit address of the account </xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="contactNameInfo" type="tns:NameInfoType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>This structure contains the contact name of the account. </xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="billingNameInfo" type="tns:BillingNameInfoType">
				
<xs:annotation>
					
<xs:documentation>This structure contains the billing name information for the new account </xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="firstAuthorizationNameInfo" type="tns:NameInfoType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>This structure contains the first authorization name of the account. </xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="secondAuthorizationNameInfo" type="tns:NameInfoType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>This structure contains the second authorization name of the account. </xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="salesForceAutomationInfo" type="tns:SfaInfoType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>This structure contains the SFA reference number of the account.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="accountBillInfo" type="tns:AccountBillInfoType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>This structure contains bill suppression information and bill format for the account.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="securityInfo" type="tns:SecurityInfoType">
				
<xs:annotation>
					
<xs:documentation>This structure contains the security-related information of the account.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="callingServiceAreaInfo" type="tns:CsaInfoType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>This structure contains CSA information</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="identifyInfo" type="tns:IdentityInfoType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Contains the identification information related to the account holder.  Only sent if the Account Type requires identification verification.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="creditReferenceInfo" type="tns:CreditReferenceInfoType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Contains the application reference  info.  Populated if a credit check was run.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="BillCycleInfoType">
		
<xs:sequence>
			
<xs:element name="billCycle" type="tns:BillingCycleCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Bill Cycle for the account</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="BillingAddressInfoType">
		
<xs:sequence>
			
<xs:element name="applyAddress" type="tns:AddressVerificationSystemOverrideCodeType">
				
<xs:annotation>
					
<xs:documentation>If this flag is set, accept the address even if it cannot be found in the address database.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="addressType" type="tns:AddressTypeCodeType">
				
<xs:annotation>
					
<xs:documentation>Type of Address (Military, Rural, PO, Street, Foreign)</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="line1" type="tns:PrimaryAddressLineType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Line 1 for address type M or F</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="line2" type="tns:SecondaryAddressLineType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Line 2 (may include the Urbanization Name for Puerto Rico addresses)</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="ruralRoute" type="tns:RuralRouteControlNumberType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Rural Route if address type is Rural</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="ruralNumber" type="tns:RuralRouteBoxNumberType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Rural Box number if address type is Rural</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="postofficeBoxNumber" type="tns:PostOfficeBoxNumberType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>PO Box number if address type is P</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="streetNumber" type="tns:StreetNumberType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Street Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="streetName" type="tns:StreetNameType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Street Name or Military Line 1</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="streetDirection" type="tns:StreetDirectionType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Street Direction</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="streetType" type="tns:StreetSuffixType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Type of street (e.g., Cir, Blvd, Rd)</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="apartment" type="tns:ApartmentNumberType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Apartment Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="apartmentType" type="tns:ApartmentDesignatorType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Apartment type</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="attention" type="tns:AttentionTextType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Attention Line</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="city" type="tns:CityNameType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>City Name</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="state" type="tns:UspsStateAbbreviationType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>State Code</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="country" type="tns:Iso3CharCountryCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Country Code</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="zipCode" type="tns:UspsPostalCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Zip code</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="zipCode4" type="tns:UspsPostalCodeExtensionType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Plus 4 zip code</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="BillingNameInfoType">
		
<xs:sequence>
			
<xs:element name="firstName" type="tns:FirstNameType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>First name of individual customer – in the case of Business customers, this may not exist.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="middleName" type="tns:MiddleNameType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Middle initial name of individual customer</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="lastName" type="tns:LastNameType">
				
<xs:annotation>
					
<xs:documentation>Last name of individual user or Business Name of Business customer</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="title" type="tns:TitleType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Title code of individual customer </xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="generation" type="tns:GenerationType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Generation of customer name (e.g., III)</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="additionalLine" type="tns:AdditionalTitleType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Additional line for account Name</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="ContactNumberInfoType">
		
<xs:sequence>
			
<xs:element name="phoneNumber" type="tns:PhoneNumberType">
				
<xs:annotation>
					
<xs:documentation>Phone number</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="extension" type="tns:PhoneExtensionType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Extension of the phone number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="CsaInfoType">
		
<xs:sequence>
			
<xs:element name="defaultCallingServiceArea" type="tns:CommunicationServiceAreaIdentifierType">
				
<xs:annotation>
					
<xs:documentation>Calling Service Area</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="CreditEvaluationInfoType">
		
<xs:sequence>
			
<xs:element name="creditVendor" type="tns:CreditVendorCodeType">
				
<xs:annotation>
					
<xs:documentation>The credit vendor that performed the credit evaluation</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="creditVendorErrorCode" type="tns:ErrorMessageIdentifierType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Credit vendor error code</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="creditClass" type="tns:CreditClassCodeType">
				
<xs:annotation>
					
<xs:documentation>Credit vendor  Credit class assigned to BAN</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="creditStatus" type="tns:CreditCheckStatusCode">
				
<xs:annotation>
					
<xs:documentation>Credit vendor  credit status (Complete/Error/Pending)</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="minDepositPerUnit" type="tns:DepositAmountType">
				
<xs:annotation>
					
<xs:documentation>Credit vendor  Deposit required per unit</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="creditDate" type="tns:CreditCheckDateType">
				
<xs:annotation>
					
<xs:documentation>Date of last check</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="applicationNumber" type="tns:CreditApplicationIdentifierType">
				
<xs:annotation>
					
<xs:documentation>The reference number for the credit check application</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="expirationDate" type="tns:ExpirationDateType">
				
<xs:annotation>
					
<xs:documentation>Credit Class expiration date</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="totalApprovedSubscribers" type="tns:SubscriberCountType">
				
<xs:annotation>
					
<xs:documentation>Credit vendor  Number of subscriber approved</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="tclInd" type="tns:BinaryExpressionType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Temporary credit limit indicator of the account.
Valid values:
true – for TCL
false – for Non-TCL
</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="CreditReferenceInfoType">
		
<xs:sequence>
			
<xs:element name="applicationNumber" type="tns:CreditApplicationIdentifierType">
				
<xs:annotation>
					
<xs:documentation>The reference number for the credit check application</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="DealerAgentInfoType">
		
<xs:sequence>
			
<xs:element name="dealerAgent" type="tns:DealerIdentifierType">
				
<xs:annotation>
					
<xs:documentation>Dealer agent code.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="ExtraBanInfoType">
		
<xs:sequence>
			
<xs:element name="marketingSource" type="tns:MarketingSourceType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Marketing Source Code </xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="cardType" type="tns:PaymentCardTypeCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Code for the Type of Credit Card</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="cardNumber" type="tns:PaymentCardNumberType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Credit Card Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="expires" type="tns:PaymentCardExpirationDateType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Credit Card expiry date</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="contactPhoneInfo" type="tns:ContactNumberInfoType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>contact phone information</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="HomeNumberInfoType">
		
<xs:sequence>
			
<xs:element name="phoneNumber" type="tns:PhoneNumberType">
				
<xs:annotation>
					
<xs:documentation>Phone number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="IdentityInfoType">
		
<xs:sequence>
			
<xs:element name="primaryId" type="tns:PartyOtherIdentifierTypeCodeType">
				
<xs:annotation>
					
<xs:documentation>Primary identification type</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="primaryIdFirst" type="tns:PartyOtherIdentifierTypeDescriptionType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Free text field with details of the primary identification</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="primaryIdSecond" type="tns:PartyOtherIdentifierTypeDescriptionType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Additional free text field with details of the primary identification</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="primaryIdExpirationDate" type="tns:ExpirationDateType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Expiration date for the primary identification</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="secondaryId" type="tns:PartyOtherIdentifierTypeCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Secondary identification type.  Cannot equal the primaryId.  Should not be populated if the social security number is populated.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="secondaryIdFirst" type="tns:PartyOtherIdentifierTypeDescriptionType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Text field for the secondary identification</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="secondaryIdSecond" type="tns:PartyOtherIdentifierTypeDescriptionType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Additional free text field with details of the secondary identification</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="secondaryIdExpirationDate" type="tns:ExpirationDateType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Expiration date for the secondary identification</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="InvoiceDetailsInfoType">
		
<xs:sequence>
			
<xs:element name="deliveryMethod" type="tns:BillDeliveryPreferenceCodeType">
				
<xs:annotation>
					
<xs:documentation>Bill Delivery Preference Code identifies the Customers preference regarding how they wan the the Bill delivered.  This could be either: a paper invoice sent via postal mail, PDF file sent via e-mail or transmitted via fax.
Valid values:
P – Paper
E – e-mail
F – Fax</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="emailAddress" type="tns:EmailAddressStringType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Email</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="faxNumber" type="tns:PhoneNumberType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Fax Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="emailRelatedCode" type="tns:EmailUnavailableReasonCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Email Reason code is mandatory if the emailAddress  is not provided. The valid values are: 
G - Not Given
N - No Email</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="summaryBillInd" type="tns:SummaryBillProductionIndicatorType">
				
<xs:annotation>
					
<xs:documentation>Summary Bill Indicator</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="NameInfoType">
		
<xs:sequence>
			
<xs:element name="first" type="tns:FirstNameType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>First name of individual customer – in the case of Business customers, this may not exist.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="middle" type="tns:MiddleNameType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Middle initial name of individual customer</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="last" type="tns:LastNameType">
				
<xs:annotation>
					
<xs:documentation>Last name of individual user or Business Name of Business customer</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="title" type="tns:TitleType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Title code of individual customer </xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="generation" type="tns:GenerationType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Generation of customer name (e.g., III)</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="additionalLine" type="tns:AdditionalTitleType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Additional line for account Name</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="NotificationInfoType">
		
<xs:choice>
			
<xs:element name="emailAddress" type="tns:EmailAddressStringType">
				
<xs:annotation>
					
<xs:documentation>The email address to which the notification will be sent to</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="notificationAddressInfo" type="tns:AddressInfoType">
				
<xs:annotation>
					
<xs:documentation>The address information to which the notification will be sent to</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	
<xs:complexType name="SecurityInfoType">
		
<xs:sequence>
			
<xs:element name="pin" type="tns:PasswordPinType">
				
<xs:annotation>
					
<xs:documentation>PIN number</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="securityQuestion" type="tns:SecurityQuestionIdentifierType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Security question code from the SECURITY_QUESTION table </xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="securityAnswer" type="tns:SecurityAnswerType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Answer for the Security question</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="notificationMethod" type="tns:NotificationMethodTypeCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Additional Security Notification Method
The following are the valid values for this field:
E – Email
L - Letter
B – eBill
D – Decline</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="notificationInfo" type="tns:NotificationInfoType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Addition security notification value </xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="securityPlus" type="tns:SecurityPlusFlagType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Security Plus indicator
The valid values are:
true – Yes
false – No</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="SfaInfoType">
		
<xs:sequence>
			
<xs:element name="salesForceAutomationReferenceNumber" type="tns:SalesForceAutomationReferenceNumberType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Reference number of SFA</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="SubMarketInfoType">
		
<xs:sequence>
			
<xs:element name="defaultSubMarket" type="tns:SubMarketCodeType">
				
<xs:annotation>
					
<xs:documentation>Sub Market Code</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<!---->
	
<!--MVM / Shared Simple Types-->
	
<xs:simpleType name="AdditionalTitleType">
		
<xs:annotation>
			
<xs:documentation>Additional Title holds additional trailing honorifics attached to a person's name.  For example:"Sr.Vice President","Director","PHD.", etc.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="60"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="AddressTypeCodeType">
		
<xs:annotation>
			
<xs:documentation>Address Type Code distinguishes an address as either a Military address, Rural address, Street address, PO Box address or a Foreign address.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="AddressVerificationSystemOverrideCodeType">
		
<xs:annotation>
			
<xs:documentation>If this flag is set to I, accept the address even if it cannot be found in the address database. Otherwise, it will be overridden with ‘S’ (and validated using code1).</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="1"/>
			
<xs:enumeration value="I"/>
			
<xs:enumeration value="S"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="AdjustmentBlockDateType">
		
<xs:annotation>
			
<xs:documentation>Supports the blocking BAN adjustments to a BAN for specific accounts on a ad hoc basis for a configurable time period</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:date"/>
	</xs:simpleType>
	
<xs:simpleType name="ApartmentDesignatorType">
		
<xs:annotation>
			
<xs:documentation>Apartment Designator is an Address Component that holds a value identifying the address as a type of apartment.Examples:"APT""UNIT"Etc.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="4"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="ApartmentNumberType">
		
<xs:annotation>
			
<xs:documentation>Apartment Number is an Address Component that contains the identifier of the apartment within the context of a bilding's postal address.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="8"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="AttentionTextType">
		
<xs:annotation>
			
<xs:documentation>Attention Text attached to the mailing address.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="25"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="BillDeliveryPreferenceCodeType">
		
<xs:annotation>
			
<xs:documentation>Bill Delivery Preference Code identifies the Customers preference regarding how they wan the the Bill delivered.  This could be either: a paper invoice sent via postal mail, PDF file sent via e-mail or transmitted via fax</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="BillFormatTypeCodeType">
		
<xs:annotation>
			
<xs:documentation>Bill Format Type Code specifies either a Business or Consumer format for the BILLING ACCOUNT's BILLs.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="1"/>
			
<xs:enumeration value="B"/>
			
<xs:enumeration value="C"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="BillingAccountNumberType">
		
<xs:annotation>
			
<xs:documentation>Billing Account Number uniquely identifies an instance of Billing Account used to accrue charges for invoicing.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:int">
			
<xs:totalDigits value="9"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="BillingAccountSubTypeCodeType">
		
<xs:annotation>
			
<xs:documentation>Billing Account SubType Code further categorizes the Billing Account within the context of the assigned Billing Account Type Code used primarily for Customer segmentation in General Ledger reporting and collection treatment.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="BillingAccountTypeCodeType">
		
<xs:annotation>
			
<xs:documentation>Billing Account Type Code identifies the account typeof the BILLING_QACCOUNT. It is used mainly for segregation of the G/L reporting and Collection treatment.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="BillingCycleCodeType">
		
<xs:annotation>
			
<xs:documentation>Identifier holds a value that uniquely identifies an instance of an object within the context of a System, Database or a Model.

For example:
(1) An identifier is information that uniquely identifies a party 
(2) An identifier is a signifier for an identity ; it is one or more data items that distinguishes a party from other parties. Examples of identifiers: name, id-number, username, IP-address.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:short">
			
<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="BinaryExpressionType">
		
<xs:annotation>
			
<xs:documentation>Binary Expression is a type of an expression with two possible states,"true"and"false".</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	
<xs:simpleType name="BirthDateType">
		
<xs:annotation>
			
<xs:documentation>Birth Date contains the calendar month, day and year on which an Individual  was born.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:date"/>
	</xs:simpleType>
	
<xs:simpleType name="BrandCodeType">
		
<xs:annotation>
			
<xs:documentation>The Brand Code is a 3 byte code denoting which brand the pre-paid subscriber belongs to
Valid values:
‘BST - Boost
‘SPR’ – Sprint</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="3"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="BusinessEstablishedDateType">
		
<xs:annotation>
			
<xs:documentation>Business Established Date holds the calendar day the business began operation.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:date"/>
	</xs:simpleType>
	
<xs:simpleType name="CityNameType">
		
<xs:annotation>
			
<xs:documentation>City Name holds the textual string identifying a City.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="26"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="CommunicationServiceAreaIdentifierType">
		
<xs:annotation>
			
<xs:documentation>Communication Service Area Identifier uniquely identifies an instance of a geographic area (CSA) served by a communication service provider, which can be broken down into regional, metropolitan, district and smaller sections called ''leaves.''</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="10"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="ContactMethodValueType">
		
<xs:annotation>
			
<xs:documentation>Contact Method Value holds the phone number or the eMail address in Ensemble when  Contact MEthod Type Code identifies a phone number or eMail address as a Contact Method.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="100"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="CorporateBillingAccountNumberType">
		
<xs:annotation>
			
<xs:documentation>Corporate Billing Account Number is the Account Number used to bundle various sub-Account into to produce a corporate level Bill.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="16"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="CreditApplicationIdentifierType">
		
<xs:annotation>
			
<xs:documentation>Credit Application Identifier is a unique identifier of a specific application for credit.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="12"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="CreditCheckDateType">
		
<xs:annotation>
			
<xs:documentation>Date the last credit check was performed.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:date"/>
	</xs:simpleType>
	
<xs:simpleType name="CreditCheckStatusCode">
		
<xs:annotation>
			
<xs:documentation>Code specifying the status of the last credit check inquiry.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="CreditClassCodeType">
		
<xs:annotation>
			
<xs:documentation>Credit Class Code identifies the Customer's level of financial responsibility.   

For example, the Credit Class Code assignment determines what Products the Customer can purchase, how many Subscriptions they can be liable for, whether there is a required depsoit and the amount of the deposit, etc..</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="CreditVendorCodeType">
		
<xs:annotation>
			
<xs:documentation>Code use to identify the Credit vendor used for the account.
Valid Values Include:
LBG – Lightbridge
EFX – Equifax</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="CustomerCostCenterType">
		
<xs:annotation>
			
<xs:documentation>Customer Cost Center holds the identifeir any unit of activity, group of employees or machines, line of products, etc., isolated or arranged in order for the Customer to allocate and assign costs more easily.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="25"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="DealerIdentifierType">
		
<xs:annotation>
			
<xs:documentation>Dealer Identifier uniquely identifies the the agent or dealer who handled the customer.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="DepositAmountType">
		
<xs:annotation>
			
<xs:documentation>Amount of deposit required.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:decimal">
			
<xs:totalDigits value="9"/>
			
<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="DriverLicenseExpirationDateType">
		
<xs:annotation>
			
<xs:documentation>The Driver’s License Expiration Date holds the last calendar Date a Driver License is valid in the specified State jurisdiciton.  After this date the Driver LIcense is no longer valid.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:date"/>
	</xs:simpleType>
	
<xs:simpleType name="DriverLicenseNumberType">
		
<xs:annotation>
			
<xs:documentation>License Number uniquely identifies a document, plate, or tag evidencing a grant  of a permission by competent authority to engage in a business or occupation or in an activity otherwise unlawful.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="25"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="DunsNumberType">
		
<xs:annotation>
			
<xs:documentation>Data Universal Numbering System Number is a unique nine-digit  number that uniquely identifies each physical location of a business in the Dunn and Bradstreet Data Universal Numbering System (DUNS).</xs:documentation>
			
<xs:documentation>alias: DUNS Number</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:int">
			
<xs:totalDigits value="9"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="EmailAddressStringType">
		
<xs:annotation>
			
<xs:documentation>An email address consists of two parts, a username and a domain (or host) name with an at symbol ('@') separating them. The domain specifies which server the email should be delivered to and the username tells the server at that domain which mailbox to deposit the email into.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="100"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="EmailUnavailableReasonCodeType">
		
<xs:annotation>
			
<xs:documentation>Email Unavailable Reason Code designates a reson that the email addres is unavailable.
Valid Values: 
G - Not Given
N - No Email</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="EmployerNameType">
		
<xs:annotation>
			
<xs:documentation>Employer Name holds the name of the ORGANIZATION employing the INDIVIDUAL.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="60"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="EmploymentStartDateType">
		
<xs:annotation>
			
<xs:documentation>Employment Start Date start date holds the hire date or the date an INDIVIDUAL began work for an Employer.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:date"/>
	</xs:simpleType>
	
<xs:simpleType name="EquipmentBillingAccountIndicatorType">
		
<xs:annotation>
			
<xs:documentation>Equipment Billing Account Indicator indicates if this BILLING ACCOUNT is an equipment only BILLING ACCOUNT.

True  =&gt; BILLING ACCOUNT is an equipement only BILLING ACCOUNT.
False =&gt; BILLING ACCOUNT is not an equipment only BILLING ACCOUNT.</xs:documentation>
			
<xs:documentation>Ensemble Documentation is inadequate.  
TODO: Get better description.
TODO: Verify meaning of True False values.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	
<xs:simpleType name="ErrorMessageIdentifierType">
		
<xs:annotation>
			
<xs:documentation>Error Message Identifier uniquely identifies a specific error message from the system that encountered the error.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="ExpirationDateType">
		
<xs:annotation>
			
<xs:documentation>Expiration Date holds the last calendar Date an object, relationship, privilege, etc. is valid or in force.  After this date the object is no longervalid or in force.</xs:documentation>
			
<xs:documentation>Expiration Date holds the last calendar Date an object, relationship, privilege, etc. is valid or in force.  After this date the object is no longervalid or in force.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:date"/>
	</xs:simpleType>
		
<xs:simpleType name="FederalEmployerIdentificationNumberType">
		
<xs:annotation>
			
<xs:documentation>Federal Employer Identification Number (FEIN) is a unique nine-digit number assigned by the Internal Revenue Service (IRS) to business entities operating in the United States for the purposes of identification. When the number is used for identification rather than employment tax reporting, it is usually referred to as a TIN, and when used for the purposes of reporting employment taxes, it is usually referred to as an FEIN or EIN.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="9"/>
			
<xs:pattern value="[\d]{9}"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="FirstNameType">
		
<xs:annotation>
			
<xs:documentation>First Name or "Given Name" is a name which specifies and differentiates between members of a group of individuals, especially a family, all of whose members usually share the same family name.</xs:documentation>
			
<xs:documentation>alias: Given Name</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="32"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="GenerationType">
		
<xs:annotation>
			
<xs:documentation>Generation is the iteration of the name within a family affixed to the end of the name (e.g.: I,II,III or Jr.)</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="12"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="Iso3CharCountryCodeType">
		
<xs:annotation>
			
<xs:documentation>An International Standardization Organization (ISO) 3-Character Country Code is the set of three characters assigned by the ISO to identify a soverign nation.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="JobTitleType">
		
<xs:annotation>
			
<xs:documentation>Job Title holds the text of designating the office, post, or service of an INDIVIDUAL.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="25"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="LanguagePreferenceCodeType">
		
<xs:annotation>
			
<xs:documentation>Language Preference Code identifies a language preference.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="3"/>
			
<xs:enumeration value="ENG"/>
			
<xs:enumeration value="SPA"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="LanguagePreferenceNameType">
		
<xs:annotation>
			
<xs:documentation>Language Preference Name contains the text specifying a preferred language.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="25"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="LastNameType">
		
<xs:annotation>
			
<xs:documentation>Last Name represents the family name or surname is the part of an INDIVIDUAL PARTY's name that identifies what family the individual belongs to.</xs:documentation>
			
<xs:documentation>alias: Surname</xs:documentation>
			
<xs:documentation>alias: Family Name</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="60"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="LongDistanceCarrierCodeType">
		
<xs:annotation>
			
<xs:documentation>Carrier Identification Code identifies an Interexchange Carrier.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="4"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="MarketingSourceType">
		
<xs:annotation>
			
<xs:documentation>Identifier holds a value that uniquely identifies an instance of an object within the context of a System, Database or a Model.

For example:
(1) An identifier is information that uniquely identifies a party 
(2) An identifier is a signifier for an identity ; it is one or more data items that distinguishes a party from other parties. Examples of identifiers: name, id-number, username, IP-address.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="6"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="MiddleNameType">
		
<xs:annotation>
			
<xs:documentation>Middle Name is effectively a second given name.  Many INDIVIDUAL PARTY's names include one or more Middle Names, placed between the first given name and the surname.   In the United States there is usually only one middle name, abbreviated by its possessor.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="32"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="NotificationMethodTypeCodeType">
		
<xs:annotation>
			
<xs:documentation>Notification Method Type Code differentiates the method used for notification.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="PartyOtherIdentifierTypeCodeType">
		
<xs:annotation>
			
<xs:documentation>Party Other Identifier Type Code uniquely identifies a PARTY EXTERNAL IDENTIFIER TYPE instance representing a possible type of external identifier of a PARTY.

Possible values:
U. S. Social Security Number
Canadian Social Security Number
Permanent Resident Identifier
Federal Employer Identification Number
Dunn and Bradstreet Number
Passport Number
Motor Vehicle Operator License Number
United Airlines Membership Identifier</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="PartyOtherIdentifierTypeDescriptionType">
		
<xs:annotation>
			
<xs:documentation>Party Other Identifier Type Description is a common language description for a PARTY IDENTIFIER instance representing a possible type of external identifier of a PARTY.

Possible values:
U. S. Social Security Number
Canadian Social Security Number
Permanent Resident Identifier
Federal Employer Identification Number
Dunn and Bradstreet Number
Passport Number
Motor Vehicle Operator License Number
United Airlines Membership Identifier</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="PasswordPinType">
		
<xs:annotation>
			
<xs:documentation>Password PIN holds the string characters designated as a Password into a system or Customer Account.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="10"/>
			
<xs:minLength value="6"/>
			
<xs:pattern value="\d+"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="PaymentCardExpirationDateType">
		
<xs:annotation>
			
<xs:documentation>Payment Card Expiration Date is last calendar date the Credit/Debit Card is valid.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:date"/>
	</xs:simpleType>
	
<xs:simpleType name="PaymentCardNumberType">
		
<xs:annotation>
			
<xs:documentation>Payment Card Number is the number issued on the card.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="20"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="PaymentCardTypeCodeType">
		
<xs:annotation>
			
<xs:documentation>Payment Card Type  TODO: Get enumeration values.</xs:documentation>
			
<xs:documentation>NOTE: Code values are 2 characters in length.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:minLength value="1"/>
			
<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="PhoneExtensionType">
		
<xs:annotation>
			
<xs:documentation>Phone Extention holds the additional digits that identify an additional phone connected to a single telephone line or line group.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="4"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="PhoneNumberType">
		
<xs:annotation>
			
<xs:documentation>Phone Number holds the concatenation of the NPA Number, NXX Number and Line NUmber into a single string.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="10"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="PhoneTypeCodeType">
		
<xs:annotation>
			
<xs:documentation>Phone Type Code Designates a type of phone number.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="15"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="PostOfficeBoxNumberType">
		
<xs:annotation>
			
<xs:documentation>Post Office Box Number holds a United States Postal Service Post Office Box Number.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="10"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="PrimaryAddressLineType">
		
<xs:annotation>
			
<xs:documentation>The content of Primary Address Line is dependent upon the type of street.  

For a street address, Primary Address Line holds the concatenation of the street components of the address.
For a Post Office Box address, Primary Address Line holds the P.O. Box information.
For a Rural address, Primary Address Line holds the Rural number.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:minLength value="1"/>
			
<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="PurchaseOrderNumberType">
		
<xs:annotation>
			
<xs:documentation>Purchase Order Number is a type of Order NUmber used to identify an instance of a PURCHASE ORDER.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="20"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="RuralRouteBoxNumberType">
		
<xs:annotation>
			
<xs:documentation>Rural Route Box Number holds the number identifying a mail box on a rural route.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="10"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="RuralRouteControlNumberType">
		
<xs:annotation>
			
<xs:documentation>Rural Route Control Number holds the rural road or highway control number.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="7"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="SalesForceAutomationReferenceNumberType">
		
<xs:annotation>
			
<xs:documentation>Sales Force Automation Reference Number is a reference number provided from the SFA system.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="20"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="SecondaryAddressLineType">
		
<xs:annotation>
			
<xs:documentation>Secondary Address Line holds free text describing additional address information. Usually used for business customers.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:minLength value="1"/>
			
<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="SecurityAnswerType">
		
<xs:annotation>
			
<xs:documentation>Security Answer holds the answer to the Security Question identified by Security Question Identifier.  This value must be supplied by the system user in response to the Security Question before they are allowed to proceed.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="30"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="SecurityPlusFlagType">
		
<xs:annotation>
			
<xs:documentation>Security Plus Flag indicates  if security Plus functionality is enabled in Ensemble.  Note. If customer has securityPlus set for itself, the representative authenticating the customer would not be able to bypass the security authentication</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	
<xs:simpleType name="SecurityQuestionIdentifierType">
		
<xs:annotation>
			
<xs:documentation>Security Question Identifier uniquely identifies a "proof of identity" question/answer pair. The retrieved question is presented to a system user as a security precaution to prove identity when they try to reset their password.  The user is not allowed to reset the password unless they can provide the correct answer stored with the Security Question.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="3"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="StandardIndustrialClassificationCodeType">
		
<xs:annotation>
			
<xs:documentation>Standard Industrial Classification Code uniquely identifies a classification within the Standard Industrial Classification (abbreviated 'SIC').

The SIC is a United States government system for classifying industries by a four-digit code. Established in the 1930s, it is being supplanted by the six-digit North American Industry Classification System, which was released in 1997; however certain government departments and agencies, such as the U.S. Securities and Exchange Commission (SEC), still use the SIC codes.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:int">
			
<xs:totalDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="SocialSecurityNumberType">
		
<xs:annotation>
			
<xs:documentation>Social Security number (SSN) is a 9-digit number issued to citizens, permanent residents, and temporary (working) residents under section 205(c)(2) of the Social Security Act, codified as 42 U.S.C.§ 405(c)(2). The number is issued to an individual by the Social Security Administration, an agency of the U.S. Federal Government. Its primary purpose is to track individuals for taxation purposes. In recent years the SSN has become a de facto national identification number.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="9"/>
			
<xs:pattern value="[\d]{9}"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="StreetDirectionType">
		
<xs:annotation>
			
<xs:documentation>Street Direction is the component of a USPS Posatal Address holding the compass bearing (North, East, South, West and various combinations and abbreviations) appearing before or after a Street Name.  e.g.: North Oak, South Oak, NorthWest Barry Road, Barry Road NW, Oak South, etc.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:minLength value="1"/>
			
<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="StreetNameType">
		
<xs:annotation>
			
<xs:documentation>Street Name is a USPS Postal Address component that holds the name of a street.  For example in, "123 Main Street", "Main" would reside in Street Name.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="50"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="StreetNumberType">
		
<xs:annotation>
			
<xs:documentation>Street Number is a component of a USPS Posatal Address that holds the house or building number on a street.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="10"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="StreetSuffixType">
		
<xs:annotation>
			
<xs:documentation>Street Suffix is a USPS Postal Address component that holds the trailing part of the street name.  For example in, "123 Main Street", "Street" would reside in Street Suffix.  Other values might be Cir, Vlvd, Rd, etc.</xs:documentation>
			
<xs:documentation>Street Suffix is a USPS Postal Address component that holds the trailing part of the street name.  For example in, "123 Main Street", "Street" would reside in Street Suffix.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="4"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="SubMarketCodeType">
		
<xs:annotation>
			
<xs:documentation>Sub Market Code designates a Market Segment which represents a distinct subset or segment of a market that behave in the same way or have similar needs.  Because each segment is fairly homogeneous in their needs and attitudes, they are likely to respond similarly to a given marketing strategy. That is, they are likely to have similar feelings and ideas about a marketing mix comprised of a given product or service, sold at a given price, distributed in a certain way and promoted in a certain way.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="SubscriberCountType">
		
<xs:annotation>
			
<xs:documentation>Subscriber Count is the number of subscribers associated to the BAN.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="SubscriberIdentifierType">
		
<xs:annotation>
			
<xs:documentation>Subscriber Identifier is a string that uniquely identifies a subscriber.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="20"/>
			
<xs:minLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="SummaryBillProductionIndicatorType">
		
<xs:annotation>
			
<xs:documentation>Summary Bill Production Indicator identifies whether a Summary Bill or a General Bill should be produced for the Billing Account.</xs:documentation>
			
<xs:documentation>TODO: Verify the following enumeration values are correct.  

True = Summary Bill invoicing option
False= General Invoice invoicing option</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	
<xs:simpleType name="TaxIdentificationNumberType">
		
<xs:annotation>
			
<xs:documentation>Tax Identification Number is a Business Identification number issued by the Federal Government for tax purposes.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="10"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="TitleType">
		
<xs:annotation>
			
<xs:documentation>alias: Honorific</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="5"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="UspsPostalCodeType">
		
<xs:annotation>
			
<xs:documentation>USPS Postal Code contains the first 5 characters of the nine digit USPS Postal Code.</xs:documentation>
			
<xs:documentation>USPS Postal Code contains the first 5 characters of the nine digit USPS Postal Code.</xs:documentation>
			
<xs:documentation>alias: Ensemble: ADDR_DATA.ADR_ZIP</xs:documentation>
			
<xs:documentation>Ensemble: ADDR_DATA.ADR_ZIP

The first 5 characters or digits of the address zip code.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="5"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="UspsPostalCodeExtensionType">
		
<xs:annotation>
			
<xs:documentation>USPS Postal Code Extension contains the last 4 characters of the nine digit USPS Postal Code.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="4"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="UspsStateAbbreviationType">
		
<xs:annotation>
			
<xs:documentation>A United States Postal Service (USPS) State Abbreviation Code is the set of characters that are selected from a State or Protectorate name and specified by the USPS to represent the name of a State or US Protectorate for the purpose of mail delivery.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
<!---->
</xs:schema>