design/adapters/AccountManagementProxyService/src/main/resources/addAccountSoc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Sprint Employee (SPRINT) -->
<xs:schema xmlns:tns="http://integration.sprint.com/interfaces/addAccountSoc/v1/addAccountSoc.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://integration.sprint.com/interfaces/addAccountSoc/v1/addAccountSoc.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.3">
	<!--Date	               Author         Version   Change                                                                                                                                   	Rel	SR#-->
	<!--5/15/2011       Tracy Turner             1.0	Initial Draft																											GBL11.3       PJ004940-->
	<!--5/16/2011   Steve Heicelheim        1.0   added MVM standards and simple types                                                                         GBL11.3   PJ004940-->
	<!--05/23/2011       Tracy Turner             1.1     removed fields: memo, paramDataInfo, paramInfo, altPhone                                      GBL11.3       PJ004940-->
	<!--09/16/2011       Tracy Turner             1.2     renamed newPPSocInfo to otherSocInfo (to match spec), removed relatedSoc from otherSocInfo                                  								CS#494274 GBL11.4       PJ004940-->
	<!--02/16/2012          Ace Cineus               1.3           Increased maxLen restriction of DeviceSerialNumberType from 18 to 20                             GBL12.2          PJ006784-->
	<!---->
	<xs:element name="addAccountSoc" type="tns:AddAccountSocType"/>
	<xs:element name="addAccountSocResponse" type="tns:AddAccountSocResponseType"/>
	<xs:complexType name="AddAccountSocType">
		<xs:sequence>
			<xs:element name="accountInfo" type="tns:SearchCriteriaType">
				<xs:annotation>
					<xs:documentation>Billing account information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="deployToSubscribersInd" type="tns:BinaryExpressionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates whether the SOC should be deployed to subscribers This determines whether to deploy the price plans and SOCs to the subscribers. A deploy indicator on service level will determine for each service (SOC/PP) if it will be deployed to the subscribers under the BAN or not.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="newSocInfoList" type="tns:NewSocListType">
				<xs:annotation>
					<xs:documentation>List of structures containing new SOC information </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="callingApplicationInfo" type="tns:CallingApplicationInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Information about the calling application

</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddAccountSocResponseType">
		<xs:sequence>
			<xs:element name="message" type="tns:ConfirmMessageText">
				<xs:annotation>
					<xs:documentation>Message to denote success</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CallingApplicationInfoType">
		<xs:sequence>
			<xs:element name="associateId" type="tns:AssociateIdentifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Associate identifier. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="storeId" type="tns:RetailStoreIdentifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Store identifier.  </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FeatureInfoListType">
		<xs:sequence>
			<xs:element name="featureInfo" type="tns:FeatureInfoType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Information about the feature codes to be included in or excluded from the SOC</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FeatureInfoType">
		<xs:sequence>
			<xs:element name="featureCode" type="tns:FeatureCodeType">
				<xs:annotation>
					<xs:documentation>Code for this feature.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="expirationDate" type="tns:ExpirationDateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date the feature is to expire (used only to exclude a feature).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IpAddressInfoType">
		<xs:sequence>
			<xs:element name="ipType" type="tns:InternetProtocolAddressTypeCodeType">
				<xs:annotation>
					<xs:documentation>IP address type required if the resource type is P. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ipPool" type="tns:InternetProtocolAddressPoolIdentifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>IP pool code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="method" type="tns:AllocationMethodType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Method of allocation. It can be random (R).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="recoveryIp" type="tns:InternetProtocolAddressStringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The IP number to recover. It is required only if the action is recovery (V) and the resource type is P.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="M2HoRangeListType">
		<xs:sequence>
			<xs:element name="rangeInfo" type="tns:RangeInfoType" maxOccurs="3"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NaiInfoType">
		<xs:choice>
			<xs:element name="userName" type="tns:NaiUserNameType">
				<xs:annotation>
					<xs:documentation>The username part of the NAI - a string with length of 3-20 characters.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="naiInd" type="tns:BinaryExpressionType">
				<xs:annotation>
					<xs:documentation>Indicates that the user wants to allocate a NAI.  If true, a NAI will be allocated.
</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="NewPpSocListType">
		<xs:sequence>
			<xs:element name="newPpSocInfo" type="tns:NewPpSocInfoType" maxOccurs="200">
				<xs:annotation>
					<xs:documentation>Information about the new SOC </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NewPpSocInfoType">
		<xs:sequence>
			<xs:element name="soc" type="tns:ServiceOrderCodeType">
				<xs:annotation>
					<xs:documentation>SOC code for new service</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dealerCode" type="tns:DealerIdentifierType">
				<xs:annotation>
					<xs:documentation>The dealer code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="effectiveDate" type="tns:ContractStartDateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Effective date.  If not provided, it will be the time of the transaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="expirationDate" type="tns:ExpirationDateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date that we should expire this soc.  If action='D' and this is not provided, the soc will be expired today.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="relatedSoc" type="tns:ServiceOrderCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Primary SOC code in case this soc is part of a promotion.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="featureInfoList" type="tns:FeatureInfoListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This structure provides a list of feature codes to be included in or excluded from a SOC. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NewSocListType">
		<xs:sequence>
			<xs:element name="newSocInfo" type="tns:NewSocInfoType" maxOccurs="200">
				<xs:annotation>
					<xs:documentation>Information about the new SOC and related SOCS</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NewSocInfoType">
		<xs:sequence>
			<xs:element name="newPpSocInfoList" type="tns:NewPpSocListType">
				<xs:annotation>
					<xs:documentation>Information about the new SOC </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="otherSocInfoList" type="tns:OtherSocListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>List of structures containing related SOC information </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OtherSocListType">
		<xs:sequence>
			<xs:element name="otherSocInfo" type="tns:OtherSocInfoType" maxOccurs="200">
				<xs:annotation>
					<xs:documentation>Information about the related SOC </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OtherSocInfoType">
		<xs:sequence>
			<xs:element name="soc" type="tns:ServiceOrderCodeType">
				<xs:annotation>
					<xs:documentation>SOC code for new service</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dealerCode" type="tns:DealerIdentifierType">
				<xs:annotation>
					<xs:documentation>The dealer code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="effectiveDate" type="tns:ContractStartDateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Effective date.  If not provided, it will be the time of the transaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="expirationDate" type="tns:ExpirationDateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date that we should expire this soc.  If action='D' and this is not provided, the soc will be expired today.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="featureInfoList" type="tns:FeatureInfoListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This structure provides a list of feature codes to be included in or excluded from a SOC. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RangeInfoType">
		<xs:sequence>
			<xs:element name="fromNumber" type="tns:PhoneNumberType">
				<xs:annotation>
					<xs:documentation>Initial number in range.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="toNumber" type="tns:PhoneNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Last number in range.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchCriteriaType">
		<xs:choice>
			<xs:element name="ban" type="tns:BillingAccountNumberType">
				<xs:annotation>
					<xs:documentation>The unique identifier for the new billing account. (BAN)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="subscriberId" type="tns:SubscriberIdentifierType">
				<xs:annotation>
					<xs:documentation>The Subscriber Identifier is a string that uniquely identifies a subscriber.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mdn" type="tns:PhoneNumberType">
				<xs:annotation>
					<xs:documentation>Phone Number holds the concatenation of the NPA Number, NXX Number and Line NUmber into a single string.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ufmi" type="tns:UrbanFleetMemberIdentifierStringType">
				<xs:annotation>
					<xs:documentation>Urban Fleet Member Identifier String contains the concatenation of the Urban Identifier,'*' Fleet Identifier, '*' and Member IDentifier used to identify the Direct Connect Subscriber in the iDen network.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="deviceSerialNumber" type="tns:DeviceSerialNumberType">
				<xs:annotation>
					<xs:documentation>Device Serial Number is a unique number that is embedded electronically by the manufacturer into a wireless communication device that identifies that individual unit.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ipAddress" type="tns:InternetProtocolAddressStringType">
				<xs:annotation>
					<xs:documentation>An Internet Protocol Address is the numerical address by which a location in the Internet is identified. Computers on the Internet use IP addresses to route traffic and establish connections among themselves.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="imsi" type="tns:InternationalMobileSubscriberIdentityStringType">
				<xs:annotation>
					<xs:documentation>International Mobile Subscriber Identity (IMSI) is a unique number associated with all GSM and Universal Mobile Telecommunications System (UMTS) network mobile phone users. It is stored in the Subscriber Identity Module (SIM) inside the phone and is sent by the phone to the network.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nai" type="tns:NetworkAccessIdentifierType">
				<xs:annotation>
					<xs:documentation>Network Access Identifier holds the concatenation of the a user name and domain.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hppttId" type="tns:HighPerformancePushToTalkIdentifierStringType">
				<xs:annotation>
					<xs:documentation>High Performance Push To Talk Identifier (HPPTTID) is the identifier of a Subscription utilizing the QChat  Push-To-Talk techniology. HPPTTID is constructed in the username@domain URI format.  The username will be a MDN or UFMI based number.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<!---->
	<!--MVM/Shared Simple Types-->
	<xs:simpleType name="AllocationMethodType">
		<xs:annotation>
			<xs:documentation>Method of allocation. It can be random (R), pairing (P), or specific (S). The method is required for all resource types except IMSI.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="R"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="P"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AssociateIdentifierType">
		<xs:annotation>
			<xs:documentation>Associate Identifier is the Retail Store Associate Identifier.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BinaryExpressionType">
		<xs:annotation>
			<xs:documentation>Binary Expression is a type of an expression with two possible states,"true"and"false".</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="BillingAccountNumberType">
		<xs:annotation>
			<xs:documentation>Billing Account Number uniquely identifies an instance of Billing Account used to accrue charges for invoicing.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:totalDigits value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ConfirmMessageText">
		<xs:annotation>
			<xs:documentation>Confrim Message Text is a string with a confirmation message returned from the called API.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ContractStartDateType">
		<xs:annotation>
			<xs:documentation>Contract Start Date is the first date on which a contract is effective.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="DealerIdentifierType">
		<xs:annotation>
			<xs:documentation>Dealer Identifier uniquely identifies the dealer who interacted with the customer on behalf of the enterprise.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DeviceSerialNumberType">
		<xs:annotation>
			<xs:documentation>Device Serial Number is a unique number that is embedded electronically by the manufacturer into a wireless communication device that identifies that individual unit.</xs:documentation>
			<xs:documentation>Device Serial Number a unique number that is embedded electronically by the manufacturer into a wireless communication device that identifies that individual unit.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExpirationDateType">
		<xs:annotation>
			<xs:documentation>Expiration Date holds the last calendar Date an object, relationship, privilege, etc. is valid or in force.  After this date the object is no longervalid or in force.</xs:documentation>
			<xs:documentation>Expiration Date holds the last calendar Date an object, relationship, privilege, etc. is valid or in force.  After this date the object is no longervalid or in force.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="FeatureCodeType">
		<xs:annotation>
			<xs:documentation>The code of the feature being granted in this service feature</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HighPerformancePushToTalkIdentifierStringType">
		<xs:annotation>
			<xs:documentation>High Performance Push To Talk Identifier (HPPTTID) is the identifier of a Subscription utilizing the QChat  Push-To-Talk techniology. HPPTTID is constructed in the username@domain URI format.  The username will be a MDN or UFMI based number.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InternationalMobileSubscriberIdentityStringType">
		<xs:annotation>
			<xs:documentation>International Mobile Subscriber Identity (IMSI) is a unique number associated with all GSM and Universal Mobile Telecommunications System (UMTS) network mobile phone users. It is stored in the Subscriber Identity Module (SIM) inside the phone and is sent by the phone to the network. It is also used to acquire other details of the mobile in the Home Location Register (HLR) or as locally copied in the Visitor Location Register. In order to avoid the subscriber being identified and tracked by eavesdroppers on the radio interface, the IMSI is sent as rarely as possible and a randomly generated TMSI is sent instead.

The IMSI is used in any mobile network that interconnects with other networks, in particular CDMA and EVDO networks as well as GSM nets. This number is provisioned in the phone directly or in the R-UIM card (a CDMA analogue equivalent to a SIM card in GSM)

An IMSI is usually 15 digits long, but can be shorter (for example MTN South Africa's IMSIs are 14 digits). The first 3 digits are the Mobile Country Code (MCC), and is followed by the Mobile Network Code (MNC), either 2 digits (European standard) or 3 digits (North American standard). The remaining digits are the Mobile Subscriber Identification Number (MSIN) within the network's customer base.

The IMSI conforms to the International Telecommunication Union (ITU) E.212 numbering standard.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InternetProtocolAddressStringType">
		<xs:annotation>
			<xs:documentation>Internet Protocol Address is the numerical address by which a location in the Internet is identified. Computers on the Internet use IP addresses to route traffic and establish connections among themselves.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InternetProtocolAddressPoolIdentifierType">
		<xs:annotation>
			<xs:documentation>Internet Protocol Address Pool Identifier uniqely identifies an IP address pool.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InternetProtocolAddressTypeCodeType">
		<xs:annotation>
			<xs:documentation>Internet Protocol Address type code designates a type for an internet protocol adderss (usually to distinguish IPv4 from IPv6 addresses).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NaiUserNameType">
		<xs:annotation>
			<xs:documentation>NAI User Name is the user name portion of the Network Access Identifer (NAI) that comes before the @ sign.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:minLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NetworkAccessIdentifierType">
		<xs:annotation>
			<xs:documentation>Network Access Identifier holds the concatenation of the a user name and domain.</xs:documentation>
			<xs:documentation>alias: URI</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
			<xs:pattern value=".+@.+\..+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PhoneNumberType">
		<xs:annotation>
			<xs:documentation>Phone Number holds the concatenation of the NPA Number, NXX Number and Line NUmber into a single string.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RetailStoreIdentifierType">
		<xs:annotation>
			<xs:documentation>Retail Store Identifer is the store ID passed from the retailer to inComm.  These are 4 to 6 characters in length sometimes padded with zeros.  Leading 0s should not be stripped off.&#13;
(Examples: 001859, 1165, 0649)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="7"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceOrderCodeType">
		<xs:annotation>
			<xs:documentation>Service Order Code - Ensemble</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="9"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SubscriberIdentifierType">
		<xs:annotation>
			<xs:documentation>The Subscriber Identifier is a string that uniquely identifies a subscriber.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UrbanFleetMemberIdentifierStringType">
		<xs:annotation>
			<xs:documentation>Urban Fleet Member Identifier String contains the concatenation of the Urban Identifier,'*' Fleet Identifier, '*' and Member IDentifier used to identify the Direct Connect Subscriber in the iDen network.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<!---->
</xs:schema>
