design/adapters/QueryResourceInfoProxyService/src/main/resources/QueryResourceInfoService.xsd6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:tns="http://integration.sprint.com/interfaces/queryAvailableMdn/v3/queryAvailableMdnV3.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://integration.sprint.com/interfaces/queryAvailableMdn/v3/queryAvailableMdnV3.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0">
	
<!-- Date              Author                   Change                                                                                           Rel                  SR# -->
	
<!--10/22/2009    Steve Heichelheim 1.0 Added modelNum, internalLrnFlag to the request              GBL10.2         E4433/PJ000173-->
	
<xs:element name="queryAvailableMdnV3" type="tns:QueryAvailableMdnV3Type">
		
<xs:annotation>
			
<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
	</xs:element>
	
<xs:element name="queryAvailableMdnV3Response" type="tns:QueryAvailableMdnV3ResponseType"/>
	
<xs:complexType name="QueryAvailableMdnV3Type">
		
<xs:sequence>
			
<xs:element name="userId" type="tns:InitiatorUserIdentifier" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>User ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="accountId" type="tns:AccountIdentifier" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Account ID (BAN).  Required only for accessing reseller MDNs (MDNs associated with a reseller Number Location).  If not pased, the default Number Location will be used.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="numberGroup" type="tns:CommunicationServiceArea">
				
<xs:annotation>
					
<xs:documentation>Must be a Number Group, which corresponds to a leaf level CSA.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="reservationId" type="tns:MdnReservationIdentifier" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Required if the MDNs to be selected have a reservation ID.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="mdnPattern" type="tns:MobileDirectoryNumberPattern">
				
<xs:annotation>
					
<xs:documentation>This field allows MDN pattern to be one of the criteria for a MDN search.  the underscore character (‘_’) represents wildcard positions in the pattern.  A “no pattern” search requires this field to be populated with 10 underscore characters.  If this field is populated with any numbers, the entire NPA is required.  All other numbers are optional (e.g.”123_56_890” is valid, while “_2345_78_0” is not valid.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="noOfMdnsRequired" type="tns:RowCountNumber" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Number of MDN records requested.  If not provided, system default of 1 will be used.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="modelNum" type="tns:ModelNumberType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>ModelNum for Device</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="internalLrnFlag" type="tns:InternalLocationRoutingNumberTypeCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Indicator if the MDN has ATA service or associated to internal LRN.
Default to N if no value passed</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="QueryAvailableMdnV3ResponseType">
		
<xs:sequence>
			
<xs:element name="rowCount" type="tns:RowCountNumber">
				
<xs:annotation>
					
<xs:documentation>Number of MDN records returned.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="avilableMdnList" type="tns:AvailableMdnListType">
				
<xs:annotation>
					
<xs:documentation>Sequence of 1 to many MDNs sorted by ascending last transaction date and then MDN order for the requested Number Group, which corresponds to a leaf level CSA and Number Location.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="tempLockId" type="tns:MobileDirectoryNumberTemporaryLockIdentifier">
				
<xs:annotation>
					
<xs:documentation>ID generated by NMS when a MDN is put in temp lock (AT) status.  This ID must be passed back to NMS in order to unlock the MDN selected from the list returned and assign it to a subscription.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="numberGroup" type="tns:CommunicationServiceArea">
				
<xs:annotation>
					
<xs:documentation>Number Group (Leaf CSA) of MDNs being returned.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="alternateNumberGroupUsedInd" type="tns:AlternateNumberGroupUseFlag">
				
<xs:annotation>
					
<xs:documentation>Indicator (value: Y/N) to show that an alternate Number Group (Leaf CSA) was used.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="alternateNumberGroupPriority" type="tns:AlternateNumberGroupPriority" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Priority of the alternate Number Group (Leaf CSA).</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="alternateNumberGroupFeeInd" type="tns:AlternateNumberGroupFeeFlag" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>If an alternate number group is used, this is an indicator (Y/N) as to wheather the alternate number group has a fee associated with it.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="statusCode" type="tns:StatusCode">
				
<xs:annotation>
					
<xs:documentation>Code of status returned.  0 indicates success.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="statusDesc" type="tns:StatusDescription">
				
<xs:annotation>
					
<xs:documentation>Description of status returned.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="AvailableMdnInfoType">
		
<xs:sequence>
			
<xs:element name="mdn" type="tns:MobileDirectoryNumberString">
				
<xs:annotation>
					
<xs:documentation>Mobile Id Nbr</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="AvailableMdnListType">
		
<xs:annotation>
			
<xs:documentation>Sequence of 1 to many MDNs sorted by ascending last transaction date and then MDN order for the requested Number Group, which corresponds to a leaf level CSA and Number Location.</xs:documentation>
		</xs:annotation>
		
<xs:sequence>
			
<xs:element name="availableMdnInfo" type="tns:AvailableMdnInfoType" maxOccurs="500"/>
		</xs:sequence>
	</xs:complexType>
	
<!---->
	
<!--MVM Simple Types-->
	
<xs:simpleType name="AccountIdentifier">
		
<xs:annotation>
			
<xs:documentation>The Account Identifier is a string that uniquely identifies an account.

Required for activating a reseller ESN/MEID to verify the ESN/MEID and the account are both reseller specific.
Required for Ensemble accounts
</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="AlternateNumberGroupFeeFlag">
		
<xs:annotation>
			
<xs:documentation>Alternate Number Group fee Flag is a boolean flag that indicates whether the alternate number group has a fee associated with it.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	
<xs:simpleType name="AlternateNumberGroupPriority">
		
<xs:annotation>
			
<xs:documentation>Alternate Number Group Priority is the Priority of the alternate Number Group (Leaf CSA).</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="AlternateNumberGroupUseFlag">
		
<xs:annotation>
			
<xs:documentation>Alternate Number Group Use Flag is a boolean flag that indicates if an alternate Number Group (Leaf CSA) was used.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	
<xs:simpleType name="CommunicationServiceArea">
		
<xs:annotation>
			
<xs:documentation>Communication Service Area Identifier uniquely identifies an instance of a geographic area (CSA) served by a communication service provider, which can be broken down into regional, metropolitan, district and smaller sections called ''leaves.''</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="InitiatorUserIdentifier">
		
<xs:annotation>
			
<xs:documentation>Initiator Identification – (creator)
User ID from front-ends.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="MdnReservationIdentifier">
		
<xs:annotation>
			
<xs:documentation>The MDN Reservation ID identifies the reservation of one or more MDN in NMS.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:minLength value="1"/>
			
<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="MobileDirectoryNumberPattern">
		
<xs:annotation>
			
<xs:documentation>Mobile Directory Number Pattern may be one of the criteria for a MDN search.  the underscore character ('_') represents wildcard positions in the pattern.  A "no pattern" search requires this field to be populated with 10 underscore characters.  If this field is populated with any numbers, the entire NPA is required.  All other numbers are optional (e.g."123_56_890" is valid, while "_2345_78_0" is not valid.)</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="10"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="MobileDirectoryNumberString">
		
<xs:annotation>
			
<xs:documentation>The method of identifying telephone trunks in the public network of North America, called World Numbering Zone 1 by the ITU-T. the Plan has 3 ways of identifying phone numbers in North America -- a 3-digit area code, a 3-digit exchange or central office code, and 4-digit subscriber code.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="10"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="MobileDirectoryNumberTemporaryLockIdentifier">
		
<xs:annotation>
			
<xs:documentation>The MDN Temporary Lock Identifer is used to identify the temporary lock that is associated with a Mobile Directory Number.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="ModelNumberType">
		
<xs:annotation>
			
<xs:documentation>Model Number contains a unique value within the class of PRODUCT identified by Model Name used to identify the type of equipment being shipped by the Manufacturer.</xs:documentation>
			
<xs:documentation>Model Number contains a unique value within the class of PRODUCT identified by Model Name used to identify the type of equipment being shipped by the Manufacturer.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:minLength value="1"/>
			
<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="RowCountNumber">
		
<xs:restriction base="xs:integer">
			
<xs:totalDigits value="3"/>
			
<xs:fractionDigits value="0"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="StatusCode">
		
<xs:annotation>
			
<xs:documentation>Status Code</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="StatusDescription">
		
<xs:annotation>
			
<xs:documentation>Status Description</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	
<!---->
	
<!--New Simple Types-->
	
<xs:simpleType name="InternalLocationRoutingNumberTypeCodeType">
		
<xs:annotation>
			
<xs:documentation>Internal Location Routing Number (LRN) Type Code designates if the MDN is associated to an internal LRN or has ATA service.
Values:
Y - the MDN is associated to an internal LRN
N - the MDN has ATA service</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="1"/>
			
<xs:enumeration value="Y"/>
			
<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	
<!---->
</xs:schema>