design/adapters/QueryResourceInfoProxyService/src/main/resources/QueryResourceInfoService.xsd10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:tns="http://integration.sprint.com/interfaces/querySubscriberResourceHistoryList/v1/querySubscriberResourceHistoryList.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://integration.sprint.com/interfaces/querySubscriberResourceHistoryList/v1/querySubscriberResourceHistoryList.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1">
	
<!-- Date              Author                  Version     Change                                                                               Rel                          SR# -->
	
<!--1/26/2008    Jennifer Carlton         1.1        Added version and change log.                                          SAP09.6.0.0          E1710.017-->
	
<!--1/26/2008    Jennifer Carlton         1.1        Added minLen 1 to ban, mdn, deviceSerialNumber, ufmi    SAP09.6.0.0          E1710.017-->
	
<!--1/26/2008    Jennifer Carlton         1.1        Added minLen 1 to  ipAddress, imsi, nai, httpttld                SAP09.6.0.0          E1710.017-->
	
<xs:element name="querySubscriberResourceHistoryList" type="tns:QuerySubscriberResourceHistoryList"/>
	
<xs:element name="querySubscriberResourceHistoryListResponse" type="tns:QuerySubscriberResourceHistoryListResponse"/>
	
<xs:complexType name="Info">
		
<xs:choice>
			
<xs:element name="ban">
				
<xs:annotation>
					
<xs:documentation>Billing Account Number uniquely identifies an instance of Billing Account used to accrue charges for invoicing.</xs:documentation>
				</xs:annotation>
				
<xs:simpleType>
					
<xs:restriction base="tns:BillingAccountNumber">
						
<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
<xs:element name="subscriberId" type="tns:SubscriberIdentifier">
				
<xs:annotation>
					
<xs:documentation>The Subscriber Identifier is a string that uniquely identifies a subscriber.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="mdn">
				
<xs:annotation>
					
<xs:documentation>Phone Number holds the concatenation of the NPA Number, NXX Number and Line NUmber into a single string.</xs:documentation>
				</xs:annotation>
				
<xs:simpleType>
					
<xs:restriction base="tns:PhoneNumber">
						
<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
<xs:element name="deviceSerialNumber">
				
<xs:annotation>
					
<xs:documentation>A Device Serial Number Hex is the value of a electronic serial number OR Mobile Equipment Identifier(MEID) in hexidecimal format.  This type should be used when it is not known what type the serial number is.</xs:documentation>
				</xs:annotation>
				
<xs:simpleType>
					
<xs:restriction base="tns:DeviceSerialNumberHex">
						
<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
<xs:element name="ufmi">
				
<xs:annotation>
					
<xs:documentation>Urban Fleet Member Identifier String contains the concatenation of the Urban Identifier,'*' Fleet Identifier, '*' and Member IDentifier used to identify the Direct Connect Subscriber in the iDen network.</xs:documentation>
				</xs:annotation>
				
<xs:simpleType>
					
<xs:restriction base="tns:UrbanFleetMemberIdentifierString">
						
<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
<xs:element name="ipAddress">
				
<xs:annotation>
					
<xs:documentation>Electronic Address represents the character string of the electronic address.</xs:documentation>
				</xs:annotation>
				
<xs:simpleType>
					
<xs:restriction base="tns:InternetProtocolAddressString">
						
<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
<xs:element name="imsi">
				
<xs:annotation>
					
<xs:documentation>International Mobile Subscriber Identity (IMSI) is a unique number associated with all GSM and Universal Mobile Telecommunications System (UMTS) network mobile phone users. It is stored in the Subscriber Identity Module (SIM) inside the phone and is sent by the phone to the network.</xs:documentation>
				</xs:annotation>
				
<xs:simpleType>
					
<xs:restriction base="tns:InternationalMobileSubscriberIdentityString">
						
<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
<xs:element name="nai">
				
<xs:annotation>
					
<xs:documentation>A Uniform Resource Identifier (URI) is the way you identify any of those points of content, whether it be a page of text, a video or sound clip, a still or animated image, or a program. T</xs:documentation>
				</xs:annotation>
				
<xs:simpleType>
					
<xs:restriction base="tns:NetworkAccessIdentifier">
						
<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
<xs:element name="hppttId">
				
<xs:annotation>
					
<xs:documentation>High Performance Push To Talk Identifier (HPPTTID) is the identifier of a Subscription utilizing the QChat  Push-To-Talk techniology. HPPTTID is constructed in the username@domain URI format.  The username will be a MDN or UFMI based number.</xs:documentation>
				</xs:annotation>
				
<xs:simpleType>
					
<xs:restriction base="tns:HighPerformancePushToTalkIDString">
						
<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	
<xs:complexType name="QuerySubscriberResourceHistoryList">
		
<xs:sequence>
			
<xs:element name="info" type="tns:Info"/>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="QuerySubscriberResourceHistoryListResponse">
		
<xs:sequence>
			
<xs:element name="resourceHistoryList" type="tns:ResourceHistoryList" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="ResourceHistoryInfo">
		
<xs:sequence>
			
<xs:element name="resourceType" type="tns:NetworkResourceTypeCode">
				
<xs:annotation>
					
<xs:documentation>Network Resource Type Code identifies the Network Resource type that is allocated to the subscriber. 

Valid Values are:

'B' - Public IP
'C' - Corporate IP
'H' - HPPTT NAI
'I' - IMSI
'M' - UFMI
'N' - NAI
'P' - PTN
'R' - Private IP
'T' - Talk Group
'U' - Urban + Fleet
</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="resourceNumber" type="tns:ResourceDeviceSerialNumber">
				
<xs:annotation>
					
<xs:documentation>Resource Device Serial Number is the serial number from the resource. Resource can be PTN/MDN, IP, UFMI or NAI</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="resourceStatus" type="tns:SubscriberStatusCode">
				
<xs:annotation>
					
<xs:documentation>Subscriber status code is a single character code that represents the status of a subscriber.

Possible values:

A - Active
S - Suspended
C - Canceled
R - Reserved</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="resourceStatusDate" type="tns:SubscriptionStatusChangeDate">
				
<xs:annotation>
					
<xs:documentation>Subscription Status Change Date holds the calendar month, day and year when the last change to the SUBSCRIPTION's status occurred.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="hppttType" type="tns:HighPerformancePushToTalkResourceIndicator" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Valid resource indicator values are:

'C-  CDMA UFMI-based SIP URI resource
'P' - PTN-based SIP URI resource
'I' - IDEM UFMI-based SIP URI resource</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="ResourceHistoryList">
		
<xs:sequence>
			
<xs:element name="resourceHistoryInfo" type="tns:ResourceHistoryInfo" minOccurs="0" maxOccurs="50"/>
		</xs:sequence>
	</xs:complexType>
	
<!--Simple Types sourced from Shared Simple Types-->
	
<xs:simpleType name="AccountNumberString">
		
<xs:annotation>
			
<xs:documentation>Account Number uniquely identifies an Account.  The Account may be a Financial Account, a Customer Account, Billing Account, etc.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="BillingAccountNumber">
		
<xs:annotation>
			
<xs:documentation>Billing Account Number uniquely identifies an instance of Billing Account used to accrue charges for invoicing.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="tns:AccountNumberString">
			
<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="DeviceSerialNumberHex">
		
<xs:annotation>
			
<xs:documentation>A Device Serial Number Hex is the value of a electronic serial number OR Mobile Equipment Identifier(MEID) in hexidecimal format.  This type should be used when it is not known what type the serial number is.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="18"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="ElectronicAddressString">
		
<xs:annotation>
			
<xs:documentation>ElectronicAddressString represents the character string of the electronic address.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="HighPerformancePushToTalkResourceIndicator">
		
<xs:annotation>
			
<xs:documentation>The resource indicator C means a CDMA UFMI-based SIP URI resource, P means a PTN-based SIP URI resource).</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="1"/>
			
<xs:enumeration value="C"/>
			
<xs:enumeration value="P"/>
			
<xs:enumeration value="I"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="HighPerformancePushToTalkIDString">
		
<xs:annotation>
			
<xs:documentation>High Performance Push To Talk Identifier (HPPTTID) is the identifier of a Subscription utilizing the QChat  Push-To-Talk techniology. HPPTTID is constructed in the username@domain URI format.  The username will be a MDN or UFMI based number.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="tns:UniformResourceIdentifierString">
			
<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="IdentifierString">
		
<xs:annotation>
			
<xs:documentation>Identifier String  holds a String value that uniquely identifies an instance of an object.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string"/>
	</xs:simpleType>
	
<xs:simpleType name="InternationalMobileSubscriberIdentityString">
		
<xs:annotation>
			
<xs:documentation>International Mobile Subscriber Identity (IMSI) is a unique number associated with all GSM and Universal Mobile Telecommunications System (UMTS) network mobile phone users. It is stored in the Subscriber Identity Module (SIM) inside the phone and is sent by the phone to the network. It is also used to acquire other details of the mobile in the Home Location Register (HLR) or as locally copied in the Visitor Location Register. In order to avoid the subscriber being identified and tracked by eavesdroppers on the radio interface, the IMSI is sent as rarely as possible and a randomly generated TMSI is sent instead.

The IMSI is used in any mobile network that interconnects with other networks, in particular CDMA and EVDO networks as well as GSM nets. This number is provisioned in the phone directly or in the R-UIM card (a CDMA analogue equivalent to a SIM card in GSM)

An IMSI is usually 15 digits long, but can be shorter (for example MTN South Africa's IMSIs are 14 digits). The first 3 digits are the Mobile Country Code (MCC), and is followed by the Mobile Network Code (MNC), either 2 digits (European standard) or 3 digits (North American standard). The remaining digits are the Mobile Subscriber Identification Number (MSIN) within the network's customer base.

The IMSI conforms to the International Telecommunication Union (ITU) E.212 numbering standard.</xs:documentation>
			
<xs:documentation>International Mobile Subscriber Identity (IMSI) holds a unique identifier allocated to each mobile subscriber in a GSM and UMTS network. It consists of a MCC (Mobile Country Code), a MNC (Mobile Network Code) and a MSIN (Mobile Station Identification Number).</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="InternetProtocolAddressString">
		
<xs:annotation>
			
<xs:documentation>Electronic Address represents the character string of the electronic address.</xs:documentation>
			
<xs:documentation>An Internet Protocol Address is the numerical address by which a location in the Internet is identified. Computers on the Internet use IP addresses to route traffic and establish connections among themselves.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="tns:ElectronicAddressString">
			
<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="NetworkAccessIdentifier">
		
<xs:annotation>
			
<xs:documentation>A Uniform Resource Identifier (URI -- pronounced YEW-AHR-EYE) is the way you identify any of those points of content, whether it be a page of text, a video or sound clip, a still or animated image, or a program. The most common form of URI is the Web page address, which is a particular form or subset of URI called a Uniform Resource Locator (URL). 

A URI typically describes:

The mechanism used to access the resource
The specific computer that the resource is housed in
The specific name of the resource (a file name) on the computer
For example, this URI:
http://www.w3.org/Icons/WWW/w3c_main.gif
identifies a file that can be accessed using the Web protocol application, Hypertext Transfer Protocol, ("http://") that is housed on a computer named "www.w3.org" (which can be mapped to a unique Internet address). In the computer's directory structure, the file is located at the pathname of "/Icons/WWW/w3c_main.gif." Character strings that identify File Transfer Protocol FTP addresses and e-mail addresses are also URIs (and, like the HTTP address, are also the specific subset of URI called a URL).

Another kind of URI is the Uniform Resource Name (URN). A URN is a form of URI that has "institutional persistence," which means that its exact location may change from time to time, but some agency will be able to find it.

The URI rules of syntax, set forth in the Internet Engineering Task Force (IETF) Request for Comments 1630, apply for all Internet addresses. In Tim Berner-Lee's original working document, URI stood for Universal Resource Identifier.</xs:documentation>
			
<xs:documentation>alias: URI</xs:documentation>
			
<xs:documentation>Network Access Identifier holds the concatenation of the a user name and domain.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="64"/>
			
<xs:pattern value=".+@.+\..+"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="PhoneNumber">
		
<xs:annotation>
			
<xs:documentation>Phone Number holds the concatenation of the NPA Number, NXX Number and Line NUmber into a single string.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="ResourceDeviceSerialNumber">
		
<xs:annotation>
			
<xs:documentation>Resource Device Serial Number is the serial number from the resource. Resource can be PTN/MDN, IP, UFMI or NAI</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="SubscriberStatusCode">
		
<xs:annotation>
			
<xs:documentation>Subscriber status code is a single character code that represents the status of a subscriber.

Possible values:

A - Active
S - Suspended
C - Canceled
R - Reserved</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:enumeration value="A"/>
			
<xs:enumeration value="S"/>
			
<xs:enumeration value="C"/>
			
<xs:enumeration value="R"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="SubscriberIdentifier">
		
<xs:annotation>
			
<xs:documentation>The Subscriber Identifier is a string that uniquely identifies a subscriber.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="11"/>
			
<xs:minLength value="8"/>
			
<xs:pattern value="\d*"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="SubscriptionStatusChangeDate">
		
<xs:annotation>
			
<xs:documentation>Subscription Status Change Date holds the calendar month, day and year when the last change to the SUBSCRIPTION's status occurred.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:date"/>
	</xs:simpleType>
	
<xs:simpleType name="TypeCode">
		
<xs:annotation>
			
<xs:documentation>Type Code differentiates the various  categories or subtypes of an Object.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string"/>
	</xs:simpleType>
	
<xs:simpleType name="UniformResourceIdentifierString">
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="UrbanFleetMemberIdentifierString">
		
<xs:annotation>
			
<xs:documentation>Urban Fleet Member Identifier String contains the concatenation of the Urban Identifier,'*' Fleet Identifier, '*' and Member IDentifier used to identify the Direct Connect Subscriber in the iDen network.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="tns:IdentifierString">
			
<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	
<!--Simple Types Added-->
	
<xs:simpleType name="NetworkResourceTypeCode">
		
<xs:annotation>
			
<xs:documentation>Network Resource Type Code identifies the Network Resource type that is allocated to the subscriber. 

Valid Values are:

'B' - Public IP
'C' - Corporate IP
'H' - HPPTT NAI
'I' - IMSI
'M' - UFMI
'N' - NAI
'P' - PTN
'R' - Private IP
'T' - Talk Group
'U' - Urban + Fleet
</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="tns:TypeCode">
			
<xs:length value="1"/>
			
<xs:enumeration value="B"/>
			
<xs:enumeration value="C"/>
			
<xs:enumeration value="H"/>
			
<xs:enumeration value="I"/>
			
<xs:enumeration value="M"/>
			
<xs:enumeration value="N"/>
			
<xs:enumeration value="P"/>
			
<xs:enumeration value="R"/>
			
<xs:enumeration value="T"/>
			
<xs:enumeration value="U"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>