design/adapters/QueryPlansAndOptionsProxyService/src/main/resources/queryAvailablePlans.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 rel. 2 (http://www.altova.com) by LEE VAN AALSBURG (SPRINT) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://integration.sprint.com/interfaces/queryAvailablePlans/v1/queryAvailablePlans.xsd" targetNamespace="http://integration.sprint.com/interfaces/queryAvailablePlans/v1/queryAvailablePlans.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified" version="8.0">
	<!-- Date              Author                 Version     Change                                                                      Rel                  SR# -->
	<!--07/22/2009    Judy Kauffmann           1.0     Created new.                                          NOVGBL09.4              E4686/PJ000126-->
	<!--08/07/2009   Steve Heichelheim 1.0          Applied MVM standards and simple types                 NOVGBL09.4              E4686/PJ000126-->
	<!--08/07/2009   Steve Heichelheim 1.0          Applied MVM standards and simple types                 NOVGBL09.4              E4686/PJ000126-->
	<!--08/25/2009   Steve Heichelheim 1.1          Added ban to banInfo, changed socSequenceNumber to xs:long    NOVGBL09.4              E4686/PJ000126-->
	<!--08/28/2009    Judy Kauffmann   1.2       Deleted duplicate ban field, deleted legacyPlanInd   NOVGBL09.4            e4686/PJ000126-->
	<!--10/19/2009   Steve Whipple   2.0       Added (PBD,SBD) to productId, added requriedPrimaryBundleSoc, maxSecondaryBundleSocs  GBL10.1              E4475/PJ000181-->
	<!--11/01/2009   Judy Kauffmann   2.1       Added new simple type  MinutesIncludedTextType assoc with nightWeekendMinutes GBL09.04            E4686/PJ000126-->
	<!--11/30/2009    Steve Heichelheim  2.2   added SocDescriptionDetailType planDetail and planLearnMore             GBL10.2    PJ001210-->
	<!--12/07/2009    Steve Heichelheim  2.2   added ivrPlanDesc and simple type                                                      GBL10.2    PJ001210-->
	<!--12/14/2009    Steve Heichelheim  2.2   moved planDetail, planLearnMore and ivrPlanDesc from socLongDesc  and made optional          GBL10.2    PJ001210-->
	<!--12/14/2009    Tom Woodard        2.3   added new enumerated value 'UNI' to ProductCategoryCodeType                          GBL10.2    PJ000176-->
	<!--2/11/2010   Tracy Turner 3.0	     Changed the maxOccurs for the searchBySocInfo from 1 to 10                        				 GBL10.3              PJ000177-->
	<!--2/14/2010   Tracy Turner 3.1	     Added new enumerated field 'planType' to the response.								                 GBL10.3              PJ000177-->
	<!--2/18/2010   Tracy Turner 3.2	     Added a new structure in choice for request  searchBySocList to contain the searchBySocInfo structures                				 GBL10.3              PJ000177-->
	<!-- 03/19/2010    Dweepant Bakshi 3.3   Added brandCode in callingApplicationInfo structure in request side                           GBL10.3    CS#375300-->
	<!--4/20/2010   Tracy Turner 3.4	     changed complexTpe of planType from PlanType back to  PlanShareTypeCodeType            				 GBL10.3              PJ000177-->
	<!--4/20/2010 Steve Heichelheim 3.5 added PlanShareTypeCodeType from MVM, cleaned up simple types                     GBL10.3              PJ000177-->
	<!-- 04/20/2010    Judy Kauffman 3.6 Changed anytimeMinutes and totalMinutes from required to optional.  OVM will not always send values in these fields.   GBL10.3 CS#381625-->
	<!--4/21/2010 Steve Heichelheim 3.4 Removed Enumeration from PlanShareTypeCodeType                                    GBL10.4  PJ002612 -->
	<!--05/04/2010  Tom Woodard  3.5   removed enums from ProductCategoryCodeType                                           GBL10.4          PJ002227-->
	<!--05/04/2010  Tom Woodard       3.5   Added INS (Insurance) to the values listed in the annotation for ProductCategoryCodeType.                                          GBL10.4          PJ002277-->
	<!--06/16/2010  Steve Heichelheim 4,0  add macId to the request                                                           GBL10.5   PJ002638-->
	<!--7/21/2010   Tracy Turner 			4.1	     Added optional promoCode to the request, optional promoPlanInd & promoCodeInfo structure to the response   GBL10.5              PJ004347-->
	<!--7/23/2010   Tracy Turner 			4.2	     Created new list container promoCodeErrorList in the response promoCodeInfo structure   GBL10.5              PJ004347-->
	<!--8/4/2010   Tracy Turner 			4.3	     Renamed promoPlanInd to promotionalPlanInd and moved to the planType substructure  	GBL10.5              PJ004347-->
	<!--09/22/2010   Ibrahim ElKhatib	                                4.4	            Changed PlanPriorityType (element planPriority) from positiveInteger to nonNegativeInteger	        GBL10.5      CS#418079-->
	<!--09/24/2010  Dweepant Bakshi                           5.0	            Added sharingGroupId in pricePlanInfo,dataAllowanceRoaming in response. Moved maxSubscriberAllowed outside ltsRecurringChargeList. 	        GBL11.1    PJ000082-->
	<!--10/18/2010   Tracy Turner 			4.5	     CS#425840 Renamed promoCodeErroInfo to promoCodeErrorInfo   	GBL10.5              PJ004347-->
	<!--12/06/2010  Dweepant Bakshi                           6.0	            Moved dataAllowance and dataAllowanceRoaming in response under allowanceList. 	        GBL11.2    PJ004158-->
	<!--2/16/2010   Gustavo SIlva 			6.1	     Added a new field musMilestoneLevel in the response structure	GBL11.2              PJ004876-->
	<!--09/12/2011 Tracy Turner    7.0     CS#489760  changed datatype of extraAnytimeMinutesCharge and intlChargePerMinute to have a fractional digit value of 4 (was 2) GBL11.4         PJ004940-->
	<!--09/22/2011 Jocelen Silva                                    7.1                   Removed enumeration from PacketDataSupportTypeCodeType   GBL11.4 CS#495465 -->
	<!--04/24/2012 Tracy Turner			7.2 Prod Defect: IM1017845 Added missing optional string element productDisclosure to plan structure on the response, increased length of brandCode and added 2 new enumerated values 'SP' and 'NX", moved planDetail under planType (to match code and spec)-->
	<!--05/23/2012 Saritha Guduputi   7.3 PJ007442 Added boolean flag to suport VMU plans, demoPlanInd, restartCapablePlanInd, freeStatePlanInd, dataThrottlePlanInd,advancePaymentPlanInd under planTypeInfo Structure, unitSMSIncluded in detailPlanInfo, planDisplayCategory PJ007442 -->
	<!--05/29/2012 Steve Heichelheim     7.3  Assigned simple type to pricePlanInfo.productDisclosure   GBL12.3 PJ007442 -->
	<!--09/27/2012 Suresh Gundu     7.4  GBL 13.1 PJ007607 Modified the existing fields and documentation around isPlanMRCDiscountEligibleInd and mrcDiscountAmount -->
	<!--04/08/2013 Natalia Silva     7.5  Added pcOfferId field in pricePlanInfo structure in the response message.   MID13.2.1 PJ008186 CS#597621   -->
	<!--04/22/2013 Subha Kannan   7.6  Removed enumeration from simpleType ActivationOrderIdentifierType  in the response message.   MID13.2.1 CS# 599767   -->
	<!--10/27/2013 Deepa Colluru          7.7    IM2081258       Changed storeId length from 7 to 50 to match with OVM request. This element is not related to Amdocs. GBL13.3  PJ007526-->
	<!--10/29/2013 Mitali Handoo   7.7  Added a structure deviceInfoType wthin searchBySocList structure in the request message.  GBL 14.1 PJ008620-->
	<!--11/04/2013 Subha Kannan         7.8   Added new element searchCriteria.fetchIBPlan in the request  and  added new element planTypeInfo.installmentBillingPlanInd  in the response.   PJ009010 CR 21-->
	<!--1/10/2014 Mitali Handoo           7.9  Moved structure deviceInfoType outside of searchBySocList structure in the request message                                                                           GBL 14.1 PJ008620-->
	<!--1/29/2014 Subha Kannan     8.0   Added new element deviceSaleType in the request  MID 14.2.1 PJ009433-->
	<!--02/03/2014 Adon Powell    8.0  standarize  MID 14.2.1 PJ009433-->
	<!--02/10/2014 Adon Powell    8.0  fixed ib related simple type name  MID 14.2.1 PJ009433-->
	<!--02/27/2014 Ishita Biswas  8.1  Changed callingApplicationInfo from required to optional MID 14.2.1 PJ007526 Phase2-->
	<!--11/09/2014 Subha Kannan Added new  pricePlanFilterInfo structure in the request - NDA New Price Plan Offer-->
	<!--12/12/2014 Mitali Handoo      8.2 Updated defination for affinityRegistrationSoc  and deviceSaleType to fix Axis xsd issue                                                              GBL 15.1-->
	<!---->
	<xs:element name="queryAvailablePlans" type="tns:QueryAvailablePlansType"/>
	<xs:element name="queryAvailablePlansResponse" type="tns:QueryAvailablePlansResponseType"/>
	<!---->
	<xs:complexType name="QueryAvailablePlansType">
		<xs:sequence>
			<xs:element name="callingApplicationInfo" type="tns:CallingApplicationInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Structure in which to insert calling application and user info. This structure is being deprecated since it is being added as a common optional structure in WSMessageHeaderV2. New users of this API will use callingApplicationInfo of WSMessageHeaderV2 to populate the OVM header data. Existing may continue to use callingApplicationInfo of the body. The API will return an error if neither is populated.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="searchCriteria" type="tns:SearchCriteriaType">
					<xs:annotation>
						<xs:documentation>Structure in which to identify criteria for plan search</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="searchBySocList" type="tns:SearchBySocListType">
					<xs:annotation>
						<xs:documentation>Contains the list of1 to 10  search by soc information structures.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QueryAvailablePlansResponseType">
		<xs:sequence>
			<xs:element name="pricePlanList" type="tns:PricePlanListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>List of price plan records.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="promoCodeInfo" type="tns:PromoCodeInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Structure containing information relating to the promo code submitted in the request.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AffinityAttributeInfoType">
		<xs:sequence>
			<xs:element name="name" type="tns:AffinityAttributeNameType">
				<xs:annotation>
					<xs:documentation>Affinity Attribute name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="code" type="tns:AttributeKeyType">
				<xs:annotation>
					<xs:documentation>Affinity Attribute code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="tns:AffinityAttributeTypeCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>C = Character, one char only.
N = Integer.
T = Date, with format MM/dd/yyyy
D = Date and Time with format MM/dd/yyyy HH:mm:ss
M = Decimal, meaning has exactly 2 digits after the decimal digit (3.25, 1.99, 19999.33 etc.)
S = String.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="length" type="tns:AffinityAttributeSizeQuantityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Length of affinity attribute</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="requiredInd" type="tns:AffinityAttributeRequiredFlagType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valid values are: true(Required) and false (Optional)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mask" type="tns:AffinityAttributeMaskType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The mask of the affinity attribute</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pattern" type="tns:AffinityAttributePatternTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valid values are:  Number = #### Decimal(2) = ##,###.##
String = !!!
String = ^^^^ 
String = ###
String = aaaa
String = XXXXXX
Char = All String formats
Date = mm/dd/yyyy
Datetime = mm/dd/yyyy HH:mm:ss </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="value" type="tns:AffinityAttributeValueTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains the default value for the attribute that may or may not be editable based on the editable tag.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="editableInd" type="tns:AffinityAttributeEditableFlagType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valid values are: true (Editable) and false (Not Editable)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AffinityAttributeListType">
		<xs:sequence>
			<xs:element name="affinityAttribute" type="tns:AffinityAttributeInfoType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Provides detail affinity info.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AffinityInfoType">
		<xs:sequence>
			<xs:element name="affinityRegistrationSoc">
				<xs:annotation>
					<xs:documentation>If associated price plan is an affinity benefit type then this value is the affinity registration feature that must also be selected</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="tns:AffinityRegistrationServiceOrderCodeType"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="affinityName" type="tns:AffinityNameType">
				<xs:annotation>
					<xs:documentation>Name of the affinity </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="affinityAttributeList" type="tns:AffinityAttributeListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Affinity Attribute List</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AllowanceInfoType">
		<xs:sequence>
			<xs:element name="allowanceType" type="tns:AllowanceTypeCodeType">
				<xs:annotation>
					<xs:documentation>Type of allowance
Sprint 3G Data
Sprint 3G Data Roaming
Sprint 4G Data
Sprint 3G/4G Data</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="allowance" type="tns:UnitOfMeasureValueType">
				<xs:annotation>
					<xs:documentation>Included units of allowance for the input subscriber in MB</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AllowanceListType">
		<xs:sequence>
			<xs:element name="allowanceInfo" type="tns:AllowanceInfoType" maxOccurs="10"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BanInfoType">
		<xs:sequence>
			<xs:element name="ban" type="tns:BillingAccountNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Billing account number.

Required for an existing subscriber if mdn is not provided.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mdn" type="tns:MobileDirectoryNumberStringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Subscriber phone number.

Required for an existing subscriber if ban is not provided.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:sequence>
					<xs:element name="accountType" type="tns:BillingAccountTypeCodeType">
						<xs:annotation>
							<xs:documentation>Account type.
Required if accountSubType is provided.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="accountSubType" type="tns:BillingAccountSubTypeCodeType">
						<xs:annotation>
							<xs:documentation>Account subscriber type.
Required if accountType is provided.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:element name="customerTypeDesc" type="tns:CustomerTypeCodeType">
					<xs:annotation>
						<xs:documentation>Required if account type and account  sub type is not provided.
INDIVIDUAL
BUSINESS
CORPORATE_INDIVIDUAL
CORPORATE_BUSINESS
GOVERNMENT_INDIVIDUAL
GOVERNMENT_BUSINESS</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="creditClass" type="tns:CreditClassCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Credit class of customer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="corpId" type="tns:CorporationIdentifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Corporate or government id.  Should be provide if customer type is corporate or government.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="numberSubscribers" type="tns:NumberOfSubscriptionsType">
				<xs:annotation>
					<xs:documentation>Number of subscribers on the order.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CallingApplicationInfoType">
		<xs:sequence>
			<xs:element name="pin" type="tns:PersonalIdentificationNumberType">
				<xs:annotation>
					<xs:documentation>Pin Code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vendorCode" type="tns:VendorCodeType">
				<xs:annotation>
					<xs:documentation>Application specific identifier unique to the OVM system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="orderId" type="tns:ActivationOrderIdentifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Order Id provided for Credit/Activation or Validation/Activation transactions.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="storeId" type="tns:RetailStoreIdentifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Store identifier.  Should be provided for Activation transactions.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="associateId" type="tns:AssociateIdentifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Associate identifier.  Should be provided for Activation transactions.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="brandCode" type="tns:BrandCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>S - Sprint
N - Nextel
Defaulted to 'S' if not provided</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DetailPlanInfoType">
		<xs:sequence>
			<xs:element name="totalMinutes" type="tns:MinutesIncludedQuantityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates the total number of minutes the associated price plan includes </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="anytimeMinutes" type="tns:MinutesIncludedQuantityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates the total number of anytime minutes the associated price plan includes </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nightWeekendMinutes" type="tns:MinutesIncludedTextType">
				<xs:annotation>
					<xs:documentation>Indicates the total number of night and weekend minutes the associated price plan includes </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extraAnytimeMinutesCharge" type="tns:OtherChargeAmountType">
				<xs:annotation>
					<xs:documentation>The per-minute overage charge that is assessed when anytime minutes have been exhausted in a single billing period</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="longDistanceCharge" type="tns:ChargeAmountType">
				<xs:annotation>
					<xs:documentation>The per-minute long distance charge.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="unitSmsCharge" type="tns:ChargeAmountType">
				<xs:annotation>
					<xs:documentation>Charge for SMS messaging if not included in plan or optional feature</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="callForwardingChargeRate" type="tns:ChargeAmountType">
				<xs:annotation>
					<xs:documentation>Charge to setup call forwarding with cell phone number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="etf" type="tns:ChargeAmountType">
				<xs:annotation>
					<xs:documentation>The early termination fee associated with this price plan</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="m2mMinutes" type="tns:MinutesIncludedQuantityType">
				<xs:annotation>
					<xs:documentation>Included mobile-to-mobile minutes</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="intlChargePerMinute" type="tns:OtherChargeAmountType">
				<xs:annotation>
					<xs:documentation>The per-minute international charge</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="roamingCharge" type="tns:ChargeAmountType">
				<xs:annotation>
					<xs:documentation>The per-minute roaming charge</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="averageCharge" type="tns:ChargeAmountType">
				<xs:annotation>
					<xs:documentation>The average per-minute charge.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nationalRoamingCharge" type="tns:ChargeAmountType">
				<xs:annotation>
					<xs:documentation>The per minute national roaming charge</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="longDistanceMinutes" type="tns:MinutesIncludedQuantityType">
				<xs:annotation>
					<xs:documentation>Number of long distance minutes included</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="intlRoamingCharge" type="tns:ChargeAmountType">
				<xs:annotation>
					<xs:documentation>The per-minute international roaming charge</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="billingIncrement" type="tns:RecurringChargeIncrementType">
				<xs:annotation>
					<xs:documentation>Indicates the increment the recurring charge occurs</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wirelessInternetChargeRate" type="tns:ChargeAmountType">
				<xs:annotation>
					<xs:documentation>Data charge rate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="familyMinutes" type="tns:MinutesIncludedQuantityType">
				<xs:annotation>
					<xs:documentation>Number of sharing minutes included</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="walkieTalkieMinutes" type="tns:MinutesIncludedQuantityType">
				<xs:annotation>
					<xs:documentation>Number of Direct Connect minutes included</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="walkieTalkieOverageChargeRate" type="tns:ChargeAmountType">
				<xs:annotation>
					<xs:documentation>Overage charge rate for Direct Connect usage</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="unitSmsIncluded" type="tns:UnitOfMeasureValueIntegerType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>SMS messaging included in the associated plan</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeviceSaleInfoType">
		<xs:sequence>
			<xs:element name="deviceSaleType" type="tns:SubsidyIndicatorCodeType">
				<xs:annotation>
					<xs:documentation>Indicates  Device Sale Type  S-Subscidized                      N-Non Subscidized               B- Bring your Own Device    I- Installment Billing             L- Lease</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeviceInfoType">
		<xs:choice>
			<xs:element name="itemId" type="tns:ModelNumberType">
				<xs:annotation>
					<xs:documentation>Item id, or model id of the subscriber’s device.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="meid" type="tns:MobileEquipmentIdentifierType">
				<xs:annotation>
					<xs:documentation>MEID of the subscriber’s device.
Required if hsn is not provided.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hsn" type="tns:DeviceSerialNumberType">
				<xs:annotation>
					<xs:documentation>iDEN device serial number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="macId" type="tns:MediumAccessControlAddressType">
				<xs:annotation>
					<xs:documentation>Medium Access Control Identifier</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="FeatureInfoType">
		<xs:sequence>
			<xs:element name="featureCode" type="tns:FeatureCodeType">
				<xs:annotation>
					<xs:documentation>Component of the feature (option-id), For internal use only</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="featureDesc" type="tns:FeatureDescriptionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description of the feature component, For internal use only</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="allowedNumberRanges" type="tns:NumberRangeQuantityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates maximum number of phone ranges if associated feature is a mobile to office type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="numberRangeSize" type="tns:NumberRangeSizeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates maximum size of the phone range if associated feature is a mobile to office type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="msisdnInd" type="tns:FeatureSupportedFlagType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>For internal use only</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productTypeList" type="tns:ProductTypeListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides product indicator information.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FeatureListType">
		<xs:sequence>
			<xs:element name="featureInfo" type="tns:FeatureInfoType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LtsRecurringChargeInfoType">
		<xs:sequence>
			<xs:element name="rank" type="tns:LinesToShareRankType">
				<xs:annotation>
					<xs:documentation>Sharing subscriber rank</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="recurringCharge" type="tns:MonthlyRecurringChargeType">
				<xs:annotation>
					<xs:documentation>Recurring charge for sharing subscriber.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LtsRecurringChargeListType">
		<xs:sequence>
			<xs:element name="ltsRecurringChargeInfo" type="tns:LtsRecurringChargeInfoType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Structure with rank and recurring charge info. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrderInfoType">
		<xs:sequence>
			<xs:element name="orderType" type="tns:OrderValidationModuleOrderTypeCodeType">
				<xs:annotation>
					<xs:documentation>The type of order to be placed.
NEW
ADD_ON
UPGRADE
REPLACE
SERVICE_ONLY</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="salesChannel" type="tns:SalesChannelIdentifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sales channel submitting order.

Order channels sales channel, values include: 2 (online authorized retailer) and BSP (business solution partner</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PlanTypeInfoType">
		<xs:sequence>
			<xs:element name="nationalPlanInd" type="tns:FeatureSupportedFlagType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>true indicates the price plan is a national plan</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="addOnPlanInd" type="tns:FeatureSupportedFlagType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>true indicates the price plan is an add-on sharing plan</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="familyPlanInd" type="tns:FeatureSupportedFlagType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>true indicates the price plan is a sharing plan.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="regionalPlanInd" type="tns:FeatureSupportedFlagType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>true indicates the price plan is a regional plan.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="promotionalPlanInd" type="tns:FeatureSupportedFlagType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>true indicates the price plan is a promotional plan</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dataThrottlePlanInd" type="tns:FeatureSupportedFlagType" minOccurs="0"/>
			<xs:element name="freeStatePlanInd" type="tns:FeatureSupportedFlagType" minOccurs="0"/>
			<xs:element name="restartCapablePlanInd" type="tns:FeatureSupportedFlagType" minOccurs="0"/>
			<xs:element name="advancePaymentPlanInd" type="tns:FeatureSupportedFlagType" minOccurs="0"/>
			<xs:element name="demoPlanInd" type="tns:FeatureSupportedFlagType" minOccurs="0"/>
			<xs:element name="installmentBillingPlanInd" type="tns:InstallmentBillingPlanTypeCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Inidcates the plan is  installment billing plan. Possible values are Y - yes, E -indicates exclusive IB plan.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PricePlanInfoType">
		<xs:sequence>
			<xs:element name="pricePlanSoc" type="tns:ServiceOrderCodeType">
				<xs:annotation>
					<xs:documentation>Soc code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="socDesc" type="tns:ServiceOrderDescriptionType">
				<xs:annotation>
					<xs:documentation>Soc name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="socLongDesc" type="tns:ServiceOrderLongDescriptionType">
				<xs:annotation>
					<xs:documentation>Plan Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="planType" type="tns:PlanShareTypeCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Plan Share Type code designates the share type for plans that support a primary / add-on sharing model</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="planDetail" type="tns:ServiceOrderLongDescriptionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The business provided detailed information about the plan (This is for the Daily SOC as an exception.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="planLearnMore" type="tns:ServiceOrderLongDescriptionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This includes a configurable link to ‘Learn More’ for the plan (This is for the Daily SOC as an exception.) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productDisclosure" type="tns:ProductDisclosureTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is the product disclosure information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ivrSocDesc" type="tns:ServiceOrderLongDescriptionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is IVR specific price plan description which is a match to an existing recording in the IVR.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="planCategory" type="tns:ServiceCategoryNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Filterable plan category name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="planDisplayCategory" type="tns:ServiceCategoryNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Prepaid display category 
Valid values:
primary
secondary</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="banLevelInd" type="tns:BillingAccountLevelSocRequiredFlagType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates that the associated price plan is an account level price plan</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cellularSupportInd" type="tns:FeatureSupportedFlagType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates that associated feature requires a phone number resource</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dispatchSupportInd" type="tns:FeatureSupportedFlagType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates that the associated feature requires a push-to-talk resource</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="packetDataSupportInd" type="tns:PacketDataSupportTypeCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates that the associated feature requires a data access resource.
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cdmaPacketDataSupportInd" type="tns:FeatureSupportedFlagType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates that the associated feature requires a CDMA IP resource.  
Valid values:  true, false</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="socRenewableInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if the BB2GO Add-On SOC associated to the filtered BB2GO Plan can be renewed or not.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="recurringCharge" type="tns:MonthlyRecurringChargeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Choice between lts-monthly-price, the monthly recurring charge of the associated price plan</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ltsRecurringChargeList" type="tns:LtsRecurringChargeListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Choice between monthly-price, list of monthly recurring charges for each subscriber rank of the associated sharing price plan</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="oneTimeCharge" type="tns:ChargeAmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates the amount of an applicable one time charge in order to select the associated price plan</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="maxSubscribersAllowed" type="tns:NumberOfSubscriptionsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates the maximum number of subscribers that can share the associated sharing price plan or hybrid sharing group</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sharingGroupId" type="tns:ServiceOrderCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Hybrid Sharing Group Identifier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="planPriority" type="tns:PlanPriorityType">
				<xs:annotation>
					<xs:documentation>Can be optionally used to determine sorting order of the price plans returned</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="socSequenceNumber" type="tns:SequenceNumberType">
				<xs:annotation>
					<xs:documentation>For OVM Internal Use only</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contractMonths" type="tns:NumberOfContractMonthsType">
				<xs:annotation>
					<xs:documentation>Indicates if the associated price plan requires a 0, 12, or 24 month service agreement if selected</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="allowedNumberRanges" type="tns:NumberRangeQuantityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates maximum number of phone ranges if associated price plan is a mobile to office type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="numberRangeSize" type="tns:NumberRangeSizeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates maximum size of the phone range if associated price plan is a mobile to office type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productTypeList" type="tns:ProductTypeListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides product indicator information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="affinityInfo" type="tns:AffinityInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides detail affinity information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="requiredPrimaryBundleSoc" type="tns:ServiceOrderCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies the associated primary SOC code for productId(services) defined as SBD</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="maxSecondaryBundleSocs" type="tns:BundleServiceOrderCodeCountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies the maximum number of secondary bundle SOCs can be added for productId(services) defined as SBD</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="corpRequiredInd" type="tns:BillingAccountLevelSocRequiredFlagType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if the associated price plan is required to be chosen because of the corp gov id provided in the Plans Request.  Valid values: true, false</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="planEquivalentInd" type="tns:PlanEquivalentFlagType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if associated price plan is the technology equivalent (based on brand-type) of the subscriber’s existing plan.  Valid values:  true, false</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="planTypeInfo" type="tns:PlanTypeInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Structure providing plan type info.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="detailPlanInfo" type="tns:DetailPlanInfoType" minOccurs="0"/>
			<xs:element name="featureList" type="tns:FeatureListType">
				<xs:annotation>
					<xs:documentation>Provides detail info on included usage and plan pricing info</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="relatedSocList" type="tns:RelatedSocListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides detail included SOC information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="allowanceList" type="tns:AllowanceListType" minOccurs="0"/>
			<xs:element name="musMilestoneLevel" type="tns:MonthlyUnlimitedShrinkageMilestoneLevelIdentifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Milestone Level is the means by which Monthly Unlimited Shrinkage(MUS) plans are identified. If the plan is not identified as a MUS plan, the field should not be populated.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="isPlanMRCDiscountEligibleInd" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if the Plan is eligible for MRC Discounts.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mrcDiscountAmount" type="tns:ChargeAmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Plan, Device and RPV based discount given on the customer’s MRC. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pcOfferId" type="tns:OfferIdentifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The PC Offer ID attached to the rate plan of the account.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PricePlanListType">
		<xs:sequence>
			<xs:element name="pricePlanInfo" type="tns:PricePlanInfoType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Price plan inforrmation</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PricePlanInfoRequestType">
		<xs:sequence>
			<xs:element name="pricePlanSoc" type="tns:ServiceOrderCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Optionally provided legacy primary sharing price plan code to return associated secondary sharing price plan(s).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="planType" type="tns:PlanShareTypeCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Plan type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ltsRank" type="tns:LinesToShareRankType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Current rank of associated subscriber if they have a family plan.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="promoCode" type="tns:PromotionCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Optional promotional code.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProductTypeInfoType">
		<xs:sequence>
			<xs:element name="productId" type="tns:ProductCategoryCodeType">
				<xs:annotation>
					<xs:documentation>Product id.
Valid values are: 
LTS (lines to share) 
M2H (mobile to home)
M2O (mobile to office)
AFR (affinity registration)
AFB (affinity benefit)
AIR (airave)
HPP (NDC provisioning feature)
HPR (NDC rating feature)
HPB (NDC rating and provisioning feature)
HPC (NDC call forwarding feature)
WEL (Welcome Verify)
VBS (Discounted MRC Feature)
ACV (Discounted MRC Feature)
HP1 (NDC feature)
HP2 (NDC Feature)
WMX (WiMAX feature)
SBD (Secondary Bundle)
PBD (Primary Bundle)
ATA (Airave Service with ATA)
4GC (4G Clearwire)
UNI (Universal)
INS (Insurance)            MBB (Mobile Broad Band)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProductTypeListType">
		<xs:sequence>
			<xs:element name="productTypeInfo" type="tns:ProductTypeInfoType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Structure with product type information</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PromoCodeInfoType">
		<xs:sequence>
			<xs:element name="validPromoCodeInd" type="tns:BinaryExpressionType">
				<xs:annotation>
					<xs:documentation>Provides whether the promo code is valid or not.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="promoCodeErrorList" type="tns:PromoCodeErrorListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains the list of promo code errors associated with an invalid promo code.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RelatedSocInfoType">
		<xs:sequence>
			<xs:element name="soc" type="tns:ServiceOrderCodeType">
				<xs:annotation>
					<xs:documentation>Feature code that is automatically assigned to the associated price plan</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="socDesc" type="tns:ServiceOrderDescriptionType">
				<xs:annotation>
					<xs:documentation>Customer friendly description of the associated option.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="socLongDesc" type="tns:ServiceOrderLongDescriptionType"/>
			<xs:element name="allowedNumberRanges" type="tns:NumberRangeQuantityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates maximum number of phone ranges if associated option is a mobile to office type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="allowedNumberRangeSize" type="tns:NumberRangeSizeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates maximum size of the phone range if associated option is a mobile to office type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productTypeList" type="tns:ProductTypeListType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RelatedSocListType">
		<xs:sequence>
			<xs:element name="relatedSocInfo" type="tns:RelatedSocInfoType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchCriteriaType">
		<xs:sequence>
			<xs:element name="serviceAreaInfo" type="tns:ServiceAreaInfoType">
				<xs:annotation>
					<xs:documentation>Structure to indicate service area for which associated plans should be returned.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="deviceInfo" type="tns:DeviceInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Structure to indicate device type for which associated plans should be returned.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="orderInfo" type="tns:OrderInfoType">
				<xs:annotation>
					<xs:documentation>Structure to indicate order for which associated plans should be returned.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pricePlanInfo" type="tns:PricePlanInfoRequestType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Structure to indicate plan type, legacy plan, and lines to share rank for which associated plans should be returned.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="banInfo" type="tns:BanInfoType">
				<xs:annotation>
					<xs:documentation>Structure to provide ban information for which </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fetchIBPlan" type="tns:FetchInformationFlagType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates to retrieve Installment Billing (IB) plan</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="deviceSaleInfo" type="tns:DeviceSaleInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates  Device Sale Type </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pricePlanFilterInfo" type="tns:PricePlanFilterInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates additional Price Plan Filtering Criteria</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceAreaInfoType">
		<xs:choice>
			<xs:element name="serviceAreaZip" type="tns:ServiceAreaZipType">
				<xs:annotation>
					<xs:documentation>Stucture to indicate the zip code for which associated plans should be returned.

This is required if the CSA, submarket is not provided.
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="subMarket" type="tns:SubMarketCodeType">
				<xs:annotation>
					<xs:documentation>Sub market.

This is required if the service zip code, or CSA is not provided.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="csa" type="tns:CommunicationServiceAreaType">
				<xs:annotation>
					<xs:documentation>Coverage Service Area</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ServiceAreaZipType">
		<xs:sequence>
			<xs:element name="zipCode" type="tns:UspsPostalCodeType">
				<xs:annotation>
					<xs:documentation>Zip code of service area.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zip4Code" type="tns:UspsPostalCodeExtensionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Zip extension code</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchBySocListType">
		<xs:sequence>
			<xs:element name="searchBySocInfo" type="tns:SearchBySocInfoType" maxOccurs="10"/>
			<xs:element name="deviceInfo" type="tns:DeviceInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Structure to indicate device type for which associated plans should be returned.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchBySocInfoType">
		<xs:choice>
			<xs:element name="socCode" type="tns:ServiceOrderCodeType">
				<xs:annotation>
					<xs:documentation>Front End provides socCode if socCode populated, EAI will pass "CODE" in OVM field-name.  EAI will pass the value provided in socCode field by the front end, through to OVM in the field-value tag.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="socDesc">
				<xs:annotation>
					<xs:documentation>Front End provides socDesc if socDesc populated, EAI will pass "NAME" in OVM field-name.  EAI will pass the value provided in socDesc field by the front end, through to OVM in the field-value tag.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="tns:ServiceOrderDescriptionType">
						<xs:minLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PromoCodeErrorListType">
		<xs:sequence>
			<xs:element name="promoCodeErrorInfo" type="tns:PromoCodeErrorInfoType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PromoCodeErrorInfoType">
		<xs:sequence>
			<xs:element name="promoCodeErrorCode" type="tns:ErrorMessageIdentifierType">
				<xs:annotation>
					<xs:documentation>Provides the error code associated with the promo code if it is invalid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="promoCodeErrorText" type="tns:ErrorMessageTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides the error code text associated with the promo code if it is invalid</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PricePlanFilterInfoType">
		<xs:sequence>
			<xs:element name="portInInd" type="tns:PortInIndType">
				<xs:annotation>
					<xs:documentation>Indicates iif cusotmer is portIn . </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="carrierName" type="tns:CarrierNameType">
				<xs:annotation>
					<xs:documentation>Indicates the carrier the customer is poting In.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dataBucketSize" type="tns:UnitOfMeasureValueIntegerType">
				<xs:annotation>
					<xs:documentation>Indicates data bucket size ,      Unlilimited Bucket- 9999        Landing  Plan- 0</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="unitOfMeasure" type="tns:UnitOfMeasureType">
				<xs:annotation>
					<xs:documentation>Indicates Unit OF Measure     Possible Values are GB and MB</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="planPrice" type="tns:ChargeAmountType">
				<xs:annotation>
					<xs:documentation>Inidcates the PortIn customet's existing carrier  Pice</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="numberofLinesToShare" type="tns:NumberOfLineToShareType" minOccurs="0"/>
			<xs:element name="activeLineOnAccount" type="tns:ActiveLineOnAccountType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!---->
	<!--MVM/Shared Simple Types-->
	<xs:simpleType name="ActivationOrderIdentifierType">
		<xs:annotation>
			<xs:documentation>Activation Order Identifier uniquely identifies an Activation Order.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="24"/>
			<xs:minLength value="1"/>
		</xs:restriction>
		<!--The activation response for each handset.-->
	</xs:simpleType>
	<xs:simpleType name="AffinityAttributeEditableFlagType">
		<xs:annotation>
			<xs:documentation>Affinity Attribute Editable Flag is a boolean indicator of whether the associate affinity attribute value is editable.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="AffinityAttributeMaskType">
		<xs:annotation>
			<xs:documentation>Affinity Attribute Mask is text that is used as a mask affinity values, usually for search or filter purposes.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
			<xs:minLength value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AffinityAttributeNameType">
		<xs:annotation>
			<xs:documentation>Affinity Attribute Name designates a specific attribute associated to an affinity program.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AffinityAttributePatternTextType">
		<xs:annotation>
			<xs:documentation>Affinity Attribute Pattern Text is a series of characters used to designate the a pattern of characters to match to the attribute value.  Ex:  XXX-XXXXXX</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
			<xs:minLength value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AffinityAttributeRequiredFlagType">
		<xs:annotation>
			<xs:documentation>Affinity Attribute Required Flag is a boolean indicator of whether the associate affinity attribute is or was required.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="AffinityAttributeSizeQuantityType">
		<xs:annotation>
			<xs:documentation>Affinity Attribute Size Quantity holds the size or length of the attribute value.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AffinityAttributeTypeCodeType">
		<xs:annotation>
			<xs:documentation>Affinity Attribute Type Code designates the type of data in the attribute value.
Example values:
C = Character, one char only.
N = Integer.
T = Date, with format MM/dd/yyyy
D = Date and Time with format MM/dd/yyyy HH:mm:ss
M = Decimal, meaning has exactly 2 digits after the decimal digit (3.25, 1.99, 19999.33 etc.)
S = String.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="T"/>
			<xs:enumeration value="D"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="S"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AffinityAttributeValueTextType">
		<xs:annotation>
			<xs:documentation>Affinity Attribute Value Text is used to provide the ability to view/update the current affinity attribute values via all front ends (CSM, RMS+, FDT, TOES, sVIEW, EAI, WINS).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"/>
			<xs:minLength value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AffinityNameType">
		<xs:annotation>
			<xs:documentation>Affinity Name is the common name of the associated Affinity program.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AffinityRegistrationServiceOrderCodeType">
		<xs:annotation>
			<xs:documentation>Affinity Registiration Service Order Code is used if the associated price plan is an affinity benefit type.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AllowanceTypeCodeType">
		<xs:annotation>
			<xs:documentation>Allowance Type Code designates a type of allowance of units that would be set up for a user, espically in the case of a hybrid sharing group.
Valid Values Include:
Sprint Data,
Sprint Data Roaming...</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AssociateIdentifierType">
		<xs:annotation>
			<xs:documentation>Associate Identifier is the Retail Store Associate Identifier.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AttributeKeyType">
		<xs:annotation>
			<xs:documentation>Attribue Key  is the identifier of an Attribute Value when sent as a pair. (used by Amdocs)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="7"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BillingAccountLevelSocRequiredFlagType">
		<xs:annotation>
			<xs:documentation>Billing Account Level Soc Required Flag indicates whether this SOC is required at the BAN level, if the BAN is added to the Corporation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="BillingAccountNumberType">
		<xs:annotation>
			<xs:documentation>Billing Account Number uniquely identifies an instance of Billing Account used to accrue charges for invoicing.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="9"/>
			<xs:minLength value="1"/>
			<xs:pattern value="\d{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BillingAccountSubTypeCodeType">
		<xs:annotation>
			<xs:documentation>Billing Account SubType Code further categorizes the Billing Account within the context of the assigned Billing Account Type Code used primarily for Customer segmentation in General Ledger reporting and collection treatment.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BillingAccountTypeCodeType">
		<xs:annotation>
			<xs:documentation>Billing Account Type Code identifies the account typeof the BILLING_QACCOUNT. It is used mainly for segregation of the G/L reporting and Collection treatment.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BinaryExpressionType">
		<xs:annotation>
			<xs:documentation>Binary Expression is a type of an expression with two possible states,"true"and"false".</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="BrandCodeType">
		<xs:annotation>
			<xs:documentation>Brand Code designates a specifc brand that the company uses.  i.e. S (or SP) - Sprint, N (or NX) - Nextel</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="SP"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="NX"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BundleServiceOrderCodeCountType">
		<xs:annotation>
			<xs:documentation>Bundle Service Order Code Count is the number of Service Order Codes (SOCs) in the bundle.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<xs:simpleType name="ChargeAmountType">
		<xs:annotation>
			<xs:documentation>Charge Amount is the dollar amount charged for goods or services.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CommunicationServiceAreaType">
		<xs:annotation>
			<xs:documentation>Communication Service Area (CSA) represents  a geographic area served by a communication service provider, which can be broken down into regional, metropolitan, district and smaller sections called ''leaves.'' A CSA could represent locations such as metropolitan service area (MSA), system identification number/billing identification number (SID/BID), etc. Sprint PCS has chosen to use geographical divisions so that customers can be segregated into logical units, and pricing plans may be assigned at area and district levels.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CorporationIdentifierType">
		<xs:annotation>
			<xs:documentation>Corporation Identifer uniquely identifies a corporate entity.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CreditClassCodeType">
		<xs:annotation>
			<xs:documentation>Credit Class Code identifies the Customer's level of financial responsibility.   

For example, the Credit Class Code assignment determines what Products the Customer can purchase, how many Subscriptions they can be liable for, whether there is a required depsoit and the amount of the deposit, etc..</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CustomerTypeCodeType">
		<xs:annotation>
			<xs:documentation>Customer Type Code provides a mechanism for categorizing Customers within the context of various functionalities.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DataAllowanceDescriptionType">
		<xs:annotation>
			<xs:documentation>Data Allowance Description is a description of the allowance for data on a plan.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DeviceSerialNumberType">
		<xs:annotation>
			<xs:documentation>Device Serial Number is a unique number that is embedded electronically by the manufacturer into a wireless communication device that identifies that individual unit.</xs:documentation>
			<xs:documentation>Device Serial Number a unique number that is embedded electronically by the manufacturer into a wireless communication device that identifies that individual unit.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="[a-zA-Z0-9]{8}|[a-zA-Z0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ErrorMessageIdentifierType">
		<xs:annotation>
			<xs:documentation>Error Message Identifier uniquely identifies a specific error message from the system that encountered the error.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<xs:simpleType name="ErrorMessageTextType">
		<xs:annotation>
			<xs:documentation>Error Message Text is a textual description of the error message.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1024"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FeatureCodeType">
		<xs:annotation>
			<xs:documentation>The code of the feature being granted in this service feature</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FeatureDescriptionType">
		<xs:annotation>
			<xs:documentation>Feature Description is a free text field describing the feature.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FeatureSupportedFlagType">
		<xs:annotation>
			<xs:documentation>Flag indicating whether or not the feature is supported.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="FetchInformationFlagType">
		<xs:annotation>
			<xs:documentation>Fetch Information Flag is a boolean flag that indicates whether for the api to request the information associated to the request structure.
true - the API will perform request for the associated information
false - the API will NOT request the assoociated information</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="FieldNameType">
		<xs:annotation>
			<xs:documentation>Field Name Type holds the name of a data element in an interface Logical Unit Of Work.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
			<xs:enumeration value="CODE"/>
			<xs:enumeration value="NAME"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InstallmentBillingPlanTypeCodeType">
		<xs:annotation>
			<xs:documentation>Installment Billing Plan Type Code indicates that if the plan is and installment billing plan, whether or not it is and exclusive installment billing plan.
Valid Values:
Y = yes, normal installment billing plan
E = exclusive installment billing plan
(there is not a valid value for not being an installment billing plan)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LinesToShareRankType">
		<xs:annotation>
			<xs:documentation>Lines To Share Rank is the Current rank of associated subscriber within the family plan they are in.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:positiveInteger">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MediumAccessControlAddressType">
		<xs:annotation>
			<xs:documentation>Medium Access Control Address (MAC Address) contains a 12 byte hexadecimal value used to identify a device used in the IEEE sublayer of a network which controls access to the shared medium by network-attached devices. 

In the context of the OSI reference model, the Medium Access Control (MAC) layer extends above to the Data Link Layer and below to the Physical Layer.</xs:documentation>
			<xs:documentation>alias: MAC ID</xs:documentation>
			<xs:documentation>alias: Media Access Control Identifcation</xs:documentation>
			<xs:documentation>Medium Access Control Address (MAC Address) contains a 12 byte hexadecimal value used to identify a device used in the IEEE sublayer of a network which controls access to the shared medium by network-attached devices. 

In the context of the OSI reference model, the Medium Access Control (MAC) layer extends above to the Data Link Layer and below to the Physical Layer.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MinutesIncludedTextType">
		<xs:annotation>
			<xs:documentation>Minutes Included Text is a text representation of the number of  minutes included in the associated plan or plan category.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MinutesIncludedQuantityType">
		<xs:annotation>
			<xs:documentation>Minutes Included Quantity is used to quantify the number of  minutes included in the associated plan or plan category.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<xs:simpleType name="MobileDirectoryNumberStringType">
		<xs:annotation>
			<xs:documentation>The method of identifying telephone trunks in the public network of North America, called World Numbering Zone 1 by the ITU-T. the Plan has 3 ways of identifying phone numbers in North America -- a 3-digit area code, a 3-digit exchange or central office code, and 4-digit subscriber code.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MobileEquipmentIdentifierType">
		<xs:annotation>
			<xs:documentation>Network Device Identifier is an identifier used by the device to communicate (broadcast) its identity to the wireless mobile network.  

Network Device Identifier is one of the following: 
Electronic Serial Number (ESN); 
Mobile Equipment IDentifier (MEID);
International Mobile Equipment Identfier (IMEI);
Subscriber Identify Module (SIM).</xs:documentation>
			<xs:documentation>A Mobile Equipment IDentifier (MEID) is a globally unique number for a physical piece of mobile station equipment. Equipment identifiers are 'burned' into a CDMA device, and should be resistant to modification.  The ESN will migrate to the MEID with assignments anticipated to begin in the 2004 to 2005 timeframe.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="18"/>
			<xs:pattern value="[a-zA-Z0-9]{1,18}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ModelNumberType">
		<xs:annotation>
			<xs:documentation>Model Number contains a unique value within the class of PRODUCT identified by Model Name used to identify the type of equipment being shipped by the Manufacturer.</xs:documentation>
			<xs:documentation>Model Number contains a unique value within the class of PRODUCT identified by Model Name used to identify the type of equipment being shipped by the Manufacturer.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MonthlyRecurringChargeType">
		<xs:annotation>
			<xs:documentation>Monthly Recurring Charge holds the base dollar amount billed to the Customer every month for a service.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MonthlyUnlimitedShrinkageMilestoneLevelIdentifierType">
		<xs:annotation>
			<xs:documentation>Monthly Unlimited Shrinkage (MUS) Milestone Level Identifier uniquely identifies the milestone level that a participant achieves by accumulating on time or Good Payment Units.
Valid Values Include:
0,
1,
2...</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumberOfContractMonthsType">
		<xs:annotation>
			<xs:documentation>Number Of Contract Months is the number of months the Customer must commit to to receive Rate plans, Rebates, Discount, etc. under a contract.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumberOfSubscriptionsType">
		<xs:annotation>
			<xs:documentation>Total number of subscribers (including reserved, active, suspended, and cancelled) associated with the account.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:positiveInteger"/>
	</xs:simpleType>
	<xs:simpleType name="NumberRangeQuantityType">
		<xs:annotation>
			<xs:documentation>Number Range Quantity is the number of phone ranges if associated price plan is mobile to office type.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumberRangeSizeType">
		<xs:annotation>
			<xs:documentation>Number Range Size is the quantity of numbers in a specific number range.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="10000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OfferIdentifierType">
		<xs:annotation>
			<xs:documentation>Offer Identifier designates a specific offer.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderValidationModuleOrderTypeCodeType">
		<xs:annotation>
			<xs:documentation>Order Validation Module Order Type Code identifies the type of order ORDER in the OVM system
Values: 
NEW
ADD_ON
UPGRADE
REPLACE
BOOST
FAC</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
			<xs:enumeration value="NEW">
				<!--New order.  Customer does not have an existing account.-->
			</xs:enumeration>
			<xs:enumeration value="ADD_ON">
				<!--Add on order.  Customer is adding to an existing account.-->
			</xs:enumeration>
			<xs:enumeration value="UPGRADE">
				<!--Upgrade/swap on an existing account.-->
			</xs:enumeration>
			<xs:enumeration value="REPLACE">
				<!--Replacement order for handset that is damaged/lost/stolen.-->
			</xs:enumeration>
			<xs:enumeration value="SERVICE_ONLY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OtherChargeAmountType">
		<xs:annotation>
			<xs:documentation>Other Charge Amount contains the total charges associated with miscellaneous items. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="13"/>
			<xs:fractionDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PacketDataSupportTypeCodeType">
		<xs:annotation>
			<xs:documentation>Packet Data Support Type Code Designates a level of packet data support for the associated feature that may require a data access resource.
</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PersonalIdentificationNumberType">
		<xs:annotation>
			<xs:documentation>Personal Identification Number (PIN) is a secret numeric password shared between a user and a system that can be used to authenticate the user to the system. Typically, the user is required to provide a non-confidential user identifier or token (such as a banking card) and a confidential PIN to gain access to the system. Upon receiving the User ID and PIN, the system looks up the PIN based upon the User ID and compares the looked-up PIN with the received PIN. The user is granted access only when the number entered matches with the number stored in the system.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PlanEquivalentFlagType">
		<xs:annotation>
			<xs:documentation>Plan Equivalent Flag indicates if associated price plan is the technology equivalent (based on brand-type) of the subscriber’s existing plan.  Valid values:  true, false</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="PlanPriorityType">
		<xs:annotation>
			<xs:documentation>Plan Priority is a number that represents the priority value of the plan(for sorting order).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger"/>
	</xs:simpleType>
	<xs:simpleType name="PlanShareTypeCodeType">
		<xs:annotation>
			<xs:documentation>Plan Share Type code designates the share type for plans that support a primary / add-on sharing model.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
		<!--Valid plan types for plan requests.-->
	</xs:simpleType>
	<xs:simpleType name="ProductCategoryCodeType">
		<xs:annotation>
			<xs:documentation>Product Category Code is used for the categorization of products allowing grouping, selection, and pricing flexiblity.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProductDisclosureTextType">
		<xs:annotation>
			<xs:documentation>Product Disclosure Text is additional text related to a product or plan pertaning to disclosure information.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="4000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PromotionCodeType">
		<xs:annotation>
			<xs:documentation>Promotion Code designates a specific promotion that is related to advertising or other publicity.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RecurringChargeIncrementType">
		<xs:annotation>
			<xs:documentation>Recurring Charge Increment indicates the increment at which the recurring charge occurs</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RetailStoreIdentifierType">
		<xs:annotation>
			<xs:documentation>Retail Store Identifer is the store ID passed from the retailer to inComm.  These are 4 to 6 characters in length sometimes padded with zeros.  Leading 0s should not be stripped off.&#13;
(Examples: 001859, 1165, 0649)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SalesChannelIdentifierType">
		<xs:annotation>
			<xs:documentation>Sales Channel Identifier uniquely identifies a PARTY, internal to Sprint or external, that sells Sprint equipment and services.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SequenceNumberType">
		<xs:annotation>
			<xs:documentation>Sequence Number is a unique positive integer assigned to an item in a list of items.  It is used to determine order in a list of items or to identify a specific item.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long"/>
	</xs:simpleType>
	<xs:simpleType name="ServiceCategoryNameType">
		<xs:annotation>
			<xs:documentation>Service Cateogory Name is the common name corresponding to the Usage Category Code.
C - Cellular Voice
S - SMS
D - Dispatch
V - Vision Data
P - 2G Data</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="25"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceOrderCodeType">
		<xs:annotation>
			<xs:documentation>Service Order Code</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="9"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceOrderDescriptionType">
		<xs:annotation>
			<xs:documentation>Service Order Description.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceOrderLongDescriptionType">
		<xs:annotation>
			<xs:documentation>Service Order Long Description is additional descriptive text related to a specific service order(SOC).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SubMarketCodeType">
		<xs:annotation>
			<xs:documentation>Market Segment represents a distinct subset or segment of a market that behave in the same way or have similar needs.  Because each segment is fairly homogeneous in their needs and attitudes, they are likely to respond similarly to a given marketing strategy. That is, they are likely to have similar feelings and ideas about a marketing mix comprised of a given product or service, sold at a given price, distributed in a certain way and promoted in a certain way.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SubsidyIndicatorCodeType">
		<xs:annotation>
			<xs:documentation>Subsidy Indicator Code indicates whether the order is for a subsidized or nonsubsidized sale.
valid values:
S- Subscidized 
N -Non Subscidized 
B- Bring your Own device 
I -  Installment Billing  
L- Lease
</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="I"/>
			<xs:enumeration value="L"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UnitOfMeasureValueIntegerType">
		<xs:annotation>
			<xs:documentation>Unit Of Measure Value contains the numeric value of the actual item or instance as specified by the unit of measure code.  For example, if the unit of measure code contains 'Volume', then the unit of measure value would contain the value '16' that represents the volume of a specified item or instance, etc.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<xs:simpleType name="UnitOfMeasureValueType">
		<xs:annotation>
			<xs:documentation>Unit Of Measure Value contains the numeric value of the actual item or instance as specified by the unit of measure code.  For example, if the unit of measure code contains 'Volume', then the unit of measure value would contain the value '16' that represents the volume of a specified item or instance, etc.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="4"/>
			<xs:totalDigits value="13"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UspsPostalCodeExtensionType">
		<xs:annotation>
			<xs:documentation>USPS Posta Code Extension contains the last 4 characters of the nine digit USPS Postal Code.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UspsPostalCodeType">
		<xs:annotation>
			<xs:documentation>USPS Postal Code contains the first 5 characters of the nine digit USPS Postal Code.</xs:documentation>
			<xs:documentation>USPS Postal Code contains the first 5 characters of the nine digit USPS Postal Code.</xs:documentation>
			<xs:documentation>alias: Ensemble: ADDR_DATA.ADR_ZIP</xs:documentation>
			<xs:documentation>Ensemble: ADDR_DATA.ADR_ZIP

The first 5 characters or digits of the address zip code.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VendorCodeType">
		<xs:annotation>
			<xs:documentation>Vendor Code in combination with the PIN uniquely differentiates the system
(channel) calling Order Verification Management (Best Buy, Walmart, RMS, 
boostmobile, SOTS, OAR’s, BSPs, Telespree, etc). Each partner has its own 
unique vendor code and pin combination.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumberOfLineToShareType">
		<xs:annotation>
			<xs:documentation>Number of Line to share in data share plan</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="ActiveLineOnAccountType">
		<xs:annotation>
			<xs:documentation>Active Line On Account</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="PortInIndType">
		<xs:annotation>
			<xs:documentation>PortIn Indicator</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<!---->
	<!--New Simple Types-->
	<!---->
	<xs:simpleType name="UnitOfMeasureType">
		<xs:annotation>
			<xs:documentation>Unit of Measure for Data SOC. Valid Values are GB and MB</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="MB"/>
			<xs:enumeration value="GB"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CarrierNameType">
		<xs:annotation>
			<xs:documentation>Carrier Name </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="AT"/>
			<xs:enumeration value="VZ"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
