design/adapters/EPPService/src/main/resources/baseOperationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    xmlns:tns="http://api.mfs.amdocs.com/epp/v1/sprint/baseOperationRequest.xsd"
        xmlns:paymentCommonTypes="http://api.mfs.amdocs.com/epp/v1/sprint/paymentCommonTypes.xsd"
            targetNamespace="http://api.mfs.amdocs.com/epp/v1/sprint/baseOperationRequest.xsd">

    <import namespace="http://api.mfs.amdocs.com/epp/v1/sprint/paymentCommonTypes.xsd" schemaLocation="paymentCommonTypes.xsd"/>

	<simpleType name="CardType">
		<restriction base="string">
			<enumeration value="DEBIT"/>
			<enumeration value="CREDIT"/>
		</restriction>
	</simpleType>
	<simpleType name="email">
		<restriction base="string">
			<maxLength value="256"/>
			<pattern value="([a-zA-Z0-9_\-\.])+@([a-zA-Z0-9_\-])+(([a-zA-Z0-9_\-])*\.([a-zA-Z0-9_\-])+)+"/>
		</restriction>
	</simpleType>
	<simpleType name="transactionDate">
		<restriction base="string">
			<pattern value="[0-9]{4}[0-9]{2}[0-9]{2}"/>
		</restriction>
	</simpleType>
	<simpleType name="CustomerBrandConstants" final="restriction">
		<restriction base="string">
			<enumeration value="Postpaid"/>
			<enumeration value="AW"/>
			<enumeration value="Boost"/>
			<enumeration value="VMU"/>
			<enumeration value="SPP"/>
		</restriction>
	</simpleType>
	<simpleType name="TransactionForConstants" final="restriction">
		<restriction base="string">
			<enumeration value="BILL_PAY" />
			<enumeration value="ACTIVATION"/>
			<enumeration value="HARD_GOODS" />
			<enumeration value="MIXEDCART" />
		</restriction>
	</simpleType>
	<simpleType name="PaymentMethodConstants" final="restriction">
		<restriction base="string">
			<enumeration value="AUTO_PAY" />
			<enumeration value="NON_WALLET_PAY" />
			<enumeration value="WALLET_PAY" />
			<enumeration value="GUEST_PAY" />
			<enumeration value="SINGLE_PAY" />
		</restriction>
	</simpleType>
    <simpleType name="TokenTypeConstants" final="restriction">
        <restriction base="string">
            <enumeration value="CARD_TOKEN" />
            <enumeration value="ACH_TOKEN"/>
        </restriction>
    </simpleType>
	<simpleType name="PaymentTypeConstants" final="restriction">
		<restriction base="string">
			<enumeration value="AUTO_PAY"/>
			<enumeration value="BILL_FLOAT"/>
			<enumeration value="SAVED_PAYMENT_METHOD"/>
			<enumeration value="SINGLE_PAYMENT"/>
		</restriction>
	</simpleType>
	<simpleType name="FailureOriginTypes" final="restriction">
		<restriction base="string">
			<enumeration value="ACQUIRER"/>
			<enumeration value="BILLING"/>
			<enumeration value="POLICYENFORCER"/>
			<enumeration value="INTERNAL"/>
		</restriction>
	</simpleType>

	<complexType name="PaymentAllocationRequestInfoList">
		<sequence>
			<element name="paymentAllocationRequestInfo" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="entitySequenceNo"  >
						<simpleType>
								<restriction base="integer">
									<totalDigits value="9"/>
								</restriction>
							</simpleType>
						</element>
						<element name="allocationType">
							<simpleType>
								<restriction base="string">
									<maxLength value="1"/>
								</restriction>
							</simpleType>
						</element>
						<element name="amount">
						<simpleType>
								<restriction base="decimal">
									<totalDigits value="9"/>
									<fractionDigits value="2" />
								</restriction>
							</simpleType>
							</element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="BaseAdditionalInfo">
		<sequence>
			<element name="emailId" type="tns:email" minOccurs="0">
				<annotation>
					<documentation>Email id of consumer to send notification
					</documentation>
				</annotation>
			</element>
			<element name="pricePlanSocCode" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="256"/>
					</restriction>
				</simpleType>
			</element>
			<element name="bypassRule" type="paymentCommonTypes:BooleanType" minOccurs="0">
				<annotation>
					<documentation>Flag to be used for bypassing rules example velocity
						rules, business rules
					</documentation>
				</annotation>
			</element>
			<element name="merchantId" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="16"/>
					</restriction>
				</simpleType>
			</element>
            <element name="directDebitVoucher" minOccurs="0">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="256"/>
                    </restriction>
                </simpleType>
            </element>

		</sequence>
	</complexType>
	<complexType name="AdditionalInfo">
		<complexContent>
			<extension base="tns:BaseAdditionalInfo">
				<sequence>
					<element name="paymentAllocationRequestInfoList" type="tns:PaymentAllocationRequestInfoList" minOccurs="0"/>
                    <element name="loanSequenceNumber" minOccurs="0">
                        <simpleType>
                            <restriction base="integer">
                                <minInclusive value="0"/>
                                <totalDigits value="9"/>
                            </restriction>
                        </simpleType>
                    </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="RefundAdditionalInfo">
		<sequence>
			<element name="refundSequenceNumber" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="36"/>
					</restriction>
				</simpleType>
			</element>
			<element name="paymentAllocationRequestInfoList" type="tns:PaymentAllocationRequestInfoList" minOccurs="0"/>
			<element name="merchantId" type="paymentCommonTypes:MerchantId" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="WalletInfo">
	<sequence>
			<element name="paymentOptionId" minOccurs="0">
				<annotation>
					<documentation>paymentOptionId of wallet payment option. Either paymentOptionId or paymentOptionToken should be sent.
					</documentation>
				</annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="36"/>
                    </restriction>
                </simpleType>
			</element>
			<element name="paymentOptionToken" minOccurs="0">
				<annotation>
					<documentation>paymentOptionToken of wallet payment option. Either paymentOptionId or paymentOptionToken should be sent.
					</documentation>
				</annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="16"/>
                    </restriction>
                </simpleType>
			</element>
			</sequence>
	</complexType>
	
	<complexType name="CaptureInfo">
		<sequence>
			<element name="paymentId">
					<annotation>
						<documentation>
							Unique Id for a payment. Can be used in other
							transaction, for releasePayment.
						</documentation>
					</annotation>
					<simpleType>
						<restriction base="string">
						</restriction>
					</simpleType>
			</element>
			<element name="sourceId">
				<annotation>
					<documentation>
						Identity of the channel this request is being
						sent across. Vendors can
						have multiple channels to access the
						system.
						(i.e., two vendors can have an IVR channel, but they are
						two different
						channels)
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="36" />
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="PaypalInfo">
	<sequence>
			<element name="paypalToken" >
				<annotation>
					<documentation>paypal Token</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="20"/>
					</restriction>
				</simpleType>
			</element>
			</sequence>
	</complexType>
	
	<complexType name="PaymentRequestDetailBO">
		<sequence>
			<element name="walletInfo" type="tns:WalletInfo" minOccurs="0">
				<annotation>
					<documentation>paymentOptionId or paymentOptionToken
					</documentation>
				</annotation>
			</element>
			<element name="paypalInfo" type="tns:PaypalInfo" minOccurs="0">
				<annotation>
					<documentation>paypal Info holds the paypal email Id and paypal Token</documentation>
				</annotation>
			</element>
			<element name="preOrderToken" minOccurs="0">
				<annotation>
					<documentation>preOrderToken</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="16"/>
					</restriction>
				</simpleType>
			</element>
			<element name="consumerChoicePreference" type="tns:CardType" default="CREDIT" minOccurs="0">
				<annotation>
					<documentation>
						The preference type in which the card need to be
						processed for pinless debit cards
					</documentation>
				</annotation>
			</element>
			<element name="amounts" type="paymentCommonTypes:AmountInfo"/>
            <element name="achAccountType" type="paymentCommonTypes:ACHAccountType" minOccurs="0"/>
			<element name="isGuestPayment" type="boolean" default="false" minOccurs="0">
				<annotation>
					<documentation>
						Indicates if the payment is a guest payment or wallet payment
					</documentation>
				</annotation>
			</element>
            <element name="shippingAddress" type="paymentCommonTypes:Address" minOccurs="0"/>
            <element name="posTerminalData" type="paymentCommonTypes:POSTerminalData" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="PaymentOperationRequest">
		<complexContent>
			<extension base="tns:PaymentBaseRequest">
				<sequence>
					<element name="banInfo" type="paymentCommonTypes:BanInfoAC" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="PaymentBaseRequest">
		<sequence>
			<element name="applicationInfo" type="paymentCommonTypes:ActorApp">
				<annotation>
					<documentation>Contains Actor Channel, Actor Id
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	
	<complexType name="GeneratePreOrderTokenAdditionalInfo">
		<sequence>
			<element name="merchantId" type="paymentCommonTypes:MerchantId"/>
		</sequence>
	</complexType>

	<complexType name="AuthAndCaptureInfo">
		<sequence>
			<element name="requestId">
	            <annotation>
	              <documentation>Unique RequestId per channel used in EPP for duplicate check</documentation>
	            </annotation>
	            <simpleType>
	              <restriction base="string">
	                <maxLength value="36"/>
	              </restriction>
	            </simpleType>
	          </element>
	          <element name="referenceId" minOccurs="0">
	            <annotation>
	              <documentation>Unique Id from channel</documentation>
	            </annotation>
	            <simpleType>
	              <restriction base="string">
	                <maxLength value="36"/>
	              </restriction>
	            </simpleType>
	          </element>
	          <element name="externalOrderId" minOccurs="0">
			  <annotation>
	              <documentation>Id sent by channel, used for reporting purpose</documentation>
	            </annotation>
			   <simpleType>
	              <restriction base="string">
	                <maxLength value="36"/>
	              </restriction>
	            </simpleType>
			  </element>
			  <element name="transactionFor" type="tns:TransactionForConstants"/>
			  <element name="additionalInformation" type="tns:AdditionalInfo" minOccurs="0"/>
		      <element name="paymentRequestDetail" type="tns:PaymentRequestDetailBO"/>
	     </sequence>
	</complexType>


</schema>
