design/adapters/SubscriberManagementProxyService/src/main/resources/SubscriberManagementService.xsd9.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://integration.sprint.com/interfaces/validateSubscriberList/v1/validateSubscriberList.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.6" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://integration.sprint.com/interfaces/validateSubscriberList/v1/validateSubscriberList.xsd">
  <!--Date              Author                 Version     Change                                                                      Rel                  SR#-->
  <!--05/22/2011     Tracy Turner		1.0				Initial Version				                                       GBL11.3           PJ004940-->
  <!--05/25/2011   Steve Heichelheim 1.0          Applied MVM standards and simple types             GBL11.3           PJ004940-->
  <!--05/26/2011     Tracy Turner		1.1			Added networkInd to subscriberInfo                     GBL11.3           PJ004940-->
  <!--07/22/2011     Tracy Turner  1.3     Added deviceCoverageCode to subscriberInfo, made subscriberList required, created a chioce in the subscriberInfo structure from subscriberId and tempSubscriberId  GBL11.3           PJ004940-->
  <!--08/05/2011     Tracy Turner  1.4     changed consentTextList and consentText minOccurs/maxOccurs GBL11.3           PJ004940-->
  <!--08/20/2011     Tracy Turner  1.5     Added consentInfo changes																			GBL11.4          PJ004940-->
  <!--08/22/2011     Tracy Turner  1.6     Merged in Ch 14 changes: added deviceInfo, allowanceInfo, hybrid, LTS and fee structures	GBL11.4  PJ004940-->
  <!--08/25/2011     Tracy Turner  1.6     Moved ltsRank into an lts structure under pricePlanInfo which also contains the LTS MRC, removed transactionInfo.action	GBL11.4  PJ004940-->
  <!--08/25/2011     Tracy Turner  1.7     Added upgradeInd in transactionInfo (used in place of the action field removed in 1.6 GBL11.4 PJ004940-->
  <!--09/09/2011     Tracy Turner  1.8     Added feeInfo to accountInfo (replaced activation specific fields), added contractInfo to response GBL11.4 PJ004940-->
  <!--09/15/2011     Tracy Turner  1.9     Added tempSubscriberId to feeInfo and put the subscriberId/tempSubscriberId from choice to optional, removed languageCode from the request GBL11.4 PJ004940-->
  <!--10/13/2011     Jocelen Silva   2.0    Changed NumberOfSubscriptionsType type to nonNegativeInteger   GBL11.4  CS#501443-->
  <!--10/19/2011     Tracy Turner  2.1		Changed allowanceList in pricePlanInfo from required to optional to match the interface spec GBL11.4  CS#501443-->
  <!--10/21/2011     Tracy Turner  2.2		Removed objectId from the response, changed consentTextList in response from required to optional GBL11.4  CS#503998-->
  <!--10/25/2011     Tracy Turner  2.3		Added back contractInfo (was accidentally removed from 1.8 to 1.9 GBL11.4  CS#504123|-->
  <!--10/26/2011     Tracy Turner  2.4		Changed consentText field max length from 1024 to 5000 GBL11.4  CS#504123|-->
  <!--11/7/2011     Tracy Turner  2.5		Added FeeInfoList structure in accountInfo response to contain existing feeinfo, added consentTextInfo.consentTextType, added directShippedInd to deviceInfo GBL11.4-->
  <!--12/2/2011     Tracy Turner  2.6		Changed existingltsList to existingLtsList, existinghybridGroup to existingHybridGroupList, hybridGroupList on response,  changed NumberOfContractMonthsType to nonNegativeInteger GBL11.4-->
  <!--12/22/2011     Tracy Turner		2.7	Made soc elemenet in ltsInfo structure required to match the interface spec, removed actionType enumerations, added expirationDateTime for socInfo structure GBL11.4           PJ004940-->
  <!--2/12/2012     Tracy Turner		3.0	Made pricePlanInfo on request optional GBL12.1           PJ004940 CS#519885-->
  <xs:element name="validateSubscriberList" type="tns:ValidateSubscriberListType"/>
  <xs:element name="validateSubscriberListResponse" type="tns:ValidateSubscriberListResponseType"/>
  <xs:complexType name="ValidateSubscriberListType">
    <xs:sequence>
      <xs:element name="transactionInfo" type="tns:TransactionInfoType">
        <xs:annotation>
          <xs:documentation>Structure identifying transaction type for validation</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="accountInfo" type="tns:AccountInfoType">
        <xs:annotation>
          <xs:documentation>Structure identifying ban information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="subscriberList" type="tns:SubscriberListType">
        <xs:annotation>
          <xs:documentation>The Subscriber List contains a list of subscribers (SubscriberInfo) under the account.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="existingHybridGroupList" type="tns:HybridGroupListType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>hybridGroup Info structure
contains the hybrid sharing group info for the account</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="existingLtsList" type="tns:LtsListType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>List of existing lts subscriber information structures</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValidateSubscriberListResponseType">
    <xs:sequence>
      <xs:element name="validationSucceededInd" type="tns:ValidationSuccessFlagType">
        <xs:annotation>
          <xs:documentation>Indicates validation succeeded or failed.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="accountInfo" type="tns:AccountInfoResponseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Structure identifying ban information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="subscriberList" type="tns:SubscriberListResponseType">
        <xs:annotation>
          <xs:documentation>The Subscriber List contains a list of subscribers (SubscriberInfo) under the account</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="consentList" type="tns:ConsentListType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>List of consent verbiage</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hybridGroupList" type="tns:HybridGroupListResponseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>List of hybrid sharing group information structures</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="validationErrorInfo" type="tns:ValidationErrorInfoType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Additional information may be provided in response.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountFeeListType">
    <xs:sequence>
      <xs:element name="feeInfo" type="tns:AccountFeeInfoType" maxOccurs="500">
        <xs:annotation>
          <xs:documentation>Fee information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountFeeInfoType">
    <xs:sequence>
      <xs:element name="waiveFeeInd" type="tns:BinaryExpressionType">
        <xs:annotation>
          <xs:documentation>Indicator for when the activation or upgrade fee is waived on the sub-level</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="feeAmount" type="tns:ChargeAmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Fee amount charged to the customer</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="feeFeatureCode" type="tns:FeatureCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Fee feauture code related to the fee charged</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tempSubscriberId" type="tns:TempSubscriberIdentifierType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The temporary subscriber which triggered the account-level fee.  This will only happen during activations, so this will be the unique id assigned to the subscriber by the front-end, rather than a billing system subscriber id.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountInfoType">
    <xs:sequence>
      <xs:element name="ban" type="tns:BillingAccountNumberType">
        <xs:annotation>
          <xs:documentation>Customer's billing account number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="accountType" type="tns:BillingAccountTypeCodeType">
        <xs:annotation>
          <xs:documentation>The type of account to be used to determine which plans to return.
If accountSubType sent, accountType should be sent.
I, B, C, G</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="accountSubType" type="tns:BillingAccountSubTypeCodeType">
        <xs:annotation>
          <xs:documentation>Subscription type to be used to determine which plans to return.
If accountType sent, accountSubType should be sent.
I, B, H, N, G, 4</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="creditClass" type="tns:CreditClassCodeType">
        <xs:annotation>
          <xs:documentation>Credit class of the account</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="corpId" type="tns:CorporationIdentifierType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The corporate id and government id of the associated subscriber.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="accountSetupFeeInd" type="tns:BinaryExpressionType">
        <xs:annotation>
          <xs:documentation>Indicator for whether the account had a setup fee associated with it..</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="aslInd" type="tns:AccountSpendingLimitFlagType">
        <xs:annotation>
          <xs:documentation>Indicator for whether the account has an account spending limit.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountInfoResponseType">
    <xs:sequence>
      <xs:element name="feeList" type="tns:AccountFeeListType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Fee information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="crossSubValidationInd" type="tns:BinaryExpressionType">
        <xs:annotation>
          <xs:documentation>Indicator for whether cross subscriber validation is required</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="transactionSummaryInd" type="tns:BinaryExpressionType">
        <xs:annotation>
          <xs:documentation>Indicates whether a transaction summary is required</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="poolingWarningInd" type="tns:BinaryExpressionType">
        <xs:annotation>
          <xs:documentation>Indicates whether a pooling warning should be displayed.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ltsCountWarningInd" type="tns:BinaryExpressionType">
        <xs:annotation>
          <xs:documentation>Indicates whether the customer has gone over their LTS max and a warning should be displayed.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AllowanceInfoType">
    <xs:sequence>
      <xs:element name="allowanceType" type="tns:AllowanceTypeCodeType">
        <xs:annotation>
          <xs:documentation>Type of allowance
Sprint 3G Data
Sprint 3G Data Roaming
Sprint 4G Data
Sprint 3G/4G Data</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="allowance" type="tns:UnitOfMeasureValueType">
        <xs:annotation>
          <xs:documentation>Included units of allowance for the input subscriber in MB</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AllowanceListType">
    <xs:sequence>
      <xs:element name="allowanceInfo" type="tns:AllowanceInfoType" maxOccurs="10">
        <xs:annotation>
          <xs:documentation>Information about the allowance</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsentInfoType">
    <xs:sequence>
      <xs:element name="order" type="tns:DisplayOrderSequenceNumberType">
        <xs:annotation>
          <xs:documentation>Identifier for what order the consent should be displayed</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="consentType" type="tns:ConsentTypeCodeType">
        <xs:annotation>
          <xs:documentation>Type of consent.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="assentType" type="tns:AssentMethodCodeType">
        <xs:annotation>
          <xs:documentation>Checkbox or Signature</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="consentTextList" type="tns:ConsentTextListType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>List of consent texts</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="subscriberList" type="tns:ConsentSubscriberListType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>List of subscribers associated with the consent</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsentListType">
    <xs:sequence>
      <xs:element name="consentInfo" type="tns:ConsentInfoType" maxOccurs="100">
        <xs:annotation>
          <xs:documentation>Structure providing consent verbiage</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsentSubscriberInfoType">
    <xs:sequence>
      <xs:element name="subscriberId" type="tns:SubscriberIdentifierType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Subscription Identifier uniquely identifies an instance of the subscriber.  Must be populated for an existing subscriber.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tempSubscriberId" type="tns:TempSubscriberIdentifierType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Unique id assigned to the subscriber (used for activations, before subscriber has been created in the billing system) Must be populated if the subscriberId is blank.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsentSubscriberListType">
    <xs:sequence>
      <xs:element name="subscriberInfo" type="tns:ConsentSubscriberInfoType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Consent Subscriber Info</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsentTextInfoType">
    <xs:sequence>
      <xs:element name="languageCode" type="tns:LanguagePreferenceCodeType">
        <xs:annotation>
          <xs:documentation>The preferred language of the BAN.
Valid values:
ENG – English 
SPA – Spanish</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="consentText" type="tns:ConsentStatementTextType">
        <xs:annotation>
          <xs:documentation>Consent verbiage</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="consentTextType" type="tns:ConsentStatementTypeCodeType">
        <xs:annotation>
          <xs:documentation>Type of consent text.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsentTextListType">
    <xs:sequence>
      <xs:element name="consentTextInfo" type="tns:ConsentTextInfoType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Consent Text</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContractDurationInfoType">
    <xs:sequence>
      <xs:element name="existingPlanDuration" type="tns:NumberOfContractMonthsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Duration of existing plan in total months from the start date.  Example: A 2 year plan would be sent as ‘24’</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="newPlanDuration" type="tns:NumberOfContractMonthsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Duration of proposed new plan in total months</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="deviceDiscountDuration" type="tns:NumberOfContractMonthsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Duration of contract required for the equipment/device discount in total months</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContractInfoType">
    <xs:sequence>
      <xs:element name="contractDuration" type="tns:NumberOfContractMonthsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Duration of contract in total months from the start date.  Example: A 2 year plan would be sent as ‘24’</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="reason" type="tns:ContractChangeReasonCodeType">
        <xs:annotation>
          <xs:documentation>Reason of contract change.    “EQU” – Equipment Update.
“PPD” - Standard. "NCC": No contract change</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeviceInfoType">
    <xs:sequence>
      <xs:element name="deviceCoverageCode" type="tns:DeviceCoverageCodeType">
        <xs:annotation>
          <xs:documentation>Field indicating  whether the subscriver has device coverage: NA/NONE/TEP/ESRP/ERP</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="newDeviceInd" type="tns:BinaryExpressionType">
        <xs:annotation>
          <xs:documentation>Indicates whether the device is new</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="purchasedDeviceInd" type="tns:BinaryExpressionType">
        <xs:annotation>
          <xs:documentation>Indicates whether the device is being purchased with this transaction</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="deviceType" type="tns:DeviceSerialNumberTypeCodeType">
        <xs:annotation>
          <xs:documentation>Device Type
Values:
E – ESN
M – MSN
I – IMEI
A - Airave (macId)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="directShippedDeviceInd" type="tns:BinaryExpressionType" default="false" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Indicates whether the device is being directly shipped with this transaction</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FeatureInfoType">
    <xs:sequence>
      <xs:element name="featureCode" type="tns:FeatureCodeType">
        <xs:annotation>
          <xs:documentation>Component of the feature (option-id) , For internal use only</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="productTypeList" type="tns:ProductTypeListType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Structure with product definition details.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FeatureListType">
    <xs:sequence>
      <xs:element name="featureInfo" type="tns:FeatureInfoType" maxOccurs="20">
        <xs:annotation>
          <xs:documentation>Structure providing feature detail info.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FeeListType">
    <xs:sequence>
      <xs:element name="feeInfo" type="tns:FeeInfoType" maxOccurs="500">
        <xs:annotation>
          <xs:documentation>Fee information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FeeInfoType">
    <xs:sequence>
      <xs:element name="waiveFeeInd" type="tns:BinaryExpressionType">
        <xs:annotation>
          <xs:documentation>Indicator for when the activation or upgrade fee is waived on the sub-level</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="feeAmount" type="tns:ChargeAmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Fee amount charged to the customer</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="feeFeatureCode" type="tns:FeatureCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Fee feauture code related to the fee charged</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tempSubscriberId" type="tns:TempSubscriberIdentifierType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The temporary subscriber which triggered the account-level fee.  This will only happen during activations, so this will be the unique id assigned to the subscriber by the front-end, rather than a billing system subscriber id.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HybridGroupInfoType">
    <xs:sequence>
      <xs:element name="sharingGroupId" type="tns:LinesToShareGroupIdentifierType">
        <xs:annotation>
          <xs:documentation>The Hybrid Group Sharing Plan Id. Id that defines one hybrid group</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="maxSubsAllowed" type="tns:NumberOfSubscriptionsType">
        <xs:annotation>
          <xs:documentation>Maximum subscribers allowed under a Hybrid group</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currentSubsCount" type="tns:NumberOfSubscriptionsType">
        <xs:annotation>
          <xs:documentation>Count of current number of subscribers under the Hybrid group in current Bill Cycle</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nextDateSubsCount" type="tns:NumberOfSubscriptionsType">
        <xs:annotation>
          <xs:documentation>Count of number of subscribers belonging to the Hybrid Group till the nextDate if provided in the input. If not provided it gives the subscriber count as start of Next bill cycle</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="allowanceList" type="tns:AllowanceListType">
        <xs:annotation>
          <xs:documentation>List of allowanceInfo structure
AllowanceList will contain allowance information for the hybrid sharing group soc of the subscriber.
For Data, two allowanceInfo structures can be sent, one for “Sprint Data” and second for “Sprint Data Roaming” depending upon the soc setup.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HybridGroupInfoResponseType">
    <xs:sequence>
      <xs:element name="sharingGroupId" type="tns:LinesToShareGroupIdentifierType">
        <xs:annotation>
          <xs:documentation>The Hybrid Group Sharing Plan Id. Id that defines one hybrid group</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sharingGroupWarningInd" type="tns:BinaryExpressionType">
        <xs:annotation>
          <xs:documentation>Indicates whether the maximum subscribers allowed under a Hybrid sharing group was exceeded.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sharingGroupAllowanceWarningInd" type="tns:BinaryExpressionType">
        <xs:annotation>
          <xs:documentation>Warning indicator for sharing group allowance.  Set to true when the allowance for the sharing group reaches zero.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="allowanceList" type="tns:AllowanceListType">
        <xs:annotation>
          <xs:documentation>List of allowanceInfo structure
AllowanceList will contain allowance information for the hybrid sharing group.
For Data, two allowanceInfo structures can be sent, one for “Sprint Data” and second for “Sprint Data Roaming” depending upon the soc setup.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HybridGroupListType">
    <xs:sequence>
      <xs:element name="hybridGroupInfo" type="tns:HybridGroupInfoType" maxOccurs="50">
        <xs:annotation>
          <xs:documentation>Information about the pre-existing hybrid group related to the account</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HybridGroupListResponseType">
    <xs:sequence>
      <xs:element name="hybridGroupInfo" type="tns:HybridGroupInfoResponseType" maxOccurs="50">
        <xs:annotation>
          <xs:documentation>Derived information about the hybrid sharing group related to the account</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LtsInfoType">
    <xs:sequence>
      <xs:element name="groupType" type="tns:LinesToSharePlanGroupTypeCodeType">
        <xs:annotation>
          <xs:documentation>LTS group type
A - Anytime
N - Night and Weekend
M - Mobile to Mobile
R - Roaming
F - Fair and Flexible
D - Call Credit</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="soc" type="tns:ServiceOrderCodeType">
        <xs:annotation>
          <xs:documentation>soc code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="maxSubsAllowed" type="tns:NumberOfSubscriptionsType">
        <xs:annotation>
          <xs:documentation>Maximum subscribers allowed in particular group for that Soc
SOC.LTS_MAX_SUB</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serviceEffectiveDate" type="tns:EffectiveFromDateType">
        <xs:annotation>
          <xs:documentation>Effective date of the Feature
SERVICE_FEATURE.FTR_EFFECTIVE_DATE</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ltsSubscriberList" type="tns:LtsSubscriberListType">
        <xs:annotation>
          <xs:documentation>A sequence of 1-50 subscriberList structures
List of subscribers who participate in this group.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LtsListType">
    <xs:sequence>
      <xs:element name="ltsInfo" type="tns:LtsInfoType" minOccurs="0" maxOccurs="50">
        <xs:annotation>
          <xs:documentation>A sequence of 0 to 50 ltsInfo records
Lists Subscriber’s LTS Plan Information. This structure applies only to subscribers who are active, suspended, or reserved.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LtsSubInfoType">
    <xs:sequence>
      <xs:element name="rank" type="tns:LinesToShareRankType">
        <xs:annotation>
          <xs:documentation>Rank of subscriber within family plan.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="recurringCharge" type="tns:MonthlyRecurringChargeType">
        <xs:annotation>
          <xs:documentation>Recurring charge of associated family plan ranked subscriber</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LtsSubscriberInfoType">
    <xs:sequence>
      <xs:element name="subscriberId" type="tns:SubscriberIdentifierType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Subscription Identifier uniquely identifies an instance of the subscriber (used when sending information for an existign subscriber)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" type="tns:SubscriberStatusCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Designates the status of a subscriber.
A – Active
S – Suspended
C – Canceled
R – Reserved</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currentRank" type="tns:LinesToShareRankType">
        <xs:annotation>
          <xs:documentation>Current LTS rank of the subscriber in the next bill cycle
Rank should be calculated based on the Effectiv Date and Feature Seq Number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currentRecurringCharge" type="tns:MonthlyRecurringChargeType">
        <xs:annotation>
          <xs:documentation>Current Recurring charge for the soc for this subscriber in the next bill cycle
SOC_RC_RANK.RC</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serviceEffectiveDate" type="tns:EffectiveFromDateType">
        <xs:annotation>
          <xs:documentation>Effective date of the Feature
SERVICE_FEATURE.FTR_EFFECTIVE_DATE
Format: MMDDYYYY</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rankOverriddenFlag" type="tns:BinaryExpressionType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Indicates  whether the LTS rank is manually overridden or not.
'True' if SERVICE_FEATURE.RANK  is not null else 'False'</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="minSeqNumber" type="tns:SequenceNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The subscriber’s minimum sequence number from SUB_RES_HISTORY</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="initialActivationDate" type="tns:NetworkAccessActivationFromDateType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Initial activation date of the subscriber (for reserved subscribers with no future activation this date will be populated with the creation date).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LtsSubscriberListType">
    <xs:sequence>
      <xs:element name="ltsSubscriberInfo" type="tns:LtsSubscriberInfoType" maxOccurs="50">
        <xs:annotation>
          <xs:documentation>subscriberInfo structure
This list contains all subscriber having the LTS soc which can share the LTS minutes. This list contain SubscriberInfo structure for each subscriber.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PricePlanInfoType">
    <xs:sequence>
      <xs:element name="pricePlanSoc" type="tns:ServiceOrderCodeType">
        <xs:annotation>
          <xs:documentation>Plan code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="effectiveDateTime" type="tns:EffectiveFromDateTimeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Plan effective date.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="expirationDateTime" type="tns:ExpirationDateTimeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Plan expiration date.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="durationInMonths" type="tns:NumberOfContractMonthsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Duration of contract in total months from the start date.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="banLevelInd" type="tns:BillingAccountLevelSocRequiredFlagType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Indicates associated plan id is an account level price plan.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sharingGroupId" type="tns:LinesToShareGroupIdentifierType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Hybrid Sharing Group Identifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="oldSharingGroupId" type="tns:LinesToShareGroupIdentifierType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Hybrid Sharing Group Identifier for old price plan (if changed)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="allowanceList" type="tns:AllowanceListType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>AllowanceList will contain allowance information for the hybrid sharing group soc of the subscriber.
For Data, two allowanceInfo structures can be sent, one for “Sprint Data” and second for “Sprint Data Roaming” depending upon the soc setup.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="productTypeList" type="tns:ProductTypeListType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Structure with product definition details.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="featureList" type="tns:FeatureListType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Structure providing feature detail info.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductTypeInfoType">
    <xs:sequence>
      <xs:element name="productId" type="tns:ProductCategoryCodeType">
        <xs:annotation>
          <xs:documentation>Price Plan Product Indicator
Valid values are: 
LTS (lines to share) 
M2H (mobile to home)
M2O (mobile to office)
AFR (affinity registration)
AFB (affinity benefit)
AIR (airave)
HPP (NDC provisioning feature)
HPR (NDC rating feature)
HPB (NDC rating and provisioning feature)
HPC (NDC call forwarding feature)
WEL (Welcome Verify)
VBS (Discounted MRC Feature)
ACV (Discounted MRC Feature)
HP1 (NDC feature)
HP2 (NDC Feature)
WMX (WiMAX feature)
SBD (Secondary Bundle)
PBD (Primary Bundle)
ATA (Airave Service with ATA)
4GC (4G Clearwire)
BSF (Barring SOC Feature)
VCF (Voice Control Feature)
ATA (Airave Service with ATA)
4GC (4G Clearwire)
UNI (Universal)
INS (Insurance)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductTypeListType">
    <xs:sequence>
      <xs:element name="productTypeInfo" type="tns:ProductTypeInfoType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Structure with product type information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SocInfoType">
    <xs:sequence>
      <xs:element name="soc" type="tns:ServiceOrderCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>soc code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="effectiveDateTime" type="tns:EffectiveFromDateTimeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Effective date and time</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="expirationDateTime" type="tns:ExpirationDateTimeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>SOC expiration date.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="productTypeList" type="tns:ProductTypeListType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Structure with product definition details.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="featureList" type="tns:FeatureListType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Structure providing feature detail info.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SocListType">
    <xs:sequence>
      <xs:element name="socInfo" type="tns:SocInfoType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>SOC information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubscriberInfoType">
    <xs:sequence>
      <xs:element name="subscriberId" type="tns:SubscriberIdentifierType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Subscription Identifier uniquely identifies an instance of the subscriber.  Must be populated for an existing subscriber.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tempSubscriberId" type="tns:TempSubscriberIdentifierType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Unique id assigned to the subscriber (used for activations, before subscriber has been created in the billing system) Must be populated if the subscriberId is blank.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="mdn" type="tns:MobileDirectoryNumberStringType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Mobile Directory Number (MDN) is the actual phone number one would dial to reach a specific mobile phone.
Prior to Wireless Number Portability, MDN was the same number as the Mobile Identification Number (MIN) for many mobile phones. But now that MDN’s can be ported (moved) to other carriers, MDN and MIN will be different for ported numbers.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="networkInd" type="tns:NetworkTypeCodeType" block="restriction" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Identfies the subscribrs network. C for CDMA and I for iDEN</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="deviceInfo" type="tns:DeviceInfoType">
        <xs:annotation>
          <xs:documentation>Contains each individual subscriber’s device information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="pricePlanInfo" type="tns:PricePlanInfoType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Contains each individual subscriber’s Price Plan information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="socInfoList" type="tns:SocListType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>List of SOC information structures</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="actionType" type="tns:TransactionTypeCodeType">
        <xs:annotation>
          <xs:documentation>Type of transaction for validation</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="contractDurationInfo" type="tns:ContractDurationInfoType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Information about contract duration</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ltsInfo" type="tns:LtsSubInfoType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Family plan  info</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubscriberListType">
    <xs:sequence>
      <xs:element name="subscriberInfo" type="tns:SubscriberInfoType" maxOccurs="500">
        <xs:annotation>
          <xs:documentation>Subscriber information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubscriberInfoResponseType">
    <xs:sequence>
      <xs:element name="subscriberId" type="tns:SubscriberIdentifierType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Subscription Identifier uniquely identifies an instance of the subscriber</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tempSubscriberId" type="tns:TempSubscriberIdentifierType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Unique id assigned to the subscriber (used for activations, before subscriber has been created in the billing system)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="mdn" type="tns:MobileDirectoryNumberStringType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Mobile Directory Number (MDN) is the actual phone number one would dial to reach a specific mobile phone.
Prior to Wireless Number Portability, MDN was the same number as the Mobile Identification Number (MIN) for many mobile phones. But now that MDN’s can be ported (moved) to other carriers, MDN and MIN will be different for ported numbers.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ltsInfo" type="tns:LtsSubInfoType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Family plan info</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="feeInfo" type="tns:FeeInfoType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Fee information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="contractInfo" type="tns:ContractInfoType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Contract information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubscriberListResponseType">
    <xs:sequence>
      <xs:element name="subscriberInfo" type="tns:SubscriberInfoResponseType" maxOccurs="500">
        <xs:annotation>
          <xs:documentation>Subscriber information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionInfoType">
    <xs:sequence>
      <xs:element name="upgradeInd" type="tns:TransactionTypeFlagType">
        <xs:annotation>
          <xs:documentation>Indicator for when an upgrade is being performed on the account.  False for the new activation flow.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="newAccountInd" type="tns:TransactionTypeFlagType">
        <xs:annotation>
          <xs:documentation>Indicator for when the account is being created in this transaction (ie new activation)  False for upgrades.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="banLevelServiceChangeInd" type="tns:TransactionTypeFlagType">
        <xs:annotation>
          <xs:documentation>Indicator for when a service change was performed on the account level</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="subLevelServiceChangeInd" type="tns:TransactionTypeFlagType">
        <xs:annotation>
          <xs:documentation>Indicator for when a service change was performed on at least one subscriber</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="existingSubCount" type="tns:NumberOfSubscriptionsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Number of existing subscribers on the account.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="newActivationCount" type="tns:NumberOfSubscriptionsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Number of new subscribers on the account.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="totalSubCount" type="tns:NumberOfSubscriptionsType">
        <xs:annotation>
          <xs:documentation>Total Subscriber count (existing plus/minus changes)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValidationErrorInfoType">
    <xs:sequence>
      <xs:element name="errorCode" type="tns:ErrorMessageIdentifierType">
        <xs:annotation>
          <xs:documentation>Identifies the error code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorDescription" type="tns:ErrorMessageTextType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Description of the error</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!---->
  <!--MVM/Shared Simple Types-->
  <xs:simpleType name="AccountSpendingLimitFlagType">
    <xs:annotation>
      <xs:documentation>Account Spending Limit Flag is a boolean flag that indicates if the account has a spending Limit.
Values:
true - ASL Account
false - Not an ASL Account</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:simpleType name="AllowanceTypeCodeType">
    <xs:annotation>
      <xs:documentation>Allowance Type Code designates a type of allowance of units that would be set up for a user, espically in the case of a hybrid sharing group.
Valid Values Include:
Sprint Data,
Sprint Data Roaming...</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AssentMethodCodeType">
    <xs:annotation>
      <xs:documentation>Assent Method Type code is a code representing the method used to capture the customer's assent to port in an active MDN the customer has with another Service Provider into Sprint or Sprint Wholesale Reseller.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BillingAccountLevelSocRequiredFlagType">
    <xs:annotation>
      <xs:documentation>Billing Account Level Soc Required Flag indicates whether this SOC is required at the BAN level, if the BAN is added to the Corporation.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:simpleType name="BillingAccountNumberType">
    <xs:annotation>
      <xs:documentation>Billing Account Number uniquely identifies an instance of Billing Account used to accrue charges for invoicing.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="9"/>
      <xs:minLength value="1"/>
      <xs:pattern value="\d{1,9}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BillingAccountSubTypeCodeType">
    <xs:annotation>
      <xs:documentation>Billing Account SubType Code further categorizes the Billing Account within the context of the assigned Billing Account Type Code used primarily for Customer segmentation in General Ledger reporting and collection treatment.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BillingAccountTypeCodeType">
    <xs:annotation>
      <xs:documentation>Billing Account Type Code identifies the account typeof the BILLING_QACCOUNT. It is used mainly for segregation of the G/L reporting and Collection treatment.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BinaryExpressionType">
    <xs:annotation>
      <xs:documentation>Binary Expression is a type of an expression with two possible states,"true"and"false".</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:simpleType name="ChargeAmountType">
    <xs:annotation>
      <xs:documentation>Charge Amount is the dollar amount charged for goods or services.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:double"/>
  </xs:simpleType>
  <xs:simpleType name="ConsentStatementTypeCodeType">
    <xs:annotation>
      <xs:documentation>Consent Statement Type Code designates a type of consent statement.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ConsentStatementTextType">
    <xs:annotation>
      <xs:documentation>Consent Statement Text is the verbiage of a consent statement that may be agreed to by an individual.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="5000"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ConsentTypeCodeType">
    <xs:annotation>
      <xs:documentation>Consent Type Code designates a type of consent that is being agreed to by a party.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ContractChangeReasonCodeType">
    <xs:annotation>
      <xs:documentation>Contract Change Reason Code documents the reason the Contract changed.
Valid Values:
EQU – Equipment Update,
PPD - Standard,
NCC - No contract change...</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="3"/>
      <xs:enumeration value="EQU"/>
      <xs:enumeration value="PPD"/>
      <xs:enumeration value="NCC"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CorporationIdentifierType">
    <xs:annotation>
      <xs:documentation>Corporation Identifer uniquely identifies a corporate entity.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="20"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CreditClassCodeType">
    <xs:annotation>
      <xs:documentation>Credit Class Code identifies the Customer's level of financial responsibility.   

For example, the Credit Class Code assignment determines what Products the Customer can purchase, how many Subscriptions they can be liable for, whether there is a required depsoit and the amount of the deposit, etc..</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="15"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DeviceCoverageCodeType">
    <xs:annotation>
      <xs:documentation>Device Coverage Code indicates whether MDN had Device Coverage impacts
Current Values include: 
NA - Not Applicable
NONE - None
TEP - Total Equipment Protection
ESRP
ERP</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DeviceSerialNumberTypeCodeType">
    <xs:annotation>
      <xs:documentation>Device Serial Number Type Code designates a device type: IMEI(I), MSN(M), SIM(S), Kit (K), or ESN (E) for CDMA platform.
Valid values:
I - IMEI
M - MSN
S - SIM
K - Kit
E - ESN
A - Airave (macId)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DisplayOrderSequenceNumberType">
    <xs:annotation>
      <xs:documentation>Display Order Sequence Number designates the order in which the record will be displayed relative to the other records in the set of records.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer"/>
  </xs:simpleType>
  <xs:simpleType name="EffectiveFromDateTimeType">
    <xs:annotation>
      <xs:documentation>Effective From Date holds the first calendar month, day, year, hour, minute, second and fraction of a second a Role, Preference, Assignment, etc. was in effect.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="EffectiveFromDateType">
    <xs:annotation>
      <xs:documentation>Effective From Date Type holds the first calendar day  a Role, preference, assignment, etc. the PARTY's preference went into effect.

Elements declared to be of type date must follow this form:  
CCYY-MM-DD
range for CC is: 00-99
range for YY is: 00-99
range for MM is: 01-12
range for DD is: 
01-28 if month is 2
01-29 if month is 2 and the gYear is a leap gYear
01-30 if month is 4, 6, 9, or 11
01-31 if month is 1, 3, 5, 7, 8, 10, or 12

Example: 1999-05-31 represents May 31, 1999</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="ErrorMessageIdentifierType">
    <xs:annotation>
      <xs:documentation>Error Message Identifier uniquely identifies a specific error message from the system that encountered the error.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer"/>
  </xs:simpleType>
  <xs:simpleType name="ErrorMessageTextType">
    <xs:annotation>
      <xs:documentation>Error Message Text is a textual description of the error message.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1000"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExpirationDateTimeType">
    <xs:annotation>
      <xs:documentation>Expiration Date Time holds the last calendar Date and Time of day an object, relationship, privilege, etc. is valid or in force.  After this date the object is no longervalid or in force.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="FeatureCodeType">
    <xs:annotation>
      <xs:documentation>The code of the feature being granted in this service feature</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="6"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IdentifierStringType">
    <xs:annotation>
      <xs:documentation>Identifier String holds a string value that uniquely identifies an instance of an object.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LanguagePreferenceCodeType">
    <xs:annotation>
      <xs:documentation>Language Preference Code identifies a language preference.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="3"/>
      <xs:enumeration value="ENG"/>
      <xs:enumeration value="SPA"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LinesToShareGroupIdentifierType">
    <xs:annotation>
      <xs:documentation>Lines To Share Group Identifier uniquely identifies a Lines To Share Group within a Billing Account.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="9"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LinesToSharePlanGroupTypeCodeType">
    <xs:annotation>
      <xs:documentation>Lines To Share Plan Group Type Code designates a plan group type.
Values:
A - Anytime
N - Night and Weekend
M - Mobile to Mobile
R - Roaming
F - Fair and Flex
D - Call Credit</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="1"/>
      <xs:enumeration value="A"/>
      <xs:enumeration value="N"/>
      <xs:enumeration value="M"/>
      <xs:enumeration value="R"/>
      <xs:enumeration value="F"/>
      <xs:enumeration value="D"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LinesToShareRankType">
    <xs:annotation>
      <xs:documentation>Lines To Share Rank is the Current rank of associated subscriber within the family plan they are in.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:positiveInteger">
      <xs:totalDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MobileDirectoryNumberStringType">
    <xs:annotation>
      <xs:documentation>The method of identifying telephone trunks in the public network of North America, called World Numbering Zone 1 by the ITU-T. the Plan has 3 ways of identifying phone numbers in North America -- a 3-digit area code, a 3-digit exchange or central office code, and 4-digit subscriber code.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MonthlyRecurringChargeType">
    <xs:annotation>
      <xs:documentation>Monthly Recurring Charge holds the base dollar amount billed to the Customer every month for a service.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="2"/>
      <xs:totalDigits value="9"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NetworkAccessActivationFromDateType">
    <xs:annotation>
      <xs:documentation>Network Access Activiated From Date holds the first calendar day the set of implemented components were active on the network.

Elements declared to be of type date must follow this form:  
CCYY-MM-DD
range for CC is: 00-99
range for YY is: 00-99
range for MM is: 01-12
range for DD is: 
01-28 if month is 2
01-29 if month is 2 and the gYear is a leap gYear
01-30 if month is 4, 6, 9, or 11
01-31 if month is 1, 3, 5, 7, 8, 10, or 12

Example: 1999-05-31 represents May 31, 1999</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="NetworkTypeCodeType">
    <xs:annotation>
      <xs:documentation>The network type code identifies which network the subscriber is associated to.
Possible values:
C - CDMA
I - IDEN</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumberOfContractMonthsType">
    <xs:annotation>
      <xs:documentation>Number Of Contract Months is the number of months the Customer must commit to to receive Rate plans, Rebates, Discount, etc. under a contract.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:maxInclusive value="99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumberOfSubscriptionsType">
    <xs:annotation>
      <xs:documentation>Total number of subscribers (including reserved, active, suspended, and cancelled) associated with the account.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:nonNegativeInteger"/>
  </xs:simpleType>
  <xs:simpleType name="ProductCategoryCodeType">
    <xs:annotation>
      <xs:documentation>Product Category Code is used for the categorization of products allowing grouping, selection, and pricing flexiblity.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ServiceOrderCodeType">
    <xs:annotation>
      <xs:documentation>Service Order Code</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="9"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SequenceNumberType">
    <xs:annotation>
      <xs:documentation>Sequence Number is a unique positive integer assigned to an item in a list of items.  It is used to determine order in a list of items or to identify a specific item.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer"/>
  </xs:simpleType>
  <xs:simpleType name="SubscriberIdentifierType">
    <xs:annotation>
      <xs:documentation>Subscriber Identifier is a string that uniquely identifies a subscriber.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="20"/>
      <xs:minLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SubscriberStatusCodeType">
    <xs:annotation>
      <xs:documentation>Subscriber status code is a single character code that represents the status of a subsciber.

Possible values
A - Active
S - Suspended
C - Canceled
R - Reserved</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TempSubscriberIdentifierType">
    <xs:annotation>
      <xs:documentation>Subscriber Identifier is a string that uniquely identifies a subscriber.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TransactionTypeCodeType">
    <xs:annotation>
      <xs:documentation>Transaction Type Code designates a specific type of transaction.  ex. CREATE, UPDATE</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TransactionTypeFlagType">
    <xs:annotation>
      <xs:documentation>Transaction Type flag is a boolean indicator of whether the associated transaction type is being applied.</xs:documentation>
      <xs:documentation>Transaction Type Code identifies the Create, Read, Update or Delete (CRUD) functionality of the transaction.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:simpleType name="UnitOfMeasureValueType">
    <xs:annotation>
      <xs:documentation>Unit Of Measure Value contains the numeric value of the actual item or instance as specified by the unit of measure code.  For example, if the unit of measure code contains 'Volume', then the unit of measure value would contain the value '16' that represents the volume of a specified item or instance, etc.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="4"/>
      <xs:totalDigits value="13"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ValidationSuccessFlagType">
    <xs:annotation>
      <xs:documentation>Validation Success Flag is a boolean indicator of whether validation succeeded or failed.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <!---->
</xs:schema>