design/adapters/SubscriberManagementProxyService/src/main/resources/swapCsa.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp1 (http://www.altova.com) by LEE VAN AALSBURG (SPRINT) -->
<xs:schema xmlns:tns="http://integration.sprint.com/interfaces/swapCsa/v1/swapCsa.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://integration.sprint.com/interfaces/swapCsa/v1/swapCsa.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<!--Date              Author                         Version     Change                                                                                               Rel                          SR# -->
	<!--4/10/2012     Amber Peppers               1.0               Initial Draft                                                                              MID12.1                         PJ007279-->
	<!--4/11/2012   Steve Heichelheim        1.0     Added MVM standards and simple types                                             MID12.1                   PJ007279-->
	<xs:element name="swapCsa" type="tns:SwapCsaRequestType"/>
	<xs:element name="swapCsaResponse" type="tns:SwapCsaResponseType"/>
	<xs:complexType name="SwapCsaRequestType">
		<xs:sequence>
			<xs:element name="subscriberInfo" type="tns:SubscriberInfoType">
				<xs:annotation>
					<xs:documentation>Structure that holds subscriber info from the subscriber</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="marketInfo" type="tns:MarketInfoType">
				<xs:annotation>
					<xs:documentation>Contains information to determine the new submarket</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="memoInfo" type="tns:MemoInfoType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SwapCsaResponseType">
		<xs:sequence>
			<xs:element name="subscriberResponseInfo" type="tns:SubscriberResponseInfoType">
				<xs:annotation>
					<xs:documentation>Holds manual programming and resource information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="responseMessage" type="tns:MessageTextType">
				<xs:annotation>
					<xs:documentation>Response message</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CdmaProgrammingInfoType">
		<xs:sequence>
			<xs:element name="mdn" type="tns:MobileDirectoryNumberStringType">
				<xs:annotation>
					<xs:documentation>The MDN of the subscriber.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="esnMeid" type="tns:DeviceSerialNumberType">
				<xs:annotation>
					<xs:documentation>The serial number of the subscriber's active equipment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="msid" type="tns:MobileStationIdentificationNumberType">
				<xs:annotation>
					<xs:documentation>The subscribers MSID (Mobile Station Identification Number)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sidBid" type="tns:CarrierIdentificationCodeType">
				<xs:annotation>
					<xs:documentation>SID- approved 5 digit number that has been assigned to identifiy a particular cellular carrier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="oneTimeSubsidyLock" type="tns:OneTimeKeySubsidyLockType">
				<xs:annotation>
					<xs:documentation>One time subsidy lock </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="alternativeLock" type="tns:MasterSubsidyLockCodeType">
				<xs:annotation>
					<xs:documentation>Master subsidy lock</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="manufactureId" type="tns:ManufacturerPartyIdentifierType">
				<xs:annotation>
					<xs:documentation>The equipment's manufacture ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="modelId" type="tns:ModelNumberType">
				<xs:annotation>
					<xs:documentation>The equipment's model ID</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MarketInfoType">
		<xs:sequence>
			<xs:element name="napNxxNlInfo" type="tns:NpaNxxInfoType">
				<xs:annotation>
					<xs:documentation>Holds number location, NPA, and NXX to determine the new submarket</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ufmiInfo" type="tns:UfmiInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Holds urban ID and fleet ID and password used to validate the NPA and NXX to determine the new submarket</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="networkReasonInfo" type="tns:NetworkResonInfoType">
				<xs:annotation>
					<xs:documentation>Holds network indicator and reason code info</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mdnInfo" type="tns:MdnInfoType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MarketTransferType"/>
	<xs:complexType name="MarketTransferResponseInfoType">
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="MdnInfoType">
		<xs:sequence>
			<xs:element name="reservationId" type="tns:MdnReservationIdentifierType">
				<xs:annotation>
					<xs:documentation>An alpha-numeric number that is associated to the mdn number when the number is loaded to the system</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MemoInfoType">
		<xs:sequence>
			<xs:element name="memoSource" type="tns:MemoSourceCodeType">
				<xs:annotation>
					<xs:documentation>Memo source</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="userText" type="tns:MemoTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Memo text.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NetworkResonInfoType">
		<xs:sequence>
			<xs:element name="networkIndicator" type="tns:NetworkTypeCodeType">
				<xs:annotation>
					<xs:documentation>The network indicator to identify whether the subscriber is an iDEN, CDMA or dual</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reasonCode" type="tns:MarketTransferReasonCodeType">
				<xs:annotation>
					<xs:documentation>The reason code for market transfer</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NpaNxxInfoType">
		<xs:sequence>
			<xs:element name="npa">
				<xs:annotation>
					<xs:documentation>The NPA.                           (Mandatory for both iDEN and CDMA subscribers)     </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="tns:NpaNumberType">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="nxx" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The NXX.                            Mandatory for iDEN subscribers.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="tns:NxxNumberType">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="numberLocation" type="tns:NumberLocationCodeType">
				<xs:annotation>
					<xs:documentation>The number location</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ngp" type="tns:NumberGroupType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The ngp (CSA). The NGP is identified as CSA by the system</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubscriberInfoType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="subscriberId" type="tns:SubscriberIdentifierType">
					<xs:annotation>
						<xs:documentation>Subscriber number.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="mdn" type="tns:MobileDirectoryNumberStringType">
					<xs:annotation>
						<xs:documentation>Phone number of any subscriber under the BAN.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ufmi" type="tns:UrbanFleetMemberIdentifierStringType">
					<xs:annotation>
						<xs:documentation>Member ID of any subscriber under the BAN</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="equipmentId" type="tns:DeviceSerialNumberType">
					<xs:annotation>
						<xs:documentation>International Mobil Entity ID (IMEI/ESN), SIM card, Mobile Switch Number (MSN), or MAC ID for any subscriber under the BAN</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ipAddress" type="tns:InternetProtocolAddressStringType">
					<xs:annotation>
						<xs:documentation>Internet protocol address for any subscriber under the BAN</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="imsi" type="tns:InternationalMobileSubscriberIdentityStringType">
					<xs:annotation>
						<xs:documentation>IMSI/MSID of any subscriber under the BAN</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="nai" type="tns:NetworkAccessIdentifierType">
					<xs:annotation>
						<xs:documentation>NAI of the subscriber</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="additionalImsi" type="tns:InternationalMobileSubscriberIdentityStringType">
					<xs:annotation>
						<xs:documentation>Additional IMSI related to the subscriber</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="hppttId" type="tns:HighPerformancePushToTalkIdentifierStringType">
					<xs:annotation>
						<xs:documentation>The subscriber's HPPTT ID</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubscriberResponseInfoType">
		<xs:sequence>
			<xs:element name="subscriberId" type="tns:SubscriberIdentifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The subscriber ID of the subscriber</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mdn" type="tns:MobileDirectoryNumberStringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>the mdn of the subscriber</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ipAddress" type="tns:InternetProtocolAddressStringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>the IP of the subscriber</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ufmi" type="tns:UrbanFleetMemberIdentifierStringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>the UFMI of the subscriber</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nai" type="tns:NetworkAccessIdentifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The NAI of the subscriber</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cdmaProgrammingInfo" type="tns:CdmaProgrammingInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Holds information for manually programming a CDMA subscriber's equipment.                                                                                               Will be returned for CDMA subscribers only.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hppttId" type="tns:HighPerformancePushToTalkIdentifierStringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Resource that supports HPPTT services.                  Will be returned for HPPTT subscribers only</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="securityLockCode" type="tns:SecurityLockCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Will always be empty</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="banPoolInd" type="tns:CommonPoolIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Will always be empty</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UfmiInfoType">
		<xs:sequence>
			<xs:element name="urbanId" type="tns:UrbanAreaIdentifierType">
				<xs:annotation>
					<xs:documentation>Urban ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fleetId" type="tns:FleetIdentifierType">
				<xs:annotation>
					<xs:documentation>Fleet ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="password" type="tns:PasswordType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The owner's password when the network is private or shared with a password.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!---->
	<!--MVM/Shared Simple Types-->
	<xs:simpleType name="ApplicationIdentifierType">
		<xs:annotation>
			<xs:documentation>Application Identifier uniquely identifies an Application</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AssociateIdentifierType">
		<xs:annotation>
			<xs:documentation>Associate Identifier is the Retail Store Associate Identifier.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CarrierIdentificationCodeType">
		<xs:annotation>
			<xs:documentation>Carrier Identification Code identifies an Interexchange Carrier.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CommonPoolIndicatorType">
		<xs:annotation>
			<xs:documentation>The commonPoolInd set to Y indicates that the IP will be allocated from the common pool if one is not available in the BAN pool.&#13;
N indicates that the IP will be allocated only from the BAN pool.&#13;
If this field is not populated, the default value is Y.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DeviceSerialNumberType">
		<xs:annotation>
			<xs:documentation>Device Serial Number is a unique number that is embedded electronically by the manufacturer into a wireless communication device that identifies that individual unit.</xs:documentation>
			<xs:documentation>Device Serial Number a unique number that is embedded electronically by the manufacturer into a wireless communication device that identifies that individual unit.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FleetIdentifierType">
		<xs:annotation>
			<xs:documentation>Fleet Identifier is the second element of the DirectConnect UFMI number. The format of the UFMI number is: Urban User Id * Fleet Id * Member Id. Example 164*100*3441.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HighPerformancePushToTalkIdentifierStringType">
		<xs:annotation>
			<xs:documentation>High Performance Push To Talk Identifier (HPPTTID) is the identifier of a Subscription utilizing the QChat  Push-To-Talk techniology. HPPTTID is constructed in the username@domain URI format.  The username will be a MDN or UFMI based number.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InternationalMobileSubscriberIdentityStringType">
		<xs:annotation>
			<xs:documentation>International Mobile Subscriber Identity (IMSI) is a unique number associated with all GSM and Universal Mobile Telecommunications System (UMTS) network mobile phone users. It is stored in the Subscriber Identity Module (SIM) inside the phone and is sent by the phone to the network. It is also used to acquire other details of the mobile in the Home Location Register (HLR) or as locally copied in the Visitor Location Register. In order to avoid the subscriber being identified and tracked by eavesdroppers on the radio interface, the IMSI is sent as rarely as possible and a randomly generated TMSI is sent instead.

The IMSI is used in any mobile network that interconnects with other networks, in particular CDMA and EVDO networks as well as GSM nets. This number is provisioned in the phone directly or in the R-UIM card (a CDMA analogue equivalent to a SIM card in GSM)

An IMSI is usually 15 digits long, but can be shorter (for example MTN South Africa's IMSIs are 14 digits). The first 3 digits are the Mobile Country Code (MCC), and is followed by the Mobile Network Code (MNC), either 2 digits (European standard) or 3 digits (North American standard). The remaining digits are the Mobile Subscriber Identification Number (MSIN) within the network's customer base.

The IMSI conforms to the International Telecommunication Union (ITU) E.212 numbering standard.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InternetProtocolAddressStringType">
		<xs:annotation>
			<xs:documentation>Internet Protocol Address is the numerical address by which a location in the Internet is identified. Computers on the Internet use IP addresses to route traffic and establish connections among themselves.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LastUpdateDateTimeType">
		<xs:annotation>
			<xs:documentation>Last Update Date is the date and time of the last update to an object.  Last Update Date Time is used in conjunction with the Last Update Numeric Stamp to uniquely identify a specific update iteration.  Typically Last Update Date Time and Last Update Numeric Stamp would be used in a psuedo-conversational approach to updates.  A record is read into local storage and the lock on the source record is released.  When the updated record is written back to the database where the source Record ID equals the Update Record ID, Source Last Update Date Time equals the original Update Last Update Date Time and Source Last Update Numeric Stamp equals the original Update Last Update Numeric Stamp.Both Last UPdate Date Time and Last Update Numeric Stamp are incremented in the update.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="LastUpdateNumericStampType">
		<xs:annotation>
			<xs:documentation>Last Update Numeric Stamp is used in conjunction with the Last Update Date Time to uniquely identify a specific update iteration.&#13;
&#13;
Typically Last Update Date Time and Last Update Numeric Stamp would be used in a psuedo-conversational approach to updates.  A record is read into local storage and the lock on the source record is released.  When the updated record is written back to the database where the source Record ID equals the Update Record ID, Source Last Update Date Time equals the original Update Last Update Date Time and Source Last Update Numeric Stamp equals the original Update Last Update Numeric Stamp.&#13;
&#13;
Both Last UPdate Date Time and Last Update Numeric Stamp are incremented in the update.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:short">
			<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ManufacturerPartyIdentifierType">
		<xs:annotation>
			<xs:documentation>Manufacturer Party Identifier holds a value that uniquely identifies the Manufacturer of the specified PRODUCT.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MarketTransferReasonCodeType">
		<xs:annotation>
			<xs:documentation>Market Transfer Reason Code identifies the reason the SUBSCRIPTION was moved to a new Market. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MasterSubsidyLockCodeType">
		<xs:annotation>
			<xs:documentation>Master Subsidy Lock (MSL) is used for programming the handset when the one-time subsidy lock code fails due to error, or when the phone needs to be reprogrammed for any reason.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MdnReservationIdentifierType">
		<xs:annotation>
			<xs:documentation>MDN Reservation Identifier identifies the reservation of one or more MDN in NMS.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MemoSourceCodeType">
		<xs:annotation>
			<xs:documentation>Memo Source Code designates the source of a memo.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MemoTextType">
		<xs:annotation>
			<xs:documentation>Memo Text is the body of textual content of an Ensemble MEMO.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MessageTextType">
		<xs:annotation>
			<xs:documentation> Message Text represents a natural language communication of information</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="400"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MobileDirectoryNumberStringType">
		<xs:annotation>
			<xs:documentation>Mobile Directory Number (MDN) is the actual phone number one would dial to reach a specific mobile phone.



Prior to Wireless Number Portability, MDN was the same number as the Mobile Identification Number (MIN) for many mobile phones. But now that MDNs can be ported (moved) to other carriers, MDN and MIN will be different for ported numbers.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MobileStationIdentificationNumberType">
		<xs:annotation>
			<xs:documentation>Mobile Station Identity (MSID) is the number that is associated with the home service provider and the wireless phone number. This is reprogrammed when the user changes home service providers.

MSID is the internal identifying number for a CDMA handset's phone number under Local Number Portability.  Mobile Station Identification Number stays with the carrier while the MDN stays with the customer.</xs:documentation>
			<xs:documentation>Mobile Station Identification Number (MSID) is the internal identifying number for a CDMA handset's phone number under Local Number Portability.  Mobile Station Identification Number stays with the carrier while the MDN stays with the customer.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ModelNumberType">
		<xs:annotation>
			<xs:documentation>Model Number contains a unique value within the class of PRODUCT identified by Model Name used to identify the type of equipment being shipped by the Manufacturer.</xs:documentation>
			<xs:documentation>Model Number contains a unique value within the class of PRODUCT identified by Model Name used to identify the type of equipment being shipped by the Manufacturer.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NetworkAccessIdentifierType">
		<xs:annotation>
			<xs:documentation>Network Access Identifier holds the concatenation of the a user name and domain.</xs:documentation>
			<xs:documentation>alias: URI</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
			<xs:pattern value=".+@.+\..+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NetworkTypeCodeType">
		<xs:annotation>
			<xs:documentation>Network Type Code identifies which network the subscriber or device is associated to.&#13;
Possible values:&#13;
C - CDMA&#13;
I - IDEN</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="I"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NpaNumberType">
		<xs:annotation>
			<xs:documentation>Numbering Plan Area (NPA) Number is one of the geographical divisions of the United States, Canada, Bermuda, the Caribbean, Northwestern Mexico, Alaska, Hawaii, within which no two telephones will have the same seven-digit telephone number. (An NPA is represented by an Area Code.)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumberGroupType">
		<xs:annotation>
			<xs:documentation>Number Group (NGP) is identified as CSA by the Ensemble billing system and groups ranges for a number of resources such as IPs, IMSIs, NPANXXs, and UFs . This grouping represents a geographical zone that includes specific ranges.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumberLocationCodeType">
		<xs:annotation>
			<xs:documentation>Number Location Code identifies a pool of Mobile Directory Numbers (MDNs) to which the MDN is assigned.  This pool can be used by one or more store locations.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NxxNumberType">
		<xs:annotation>
			<xs:documentation>Network Numbering Exchange (NXX) Number represents the first three digits of the 7 digit phone number that identifies the specific telephone company central office which serves that number. These digits are referred to as the NXX where N can be any number from 2 to 9 and X can be any number. (NNX once upon a time was used to identify the local central office exchange. Now NNX has been changed to NXX, which allows local central offices to have numbers which look like area codes.)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OneTimeKeySubsidyLockType">
		<xs:annotation>
			<xs:documentation>One Time Key Subsidy Lock (OTKSL) is a six-digit code used by CDMA phones as an activation code. It is used to activate a brand new phone onto wireless service, and it works only one time. This code makes it possible for a consumer to purchase the phone anywhere, call up the provider's toll-free number, and then activate the wireless phone from the directions given by the representative on the other end of the line. After the initial programming, the code is no longer valid, and the only way to program the phone is via the MSL (master subsidy lock).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PasswordType">
		<xs:annotation>
			<xs:documentation>Password holds the text string specified by a PARTY as credential to be used with a Login Userid to uniquely identify them to a system.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RetailStoreIdentifierType">
		<xs:annotation>
			<xs:documentation>Retail Store Identifer is the store ID passed from the retailer to inComm.  These are 4 to 6 characters in length sometimes padded with zeros.  Leading 0s should not be stripped off.&#13;
(Examples: 001859, 1165, 0649)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SecurityLockCodeType">
		<xs:annotation>
			<xs:documentation>Security Lock Code holds the last four digits of the Mobile Directory Number for CDMA or Dual-Mode phone.  Only four digits or null are allowed as input.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SubscriberIdentifierType">
		<xs:annotation>
			<xs:documentation>Subscriber Identifier is a string that uniquely identifies a subscriber.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:minLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UrbanAreaIdentifierType">
		<xs:annotation>
			<xs:documentation>Urban Area Identifier identifies an urban area in the UFMI.  It is the first element of the DirectConnect UFMI number. The format of the UFMI number is: Urban Area Id * Fleet Id * Member Id. Example 164*100*3441.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UrbanFleetMemberIdentifierStringType">
		<xs:annotation>
			<xs:documentation>Urban Fleet Member Identifier String contains the concatenation of the Urban Identifier,'*' Fleet Identifier, '*' and Member IDentifier used to identify the Direct Connect Subscriber in the iDen network.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UserIdentifierType">
		<xs:annotation>
			<xs:documentation>User Identifier represents an identifier of a PARTY used in logging into a computerized system.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<!---->
</xs:schema>
