design/adapters/SubscriberManagementProxyService/src/main/resources/updateSubscriberDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp1 (http://www.altova.com) by LEE VAN AALSBURG (SPRINT) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://integration.sprint.com/interfaces/updateSubscriberDetails/v1/updateSubscriberDetails.xsd" targetNamespace="http://integration.sprint.com/interfaces/updateSubscriberDetails/v1/updateSubscriberDetails.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.6">
	<!-- Date              Author                   Version            Change                                                                               Rel                    SR# -->
	<!--04/24/2009    Steve Heichelheim      1.0      Apply standards and simple types                                                  SDC Rel B         E4637-->
	<!--04/24/2009    Steve Heichelheim      1.0      change internationalDirectConnect to longDistanceCarrier                 SDC Rel B         E4637-->
	<!--10/08/2009   Steve Heichelheim       1.1      add warningMessageList structure to response                                GBL10.1          E4637-->
	<!-- 03/04/2010  Priya Logantha            1.2      changed minlength for last in nameInfo structure in request side from 1 to 2  GBL10.2 CS#364964 -->
	<!--05/27/2010     Steve Whipple           1.3      Added bogxUpdateInfo structure to frequencyPeriodInfo in the request   GBL10.5  PJ001298-->
	<!--06/14/2010  Steve Heichelheim        1.3      Added MVM standards and simple types                                          GBL10.5         PJ001298-->
	<!--10/19/2012     Steve Whipple           1.4      Added lifelineInfo to the request                                                        GBL13.1                 PJ007219-->
	<!--03/15/2013   Steve Heichelheim      1.5    Added updateRealTimeUsageRequestInfo.actionCode to the request.  GBL13.2            PJ007359 -->
	<!--6/24/2013   Steve Heichelheim        1.6    Added nineOneOneConsentInfo to request.                                    BL13.3 PJ008373-->
	<xs:element name="updateSubscriberDetails" type="tns:UpdateSubscriberDetailsRequestType"/>
	<xs:element name="updateSubscriberDetailsResponse" type="tns:UpdateSubscriberDetailsResponseType"/>
	<xs:complexType name="UpdateSubscriberDetailsRequestType">
		<xs:sequence>
			<xs:element name="info" type="tns:SearchCriteriaType">
				<xs:annotation>
					<xs:documentation>Contains valid BAN identifiers</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="subscriberApplicationProgrammingInterfaceInfo" type="tns:SubscriberApplicationProgrammingInterfaceInfoType">
				<xs:annotation>
					<xs:documentation>Contains all the subscriber information that may need to be updated</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="applicationDataInfo" type="tns:ApplicationDataInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains application data information.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UpdateSubscriberDetailsResponseType">
		<xs:sequence>
			<xs:element name="message" type="tns:ConfirmMessageTextType">
				<xs:annotation>
					<xs:documentation>Message indicating transaction is completed successfully</xs:documentation>
				</xs:annotation>
				<!-- only for ReplyCompCode 4, 8 -->
			</xs:element>
			<xs:element name="warningMessageList" type="tns:WarningMessageListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>if a transaction is completed with warnings then this structure will hold the warnings, in addition this structure can also return informational messages.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ActivationPersonalIdentificationNumberInfoType">
		<xs:sequence>
			<xs:element name="activationPersonalIdentificationNumber" type="tns:PasswordPinType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Activation PIN number required to active Boost subscribers at BCGI. 

This field is optional.

The filed will be validate in the following conditions:
The field has a value.
The PIN_REQUIRED_IND column in the  ACCOUNT_TYPE is set to ‘Y’.
The subscriber status is reserve or active.

The field can be 14 character in length and alphanumeric.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdditionalLifelineInfoType">
		<xs:sequence>
			<xs:element name="activityInd" type="tns:BinaryExpressionType">
				<xs:annotation>
					<xs:documentation>Lifeline activity indicator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastActivityDate" type="tns:ActivityDateType">
				<xs:annotation>
					<xs:documentation>Last activity date for the Lifeline subscriber</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressInfoType">
		<xs:sequence>
			<xs:element name="applyAddress" type="tns:AddressVerificationSystemOverrideCodeEnsType">
				<xs:annotation>
					<xs:documentation>If this flag is set, accept the address even if it cannot be found in the address database.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="tns:AddressTypeCodeType">
				<xs:annotation>
					<xs:documentation>Type of Address (Military, Rural, PO, Street, Foreign)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="number" type="tns:StreetNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Street Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="line1" type="tns:PrimaryAddressLineType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Line 1 for address type M or F</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="line2" type="tns:SecondaryAddressLineType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Line 2 (may include the urbanization name for Puerto Rico addresses)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ruralRoute" type="tns:RuralRouteControlNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Rural Route if address type is Rural</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ruralRouteBoxNumber" type="tns:RuralRouteBoxNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Rural Box number if address type is Rural</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="postofficeBoxNumber" type="tns:PostOfficeBoxNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>PO Box number if address type is P</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="streetName" type="tns:StreetNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Street Name or Military Line 1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="direction" type="tns:StreetDirectionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Street Direction</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="streetType" type="tns:StreetSuffixType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type of street (e.g. Cir, Blvd, Rd)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="apartmentNumber" type="tns:ApartmentNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Apartment Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="apartmentType" type="tns:ApartmentDesignatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Apartment type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="attention" type="tns:AttentionTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Attention Line</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="city" type="tns:CityNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>City Name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="state" type="tns:UspsStateAbbreviationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>State Code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="country" type="tns:Iso3CharCountryCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Country Code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zipCode" type="tns:UspsPostalCdType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Zip code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zipCode4" type="tns:UspsPostalCodeExtensionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Plus 4 zip code</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ApplicationDataInfoType">
		<xs:sequence>
			<xs:element name="associateId" type="tns:AssociateIdentifierRsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Passed from external application (Radio Shack, RMS+) to Sprint in the Ensemble Billing system</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="storeId" type="tns:ExternalRetailStoreIdType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Passed from external application (Radio Shack, RMS+) to Sprint in the Ensemble Billing system</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BogxUpdateInfoType">
		<xs:sequence>
			<xs:element name="offerTransactionId" type="tns:TransactionIdentifierType">
				<xs:annotation>
					<xs:documentation>BOGX offer transaction ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="offerLineCode" type="tns:OfferIdentifierType">
				<xs:annotation>
					<xs:documentation>BOGX offer line code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="price" type="tns:PriceAmountType">
				<xs:annotation>
					<xs:documentation>BOGX price</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="additionalDiscount" type="tns:DiscountAmountType">
				<xs:annotation>
					<xs:documentation>As defined in the EQUIPMENT_OFFER_PRICING table</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommitmentInfoType">
		<xs:sequence>
			<xs:element name="commitReasonCode" type="tns:CommitmentReasonCodeType">
				<xs:annotation>
					<xs:documentation>The commitment reason code. Valid values are:
EQU – equipment related commitment
Other values defined in the COMMIT_REASON table</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="commitOriginationNumberMonth" type="tns:CommitmentPeriodMonthQuantityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Duration of the commitment period applied to the subscriber. Valid values are between 0 (included) and 99 (included)
Zero indicates that no commitment period will be applied</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="commitStartDate" type="tns:CommitmentStartDateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The start date of the commitment</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DirectConnectInfoType">
		<xs:sequence>
			<xs:element name="alias" type="tns:SubscriberAliasType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the subscriber (alias).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FrequencyPeriodInfo">
		<xs:sequence>
			<xs:element name="serialNumber" type="tns:DeviceSerialNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A serial number for associating the new UFP.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endDate" type="tns:EffectiveThruDate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date where the period ends</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bogxUpdateInfo" type="tns:BogxUpdateInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>BOGX Information</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LifelineInfoType">
		<xs:sequence>
			<xs:element name="lifelineKey" type="tns:ExternalSystemTokenKeyIdentifierType">
				<xs:annotation>
					<xs:documentation>Lifeline key</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lifelineExpirationDate" type="tns:ExpirationDateType">
				<xs:annotation>
					<xs:documentation>Lifeline expiration date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lifelineInd" type="tns:BinaryExpressionType">
				<xs:annotation>
					<xs:documentation>Lifeline indicator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="additionalLifelineInfo" type="tns:AdditionalLifelineInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Additional life line information</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LongDistanceCarrierInfoType">
		<xs:sequence>
			<xs:element name="longDistanceCarrierCode" type="tns:LongDistanceCarrierCodeType">
				<xs:annotation>
					<xs:documentation>Long distance carrier code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dealerAgent" type="tns:DealerIdType">
				<xs:annotation>
					<xs:documentation>IXC Dealer code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="memoUserText" type="tns:NoteTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation> The user free text memo</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MemoInfoType">
		<xs:sequence>
			<xs:element name="memoSource" type="tns:MemoSourceCodeType">
				<xs:annotation>
					<xs:documentation>The source of the memo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="userText" type="tns:MemoTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>User text</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameInfoType">
		<xs:sequence>
			<xs:element name="nameFormat" type="tns:NameFormatCodeType">
				<xs:annotation>
					<xs:documentation>Holds the name format (D - Business, P - individual)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="first" type="tns:FirstNameEnsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>First Name of individual customer – in the case of business customers, this may not exist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="middle" type="tns:MiddleNameEnsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Middle initial name of individual customer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="last">
				<xs:annotation>
					<xs:documentation>Last name of individual user or Business Name of business customer</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="tns:LastNameType">
						<xs:minLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="title" type="tns:TitleEnsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Title code of individual customer </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="generation" type="tns:GenerationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Generation of customer name (e.g. III)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="additionalLine" type="tns:AdditionalTitleType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Additional line for BAN name</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NineOneOneConsentInfoType">
		<xs:sequence>
			<xs:element name="signed911ConsentFlag" type="tns:Consent911FlagType">
				<xs:annotation>
					<xs:documentation>Flag indicating if 911 consent is signed
Should be sent as true if 911 consent is signed</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="textInfo" type="tns:ConsentStatementTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>User entered text </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OtherCommunicationMethodsType">
		<xs:sequence>
			<xs:element name="communicationEmail" type="tns:EmailAddressStringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The value of the Email Communication Method</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="communicationFax" type="tns:PhoneNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The value of the Fax Communication Method</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaperWorkInfoType">
		<xs:sequence>
			<xs:element name="paperWorkStatus" type="tns:PaperWorkStatusCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies the status of the paper work.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="paperWorkDate" type="tns:PaperWorkCompletedDateEnsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Paper work date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="paperWorkReferenceNumber" type="tns:PaperWorkReferenceNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Paper work reference number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchCriteriaType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="subscriberId" type="tns:SubscriberIdentifierType">
					<xs:annotation>
						<xs:documentation>Subscriber number</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="mdn" type="tns:MobileDirectoryNumberStringType">
					<xs:annotation>
						<xs:documentation>Phone number of any subscriber under the BAN.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ufmi" type="tns:UrbanFleetMemberIdentifierStringType">
					<xs:annotation>
						<xs:documentation>Member ID (UrbanId*FleetId*MemberId) of any subscriber under the BAN</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="deviceSerialNumber" type="tns:DeviceSerialNumberType">
					<xs:annotation>
						<xs:documentation>Equipment ID – IMEI/Simcard ID/MSN/ESN of any subscriber under the BAN</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ipAddress" type="tns:InternetProtocolAddressStringType">
					<xs:annotation>
						<xs:documentation>IP address of any subscriber under the BAN</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="imsi" type="tns:InternationalMobileSubscriberIdentityStringType">
					<xs:annotation>
						<xs:documentation>IMSI/MSID of any subscriber under the BAN </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="nai" type="tns:NetworkAccessIdentifierType">
					<xs:annotation>
						<xs:documentation>NAI address of the subscriber to be updated</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="additionalImsi" type="tns:InternationalMobileSubscriberIdentityStringType">
					<xs:annotation>
						<xs:documentation>Additional IMSI of the subscriber to be updated</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="hppttId" type="tns:HighPerformancePushToTalkIdStringType">
					<xs:annotation>
						<xs:documentation>The subscriber’s HPPTT ID. The ID will be constructed from username@domain, where the username will be a PTN or UFMI-based number.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="timeStampInfo" type="tns:TimestampInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Structure providing  BAN timestamp date and timestamp.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="custTimeStampInfo" type="tns:TimestampInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Structure providing customer timestamp date and timestamp</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="subscriberTimeStampInfo" type="tns:TimestampInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Structure providing subscriber timestamp date and timestamp</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SsitInfoType">
		<xs:sequence>
			<xs:element name="ssitValue1" type="tns:SubscriberSpecificInformationalTextValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Subscriber-level SSIT text. Free text string that represents a value for a compatible hierarchy root level label, SSIT Label 1.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssitValue2" type="tns:SubscriberSpecificInformationalTextValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Subscriber-level SSIT text. Free text string that represents a value for a compatible hierarchy root level label, SSIT Label 2.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssitValue3" type="tns:SubscriberSpecificInformationalTextValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Subscriber-level SSIT text. Free text string that represents a value for a compatible hierarchy root level label, SSIT Label 3.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssitValue4" type="tns:SubscriberSpecificInformationalTextValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Subscriber-level SSIT text. Free text string that represents a value for a compatible hierarchy root level label, SSIT Label 4.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubscriberAdditionalInfoType">
		<xs:sequence>
			<xs:element name="dealerAgent" type="tns:DealerIdType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies the Dealer agent code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="promotionDealer" type="tns:DealerIdType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Promotion Dealer agent code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="languageCode" type="tns:LanguagePreferenceCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies the language</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="otherLanguage" type="tns:LanguagePreferenceNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies the language in cases where the languageCode is other language.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="personalAccount" type="tns:BillingAccountNumberEnsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies the personal BAN</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="communicationMethod" type="tns:NotificationMethodTypeCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The communication method to be used to contact the subscriber (L – letter, F – fax, E – email). The default is letter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="communicationValue" type="tns:ContactMethodValueEnsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>If the communication method is other than ‘letter’, the value associated with the method. (E.g., if the method is e-mail, provide the e-mail address in this field.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="otherCommunicationMethods" type="tns:OtherCommunicationMethodsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This structure holds the values of the FAX and EMAIL Communication Methods.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="location" type="tns:WarehouseFacilityIdentifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies the warehouse</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="callerIdWithName" type="tns:CallerIdNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>15-digit number used by Sprint for internal interfacing purposes for Direct Connect.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="overTheAirRadioServiceSoftwareInd" type="tns:OarssActivationIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Over the air service activation indicator.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="messageLevel" type="tns:MessageDetailLevelCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>One character that indicates the subscriber’s message level for prepaid subscribers only. Can get one of three parameters: M for Minimal value, P for Partial value or F for Full level value.
For post paid subscribers messageLevel field should not be populated.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="registeredAdministratorInd" type="tns:SecurityAdminFlagType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicator whether the subscriber is an Additional Security Info Admin. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubscriberApplicationProgrammingInterfaceInfoType">
		<xs:sequence>
			<xs:element name="subscriberAdditionalInfo" type="tns:SubscriberAdditionalInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains information of the subscriber like dealer agent, promotion dealer etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="addressInfo" type="tns:AddressInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains all the address information of the subscriber</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nameInfo" type="tns:NameInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains all the name information of the subscriber like first name, last name etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="paperWorkInfo" type="tns:PaperWorkInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains the information like paper work date, paper work status etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="directConnectInfo" type="tns:DirectConnectInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains the name of the subscriber in alias field.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="commitmentInfo" type="tns:CommitmentInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains commitment information of the subscriber like the commitment date etc.c</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="longdistanceCarrierInfo" type="tns:LongDistanceCarrierInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains all the information of the long distance carrier like the carrier code etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="frequencyPeriodInfo" type="tns:FrequencyPeriodInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains the serial number of the UFP and the end date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="memoInfo" type="tns:MemoInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains the memo source information and memo text information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="activationPersonalIdentificationNumberInfo" type="tns:ActivationPersonalIdentificationNumberInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains the PIN number for the boost customers</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssitInfo" type="tns:SsitInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains the subscriber level ssit text.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lifelineInfo" type="tns:LifelineInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains the lifeline information to support Sprint’s Assurance Wireless brand.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="updateRealTimeUsageRequestInfo" type="tns:UpdateRealTimeUsageRequestInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Structure for updating the subscriber’s RTU information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nineOneOneConsentInfo" type="tns:NineOneOneConsentInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains 911 consent info</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TimestampInfoType">
		<xs:sequence>
			<xs:element name="lastUpdateDate" type="tns:LastUpdateDateType">
				<xs:annotation>
					<xs:documentation>Date and time of the BANs last update </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastUpdateStamp" type="tns:LastUpdateNumericStampType">
				<xs:annotation>
					<xs:documentation>Stamp of the BAN’s last update (four-digit number).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UpdateRealTimeUsageRequestInfoType">
		<xs:sequence>
			<xs:element name="actionCode" type="tns:RealTimeUsageTypeCodeType">
				<xs:annotation>
					<xs:documentation>E – Set the RTU flag to True, and indicate that the flag can only be reset by EAI 
B – Set the RTU flag to True, and indicate that the flag can be reset by Billing as well as EAI
N– Set the RTU flag to False (N)
</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WarningMessageInfoType">
		<xs:sequence>
			<xs:element name="messageType" type="tns:ApplicationProgrammingInterfaceWarningMessageTypeCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>W - Warning
I - Information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="messageId" type="tns:ApplicationProgrammingInterfaceWarningMessageIdentifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>If returned can be used for uniquely identifies warning/information message number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="messageDesc" type="tns:ApplicationProgrammingInterfaceWarningMessageTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>this field holds the warning/informational message description.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WarningMessageListType">
		<xs:sequence>
			<xs:element name="warningMessageInfo" type="tns:WarningMessageInfoType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Warning Message Info</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!---->
	<!--MVM / Shared Simple Types-->
	<xs:simpleType name="ActivityDateType">
		<xs:annotation>
			<xs:documentation>Activity Date is the calendar day the activity completed.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="AdditionalTitleType">
		<xs:annotation>
			<xs:documentation>Additional Title holds additional trailing honorifics attached to a person's name.  For example:"Sr.Vice President","Director","PHD.", etc.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="60"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AddressTypeCodeType">
		<xs:annotation>
			<xs:documentation>Address Type Code distinguishes an address as either a Military address, Rural address, Street address, PO Box address or a Foreign address.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AddressVerificationSystemOverrideCodeEnsType">
		<xs:annotation>
			<xs:documentation>If this flag is set to I, accept the address even if it cannot be found in the address database. Otherwise, it will be overridden with ‘S’ (and validated using code1).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="I"/>
			<xs:enumeration value="S"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ApartmentDesignatorType">
		<xs:annotation>
			<xs:documentation>Apartment Designator is an Address Component that holds a value identifying the address as a type of apartment.Examples:"APT""UNIT"Etc.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ApartmentNumberType">
		<xs:annotation>
			<xs:documentation>Apartment Number is an Address Component that contains the identifier of the apartment within the context of a bilding's postal address.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ApplicationProgrammingInterfaceWarningMessageIdentifierType">
		<xs:annotation>
			<xs:documentation>Application Programming Interface Warning Message Identifier is a unique identifier of a warning message returned from an application programming interface.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ApplicationProgrammingInterfaceWarningMessageTextType">
		<xs:annotation>
			<xs:documentation>Application Programming Interface Warning Message contains the text of the application programming interface (API) warning message that may accompany a successful response.  The message may be a warning or it could also be an informational message.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ApplicationProgrammingInterfaceWarningMessageTypeCodeType">
		<xs:annotation>
			<xs:documentation>Application Programming Interface Warning Message Type Code designates the type of the application programming interface (API) warning message that may accompany a successful response.
Values:
W – The API successfully completed, but a warning occurred
I  – The API sucessfully completed, and additional information is available</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="W"/>
			<xs:enumeration value="I"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AssociateIdentifierRsType">
		<xs:annotation>
			<xs:documentation>Associate Identifier Rs is the Radio Schack Associate Identifier.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AttentionTextType">
		<xs:annotation>
			<xs:documentation>Attention Text attached to the mailing address.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="25"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BillingAccountNumberEnsType">
		<xs:annotation>
			<xs:documentation>Billing Account Number uniquely identifies an instance of Billing Account used to accrue charges for invoicing.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:totalDigits value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BinaryExpressionType">
		<xs:annotation>
			<xs:documentation>Binary Expression is a type of an expression with two possible states,"true"and"false".</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="CallerIdNameType">
		<xs:annotation>
			<xs:documentation>Calling Name (CNAM) is an Intelligent Network (IN) service that displays the caller's name on the calling party's digital readout. This is similar to caller ID except that the calling party's name is displayed along with the calling number or instead of the calling number.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CityNameType">
		<xs:annotation>
			<xs:documentation>City Name holds the textual string identifying a City.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="26"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CommitmentPeriodMonthQuantityType">
		<xs:annotation>
			<xs:documentation>The subscription agreement commitment represent the number of months committed to on the subscription.&#13;
It is represented in number of months.&#13;
Positive integer between 0 (included) and 99 (included).&#13;
A zero value indicates that no commitment period will be applied to the subscriber regardless of the Price Plan and SOCs (products) ordered.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="2"/>
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CommitmentReasonCodeType">
		<xs:annotation>
			<xs:documentation>Commitment Reason Code designates a reason for the commitment.
Example: EQU – equipment related commitment
Other values defined in the COMMIT_REASON table</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CommitmentStartDateType">
		<xs:annotation>
			<xs:documentation>Commitment Start Date is the start date of the commitment</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ConfirmMessageTextType">
		<xs:annotation>
			<xs:documentation>Confrim Msg Text is a string with a confirmation message returned from the called API.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ContactMethodValueEnsType">
		<xs:annotation>
			<xs:documentation>Contact Method Value holds the phone number or the eMail address in Ensemble when  Contact MEthod Type Code identifies a phone number or eMail address as a Contact Method.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Consent911FlagType">
		<xs:annotation>
			<xs:documentation>Consent 911 Flag is a binary indicator of whetther the subscriber has given 911 consent.
Valid Values:
true - the subcriber has given 911 consent
false - the subscriber has not given 911 consent</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="ConsentStatementTextType">
		<xs:annotation>
			<xs:documentation>Consent Statement Text is the verbiage of a consent statement that may be agreed to by an individual.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DealerIdType">
		<xs:annotation>
			<xs:documentation>Dealer Identifier uniquely identifies the the agent or dealer who handled the customer.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DeviceSerialNumberType">
		<xs:annotation>
			<xs:documentation>Device Serial Number is a unique number that is embedded electronically by the manufacturer into a wireless communication device that identifies that individual unit.</xs:documentation>
			<xs:documentation>Device Serial Number a unique number that is embedded electronically by the manufacturer into a wireless communication device that identifies that individual unit.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DiscountAmountType">
		<xs:annotation>
			<xs:documentation>Discount Amount holds the monetary amount by which the the price charged for a GOOD or SERVICE is decreased.  A percent decrease in the price charged may only be applicable to specific Account Types, Promotions, Products, etc.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="9"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EffectiveThruDate">
		<xs:annotation>
			<xs:documentation>Effective Thru Date holds the last calendar day Role, Preference, Assignment, etc. was in effect.&#13;
&#13;
Elements declared to be of type date must follow this form:  &#13;
CCYY-MM-DD&#13;
range for CC is: 00-99&#13;
range for YY is: 00-99&#13;
range for MM is: 01-12&#13;
range for DD is: &#13;
01-28 if month is 2&#13;
01-29 if month is 2 and the gYear is a leap gYear&#13;
01-30 if month is 4, 6, 9, or 11&#13;
01-31 if month is 1, 3, 5, 7, 8, 10, or 12&#13;
&#13;
Example: 1999-05-31 represents May 31, 1999</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="EmailAddressStringType">
		<xs:annotation>
			<xs:documentation>An email address consists of two parts, a username and a domain (or host) name with an at symbol ('@') separating them. The domain specifies which server the email should be delivered to and the username tells the server at that domain which mailbox to deposit the email into.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExpirationDateType">
		<xs:annotation>
			<xs:documentation>Expiration Date holds the last calendar Date an object, relationship, privilege, etc. is valid or in force.  After this date the object is no longervalid or in force.</xs:documentation>
			<xs:documentation>Expiration Date holds the last calendar Date an object, relationship, privilege, etc. is valid or in force.  After this date the object is no longervalid or in force.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ExternalRetailStoreIdType">
		<xs:annotation>
			<xs:documentation>External Retail Store Identifier  holds the Facility Identifer that uniquely identifies a store of an external Customer such as Wal Mart or Best Buy.  May be printed on the label when shiping to a Distribution Center.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalSystemTokenKeyIdentifierType">
		<xs:annotation>
			<xs:documentation>External System Token Key Identifier is token used to validate the identity of a a user in an external system.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FirstNameEnsType">
		<xs:annotation>
			<xs:documentation>First Name or "Given Name" is a name which specifies and differentiates between members of a group of individuals, especially a family, all of whose members usually share the same family name.</xs:documentation>
			<xs:documentation>alias: Given Name</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GenerationType">
		<xs:annotation>
			<xs:documentation>Generation is the iteration of the name within a family affixed to the end of the name (e.g.: I,II,III or Jr.)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HighPerformancePushToTalkIdStringType">
		<xs:annotation>
			<xs:documentation>High Performance Push To Talk Identifier (HPPTTID) is the identifier of a Subscription utilizing the QChat  Push-To-Talk techniology. HPPTTID is constructed in the username@domain URI format.  The username will be a MDN or UFMI based number.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InternationalMobileSubscriberIdentityStringType">
		<xs:annotation>
			<xs:documentation>International Mobile Subscriber Identity (IMSI) is a unique number associated with all GSM and Universal Mobile Telecommunications System (UMTS) network mobile phone users. It is stored in the Subscriber Identity Module (SIM) inside the phone and is sent by the phone to the network. It is also used to acquire other details of the mobile in the Home Location Register (HLR) or as locally copied in the Visitor Location Register. In order to avoid the subscriber being identified and tracked by eavesdroppers on the radio interface, the IMSI is sent as rarely as possible and a randomly generated TMSI is sent instead.

The IMSI is used in any mobile network that interconnects with other networks, in particular CDMA and EVDO networks as well as GSM nets. This number is provisioned in the phone directly or in the R-UIM card (a CDMA analogue equivalent to a SIM card in GSM)

An IMSI is usually 15 digits long, but can be shorter (for example MTN South Africa's IMSIs are 14 digits). The first 3 digits are the Mobile Country Code (MCC), and is followed by the Mobile Network Code (MNC), either 2 digits (European standard) or 3 digits (North American standard). The remaining digits are the Mobile Subscriber Identification Number (MSIN) within the network's customer base.

The IMSI conforms to the International Telecommunication Union (ITU) E.212 numbering standard.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InternetProtocolAddressStringType">
		<xs:annotation>
			<xs:documentation>Internet Protocol Address is the numerical address by which a location in the Internet is identified. Computers on the Internet use IP addresses to route traffic and establish connections among themselves.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Iso3CharCountryCodeType">
		<xs:annotation>
			<xs:documentation>An International Standardization Organization (ISO) 3-Character Country Code is the set of three characters assigned by the ISO to identify a soverign nation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LanguagePreferenceCodeType">
		<xs:annotation>
			<xs:documentation>Language Preference Code identifies a language preference.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:enumeration value="ENG"/>
			<xs:enumeration value="SPA"/>
			<xs:enumeration value="OTH"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LanguagePreferenceNameType">
		<xs:annotation>
			<xs:documentation>Language Preference Name contains the text specifying a preferred language.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="25"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LastNameType">
		<xs:annotation>
			<xs:documentation>Last Name represents the family name or surname is the part of an INDIVIDUAL PARTY's name that identifies what family the individual belongs to.</xs:documentation>
			<xs:documentation>alias: Surname</xs:documentation>
			<xs:documentation>alias: Family Name</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="60"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LastUpdateDateType">
		<xs:annotation>
			<xs:documentation>The Last Update Date is the calendar day on which the last update was made.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="LastUpdateNumericStampType">
		<xs:annotation>
			<xs:documentation>Last Update Numeric Stamp is used in conjunction with the Last Update Date Time to uniquely identify a specific update iteration.&#13;
&#13;
Typically Last Update Date Time and Last Update Numeric Stamp would be used in a psuedo-conversational approach to updates.  A record is read into local storage and the lock on the source record is released.  When the updated record is written back to the database where the source Record ID equals the Update Record ID, Source Last Update Date Time equals the original Update Last Update Date Time and Source Last Update Numeric Stamp equals the original Update Last Update Numeric Stamp.&#13;
&#13;
Both Last UPdate Date Time and Last Update Numeric Stamp are incremented in the update.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:short">
			<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LongDistanceCarrierCodeType">
		<xs:annotation>
			<xs:documentation>Long Distance Carrier Code uniquely identifies a long distance carrier.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MemoSourceCodeType">
		<xs:annotation>
			<xs:documentation>Source of memoEnsemble documentation is inadequate.  It does not provide a list of valid values for memoSource.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MemoTextType">
		<xs:annotation>
			<xs:documentation>Memo Text is the body of textual content of an Ensemble MEMO.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2000"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MessageDetailLevelCodeType">
		<xs:annotation>
			<xs:documentation>Message Detail Level Code identifies the level of detail of messages sent to Authorized Users.Values:M for Minimal value,P for Partial valueF for Full level value.Defaults to F.Message Detail Level Code is not applicable to Post-Paid SUBSCRIPTIONS.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="F"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="P"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MiddleNameEnsType">
		<xs:annotation>
			<xs:documentation>Middle Name is effectively a second given name.  Many INDIVIDUAL PARTY's names include one or more Middle Names, placed between the first given name and the surname.   In the United States there is usually only one middle name, abbreviated by its possessor.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MobileDirectoryNumberStringType">
		<xs:annotation>
			<xs:documentation>Mobile Directory Number (MDN) is the actual phone number one would dial to reach a specific mobile phone.



Prior to Wireless Number Portability, MDN was the same number as the Mobile Identification Number (MIN) for many mobile phones. But now that MDNs can be ported (moved) to other carriers, MDN and MIN will be different for ported numbers.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NameFormatCodeType">
		<xs:annotation>
			<xs:documentation>Name Format Code indicates what type of name is associated to an account.
Values:
P - Individual Person
D - Business</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="P"/>
			<xs:enumeration value="D"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NetworkAccessIdentifierType">
		<xs:annotation>
			<xs:documentation>Network Access Identifier holds the concatenation of the a user name and domain.</xs:documentation>
			<xs:documentation>alias: URI</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
			<xs:minLength value="1"/>
			<xs:pattern value=".+@.+\..+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NoteTextType">
		<xs:annotation>
			<xs:documentation>Note Text is the body of the text in the NOTE.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NotificationMethodTypeCodeType">
		<xs:annotation>
			<xs:documentation>Type Code differentiates the various  categories or subtypes of an Object.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OarssActivationIndicatorType">
		<xs:annotation>
			<xs:documentation>Oarss Activation Indicator is a boolean Over the air service activation indicator.
true - Over the air service activation
false - NON-Over the air service activation</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="OfferIdentifierType">
		<xs:annotation>
			<xs:documentation>Offer Identifier uniquely identifies a product offer from product catalog.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PaperWorkCompletedDateEnsType">
		<xs:annotation>
			<xs:documentation>Paper Work Completed Date is the calendar date on which the set of paperwork was completed.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="PaperWorkReferenceNumberType">
		<xs:annotation>
			<xs:documentation>Paper Work Reference Number is a number used to identified a specific set of paper work.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PaperWorkStatusCodeType">
		<xs:annotation>
			<xs:documentation>Paper Work Status Code Identifies the status of the paper work.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PasswordPinType">
		<xs:annotation>
			<xs:documentation>Password PIN holds the string characters designated as a Password into a system or Customer Account.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="14"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PhoneNumberType">
		<xs:annotation>
			<xs:documentation>Phone Number holds the concatenation of the NPA Number, NXX Number and Line NUmber into a single string.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PostOfficeBoxNumberType">
		<xs:annotation>
			<xs:documentation>Post Office Box Number holds a United States Postal Service Post Office Box Number.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PriceAmountType">
		<xs:annotation>
			<xs:documentation>Price Amount contains the dollar amount of the price component.  Either Price Amount or Percent will contain a value but not both for a given Price Component Indentifier.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="9"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PrimaryAddressLineType">
		<xs:annotation>
			<xs:documentation>The content of Primary Address Line is dependent upon the type of street.  

For a street address, Primary Address Line holds the concatenation of the street components of the address.
For a Post Office Box address, Primary Address Line holds the P.O. Box information.
For a Rural address, Primary Address Line holds the Rural number.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RealTimeUsageTypeCodeType">
		<xs:annotation>
			<xs:documentation>Real Time Usage (RTU) Type Code indicates how the associated item should be flagged as real time usage.
Valid Values Include:
E - RTU flag is set to True and can only be reset by EAI.
B - RTU flag is set to true and can be reset by Billing as well as EAI.
N - RTU flag must be reset to False.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RuralRouteBoxNumberType">
		<xs:annotation>
			<xs:documentation>Rural Route Box Number holds the number identifying a mail box on a rural route.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RuralRouteControlNumberType">
		<xs:annotation>
			<xs:documentation>Rural Route Control Number holds the rural road or highway control number.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SecondaryAddressLineType">
		<xs:annotation>
			<xs:documentation>Secondary Address Line holds free text describing additional address information. Usually used for business customers.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SecurityAdminFlagType">
		<xs:annotation>
			<xs:documentation>Security Admin Flag is a boolean indicator of whether the subscriber is an additonal security info admin.
true - user is an additional security info admin
false - user is NOT an additional security info admin</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="StreetDirectionType">
		<xs:annotation>
			<xs:documentation>Street Direction is the component of a USPS Posatal Address holding the compass bearing (North, East, South, West and various combinations and abbreviations) appearing before or after a Street Name.  e.g.: North Oak, South Oak, NorthWest Barry Road, Barry Road NW, Oak South, etc.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StreetNameType">
		<xs:annotation>
			<xs:documentation>Street Name is a USPS Postal Address component that holds the name of a street.  For example in, "123 Main Street", "Main" would reside in Street Name.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StreetNumberType">
		<xs:annotation>
			<xs:documentation>Street Number is a component of a USPS Posatal Address that holds the house or building number on a street.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StreetSuffixType">
		<xs:annotation>
			<xs:documentation>Street Suffix is a USPS Postal Address component that holds the trailing part of the street name.  For example in, "123 Main Street", "Street" would reside in Street Suffix.  Other values might be Cir, Vlvd, Rd, etc.</xs:documentation>
			<xs:documentation>Street Suffix is a USPS Postal Address component that holds the trailing part of the street name.  For example in, "123 Main Street", "Street" would reside in Street Suffix.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SubscriberAliasType">
		<xs:annotation>
			<xs:documentation>Subscriber Alias is another name that the subscriber goes by.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="25"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SubscriberIdentifierType">
		<xs:annotation>
			<xs:documentation>Subscriber Identifier is a string that uniquely identifies a subscriber.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:minLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SubscriberSpecificInformationalTextValueType">
		<xs:annotation>
			<xs:documentation>Subscriber Specific Informational Test (SSIT) Value will contain a value which will follow the SSIT Label on the Subscriber's bill.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TitleEnsType">
		<xs:annotation>
			<xs:documentation>alias: Honorific</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TransactionIdentifierType">
		<xs:annotation>
			<xs:documentation>Transaction Identifier is a unique string that identifies a Request attempt. &#13;
The TransactionID provides a recovery mechanism for time-outs known as idempotency. If you receive a time-out  in response to a Request, the Request can be resent with the same TransactionID.  If the service had successfully processed a previous Request (with the same TransactionID), the previous Response will be returned.  &#13;
If the server has not seen this TransactionID before, it will process the Request and return the Response.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UrbanFleetMemberIdentifierStringType">
		<xs:annotation>
			<xs:documentation>Urban Fleet Member Identifier String contains the concatenation of the Urban Identifier,'*' Fleet Identifier, '*' and Member IDentifier used to identify the Direct Connect Subscriber in the iDen network.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UspsPostalCdType">
		<xs:annotation>
			<xs:documentation>USPS Postal Code contains the first 5 characters of the nine digit USPS Postal Code.</xs:documentation>
			<xs:documentation>USPS Postal Code contains the first 5 characters of the nine digit USPS Postal Code.</xs:documentation>
			<xs:documentation>alias: Ensemble: ADDR_DATA.ADR_ZIP</xs:documentation>
			<xs:documentation>Ensemble: ADDR_DATA.ADR_ZIP

The first 5 characters or digits of the address zip code.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UspsPostalCodeExtensionType">
		<xs:annotation>
			<xs:documentation>USPS Posta Code Extension contains the last 4 characters of the nine digit USPS Postal Code.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UspsStateAbbreviationType">
		<xs:annotation>
			<xs:documentation>A United States Postal Service (USPS) State Abbreviation Code is the set of characters that are selected from a State or Protectorate name and specified by the USPS to represent the name of a State or US Protectorate for the purpose of mail delivery.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WarehouseFacilityIdentifierType">
		<xs:annotation>
			<xs:documentation>Warehouse Facility Identifier uniquely identifies a warehouse or distribution center.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<!---->
</xs:schema>
