design/adapters/LoggingManagementProxyService/src/main/resources/LoggingManagementService.xsd8.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:tns="http://integration.sprint.com/interfaces/queryFunctionalActivityLog/v1/queryFunctionalActivityLog.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://integration.sprint.com/interfaces/queryFunctionalActivityLog/v1/queryFunctionalActivityLog.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2">
	
<!-- Date                 Author                      Version     Change                                                                                        Rel                          SR# -->
	
<!--02/13/2012      Jocelen Silva             1.0             Initial Draft                                                                                   GBL13.2                  PJ007359-->
	
<!--02/19/2013  Steve Heichelheim  1.0           Added MVM standards and simple types.                                         GBL13.2            PJ007359-->
	
<!--05/21/2013 Jocelen Silva           1.1          Changed activityDescription lenght to 1000                                         GBL13.2           CS#605589-->
	
<!--10/13/2014 Jocelen Silva           1.2          Added userRole, activitytype to the request, added userId and userRole to the response, and changeTypeCode and policySeeting to policyInfo in response                                      GBL15.1           PJ012288-->
	
<!--10/13/2014 Kathy Zhao          1.2          Standardization                                      GBL15.1           PJ012288-->
	
<!---->
	
<xs:element name="queryFunctionalActivityLog" type="tns:QueryFunctionalActivityLogRequestType"/>
	
<xs:element name="queryFunctionalActivityLogResponse" type="tns:QueryFunctionalActivityLogResponseType"/>
	
<xs:complexType name="QueryFunctionalActivityLogRequestType">
		
<xs:sequence>
			
<xs:element name="role" type="tns:ControlListRoleTypeCodeType">
				
<xs:annotation>
					
<xs:documentation>User Role
VIEW ONLY CARE
GENERAL CARE
SUPERVISOR
PPP
ITSON
PIP</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="info" type="tns:InfoType">
				
<xs:annotation>
					
<xs:documentation>Info</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="searchCriteria" type="tns:SearchCriteriaType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Search Criteria</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="QueryFunctionalActivityLogResponseType">
		
<xs:sequence>
			
<xs:element name="activityLogList" type="tns:ActivityLogListType">
				
<xs:annotation>
					
<xs:documentation>List of activity log records ordered by descending activityDateTime</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="ActivityLogInfoType">
		
<xs:sequence>
			
<xs:element name="ban" type="tns:BillingAccountNumberType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Billing Account Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="subscriberId" type="tns:SubscriberIdentifierType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Subscriber Identifier</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="resourceId" type="tns:SubscriberResourceIdentifierType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Subscriber resource Id</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="resourceType" type="tns:SubscriberResourceTypeCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Type of resourceId.
I &#8211; IMSI
N &#8211; NAI
P - PTN</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="activityDateTime" type="tns:TransactionDateTimeType">
				
<xs:annotation>
					
<xs:documentation>Date and time the policy was changed or enforced or a notification was sent.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="sourceApplication" type="tns:ApplicationIdentifierType">
				
<xs:annotation>
					
<xs:documentation>ApplicationId of the system processing the policy change, notification or policy enforcement</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="requestingApplication" type="tns:ApplicationIdentifierType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>ApplicationId of the system that requested the policy change, notification or policy enforcement</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="userId" type="tns:UserIdentifierType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>User Id that requested the policyChange, notification or policy enforcement</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="role" type="tns:ControlListRoleTypeCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>User role of the user that requested the policyChange, notification or policy enforcement</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="activityType" type="tns:TransactionTypeCodeType">
				
<xs:annotation>
					
<xs:documentation>Type of activity:
U &#8211; Policy Update
E &#8211; Policy Enforcement
N - Notification</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="activityStatusInd" type="tns:BinaryExpressionType">
				
<xs:annotation>
					
<xs:documentation>Indicate if activity completed successfully</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:choice>
				
<xs:element name="policyUpdateInfo" type="tns:PolicyUpdateType">
					
<xs:annotation>
						
<xs:documentation>Required for policy change logging.</xs:documentation>
					</xs:annotation>
				</xs:element>
				
<xs:element name="notificationInfo" type="tns:NotificationInfoType">
					
<xs:annotation>
						
<xs:documentation>Required for notification logging.</xs:documentation>
					</xs:annotation>
				</xs:element>
				
<xs:element name="policyEnforcementInfo" type="tns:PolicyEnforcementInfoType">
					
<xs:annotation>
						
<xs:documentation>Required for policy enforcement logging</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="ActivityLogListType">
		
<xs:sequence>
			
<xs:element name="activityLogInfo" type="tns:ActivityLogInfoType" maxOccurs="100">
				
<xs:annotation>
					
<xs:documentation>Activity log information</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="currentBlock" type="tns:BlockNumberType">
				
<xs:annotation>
					
<xs:documentation>Current block.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="totalBlocks" type="tns:BlockNumberType">
				
<xs:annotation>
					
<xs:documentation>Total available block. Rounded to the next whole number.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="InfoType">
		
<xs:choice>
			
<xs:element name="ban" type="tns:BillingAccountNumberType">
				
<xs:annotation>
					
<xs:documentation>Billing Account Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="subscriberId" type="tns:SubscriberIdentifierType">
				
<xs:annotation>
					
<xs:documentation>Subscriber Id</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="mdn" type="tns:MobileDirectoryNumberStringType">
				
<xs:annotation>
					
<xs:documentation>Mobile Device Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="ufmi" type="tns:UrbanFleetMemberIdentifierStringType">
				
<xs:annotation>
					
<xs:documentation>Urban Fleet Member Identifier String contains the concatenation of the Urban Identifier,'*' Fleet Identifier, '*' and Member Identifier used to identify the Direct Connect Subscriber in the iDen network.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="deviceSerialNumber" type="tns:DeviceSerialNumberType">
				
<xs:annotation>
					
<xs:documentation>For CDMA platform, this field will be populated with ESN or macId. Accepts hexadecimal format.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="ipAddress" type="tns:InternetProtocolAddressStringType">
				
<xs:annotation>
					
<xs:documentation>Electronic Address represents the character string of the electronic address.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="imsi" type="tns:InternationalMobileSubscriberIdentityStringType">
				
<xs:annotation>
					
<xs:documentation>International Mobile Subscriber Identity (IMSI) is a unique number associated with all GSM and Universal Mobile Telecommunications System (UMTS) network mobile phone users. It is stored in the Subscriber Identity Module (SIM) inside the phone and is sent by the phone to the network.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="nai" type="tns:NetworkAccessIdentifierType">
				
<xs:annotation>
					
<xs:documentation>The Network Access Identifier (e.g. username@domain) where domain should be of the form str1.str2. No validation will be done on input value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="hppttId" type="tns:HighPerformancePushToTalkIdentifierStringType">
				
<xs:annotation>
					
<xs:documentation>High Performance Push To Talk Identifier (HPPTTID) is the identifier of a Subscription utilizing the QChat Push-To-Talk technology. HPPTTID is constructed in the username@domain URI format.  The username will be a MDN or UFMI based number.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	
<xs:complexType name="NotificationInfoType">
		
<xs:sequence>
			
<xs:element name="notificationChannel" type="tns:ContactMethodCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Channel the Notification was sent to   E - Email     S - SMS    </xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="notificationValue" type="tns:ContactMethodValueType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Email or Phone number the notificaiton was sent to.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="notificationContent" type="tns:MessageTextType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Content of SMS or email notification</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="templateId" type="tns:EmailTemplateCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Email templateId</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="activityId" type="tns:ActivityCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Notification activityId</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="activityDescription" type="tns:ActivityDescriptionType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Description of the notification activity</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="PolicyEnforcementInfoType">
		
<xs:sequence>
			
<xs:element name="activityId" type="tns:ActivityCodeType">
				
<xs:annotation>
					
<xs:documentation>Activity Id</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="activityDescription" type="tns:ActivityDescriptionType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Description of the policy enforcement activity</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="PolicyInfoType">
		
<xs:sequence>
			
<xs:element name="changeTypeCd" type="tns:TransactionTypeCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Type of policy change:
A &#8211; Add
R - Remove 
U - Update</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="policyId" type="tns:DevicePolicyIdentifierType">
				
<xs:annotation>
					
<xs:documentation>Policy Id</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="policySetting" type="tns:NetworkPolicySettingCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Policy Setting
Values:
ON, OFF, ON-CAREOVERRIDE etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="PolicyListType">
		
<xs:sequence>
			
<xs:element name="policyInfo" type="tns:PolicyInfoType" maxOccurs="300">
				
<xs:annotation>
					
<xs:documentation>Policy change info</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="PolicyUpdateType">
		
<xs:sequence>
			
<xs:element name="changeTypeCd" type="tns:TransactionTypeCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Type of change:                 
 A - Add                            
 R - Remove                     
 U - Update</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="policyList" type="tns:PolicyListType">
				
<xs:annotation>
					
<xs:documentation>Policy List</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="realTimeUsageCd" type="tns:RealTimeUsageTypeCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Send only if the rtuFlag was updated due policy changes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="activityDescription" type="tns:ActivityDescriptionType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Description of the policy update activity</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="SearchCriteriaType">
		
<xs:sequence>
			
<xs:element name="activityType" type="tns:TransactionTypeCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Type of activity:
U &#8211; Policy Update
E &#8211; Policy Enforcement
N - Notification</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="banLevelCd" type="tns:LevelTypeCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>S - Subscriber Level             B - Ban Level                      A - All Subscriber under the   ban                                     Default value: A</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="fromDate" type="tns:EffectiveFromDateType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Minimum activityDateTime date. EAI will not return records older than 30 days.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="toDate" type="tns:EffectiveThruDateType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Maximum activityDateTime date. Need to be greater than fromDate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="blockNumber" type="tns:BlockNumberType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Block of records to be returned in the response . Default value 1.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="blockSize" type="tns:BlockSizeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Number of records returned in the response. Default value 50</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<!---->
	
<!--MVM/Shared Simple Types-->
	
<xs:simpleType name="ControlListRoleTypeCodeType">
		
<xs:annotation>
			
<xs:documentation>Control List Role Type Code designates a type of role a party assumes when performing action on a voice control block list.
Sample values:
AccountHolder          
Subscriber             
ThirdPartyApplication
ApplicationProvider    
TrustedBusinessPartner
DataMiner              
TroubleShooter         
DatabaseAdministrator  
InternalApplication    
LawEnforcement         
EnterpriseCustomer     
TPA                    
TelecomMgrAdmin        
TelecomMgr             
CustomerCareAdvocate</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="NetworkPolicySettingCodeType">
		
<xs:annotation>
			
<xs:documentation>Network Policy Setting Code is the setting for a network policy.
Possible values:
ON-CAREOVERRIDE
OFF-CGOVERRIDE
ON-EXCLUSIONLIST
OFF-EXCLUSIONLIST
ON-ITSONOVERRIDE
</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="UserIdentifierType">
		
<xs:annotation>
			
<xs:documentation>User Identifier represents an identifier of a PARTY used in logging into a computerized system.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	
<!---->
	
<xs:simpleType name="ActivityCodeType">
		
<xs:annotation>
			
<xs:documentation>Activity Code designates specific activity associated to a specific deed, action or function.
Example Value:
RFS - Resume from Suspend</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="ActivityDescriptionType">
		
<xs:annotation>
			
<xs:documentation>Activity Descrption is a common language description of a specific deed, action or function. (ex. Resume from Suspend)</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="ApplicationIdentifierType">
		
<xs:annotation>
			
<xs:documentation>Application Identifier uniquely identifies an Application</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="BillingAccountNumberType">
		
<xs:annotation>
			
<xs:documentation>Billing Account Number uniquely identifies an instance of Billing Account used to accrue charges for invoicing.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:integer">
			
<xs:totalDigits value="9"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="BinaryExpressionType">
		
<xs:annotation>
			
<xs:documentation>Binary Expression is a type of an expression with two possible states,"true"and"false".</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	
<xs:simpleType name="BlockNumberType">
		
<xs:annotation>
			
<xs:documentation>Block number which will select the nth block of a group of blocks.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:integer">
			
<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="BlockSizeType">
		
<xs:annotation>
			
<xs:documentation>Block Size dictates how many rows of data are fetched during the current call</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:integer">
			
<xs:maxInclusive value="100"/>
			
<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="ContactMethodCodeType">
		
<xs:annotation>
			
<xs:documentation>Contact Method Code indicates a Method for establishing contact (email, phone, letter, etc..)</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="ContactMethodValueType">
		
<xs:annotation>
			
<xs:documentation>Contact Method Value holds the phone number or the eMail address in Ensemble when  Contact MEthod Type Code identifies a phone number or eMail address as a Contact Method.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="DevicePolicyIdentifierType">
		
<xs:annotation>
			
<xs:documentation>Device Policy Identifier uniquely identifies a policy which will be applied to a device to limit access, control list, services etc. </xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="DeviceSerialNumberType">
		
<xs:annotation>
			
<xs:documentation>Device Serial Number is a unique number that is embedded electronically by the manufacturer into a wireless communication device that identifies that individual unit.</xs:documentation>
			
<xs:documentation>Device Serial Number a unique number that is embedded electronically by the manufacturer into a wireless communication device that identifies that individual unit.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:minLength value="8"/>
			
<xs:maxLength value="18"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="EffectiveFromDateType">
		
<xs:annotation>
			
<xs:documentation>Effective From Date Type holds the first calendar day  a Role, preference, assignment, etc. the PARTY's preference went into effect.

Elements declared to be of type date must follow this form:  
CCYY-MM-DD
range for CC is: 00-99
range for YY is: 00-99
range for MM is: 01-12
range for DD is: 
01-28 if month is 2
01-29 if month is 2 and the gYear is a leap gYear
01-30 if month is 4, 6, 9, or 11
01-31 if month is 1, 3, 5, 7, 8, 10, or 12

Example: 1999-05-31 represents May 31, 1999</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:date"/>
	</xs:simpleType>
	
<xs:simpleType name="EffectiveThruDateType">
		
<xs:annotation>
			
<xs:documentation>Effective Thru Date holds the last calendar day Role, Preference, Assignment, etc. was in effect.&#13;
&#13;
Elements declared to be of type date must follow this form:  &#13;
CCYY-MM-DD&#13;
range for CC is: 00-99&#13;
range for YY is: 00-99&#13;
range for MM is: 01-12&#13;
range for DD is: &#13;
01-28 if month is 2&#13;
01-29 if month is 2 and the gYear is a leap gYear&#13;
01-30 if month is 4, 6, 9, or 11&#13;
01-31 if month is 1, 3, 5, 7, 8, 10, or 12&#13;
&#13;
Example: 1999-05-31 represents May 31, 1999</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:date"/>
	</xs:simpleType>
	
<xs:simpleType name="EmailAddressStringType">
		
<xs:annotation>
			
<xs:documentation>Email Address String consists of two parts, a username and a domain (or host) name with an at symbol ('@') separating them. The domain specifies which server the email should be delivered to and the username tells the server at that domain which mailbox to deposit the email into.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="EmailTemplateCodeType">
		
<xs:annotation>
			
<xs:documentation>Email Template Code holds a value that identifies which email template should be sent in the email message. </xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="HighPerformancePushToTalkIdentifierStringType">
		
<xs:annotation>
			
<xs:documentation>High Performance Push To Talk Identifier (HPPTTID) is the identifier of a Subscription utilizing the QChat  Push-To-Talk techniology. HPPTTID is constructed in the username@domain URI format.  The username will be a MDN or UFMI based number.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="40"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="InternationalMobileSubscriberIdentityStringType">
		
<xs:annotation>
			
<xs:documentation>International Mobile Subscriber Identity (IMSI) is a unique number associated with all GSM and Universal Mobile Telecommunications System (UMTS) network mobile phone users. It is stored in the Subscriber Identity Module (SIM) inside the phone and is sent by the phone to the network. It is also used to acquire other details of the mobile in the Home Location Register (HLR) or as locally copied in the Visitor Location Register. In order to avoid the subscriber being identified and tracked by eavesdroppers on the radio interface, the IMSI is sent as rarely as possible and a randomly generated TMSI is sent instead.

The IMSI is used in any mobile network that interconnects with other networks, in particular CDMA and EVDO networks as well as GSM nets. This number is provisioned in the phone directly or in the R-UIM card (a CDMA analogue equivalent to a SIM card in GSM)

An IMSI is usually 15 digits long, but can be shorter (for example MTN South Africa's IMSIs are 14 digits). The first 3 digits are the Mobile Country Code (MCC), and is followed by the Mobile Network Code (MNC), either 2 digits (European standard) or 3 digits (North American standard). The remaining digits are the Mobile Subscriber Identification Number (MSIN) within the network's customer base.

The IMSI conforms to the International Telecommunication Union (ITU) E.212 numbering standard.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="InternetProtocolAddressStringType">
		
<xs:annotation>
			
<xs:documentation>Internet Protocol Address is the numerical address by which a location in the Internet is identified. Computers on the Internet use IP addresses to route traffic and establish connections among themselves.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="LevelTypeCodeType">
		
<xs:annotation>
			
<xs:documentation>Level Type Code indicates the specific level of that the item is associated to.
Example Values:
B - BAN level,
S - Subscriber level&#8230;</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="MessageTextType">
		
<xs:annotation>
			
<xs:documentation> Message Text represents a natural language communication of information</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="4000"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="MobileDirectoryNumberStringType">
		
<xs:annotation>
			
<xs:documentation>Mobile Directory Number (MDN) is the actual phone number one would dial to reach a specific mobile phone.



Prior to Wireless Number Portability, MDN was the same number as the Mobile Identification Number (MIN) for many mobile phones. But now that MDNs can be ported (moved) to other carriers, MDN and MIN will be different for ported numbers.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="10"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="NetworkAccessIdentifierType">
		
<xs:annotation>
			
<xs:documentation>Network Access Identifier holds the concatenation of the a user name and domain.</xs:documentation>
			
<xs:documentation>alias: URI</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="64"/>
			
<xs:pattern value=".+@.+\..+"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="RealTimeUsageTypeCodeType">
		
<xs:annotation>
			
<xs:documentation>Real Time Usage (RTU) Type Code indicates how the associated item should be flagged as real time usage.
Valid Values Include:
E - RTU flag is set to True and can only be reset by EAI.
B - RTU flag is set to true and can be reset by Billing as well as EAI.
N - RTU flag must be reset to False.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="SubscriberIdentifierType">
		
<xs:annotation>
			
<xs:documentation>Subscriber Identifier is a string that uniquely identifies a subscriber.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="SubscriberResourceIdentifierType">
		
<xs:annotation>
			
<xs:documentation>Subscriber Resource Identifier is an identifier of a resource assigned to  a subscription. It may be a SubscriberId, IMSI, NAI, or MDN.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="SubscriberResourceTypeCodeType">
		
<xs:annotation>
			
<xs:documentation>Subscriber Resource Type Code designates the type of a resource assigned to a subscription.
Valid Values Include:
1 - SubscriberIdentifier,
2 - IMSI,
3 - NAI,
4 - MDN...</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="TransactionDateTimeType">
		
<xs:annotation>
			
<xs:documentation>Transaction Date Time is the date and time that a transaction occured.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	
<xs:simpleType name="TransactionTypeCodeType">
		
<xs:annotation>
			
<xs:documentation>Transaction Type Code identifies the Create, Read, Update or Delete (CRUD) functionality of the transaction.</xs:documentation>
			
<xs:documentation>Type Code differentiates the various  categories or subtypes of an Object.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="UrbanFleetMemberIdentifierStringType">
		
<xs:annotation>
			
<xs:documentation>Urban Fleet Member Identifier String contains the concatenation of the Urban Identifier,'*' Fleet Identifier, '*' and Member IDentifier used to identify the Direct Connect Subscriber in the iDen network.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	
<!---->
</xs:schema>