design/adapters/QueryCsaProxyService/src/main/resources/v1.xsd2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://integration.sprint.com/interfaces/QueryCsa/v1/QueryCsaEnvelope.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://integration.sprint.com/interfaces/QueryCsa/v1/QueryCsaEnvelope.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1">
	
<xsd:annotation>
		
<xsd:documentation>Generated by Contivo Builder on January 3, 2008 at 12:48:03 PM CST</xsd:documentation>
		
<xsd:documentation>from the QueryCsaEnvelope package with namespace http://integration.sprint.com/interfaces/QueryCsa/v1/QueryCsaEnvelope.xsd</xsd:documentation>
	</xsd:annotation>
	
<!--Date              Author                 Version   Change                                                                                                          Release - SR#/Ticket#-->
	
<!--06/09/2010   Ibrahim ElKhatib   1.1          Changed CoverageQuality enum from "No coverage" to "No Coverage"      GBL10.3 - CS#391426-->
	
<!--                                                                 Elements (coverageQualityCdma, coverageQualityIden) -->
	
<xsd:element name="queryCsa" type="QueryCsaRequest"/>
	
<xsd:element name="queryCsaResponse" type="QueryCsaReply"/>
	
<xsd:complexType name="PostalCode">
		
<xsd:sequence>
			
<xsd:element name="uspsPostalCd" type="UspsPostalCd"/>
			
<xsd:element name="uspsPostalCdExtension" type="UspsPostalCdExtension" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:complexType name="QueryCsaReply">
		
<xsd:annotation>
			
<xsd:documentation>This API provides the ability to request a CSA for an address from an external system.</xsd:documentation>
		</xsd:annotation>
		
<xsd:sequence>
			
<xsd:element name="street" type="PostalAddressLine1" minOccurs="0">
				
<xsd:annotation>
					
<xsd:documentation>Input street address(address number may be ommitted for cross-street searches)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
<xsd:element name="xStreet" type="CrossStreet" minOccurs="0"/>
			
<xsd:element name="city" type="CityName" minOccurs="0"/>
			
<xsd:element name="state" type="UspsStateAbbreviation" minOccurs="0"/>
			
<xsd:element name="zip" type="PostalCode" minOccurs="0"/>
			
<xsd:element name="country" type="CountryName" minOccurs="0"/>
			
<xsd:element name="longitude" type="LongitudeNumber" minOccurs="0"/>
			
<xsd:element name="latitude" type="LatitudeNumber" minOccurs="0"/>
			
<xsd:element name="confidence" type="ConfidenceLevel" minOccurs="0"/>
			
<xsd:element name="csa" type="CommunicationServiceAreaId" minOccurs="0"/>
			
<xsd:element name="is3g" type="ThreeGFlag" minOccurs="0"/>
			
<xsd:element name="evdo" type="EvdoFlag" minOccurs="0"/>
			
<xsd:element name="iden" type="IdenFlag" minOccurs="0"/>
			
<xsd:element name="hybrid" type="HybridFlag" minOccurs="0"/>
			
<xsd:element name="coverageQualityCdma" type="CoverageQuality" minOccurs="0"/>
			
<xsd:element name="coverageQualityIden" type="CoverageQuality" minOccurs="0"/>
			
<xsd:element name="roamDigital" type="RoamDigitalFlag" minOccurs="0"/>
			
<xsd:element name="roamAnalog" type="RoamAnalogFlag" minOccurs="0"/>
			
<xsd:element name="UpcomingCoverageCdma" type="UpcomingCoverageCdmaFlag" minOccurs="0"/>
			
<xsd:element name="UpcomingCoverageIden" type="UpcomingCoverageIdenFlag" minOccurs="0"/>
			
<xsd:element name="npa" type="NpaNumber" minOccurs="0"/>
			
<xsd:element name="nxx" type="NxxNumber" minOccurs="0"/>
			
<xsd:element name="affiliateName" type="AffiliateName" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:complexType name="QueryCsaRequest">
		
<xsd:annotation>
			
<xsd:documentation>This API provides the ability to request a CSA for an address from an external system.</xsd:documentation>
		</xsd:annotation>
		
<xsd:sequence>
			
<xsd:element name="geoCode" type="GeographicCodeType"/>
			
<xsd:element name="street" type="PostalAddressLine1" minOccurs="0">
				
<xsd:annotation>
					
<xsd:documentation>Street address (address number may be omitted for cross-street searches)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
<xsd:element name="xStreet" type="CrossStreet" minOccurs="0">
				
<xsd:annotation>
					
<xsd:documentation>Cross Street is the name of an intersecting street for cross-street geocoding.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
<xsd:element name="city" type="CityName" minOccurs="0"/>
			
<xsd:element name="state" type="UspsStateAbbreviation" minOccurs="0"/>
			
<xsd:element name="zip" type="PostalCode" minOccurs="0"/>
			
<xsd:element name="country" type="CountryName" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:simpleType name="AffiliateName">
		
<xsd:annotation>
			
<xsd:documentation>Owner of coverage found at input address (name of affiliate if not Sprint PCS)</xsd:documentation>
		</xsd:annotation>
		
<xsd:restriction base="OrganizationName">
			
<xsd:maxLength value="60"/>
		</xsd:restriction>
	</xsd:simpleType>
	
<xsd:simpleType name="BooleanFlag">
		
<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	
<xsd:simpleType name="CityName">
		
<xsd:annotation>
			
<xsd:documentation>City Name holds the textual string identifying a City.</xsd:documentation>
		</xsd:annotation>
		
<xsd:restriction base="xsd:string">
			
<xsd:minLength value="1"/>
			
<xsd:maxLength value="49"/>
		</xsd:restriction>
	</xsd:simpleType>
	
<xsd:simpleType name="CommunicationServiceAreaId">
		
<xsd:annotation>
			
<xsd:documentation>Communication Service Area Identifier uniquely identifies an instance of a geographic area (CSA) served by a communication service provider, which can be broken down into regional, metropolitan, district and smaller sections called ''leaves.''</xsd:documentation>
		</xsd:annotation>
		
<xsd:restriction base="xsd:string">
			
<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	
<xsd:simpleType name="ConfidenceLevel">
		
<xsd:restriction base="xsd:string">
			
<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	
<xsd:simpleType name="CountryName">
		
<xsd:annotation>
			
<xsd:documentation>International Standardization Organization Country Name.</xsd:documentation>
		</xsd:annotation>
		
<xsd:restriction base="xsd:string">
			
<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	
<xsd:simpleType name="CoverageQuality">
		
<xsd:annotation>
			
<xsd:documentation>Indicates the strength of coverage found at the input address.

Values:  Best Coverage, Good Coverage, Fair Coverage, No coverage</xsd:documentation>
		</xsd:annotation>
		
<xsd:restriction base="xsd:string">
			
<xsd:enumeration value="Best Coverage"/>
			
<xsd:enumeration value="Good Coverage"/>
			
<xsd:enumeration value="Fair Coverage"/>
			
<xsd:enumeration value="No Coverage"/>
		</xsd:restriction>
	</xsd:simpleType>
	
<xsd:simpleType name="CrossStreet">
		
<xsd:annotation>
			
<xsd:documentation>Cross Street is the name of an intersecting street for cross-street geocoding.</xsd:documentation>
		</xsd:annotation>
		
<xsd:restriction base="xsd:string">
			
<xsd:minLength value="1"/>
			
<xsd:maxLength value="99"/>
		</xsd:restriction>
	</xsd:simpleType>
	
<xsd:simpleType name="EvdoFlag">
		
<xsd:annotation>
			
<xsd:documentation>EVDO Flag  is a boolean indicator of EVDO functionality support.

Values:
true  -&gt; Yes, EVDO functionality IS supported
false -&gt; No, EVDO functionality IS NOT supported</xsd:documentation>
		</xsd:annotation>
		
<xsd:restriction base="BooleanFlag"/>
	</xsd:simpleType>
	
<xsd:simpleType name="GeographicCodeType">
		
<xsd:annotation>
			
<xsd:documentation>Type of geocoding to perform.  Valid values: ExactAddress, CrossStreet, Zip, CityState, International.</xsd:documentation>
		</xsd:annotation>
		
<xsd:restriction base="xsd:string">
			
<xsd:enumeration value="ExactAddress"/>
			
<xsd:enumeration value="CrossStreet"/>
			
<xsd:enumeration value="Zip"/>
			
<xsd:enumeration value="CityState"/>
			
<xsd:enumeration value="International"/>
		</xsd:restriction>
	</xsd:simpleType>
	
<xsd:simpleType name="HybridFlag">
		
<xsd:annotation>
			
<xsd:documentation>Hybrid Flag  is a boolean indicator of PowerSource coverage was found at input address

Values:
true  -&gt; Yes, PowerSource coverage was found at input address
false -&gt; No,PowerSource coverage was NOT found at input address</xsd:documentation>
		</xsd:annotation>
		
<xsd:restriction base="BooleanFlag"/>
	</xsd:simpleType>
	
<xsd:simpleType name="IdenFlag">
		
<xsd:annotation>
			
<xsd:documentation>IDEN Flag  is a boolean indicator of IDEN Network support.

Values:
true  -&gt; Yes, IDEN Network functionality IS supported
false -&gt; No, IDEN Network functionality IS NOT supported</xsd:documentation>
		</xsd:annotation>
		
<xsd:restriction base="BooleanFlag"/>
	</xsd:simpleType>
	
<xsd:simpleType name="LatitudeNumber">
		
<xsd:annotation>
			
<xsd:documentation>Latitude Number is expressed as a floating point number in the range -90.0000 to +90.0000, using decimal degrees (as opposed to minutes and seconds).  Positive values indicate locations north of and on the equator.  Negative values indicate locations south of the equator.</xsd:documentation>
		</xsd:annotation>
		
<xsd:restriction base="xsd:decimal">
			
<xsd:totalDigits value="17"/>
			
<xsd:fractionDigits value="14"/>
			
<xsd:maxInclusive value="90"/>
			
<xsd:minInclusive value="-90"/>
		</xsd:restriction>
	</xsd:simpleType>
	
<xsd:simpleType name="LongitudeNumber">
		
<xsd:annotation>
			
<xsd:documentation>Longitude Number is expressed as a floating point number in the range -180.0000 to +180.0000, using decimal degrees (as opposed to minutes and seconds).  Positive values indicate locations east of and on the prime meridian (Greenwich).  Negative values indicate locations west of the prime meridian.</xsd:documentation>
		</xsd:annotation>
		
<xsd:restriction base="xsd:decimal">
			
<xsd:totalDigits value="17"/>
			
<xsd:fractionDigits value="14"/>
			
<xsd:maxInclusive value="180"/>
			
<xsd:minInclusive value="-180"/>
		</xsd:restriction>
	</xsd:simpleType>
	
<xsd:simpleType name="NpaNumber">
		
<xsd:annotation>
			
<xsd:documentation>Numbering Plan Area (NPA) Number is one of the geographical divisions of the United States, Canada, Bermuda, the Caribbean, Northwestern Mexico, Alaska, Hawaii, within which no two telephones will have the same seven-digit telephone number. (An NPA is represented by an Area Code.)</xsd:documentation>
		</xsd:annotation>
		
<xsd:restriction base="xsd:string">
			
<xsd:length value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	
<xsd:simpleType name="NxxNumber">
		
<xsd:annotation>
			
<xsd:documentation>Network Numbering Exchange (NXX) Number represents the first three digits of the 7 digit phone number that identifies the specific telephone company central office which serves that number. These digits are referred to as the NXX where N can be any number from 2 to 9 and X can be any number. (NNX once upon a time was used to identify the local central office exchange. Now NNX has been changed to NXX, which allows local central offices to have numbers which look like area codes.)</xsd:documentation>
		</xsd:annotation>
		
<xsd:restriction base="xsd:string">
			
<xsd:length value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	
<xsd:simpleType name="OrganizationName">
		
<xsd:annotation>
			
<xsd:documentation>Organization Name is a label  applied to those instances of PARTY of type  ORGANIZATION.</xsd:documentation>
		</xsd:annotation>
		
<xsd:restriction base="xsd:string">
			
<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	
<xsd:simpleType name="PostalAddressLine">
		
<xsd:annotation>
			
<xsd:documentation>Postal Address Line is a line of the postal address (StreetName, HouseNumber,ec.) of which there are three lines formatted to USPS standards.</xsd:documentation>
		</xsd:annotation>
		
<xsd:restriction base="xsd:string">
			
<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	
<xsd:simpleType name="PostalAddressLine1">
		
<xsd:annotation>
			
<xsd:documentation>Postal Address Line 1 is the first line of the postal address (StreetName, HouseNumber,ec.) of which there are three lines formatted to USPS standards.</xsd:documentation>
		</xsd:annotation>
		
<xsd:restriction base="PostalAddressLine">
			
<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	
<xsd:simpleType name="RoamAnalogFlag">
		
<xsd:annotation>
			
<xsd:documentation>RoamAnalogFlag is a boolean indicator of analog roaming coverage was found at input address

Values:
true  -&gt; Yes, analog roaming coverage was found at input address
false -&gt; No, analog roaming coverage was NOT found at input address</xsd:documentation>
		</xsd:annotation>
		
<xsd:restriction base="BooleanFlag"/>
	</xsd:simpleType>
	
<xsd:simpleType name="RoamDigitalFlag">
		
<xsd:annotation>
			
<xsd:documentation>RoamDigitalFlag is a boolean indicator of digital roaming coverage was found at input address

Values:
true  -&gt; Yes, digital roaming coverage was found at input address
false -&gt; No, digital roaming coverage was NOT found at input address</xsd:documentation>
		</xsd:annotation>
		
<xsd:restriction base="BooleanFlag"/>
	</xsd:simpleType>
	
<xsd:simpleType name="ThreeGFlag">
		
<xsd:annotation>
			
<xsd:documentation>Three G Flag  is a boolean indicator of Third Generation Network functionality support.

Values:
true  -&gt; Yes, 3G functionality IS supported
false -&gt; No, 3G functionality IS NOT supported</xsd:documentation>
		</xsd:annotation>
		
<xsd:restriction base="BooleanFlag"/>
	</xsd:simpleType>
	
<xsd:simpleType name="UpcomingCoverageCdmaFlag">
		
<xsd:annotation>
			
<xsd:documentation>UpcomingCoverageCdmaFlag is a boolean indicator of new CDMA towers are scheduled to be activated in near the input address in the next 120 days

Values:
true  -&gt; Yes, new CDMA towers are scheduled to be activated in near the input address in the next 120 days
false -&gt; No, new CDMA towers are scheduled to be activated in near the input address in the next 120 days</xsd:documentation>
		</xsd:annotation>
		
<xsd:restriction base="BooleanFlag"/>
	</xsd:simpleType>
	
<xsd:simpleType name="UpcomingCoverageIdenFlag">
		
<xsd:annotation>
			
<xsd:documentation>UpcomingCoverageIdenFlag is a boolean indicator of new iDEN towers are scheduled to be activated in near the input address in the next 120 days

Values:
true  -&gt; Yes, new iDEN towers are scheduled to be activated in near the input address in the next 120 days
false -&gt; No, new iDEN towers are scheduled to be activated in near the input address in the next 120 days</xsd:documentation>
		</xsd:annotation>
		
<xsd:restriction base="BooleanFlag"/>
	</xsd:simpleType>
	
<xsd:simpleType name="UspsPostalCd">
		
<xsd:annotation>
			
<xsd:documentation>USPS Postal Code contains the first 5 characters of the nine digit USPS Postal Code.</xsd:documentation>
		</xsd:annotation>
		
<xsd:restriction base="xsd:string">
			
<xsd:length value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	
<xsd:simpleType name="UspsPostalCdExtension">
		
<xsd:annotation>
			
<xsd:documentation>USPS Postal Code Extension contains the last 4 characters of the nine digit USPS Postal Code.</xsd:documentation>
		</xsd:annotation>
		
<xsd:restriction base="xsd:string">
			
<xsd:length value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	
<xsd:simpleType name="UspsStateAbbreviation">
		
<xsd:annotation>
			
<xsd:documentation>A United States Postal Service (USPS) State Abbreviation Code is the set of characters that are selected from a State or Protectorate name and specified by the USPS to represent the name of a State or US Protectorate for the purpose of mail delivery</xsd:documentation>
		</xsd:annotation>
		
<xsd:restriction base="xsd:string">
			
<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>