design/adapters/EnterpriseWalletProxyService/src/main/resources/EnterpriseWalletService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp200409="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp200607="http://www.w3.org/2006/07/ws-policy" xmlns:ns0="http://integration.sprint.com/eai/services/EnterpriseWalletService/v1/EnterpriseWalletService.wsdl" targetNamespace="http://integration.sprint.com/eai/services/EnterpriseWalletService/v1/EnterpriseWalletService.wsdl">
<wsdl:types xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:schema>
<xsd:import schemaLocation="encryption.xsd" namespace="http://api.mfs.amdocs.com/epp/v1/sprint/encryption.xsd"/>
<xsd:import schemaLocation="ErrorDetailsV2.xsd" namespace="http://integration.sprint.com/common/ErrorDetailsV2.xsd"/>
<xsd:import schemaLocation="WSMessageHeaderV2.xsd" namespace="http://integration.sprint.com/common/header/WSMessageHeader/v2"/></xsd:schema></wsdl:types>
<wsdl:message name="faultmessage">
<wsdl:part name="fault" element="xsns:errorDetailItem" xmlns:xsns="http://integration.sprint.com/common/ErrorDetailsV2.xsd"/></wsdl:message>
<wsdl:message name="processWalletRequest">
<wsdl:part name="processWallet" element="xsns:encryptedMessage" xmlns:xsns="http://api.mfs.amdocs.com/epp/v1/sprint/encryption.xsd"/></wsdl:message>
<wsdl:message name="processWalletResponse">
<wsdl:part name="processWalletResponse" element="xsns:operationResponse" xmlns:xsns="http://api.mfs.amdocs.com/epp/v1/sprint/encryption.xsd"/></wsdl:message>
<wsdl:message name="wsMessageHeader">
<wsdl:part name="head" element="xsns:wsMessageHeader" xmlns:xsns="http://integration.sprint.com/common/header/WSMessageHeader/v2"/></wsdl:message>
<wsdl:portType name="EnterpriseWalletPortType">
<wsdl:operation name="ProcessWallet">
<wsdl:input name="ProcessWalletRequest" message="ns0:processWalletRequest"/>
<wsdl:output name="ProcessWalletResponse" message="ns0:processWalletResponse"/>
<wsdl:fault name="fault" message="ns0:faultmessage"/></wsdl:operation></wsdl:portType>
<wsdl:binding name="EnterpriseWalletBinding" type="ns0:EnterpriseWalletPortType">
<soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<wsdl:operation name="ProcessWallet">
<soap11:operation soapAction="ProcessWallet" style="document"/>
<wsdl:input name="ProcessWalletRequest">
<soap11:body use="literal"/>
<soap11:header message="ns0:wsMessageHeader" part="head" use="literal"/></wsdl:input>
<wsdl:output name="ProcessWalletResponse">
<soap11:body use="literal"/>
<soap11:header message="ns0:wsMessageHeader" part="head" use="literal"/></wsdl:output>
<wsdl:fault name="fault">
<soap11:fault name="fault" use="literal"/></wsdl:fault></wsdl:operation></wsdl:binding>
<wsdl:service name="EnterpriseWalletService">
<wsdl:port name="EnterpriseWalletPort" binding="ns0:EnterpriseWalletBinding">
<soap11:address location="http://144.226.135.45:80/services/EnterpriseWalletService"/></wsdl:port></wsdl:service></wsdl:definitions>