design/adapters/QueryAccountInfoProxyService/src/main/resources/QueryAccountInfoService.xsd6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://integration.sprint.com/interfaces/queryAccountCreditInfo/v1/queryAccountCreditInfo.xsd" targetNamespace="http://integration.sprint.com/interfaces/queryAccountCreditInfo/v1/queryAccountCreditInfo.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.4">
	
<!-- Date              Author                    Version       Change                                                                     Rel                    SR# -->
	
<!--12/16/2008    Dweepant Bakshi      1.0        Removed SpendingLimitList submethod                       Feb09Gbl          E1710.014 CS#300784-->
	
<!--1/24/2009    Jennifer Carlton           1.1       Renamed postOfficeBox element                                  SAP09.6.0.0        E1710.017-->
	
<!--1/24/2009    Jennifer Carlton           1.1       Added minLen 1 to ufmi, ipAddress, imsi, nai, httpttld  SAP09.6.0.0     E1710.017-->
	
<!--05/06/2009    Dweepant Bakshi      1.2        Added cancelDepositAmount in DepositRequestInfo submethod    GBL09.2.0.0   E1710.017 CS#319365 -->
	
<!--09/23/2009  Steve Heichelheim       1.3     fetchBillToAccountEligibilityInfo and billToAccountEligibilityInfo structures added  GBL10.01         E4637-->
	
<!--09/28/2009  Steve Heichelheim       1.3     added subMarket and reasonText, changed billToAccountInd to billToAccountCode, add enums to SalesChannelIdentifierType   GBL10.01         E4637-->
	
<!--03/25/2010  Priya Logantha       1.4     removed enumeration for salesChannel under billToAccountEligibilityInfo   GBL10.2  PJ000004   CS#347405-->
	
<!--04/01/2014  Suresh Gundu      	1.5	Added fetchRealTimeData flag to the Request. 	MID 14.2.3	PJ012070.004-->
	
<xs:element name="queryAccountCreditInfo" type="tns:QueryAccountCreditInfo"/>
	
<xs:element name="queryAccountCreditInfoResponse" type="tns:QueryAccountCreditInfoResponse"/>
	
<xs:complexType name="QueryAccountCreditInfo">
		
<xs:sequence>
			
<xs:element name="info" type="tns:SearchCriteria"/>
			
<xs:element name="fetchCreditAddressInfo" type="tns:FetchInformationFlag" default="false" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Flag indicating whether or not the Credit Evaluation address of the BAN should be returned.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="fetchCreditResultInfo" type="tns:FetchInformationFlag" default="false" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Flag indicating whether or not the credit result and spending limits for the BAN should be returned.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="fetchDepositRequestInfo" type="tns:FetchInformationFlag" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Fetch Deposit Request Info is a flag indicating if Deposit information should be returned in the response message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="retrieveRealTimeDataInd" type="tns:BinaryExpression" default="false" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Flag indicating whether or not the API needs to retrieve real-time information from the backend.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="billToAccountEligibilityInfo" type="tns:FetchBillToAccountEligibilityInfoType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Fetch Bill To Account Info contains information that will be needed to retreive the BTA flag for the account.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="QueryAccountCreditInfoResponse">
		
<xs:sequence>
			
<xs:element name="creditAddressInfo" type="tns:AddressInfo" minOccurs="0"/>
			
<xs:element name="creditResultInfo" type="tns:CreditResultInfo" minOccurs="0"/>
			
<xs:element name="depositRequestInfo" type="tns:DepositRequestInfo" minOccurs="0"/>
			
<xs:element name="billToAccountEligibilityInfo" type="tns:BillToAccountEligibilityInfoType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="AddressInfo">
		
<xs:sequence>
			
<xs:element name="type" type="tns:AddressTypeCode">
				
<xs:annotation>
					
<xs:documentation>Address Type Code differentiates an address as either a Military address, Rural address, Street address, PO Box address or a Foreign address.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="streetNumber" type="tns:StreetNumber" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Street Number is a component of a USPS Posatal Address that holds the house or building number on a street.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="line1" type="tns:PostalAddressLine" minOccurs="0"/>
			
<xs:element name="line2" type="tns:PostalAddressLine" minOccurs="0"/>
			
<xs:element name="ruralRoute" type="tns:RuralRouteControlNumber" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Rural Route Control Number holds the rural road or highway identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="ruralNumber" type="tns:RuralRouteBoxNumber" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Rural Route Box Number holds the number identifying a mail box on a rural route.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="postOfficeBoxNumber" type="tns:PostOfficeBoxNumber" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Post Office Box Number holds a United States Postal Service Post Office Box Number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="streetName" type="tns:StreetName" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>'Street Name is the USPS Postal Address component holding the name of a street.  For example in,"123 Main Street","Main"would reside in Street Name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="streetDirection" type="tns:StreetDirection" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Street Direction is the component of a USPS Posatal Address holding the compass bearing (North, East, South, West and various combinations and abbreviations) appearing before or after a Street Name.  e.g.: North Oak, South Oak, NorthWest Barry Road, Barry Road NW, Oak South, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="streetType" type="tns:StreetSuffix" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Street Suffix is the USPS Postal Address component holding the trailing part of the street name.  For example in,"123 Main Street","Street"would reside in Street Suffix.  Other values might be Cir, Vlvd, Rd, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="trailingDirection" type="tns:TrailingDirection" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Street Direction is the component of a USPS Posatal Address holding the compass bearing (North, East, South, West and various combinations and abbreviations) appearing after a Street Name.  e.g.: North Oak, South Oak, NorthWest Barry Road, Barry Road NW, Oak South, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="apartment" type="tns:ApartmentNumber" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Apartment Number is the USPS Postal Address component holding the identifier of the apartment within the context of a bilding's postal address.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="apartmentType" type="tns:ApartmentDesignator" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Apartment Designator is an Address Component that holds a value identifying the address as a type of apartment.Examples:"APT""UNIT"Etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="attention" type="tns:AttentionTextEns" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Attention Text attached to the mailing address.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="city" type="tns:CityNameEns" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>City Name holds the textual string identifying a City.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="state" type="tns:UspsStateAbbreviation" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>'A United States Postal Service (USPS) State Abbreviation Code is the set of characters that are selected from a State or Protectorate name and specified by the USPS to represent the name of a State or US Protectorate for the purpose of mail delivery.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="country" type="tns:Iso3CharCountryCode" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>'An International Standardization Organization (ISO) 3-Character Country Code is the set of three characters assigned by the ISO to identify a soverign nation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="zipCode" type="tns:UspsPostalCd" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>'USPS Postal Code contains the first 5 characters of the nine digit USPS Postal Code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="zip4Code" type="tns:UspsPostalCodeExtension" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>'USPS Posta Code Extension contains the last 4 characters of the nine digit USPS Postal Code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="geoCode" type="tns:GeographicCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Type of geocoding to perform.  Valid values: ExactAddress, CrossStreet, Zip, CityState, International.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="isGeoCodeOverridden" type="tns:GeoCodeManualOverrideFlag" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Flag to indicate if  geo code was Manually Overridden</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="effectiveDate" type="tns:AddressEffectiveFromDate" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Contains the effective date of the address.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="BillToAccountEligibilityInfoType">
		
<xs:sequence>
			
<xs:element name="billToAccountCode" type="tns:BillToAccountEligibleTypeCodeType">
				
<xs:annotation>
					
<xs:documentation>This BTA indicator will have a value of Y, N or U. U is returned when an error occurs</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="reasonText" type="tns:BillToAccountEligibleReasonTextType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>The reason text contains information when the BTA fla value is returned with a value of U</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="CdmaInfo">
		
<xs:sequence>
			
<xs:element name="activeSubscribers" type="tns:NumberOfActiveSubscriptions">
				
<xs:annotation>
					
<xs:documentation>Number of Active and suspended CDMA subscribers </xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="overrideInd" type="tns:DepositOverrideFlag">
				
<xs:annotation>
					
<xs:documentation>Indicates if the Deposit requirement has been overridden</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="newDepositAmt" type="tns:DepositAmount">
				
<xs:annotation>
					
<xs:documentation>Deposit Amount required for addition of a new CDMA subscriber or Overridden Deposit Amount. . If multiple subscriber are being added the deposit requirement should be taken from DepositList structure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="cancelDepositAmt" type="tns:DepositAmount">
				
<xs:annotation>
					
<xs:documentation>Deposit Amount to be returned when cancelling a  CDMA subscriber</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="fromServicePeriod" type="tns:FromServicePeriod" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>From Service Period. It will have value as 0 . This is not applicable for an ASL ban that has not overridden  the activation deposit.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="toServicePeriod" type="tns:ToServicePeriod" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>To  Service Period. This is not applicable for an ASL ban that has not overridden  the activation deposit.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="depositList" type="tns:DepositList" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="CreditResultInfo">
		
<xs:sequence>
			
<xs:element name="checkType" type="tns:CreditCheckTypeCode" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Type of credit check performed – business, individual</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="status" type="tns:CreditCheckStatusCode" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Status of last credit inquiry</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="checkDate" type="tns:CreditCheckDate">
				
<xs:annotation>
					
<xs:documentation>Date of last check</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="class" type="tns:CreditClassCode" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Credit class assigned to account.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="classDesc" type="tns:CreditClassDescription" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Description of the Credit Class assigned to the account.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="depositPerUnit" type="tns:DepositAmount" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Deposit required per unit.This is the Deposit required per unit as per Credit Bureau. Based on the Business rules there are different deposit requirement as Listed in DepositRequestInfo submethod</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="approvedSubscriberCount" type="tns:NumberOfApprovedSubscriptions" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Approved number of subscribers by this check</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="totalApprovedSubscriberCount" type="tns:TotalNumberOfApprovedSubscriptions" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Total Approved subscribers from all checks</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="referenceNumber" type="tns:ReferenceNumber" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Reference number</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="expirationDate" type="tns:ExpirationDate" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>ExpirationDate if provided by CAS</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="creditVendor" type="tns:CreditVendorCode" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>The Credit vendor used for the BAN. This can be nullable.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="tclInd" type="tns:TemporarySpendingLimitIndicator" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>To indicate if the BAN has a TCL (Temporary Credit Limit) or not.
Note: If this field is 'true', the aslInd will be set to 'false'.
</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="DepositInformation">
		
<xs:sequence>
			
<xs:element name="subscriberNumber" type="tns:SubscriberActivationRankNumber">
				
<xs:annotation>
					
<xs:documentation>Number/activation rank of the subscriber being added to BAN for specific network technology</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="depositAmount" type="tns:DepositAmount">
				
<xs:annotation>
					
<xs:documentation>Deposit Amount Required corresponding to Subscriber Rank. This deposit amount is applicable only if ‘banServicePeriod’ is between  ‘fromServicePeriod’ and ‘toServicePeriod’.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="fromServicePeriod" type="tns:FromServicePeriod" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>From Service Period. It will have value as 0. This is not applicable for an ASL ban that has not overridden  the activation deposit requirement.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="toServicePeriod" type="tns:ToServicePeriod" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>To  Service Period. This is not applicable for an ASL ban that has not overridden  the activation deposit requirement.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="DepositList">
		
<xs:sequence>
			
<xs:element name="depositInfo" type="tns:DepositInformation" minOccurs="0" maxOccurs="50"/>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="DepositRequestInfo">
		
<xs:sequence>
			
<xs:element name="maxSubscriberNumber" type="tns:MaximumSubscriberCount">
				
<xs:annotation>
					
<xs:documentation>Maximum number of subscriber serial numbers allowed upto which deposit requirements/spending limit is defined.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="accountServicePeriod" type="tns:ServicePeriod">
				
<xs:annotation>
					
<xs:documentation>Current number in months for which account has been in service. </xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="cdmaInfo" type="tns:CdmaInfo"/>
			
<xs:element name="idenInfo" type="tns:IdenInfo"/>
			
<xs:element name="spendingLimitList" type="tns:DepositRequestSpendingLimitList" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="Device">
		
<xs:sequence>
			
<xs:element name="serialNumber" type="tns:EquipmentSerialNumberString">
				
<xs:annotation>
					
<xs:documentation>Equipment Serial Number is an identifier used by the device to communicate (broadcast) its identity to the wireless mobile network.

Equipment Serial Number is one of the following:

Electronic Serial Number (ESN);

Mobile Equipment IDentifier (MEID);

International Mobile Equipment Identfier (IMEI);

Subscriber Identify Module (SIM);

Manufacturer Serial Number (MSN).</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="serialType" type="tns:EquipmentSerialNumberType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Equipment Serial Number Type classifies Equipment serial numbers as one of the following:  ESN, MEID, IMEI, SIM, or MSN.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="FetchBillToAccountEligibilityInfoType">
		
<xs:sequence>
			
<xs:element name="fetchBillToAccountEligibilityInfo" type="tns:FetchInformationFlag">
				
<xs:annotation>
					
<xs:documentation>This is a boolean value of True or False. True indicates that the BTA flag needs to be retreived.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="salesChannel" type="tns:SalesChannelIdentifierType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>This contains the sales channel from where the request is coming from. </xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="subMarket" type="tns:SubMarketCodeType" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Sub Market Code designates a Market Segment which represents a distinct subset or segment of a market that behave in the same way or have similar needs.  Because each segment is fairly homogeneous in their needs and attitudes, they are likely to respond similarly to a given marketing strategy. That is, they are likely to have similar feelings and ideas about a marketing mix comprised of a given product or service, sold at a given price, </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="IdenInfo">
		
<xs:sequence>
			
<xs:element name="activeSubscribers" type="tns:NumberOfActiveSubscriptions">
				
<xs:annotation>
					
<xs:documentation>Number of Active and suspended IDEN subscribers </xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="overrideInd" type="tns:DepositOverrideFlag">
				
<xs:annotation>
					
<xs:documentation>Indicates if the Deposit requirement has been overridden</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="newDepositAmt" type="tns:DepositAmount">
				
<xs:annotation>
					
<xs:documentation>Deposit Amount required for adding a  new IDEN subscriber or Overridden Deposit Amount. If multiple subscriber are being added the deposit requirement should be taken from DepositList structure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="cancelDepositAmt" type="tns:DepositAmount">
				
<xs:annotation>
					
<xs:documentation>Deposit Amount to be returned when cancelling a  CDMA subscriber</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="fromServicePeriod" type="tns:FromServicePeriod" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>From Service Period. It will have value as 0. This is not applicable for an ASL ban that has not overridden  the activation deposit requirement.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="toServicePeriod" type="tns:ToServicePeriod" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>To  Service Period. This is not applicable for an ASL ban that has not overridden  the activation deposit requirement.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="depositList" type="tns:DepositList" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="SpendingLimitInfo">
		
<xs:sequence>
			
<xs:element name="subscriberNumber" type="tns:SubscriberActivationRankNumber">
				
<xs:annotation>
					
<xs:documentation>This field represents the number of the subscriber.Based on this number Spending Limit is determined 

</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="spendingLimit" type="tns:AccountSpendingLimitAmount">
				
<xs:annotation>
					
<xs:documentation>Spending Limit.(Hotlined Threshold for each subscriber)</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="suspensionLimit" type="tns:AccountSuspensionAmount">
				
<xs:annotation>
					
<xs:documentation>Suspension Limit (Credit Limit for each subscriber)</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="sms" type="tns:SmsThresholdLimit">
				
<xs:annotation>
					
<xs:documentation>SMS Threshold.Subscriber will get the first SMS based on this limit</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="secondSms" type="tns:SmsThresholdLimit">
				
<xs:annotation>
					
<xs:documentation>Second SMS Threshold. Subscriber will get the warning SMS based on this limit</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="DepositRequestSpendingLimitList">
		
<xs:sequence>
			
<xs:element name="aslInd" type="tns:AccountSpendingLimitIndicator">
				
<xs:annotation>
					
<xs:documentation>If the Ban is ASL, it returns true.
Note for TCL Accounts: If the tclInd is 'true', this field will be set to 'false'.
</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="tclInd" type="tns:TemporaryCreditLimitFlag" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>To indicate if the BAN has a TCL (Temporary Credit Limit) or not.
Note: If this field is 'true', the aslInd will be set to 'false'.
SpendingLimitInfo sub-structure below will not be returned for a TCL BAN
</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="addSubAslAmt" type="tns:IncreaseAccountSpendingLimitAmount" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Increase in ASL amount.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="cancelSubAslAmt" type="tns:DecreaseAccountSpendingLimitAmount" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Decrease in ASL amount.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="spendingLimitInfo" type="tns:SpendingLimitInfo" minOccurs="0" maxOccurs="50"/>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="SearchCriteria">
		
<xs:choice>
			
<xs:element name="ban">
				
<xs:annotation>
					
<xs:documentation>Billing Account Number uniquely identifies an instance of Billing Account used to accrue charges for invoicing.</xs:documentation>
				</xs:annotation>
				
<xs:simpleType>
					
<xs:restriction base="tns:BillingAccountNumberEns"/>
				</xs:simpleType>
			</xs:element>
			
<xs:element name="subscriberId" type="tns:SubscriptionIdentifierEns">
				
<xs:annotation>
					
<xs:documentation>Subscription Identifier uniquely identifies an instance of SUBSCRIPTION</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="mdn" type="tns:MobileDirectoryNumberString">
				
<xs:annotation>
					
<xs:documentation>'Mobile Directory Number (MDN) is the actual phone number one would dial to reach a specific mobile phone.
Prior to Wireless Number Portability, MDN was the same number as the Mobile Identification Number (MIN) for many mobile phones. But now that MDNs can be ported (moved) to other carriers, MDN and MIN will be different for ported numbers.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="device" type="tns:Device"/>
			
<xs:element name="ufmi">
				
<xs:annotation>
					
<xs:documentation>Urban Fleet Member Identifier (UFMI) is the combinaiton of the Urban Area Id, Fleet Id, and Member Id representing an address in a format recognized within iDEN Push-To-Talk (PTT) or Direct Connect. For example, a UFMI number of 500•600•700, translates to 500 is the Urban Area ID, 600 is the Fleet, and 700 is the Member.</xs:documentation>
				</xs:annotation>
				
<xs:simpleType>
					
<xs:restriction base="tns:UrbanFleetMemberIdentifierString">
						
<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
<xs:element name="ipAddress">
				
<xs:annotation>
					
<xs:documentation>An Internet Protocol Address is the numerical address by which a location in the Internet is identified. Computers on the Internet use IP addresses to route traffic and establish connections among themselves.</xs:documentation>
				</xs:annotation>
				
<xs:simpleType>
					
<xs:restriction base="tns:InternetProtocolAddressString">
						
<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
<xs:element name="imsi">
				
<xs:annotation>
					
<xs:documentation>International Mobile Subscriber Identity (IMSI) is a unique number associated with all GSM and Universal Mobile Telecommunications System (UMTS) network mobile phone users. It is stored in the Subscriber Identity Module (SIM) inside the phone and is sent by the phone to the network. It is also used to acquire other details of the mobile in the Home Location Register (HLR) or as locally copied in the Visitor Location Register. In order to avoid the subscriber being identified and tracked by eavesdroppers on the radio interface, the IMSI is sent as rarely as possible and a randomly generated TMSI is sent instead.
The IMSI is used in any mobile network that interconnects with other networks, in particular CDMA and EVDO networks as well as GSM nets. This number is provisioned in the phone directly or in the R-UIM card (a CDMA analogue equivalent to a SIM card in GSM)
An IMSI is usually 15 digits long, but can be shorter (for example MTN South Africa's IMSIs are 14 digits). The first 3 digits are the Mobile Country Code (MCC), and is followed by the Mobile Network Code (MNC), either 2 digits (European standard) or 3 digits (North American standard). The remaining digits are the Mobile Subscriber Identification Number (MSIN) within the network's customer base.
The IMSI conforms to the International Telecommunication Union (ITU) E.212 numbering standard</xs:documentation>
				</xs:annotation>
				
<xs:simpleType>
					
<xs:restriction base="tns:InternationalMobileSubscriberIdentityString">
						
<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
<xs:element name="nai">
				
<xs:annotation>
					
<xs:documentation>Network Access Identifier (NAI) is a standard way of identifying users who request access to a network. 

The standard syntax is"user@realm". </xs:documentation>
				</xs:annotation>
				
<xs:simpleType>
					
<xs:restriction base="tns:NetworkAccessIdentifierString">
						
<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
<xs:element name="hppttId">
				
<xs:annotation>
					
<xs:documentation>High Performance Push To Talk Identifier (HPPTTID) is the identifier of a Subscription utilizing the QChat  Push-To-Talk technology. The HPPTTID is constructed in the username@domain URI format.  The username will be a MDN or UFMI based number.</xs:documentation>
				</xs:annotation>
				
<xs:simpleType>
					
<xs:restriction base="tns:HighPerformancePushToTalkIDString">
						
<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	
<!---->
	
<!--MVM/Shared Simple Types-->
	
<xs:simpleType name="AccountSpendingLimitIndicator">
		
<xs:annotation>
			
<xs:documentation>Account Spending Limit Indicator is a binary expression that determines if the account is a spending limit account or not.  

Values:
Y =&gt; ASL Account
N =&gt; Not an ASL Account</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	
<xs:simpleType name="AccountSpendingLimitAmount">
		
<xs:restriction base="xs:decimal">
			
<xs:totalDigits value="14"/>
			
<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="AddressEffectiveFromDate">
		
<xs:annotation>
			
<xs:documentation>Contains the effective date of the address.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:date"/>
	</xs:simpleType>
	
<xs:simpleType name="AccountSuspensionAmount">
		
<xs:restriction base="xs:decimal">
			
<xs:totalDigits value="14"/>
			
<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="AddressTypeCode">
		
<xs:annotation>
			
<xs:documentation>Address Type Code distinguishes an address as either a Military address, Rural address, Street address, PO Box address or a Foreign address.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="ApartmentDesignator">
		
<xs:annotation>
			
<xs:documentation>Apartment Designator is an Address Component that holds a value identifying the address as a type of apartment.Examples:"APT""UNIT"Etc.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="ApartmentNumber">
		
<xs:annotation>
			
<xs:documentation>Apartment Number is an Address Component that contains the identifier of the apartment within the context of a bilding's postal address.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="ApplicationIdentifierInteger">
		
<xs:annotation>
			
<xs:documentation>Application Identifier uniquely identifies an Application</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:integer">
			
<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="AttentionTextEns">
		
<xs:annotation>
			
<xs:documentation>Attention Text attached to the mailing address.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="BillingAccountNumberEns">
		
<xs:annotation>
			
<xs:documentation>Billing Account Number uniquely identifies an instance of Billing Account used to accrue charges for invoicing.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:int">
			
<xs:totalDigits value="9"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="BillingAcctPassword">
		
<xs:annotation>
			
<xs:documentation>Password holds the string of characters a PARTY designated as a credential into a system, network or Customer Account.  Password is something only the PARTY knows and the authenticator can confirm.  Also see OTP and Secret Q&amp;A. </xs:documentation>
			
<xs:documentation>Billing Account Password contains the system access password the Account Holder or the External  Account Administrator used to gain entry into the system  in order to make changes to the Billing Account.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="BillingAccountStatusCodeEns">
		
<xs:annotation>
			
<xs:documentation>Billing Account Status Code Ens holds the current state of the Billing Account in the Ensemble system
Valid states:
O - open (active) 
C - cancelled
S - suspended
T  -tentative
N – closed</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="1"/>
			
<xs:enumeration value="O">
				
<xs:annotation>
					
<xs:documentation>open (active)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			
<xs:enumeration value="C">
				
<xs:annotation>
					
<xs:documentation>cancelled</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			
<xs:enumeration value="S">
				
<xs:annotation>
					
<xs:documentation>suspended</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			
<xs:enumeration value="T">
				
<xs:annotation>
					
<xs:documentation>tentative</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			
<xs:enumeration value="N">
				
<xs:annotation>
					
<xs:documentation>closed</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="BinaryExpression">
		
<xs:annotation>
			
<xs:documentation>Binary Expression is a type of an expression with two possible states,"true"and"false".</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	
<xs:simpleType name="CityNameEns">
		
<xs:annotation>
			
<xs:documentation>City Name holds the textual string identifying a City.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="26"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="CreditAddressInfoFlag">
		
<xs:annotation>
			
<xs:documentation>Flag indicating whether or not the Credit Evaluation address of the BAN should be returned.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	
<xs:simpleType name="CreditCheckDate">
		
<xs:annotation>
			
<xs:documentation>Date the last credit check was performed.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:date"/>
	</xs:simpleType>
	
<xs:simpleType name="CreditCheckStatusCode">
		
<xs:annotation>
			
<xs:documentation>Code specifying the status of the last credit check inquiry. Values are: AA, AR, CA, PA, ER</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="CreditCheckTypeCode">
		
<xs:annotation>
			
<xs:documentation>Type of credit check performed – business, individual</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="5"/>
			
<xs:enumeration value="BUSIN"/>
			
<xs:enumeration value="INDIV"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="CreditClassCode">
		
<xs:annotation>
			
<xs:documentation>"Credit Class Code identifies the Customer's level of financial responsibility.   

For example, the Credit Class Code assignment determines what Products the Customer can purchase, how many Subscriptions they can be liable for, whether there is a required depsoit and the amount of the deposit, ec.."</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="CreditClassDescription">
		
<xs:annotation>
			
<xs:documentation>The description of the Credit Class provided.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="CreditResultInfoFlag">
		
<xs:annotation>
			
<xs:documentation>Flag indicating whether or not the credit result and spending limits for the BAN should be returned.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	
<xs:simpleType name="CreditVendorCode">
		
<xs:annotation>
			
<xs:documentation>Code use to identify the Credit vendor used for the account. This can be nullable.
LBG – Lightbridge 
EFX – Equifax</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="DecreaseAccountSpendingLimitAmount">
		
<xs:annotation>
			
<xs:documentation>Decrease in the ASL amount.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:decimal">
			
<xs:totalDigits value="14"/>
			
<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="DepositAmount">
		
<xs:annotation>
			
<xs:documentation>Amount of deposit required.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:decimal">
			
<xs:totalDigits value="11"/>
			
<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="DepositOverrideFlag">
		
<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	
<xs:simpleType name="EffectiveFromDate">
		
<xs:annotation>
			
<xs:documentation>Effective From Date Type holds the first calendar day  a Role, preference, assignment, etc. the PARTY's preference went into effect.

Elements declared to be of type date must follow this form:  
CCYY-MM-DD
range for CC is: 00-99
range for YY is: 00-99
range for MM is: 01-12
range for DD is: 
01-28 if month is 2
01-29 if month is 2 and the gYear is a leap gYear
01-30 if month is 4, 6, 9, or 11
01-31 if month is 1, 3, 5, 7, 8, 10, or 12

Example: 1999-05-31 represents May 31, 1999</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:date"/>
	</xs:simpleType>
	
<xs:simpleType name="EffectiveThruDate">
		
<xs:annotation>
			
<xs:documentation>Effective Thru Date holds the last calendar day Role, Preference, Assignment, etc. was in effect.

Elements declared to be of type date must follow this form:  
CCYY-MM-DD
range for CC is: 00-99
range for YY is: 00-99
range for MM is: 01-12
range for DD is: 
01-28 if month is 2
01-29 if month is 2 and the gYear is a leap gYear
01-30 if month is 4, 6, 9, or 11
01-31 if month is 1, 3, 5, 7, 8, 10, or 12

Example: 1999-05-31 represents May 31, 1999</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:date"/>
	</xs:simpleType>
	
<xs:simpleType name="EquipmentSerialNumberString">
		
<xs:annotation>
			
<xs:documentation>Equipment Serial Number holds the identifier used by the device to communicate (broadcast) its identity to the wireless mobile network.  

Network Device Identifier will contain one of the following: 
Electronic Serial Number (ESN); 
Mobile Equipment IDentifier (MEID);
International Mobile Equipment Identfie (IMEI);
Subscriber Identify Module (SIM).</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="20"/>
			
<xs:minLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="EquipmentSerialNumberType">
		
<xs:annotation>
			
<xs:documentation>EquipmentSerialNumberType is a value that classifies a device serial number as being an ESN, MEID, MSN, IMEI, or SIM.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="ExpirationDate">
		
<xs:annotation>
			
<xs:documentation>Expiration Date holds the last calendar Date an object, relationship, privilege, etc. is valid or in force.  After this date the object is no longervalid or in force. </xs:documentation>
			
<xs:documentation>Expiration Date holds the last calendar Date an object, relationship, privilege, etc. is valid or in force.  After this date the object is no longervalid or in force. </xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:date"/>
	</xs:simpleType>
	
<xs:simpleType name="FetchInformationFlag">
		
<xs:annotation>
			
<xs:documentation>Fetch Information Flag is a boolean flag that indicates whether for the api to request the information associated to the request structure.
true - the API will perform request for the associated information
false - the API will request the assoociated information</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	
<xs:simpleType name="FirstNameEns">
		
<xs:annotation>
			
<xs:documentation>First Name or "Given Name" is a name which specifies and differentiates between members of a group of individuals, especially a family, all of whose members usually share the same family name.</xs:documentation>
			
<xs:documentation>alias: Given Name</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="FromServicePeriod">
		
<xs:restriction base="xs:integer">
			
<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="GeoCodeManualOverrideFlag">
		
<xs:annotation>
			
<xs:documentation>Flag to indicate if  geo code was Manually Overridden</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	
<xs:simpleType name="GeographicCodeType">
		
<xs:annotation>
			
<xs:documentation>Type of geocoding to perform.  Valid values: ExactAddress, CrossStreet, Zip, CityState, International.</xs:documentation>
			
<xs:documentation>Type of geocoding to perform.  Valid values: ExactAddress, CrossStreet, Zip, CityState, International.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="HighPerformancePushToTalkIDString">
		
<xs:annotation>
			
<xs:documentation>High Performance Push To Talk Identifier (HPPTTID) is the identifier of a Subscription utilizing the QChat  Push-To-Talk techniology. HPPTTID is constructed in the username@domain URI format.  The username will be a MDN or UFMI based number.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="IncreaseAccountSpendingLimitAmount">
		
<xs:annotation>
			
<xs:documentation>Increase Account Spending Limit Amount is the dollar amount that the Account Spending Limit can be increased by.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:decimal">
			
<xs:totalDigits value="14"/>
			
<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="InternationalMobileSubscriberIdentityString">
		
<xs:annotation>
			
<xs:documentation>International Mobile Subscriber Identity (IMSI) holds a unique identifier allocated to each mobile subscriber in a GSM and UMTS network. It consists of a MCC (Mobile Country Code), a MNC (Mobile Network Code) and a MSIN (Mobile Station Identification Number).</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="InternetProtocolAddressString">
		
<xs:annotation>
			
<xs:documentation>Electronic Address represents the character string of the electronic address.</xs:documentation>
			
<xs:documentation>An Internet Protocol Address is the numerical address by which a location in the Internet is identified. Computers on the Internet use IP addresses to route traffic and establish connections among themselves.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="Iso3CharCountryCode">
		
<xs:annotation>
			
<xs:documentation>An International Standardization Organization (ISO) 3-Character Country Code is the set of three characters assigned by the ISO to identify a soverign nation.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="LastNameEns">
		
<xs:annotation>
			
<xs:documentation>Last Name represents the family name or surname is the part of an INDIVIDUAL PARTY's name that identifies what family the individual belongs to.</xs:documentation>
			
<xs:documentation>alias: Surname </xs:documentation>
			
<xs:documentation>alias: Family Name</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="MaximumSubscriberCount">
		
<xs:annotation>
			
<xs:documentation>Maximum Subscriber Count is the maximum number of subscribers for the associated account.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:integer">
			
<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="MiddleNameEns">
		
<xs:annotation>
			
<xs:documentation>Middle Name is effectively a second given name.  Many INDIVIDUAL PARTY's names include one or more Middle Names, placed between the first given name and the surname.   In the United States there is usually only one middle name, abbreviated by its possessor.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="MobileDirectoryNumberString">
		
<xs:annotation>
			
<xs:documentation>The method of identifying telephone trunks in the public network of North America, called World Numbering Zone 1 by the ITU-T. the Plan has 3 ways of identifying phone numbers in North America -- a 3-digit area code, a 3-digit exchange or central office code, and 4-digit subscriber code.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="10"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="NameSuffix">
		
<xs:annotation>
			
<xs:documentation>Name Suffix holds any affix that may occurr at the end of the name of an INDIVIDUAL designating a dignity, honor, distinction, or preeminence attached to the INDIVIDUAL by virtue of rank, office, precedent, privilege, attainment, or lands.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="NpaNumber">
		
<xs:annotation>
			
<xs:documentation>Numbering Plan Area (NPA) Number is one of the geographical divisions of the United States, Canada, Bermuda, the Caribbean, Northwestern Mexico, Alaska, Hawaii, within which no two telephones will have the same seven-digit telephone number. (An NPA is represented by an Area Code.)</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="NxxNumber">
		
<xs:annotation>
			
<xs:documentation>Network Numbering Exchange (NXX) Number represents the first three digits of the 7 digit phone number that identifies the specific telephone company central office which serves that number. These digits are referred to as the NXX where N can be any number from 2 to 9 and X can be any number. (NNX once upon a time was used to identify the local central office exchange. Now NNX has been changed to NXX, which allows local central offices to have numbers which look like area codes.)</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="NetworkAccessIdentifierString">
		
<xs:annotation>
			
<xs:documentation>Network Access Identifier holds the concatenation of the a user name and realm.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="NetworkIndicatorCode">
		
<xs:annotation>
			
<xs:documentation>Network Indicator Code specifies the network being used.  I -&gt; iDEN; C -&gt; CDMA; B -&gt; Both</xs:documentation>
			
<xs:documentation>Network Indicator Code specifies the network being used.  I -&gt; iDEN; C -&gt; CDMA; B -&gt; Both</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="1"/>
			
<xs:enumeration value="C"/>
			
<xs:enumeration value="I"/>
			
<xs:enumeration value="B"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="NumberOfActiveSubscriptions">
		
<xs:restriction base="xs:integer">
			
<xs:totalDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="NumberOfApprovedSubscriptions">
		
<xs:annotation>
			
<xs:documentation>Approved number of subscribers by this check</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:integer">
			
<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="PasswordString">
		
<xs:annotation>
			
<xs:documentation>Password String holds the string characters a PARTy designated as a Password into a system or Customer Account.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="PhoneNumberExtension">
		
<xs:annotation>
			
<xs:documentation>Phone Number Extension holds an additional sequence of digits that used in conjunction with a phone number uniquely identifies a phone in a PBX or other office phone system.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="PostalAddressLine">
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="PostOfficeBoxNumber">
		
<xs:annotation>
			
<xs:documentation>Post Office Box Number holds a United States Postal Service Post Office Box Number.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="PurchaseOrderNumber">
		
<xs:annotation>
			
<xs:documentation>Purchase Order Number is a type of Order NUmber used to identify an instance of a PURCHASE ORDER.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="ReferenceNumber">
		
<xs:annotation>
			
<xs:documentation>Reference number related to the credit check.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="RuralRouteBoxNumber">
		
<xs:annotation>
			
<xs:documentation>Rural Route Box Number holds the number identifying a mail box on a rural route.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="RuralRouteControlNumber">
		
<xs:annotation>
			
<xs:documentation>Rural Route Control Number holds the rural road or highway control number.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="SalesChannelIdentifierType">
		
<xs:annotation>
			
<xs:documentation>Sales Channel Identifier uniquely identifies a PARTY, internal to Sprint or external, that sells Sprint equipment and services.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="ServicePeriod">
		
<xs:restriction base="xs:integer">
			
<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="SmsThresholdLimit">
		
<xs:restriction base="xs:decimal">
			
<xs:totalDigits value="13"/>
			
<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="StreetDirection">
		
<xs:annotation>
			
<xs:documentation>Street Direction is the component of a USPS Posatal Address holding the compass bearing (North, East, South, West and various combinations and abbreviations) appearing before or after a Street Name.  e.g.: North Oak, South Oak, NorthWest Barry Road, Barry Road NW, Oak South, etc.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:minLength value="1"/>
			
<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="StreetName">
		
<xs:annotation>
			
<xs:documentation>Street Name is a USPS Postal Address component that holds the name of a street.  For example in, "123 Main Street", "Main" would reside in Street Name.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="StreetNumber">
		
<xs:annotation>
			
<xs:documentation>Street Number is a component of a USPS Posatal Address that holds the house or building number on a street.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="StreetSuffix">
		
<xs:annotation>
			
<xs:documentation>Street Suffix is a USPS Postal Address component that holds the trailing part of the street name.  For example in, "123 Main Street", "Street" would reside in Street Suffix.  Other values might be Cir, Vlvd, Rd, etc.</xs:documentation>
			
<xs:documentation>Street Suffix is a USPS Postal Address component that holds the trailing part of the street name.  For example in, "123 Main Street", "Street" would reside in Street Suffix.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="SubMarketCodeType">
		
<xs:annotation>
			
<xs:documentation>Sub Market Code designates a Market Segment which represents a distinct subset or segment of a market that behave in the same way or have similar needs.  Because each segment is fairly homogeneous in their needs and attitudes, they are likely to respond similarly to a given marketing strategy. That is, they are likely to have similar feelings and ideas about a marketing mix comprised of a given product or service, sold at a given price, distributed in a certain way and promoted in a certain way.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="SubscriberActivationRankNumber">
		
<xs:restriction base="xs:integer">
			
<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="SubscriptionIdentifierEns">
		
<xs:annotation>
			
<xs:documentation>Subscription Identifier Ensemble uniquely identifies an instance of SUBSCRIPTION in the Ensemble system.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:minLength value="8"/>
			
<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="TemporaryCreditLimitFlag">
		
<xs:annotation>
			
<xs:documentation>Temporary Credit Limit is a boolean flag that indicates if the BAN has a TCL (Temporary Credit Limit) or not.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	
<xs:simpleType name="TemporarySpendingLimitIndicator">
		
<xs:annotation>
			
<xs:documentation>Temporary Spending Limit Yes No Indicator identifies Credit Class instances that have spending limit which is temporary in nature.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	
<xs:simpleType name="TitleEns">
		
<xs:annotation>
			
<xs:documentation>alias: Honorific</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="ToServicePeriod">
		
<xs:restriction base="xs:integer">
			
<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="TotalNumberOfApprovedSubscriptions">
		
<xs:annotation>
			
<xs:documentation>Total Approved subscribers from all checks</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:integer">
			
<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="TrailingDirection">
		
<xs:annotation>
			
<xs:documentation>Trailing Direction is a USPS POstal Address component that holds the compass direction that sometimes appears at the end of a street address.  For example in, "123 Main Street East", "East" would reside in Trailing Direction.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="UniformResourceIdentifierString">
		
<xs:annotation>
			
<xs:documentation>A Uniform Resource Identifier (URI - pronounced YEW-AHR-EYE) is the way you identify any of those points of content, whether it be a page of text, a video or sound clip, a still or animated image, or a program. </xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="UrbanFleetMemberIdentifierString">
		
<xs:annotation>
			
<xs:documentation>Urban Fleet Member Identifier String contains the concatenation of the Urban Identifier,'*' Fleet Identifier, '*' and Member IDentifier used to identify the Direct Connect Subscriber in the iDen network. </xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="23"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="UspsCountyCode">
		
<xs:annotation>
			
<xs:documentation>United States Postal Service County Code contains the Postal Service 2 character code for identification of a County.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="UspsPostalCd">
		
<xs:annotation>
			
<xs:documentation>USPS Postal Code contains the first 5 characters of the nine digit USPS Postal Code.</xs:documentation>
			
<xs:documentation>USPS Postal Code contains the first 5 characters of the nine digit USPS Postal Code.</xs:documentation>
			
<xs:documentation>alias: Ensemble: ADDR_DATA.ADR_ZIP</xs:documentation>
			
<xs:documentation>Ensemble: ADDR_DATA.ADR_ZIP

The first 5 characters or digits of the address zip code.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="5"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="UspsPostalCodeExtension">
		
<xs:annotation>
			
<xs:documentation>USPS Posta Code Extension contains the last 4 characters of the nine digit USPS Postal Code.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="4"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="UspsStateAbbreviation">
		
<xs:annotation>
			
<xs:documentation>A United States Postal Service (USPS) State Abbreviation Code is the set of characters that are selected from a State or Protectorate name and specified by the USPS to represent the name of a State or US Protectorate for the purpose of mail delivery.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="WorkPhoneNumber">
		
<xs:annotation>
			
<xs:documentation>Work Phone Number holds the telephone number given by a Party as the phone number that should be used to contact their place of employment.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="10"/>
		</xs:restriction>
	</xs:simpleType>
	
<!---->
	
<!--New Simple Types-->
	
<xs:simpleType name="BillToAccountEligibleTypeCodeType">
		
<xs:annotation>
			
<xs:documentation>Bill To Account Eligible Type Code indicates whether the account is eligible to have purchases billed directly to the account.
Example Values
Y - account is bill to account eligible
N - account is not bill to account eligible
U - unable to process or determin bill to account eligibility</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="BillToAccountEligibleReasonTextType">
		
<xs:annotation>
			
<xs:documentation>Bill To Account Eligible Reason Text is a user friendly text stating the reason the account is eligible to have purchases billed directly to it.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:minLength value="1"/>
			
<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	
<!---->
</xs:schema>