design/adapters/QueryAccountInfoProxyService/src/main/resources/QueryAccountInfoService.xsd10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:tns="http://integration.sprint.com/interfaces/queryAffinityInfo/v1/queryAffinityInfo.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://integration.sprint.com/interfaces/queryAffinityInfo/v1/queryAffinityInfo.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	
<!--Date	                Author 	               Version 	 Change	                                                                                                                                              Rel	SR#-->
	
<!--01/09/2012   	        Ace Cineus      	1.0    	 Increased maxLen restriction of DeviceSerialNumber from 18 to 20	                                              GBL12.2	PJ006784-->
	
<!---->
	
<xs:element name="queryAffinityInfo" type="tns:QueryAffinityInfo"/>
	
<xs:element name="queryAffinityInfoResponse" type="tns:QueryAffinityInfoResponse"/>
	
<xs:complexType name="QueryAffinityInfo">
		
<xs:sequence>
			
<xs:element name="info" type="tns:Info"/>
			
<xs:element name="accountLevelInfo" type="tns:BinaryExpression" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Indicates whether or not affinity information should be retrieved at the Ban Level.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="subscriptionLevelInfo" type="tns:BinaryExpression" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Indicates whether or not affinity information shold be retrieved at the Subscriber Level.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="QueryAffinityInfoResponse">
		
<xs:sequence>
			
<xs:element name="accountAffinityInfoList" type="tns:AffinityInfoList" minOccurs="0"/>
			
<xs:element name="subscriptionAffinityInfoList" type="tns:AffinityInfoList" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="Info">
		
<xs:choice>
			
<xs:element name="ban">
				
<xs:annotation>
					
<xs:documentation>Billing Account Number uniquely identifies an instance of Billing Account used to accrue charges for invoicing.</xs:documentation>
				</xs:annotation>
				
<xs:simpleType>
					
<xs:restriction base="tns:BillingAccountNumber">
						
<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
<xs:element name="subscriberId" type="tns:SubscriptionIdentifierEns">
				
<xs:annotation>
					
<xs:documentation>Subscription Identifier uniquely identifies an instance of SUBSCRIPTION</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="deviceSerialNumber" type="tns:DeviceSerialNumber">
				
<xs:annotation>
					
<xs:documentation>Device Serial Number is a unique number that is embedded electronically by the manufacturer into a wireless communication device that identifies that individual unit.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="mdn">
				
<xs:annotation>
					
<xs:documentation>Phone Number holds the concatenation of the NPA Number, NXX Number and Line NUmber into a single string.</xs:documentation>
				</xs:annotation>
				
<xs:simpleType>
					
<xs:restriction base="tns:PhoneNumber">
						
<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
<xs:element name="ufmi">
				
<xs:annotation>
					
<xs:documentation>Urban Fleet Member Identifier String contains the concatenation of the Urban Identifier,'*' Fleet Identifier, '*' and Member IDentifier used to identify the Direct Connect Subscriber in the iDen network.</xs:documentation>
				</xs:annotation>
				
<xs:simpleType>
					
<xs:restriction base="tns:UrbanFleetMemberIdentifierString">
						
<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
<xs:element name="ipAddress">
				
<xs:annotation>
					
<xs:documentation>An Internet Protocol Address is the numerical address by which a location in the Internet is identified. Computers on the Internet use IP addresses to route traffic and establish connections among themselves.</xs:documentation>
				</xs:annotation>
				
<xs:simpleType>
					
<xs:restriction base="tns:InternetProtocolAddressString">
						
<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
<xs:element name="nai">
				
<xs:annotation>
					
<xs:documentation>Network Access Identifier holds the concatenation of the a user name and domain.</xs:documentation>
				</xs:annotation>
				
<xs:simpleType>
					
<xs:restriction base="tns:NetworkAccessIdentifierEns">
						
<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
<xs:element name="imsi">
				
<xs:annotation>
					
<xs:documentation>International Mobile Subscriber Identity (IMSI) is a unique number associated with all GSM and Universal Mobile Telecommunications System (UMTS) network mobile phone users.</xs:documentation>
				</xs:annotation>
				
<xs:simpleType>
					
<xs:restriction base="tns:InternationalMobileSubscriberIdentityString">
						
<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
<xs:element name="hppttId">
				
<xs:annotation>
					
<xs:documentation>High Performance Push To Talk Identifier (HPPTTID) is the identifier of a Subscription utilizing the QChat  Push-To-Talk techniology. HPPTTID is constructed in the username@domain URI format.  The username will be a MDN or UFMI based number.</xs:documentation>
				</xs:annotation>
				
<xs:simpleType>
					
<xs:restriction base="tns:HighPerformancePushToTalkIDString">
						
<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	
<xs:complexType name="AffinityInfo">
		
<xs:sequence>
			
<xs:element name="affinityCode" type="tns:AffinityCode">
				
<xs:annotation>
					
<xs:documentation>Affinity Code is a unique identifier associated with Affinity program.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="affinityDesc" type="tns:AffinityDescription">
				
<xs:annotation>
					
<xs:documentation>Affinity Description is text describing an Affinity program.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="currentAffinityAttributeInfo" type="tns:AffinityAttributeGroup"/>
			
<xs:element name="affinitySocList" type="tns:AffinitySocList"/>
			
<xs:element name="historyAffinityAttributeList" type="tns:HistoryAffinityAttributeList" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="AffinitySocList">
		
<xs:sequence>
			
<xs:element name="affinitySocInfo" type="tns:AffinitySocInfo" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="AffinityAttributeGroup">
		
<xs:sequence>
			
<xs:element name="effectiveDate" type="tns:EffectiveFromDate"/>
			
<xs:element name="expirationDate" type="tns:EffectiveThruDate" minOccurs="0"/>
			
<xs:element name="affinityAttributeList" type="tns:AffinityAttributeList"/>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="AffinityAttributeInfo">
		
<xs:sequence>
			
<xs:element name="attributeName" type="tns:AffinityAttributeName">
				
<xs:annotation>
					
<xs:documentation>Name of the Attribute (i.e MEMBERID, ADDRESS etc)</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="attributeValue" type="tns:AffinityAttributeValueText" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Value of the Attribute (i.e. John, 1056 Marty st)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="AffinityAttributeList">
		
<xs:sequence>
			
<xs:element name="affinityAttributeInfo" type="tns:AffinityAttributeInfo" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="AffinitySocInfo">
		
<xs:sequence>
			
<xs:element name="socCode" type="tns:ServiceOrderCode">
				
<xs:annotation>
					
<xs:documentation>SOC Code for the Registration SOC being returned</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="socType" type="tns:AffinityServiceOrderCodeTypeCode">
				
<xs:annotation>
					
<xs:documentation>Affinity Service Order Code Type Code indicates whether the SOC is Affinity Registration SOC or Affinity SOC.
Values:
R – Registration SOC
A – Affinity SOC</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="socDesc" type="tns:ServiceOrderDescription" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Description of the SOC above</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="socSeqNumber" type="tns:SequenceNumber">
				
<xs:annotation>
					
<xs:documentation>Sequence Number of the SOC</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="effectiveDate" type="tns:EffectiveFromDate">
				
<xs:annotation>
					
<xs:documentation>The effective date of the SOC</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="expirationDate" type="tns:EffectiveThruDate" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>The expiration date of the SOC</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="discountInfo" type="tns:DiscountInfo"/>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="DiscountInfo">
		
<xs:sequence>
			
<xs:element name="discountCode" type="tns:DiscountCode">
				
<xs:annotation>
					
<xs:documentation>Discount Code for the Affinity SOC associated with the Subscriber.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="discountDesc" type="tns:DiscountDescription" minOccurs="0">
				
<xs:annotation>
					
<xs:documentation>Name associated with the specific Discount Code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<xs:element name="effectiveDate" type="tns:EffectiveFromDate"/>
			
<xs:element name="expirationDate" type="tns:EffectiveThruDate" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="AffinityInfoList">
		
<xs:sequence>
			
<xs:element name="affinityInfo" type="tns:AffinityInfo" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
<xs:complexType name="HistoryAffinityAttributeList">
		
<xs:sequence>
			
<xs:element name="historyAffinityAttributeInfo" type="tns:AffinityAttributeGroup" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
<!--Following Simple Types were sourced from the Shared Simple Types-->
	
<xs:simpleType name="AffinityAttributeName">
		
<xs:annotation>
			
<xs:documentation>Affinity Attribute Name designates a specific attribute associated to an affinity program.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="AffinityAttributeValueText">
		
<xs:annotation>
			
<xs:documentation>Affinity Attribute Value Text is used to provide the ability to view/update the current affinity attribute values via all front ends (CSM, RMS+, FDT, TOES, sVIEW, EAI, WINS).</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="AffinityCode">
		
<xs:annotation>
			
<xs:documentation>Affinity Code is a unique identifier associated with Affinity program.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="7"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="AffinityDescription">
		
<xs:annotation>
			
<xs:documentation>Affinity Description is text describing an Affinity program.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="AffinityServiceOrderCodeTypeCode">
		
<xs:annotation>
			
<xs:documentation>Affinity Service Order Code Type Code indicates whether the SOC is Affinity Registration SOC or Affinity SOC.
Values:
R – Registration SOC
A – Affinity SOC</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:enumeration value="R"/>
			
<xs:enumeration value="A"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="BillingAccountNumber">
		
<xs:annotation>
			
<xs:documentation>Billing Account Number uniquely identifies an instance of Billing Account used to accrue charges for invoicing.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="BinaryExpression">
		
<xs:annotation>
			
<xs:documentation>Binary Expression is a type of an expression with two possible states,"true"and"false".</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	
<xs:simpleType name="DeviceSerialNumber">
		
<xs:annotation>
			
<xs:documentation>Device Serial Number is a unique number that is embedded electronically by the manufacturer into a wireless communication device that identifies that individual unit.</xs:documentation>
			
<xs:documentation>Device Serial Number a unique number that is embedded electronically by the manufacturer into a wireless communication device that identifies that individual unit.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:minLength value="8"/>
			
<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="DiscountCode">
		
<xs:annotation>
			
<xs:documentation>Discount Code uniquely identifies an instance of a Price Component representing a reduction in the price or discount of a GOOD or SERVICE. The identified Price Component may hold the monetary amount of the price reduction or a percentage to reduce the price by.  A Discount may only be applicable to specific Account Types, Promotions, Products, etc.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="DiscountDescription">
		
<xs:annotation>
			
<xs:documentation>Discount Description holds the natural language description of a reduction in the price charged for GOOD or SERVICE.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="EffectiveFromDate">
		
<xs:annotation>
			
<xs:documentation>Effective From Date Type holds the first calendar day  a Role, preference, assignment, etc. the PARTY's preference went into effect.

Elements declared to be of type date must follow this form:  
CCYY-MM-DD
range for CC is: 00-99
range for YY is: 00-99
range for MM is: 01-12
range for DD is: 
01-28 if month is 2
01-29 if month is 2 and the gYear is a leap gYear
01-30 if month is 4, 6, 9, or 11
01-31 if month is 1, 3, 5, 7, 8, 10, or 12

Example: 1999-05-31 represents May 31, 1999</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:date"/>
	</xs:simpleType>
	
<xs:simpleType name="EffectiveThruDate">
		
<xs:annotation>
			
<xs:documentation>Effective Thru Date holds the last calendar day Role, Preference, Assignment, etc. was in effect.

Elements declared to be of type date must follow this form:  
CCYY-MM-DD
range for CC is: 00-99
range for YY is: 00-99
range for MM is: 01-12
range for DD is: 
01-28 if month is 2
01-29 if month is 2 and the gYear is a leap gYear
01-30 if month is 4, 6, 9, or 11
01-31 if month is 1, 3, 5, 7, 8, 10, or 12

Example: 1999-05-31 represents May 31, 1999</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:date"/>
	</xs:simpleType>
	
<xs:simpleType name="HighPerformancePushToTalkIDString">
		
<xs:annotation>
			
<xs:documentation>High Performance Push To Talk Identifier (HPPTTID) is the identifier of a Subscription utilizing the QChat  Push-To-Talk techniology. HPPTTID is constructed in the username@domain URI format.  The username will be a MDN or UFMI based number.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="InternationalMobileSubscriberIdentityString">
		
<xs:annotation>
			
<xs:documentation>International Mobile Subscriber Identity (IMSI) is a unique number associated with all GSM and Universal Mobile Telecommunications System (UMTS) network mobile phone users. It is stored in the Subscriber Identity Module (SIM) inside the phone and is sent by the phone to the network. It is also used to acquire other details of the mobile in the Home Location Register (HLR) or as locally copied in the Visitor Location Register. In order to avoid the subscriber being identified and tracked by eavesdroppers on the radio interface, the IMSI is sent as rarely as possible and a randomly generated TMSI is sent instead.

The IMSI is used in any mobile network that interconnects with other networks, in particular CDMA and EVDO networks as well as GSM nets. This number is provisioned in the phone directly or in the R-UIM card (a CDMA analogue equivalent to a SIM card in GSM)

An IMSI is usually 15 digits long, but can be shorter (for example MTN South Africa's IMSIs are 14 digits). The first 3 digits are the Mobile Country Code (MCC), and is followed by the Mobile Network Code (MNC), either 2 digits (European standard) or 3 digits (North American standard). The remaining digits are the Mobile Subscriber Identification Number (MSIN) within the network's customer base.

The IMSI conforms to the International Telecommunication Union (ITU) E.212 numbering standard.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="InternetProtocolAddressString">
		
<xs:annotation>
			
<xs:documentation>An Internet Protocol Address is the numerical address by which a location in the Internet is identified. Computers on the Internet use IP addresses to route traffic and establish connections among themselves.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="NetworkAccessIdentifierEns">
		
<xs:annotation>
			
<xs:documentation>Network Access Identifier holds the concatenation of the a user name and domain.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="PhoneNumber">
		
<xs:annotation>
			
<xs:documentation>Phone Number holds the concatenation of the NPA Number, NXX Number and Line NUmber into a single string.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="SequenceNumber">
		
<xs:restriction base="xs:integer">
			
<xs:totalDigits value="13"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="ServiceOrderCode">
		
<xs:annotation>
			
<xs:documentation>Service Order Code - Ensemble</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="9"/>
			
<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="ServiceOrderDescription">
		
<xs:annotation>
			
<xs:documentation>Service Order Description.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="SubscriptionIdentifierEns">
		
<xs:annotation>
			
<xs:documentation>Subscription Identifier uniquely identifies an instance of SUBSCRIPTION</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="20"/>
			
<xs:minLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="UrbanFleetMemberIdentifierString">
		
<xs:annotation>
			
<xs:documentation>Urban Fleet Member Identifier String contains the concatenation of the Urban Identifier,'*' Fleet Identifier, '*' and Member IDentifier used to identify the Direct Connect Subscriber in the iDen network.</xs:documentation>
		</xs:annotation>
		
<xs:restriction base="xs:string">
			
<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>